Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

Documentation edits made through Mintlify web editor
  docs/projects/projects.mdx
Due: none

refactor: update bud sentinel url config type
  services/budapp/budapp/commons/config.py
Due: none

fix(docs): add projects index to navigation
  docs/docs.json
Due: none

Update docs.json
  docs/docs.json
Due: none

Documentation edits made through Mintlify web editor
  docs/projects/project-management.mdx
Due: none

feat(eval): add eval id to metrics
  services/budapp/budapp/credential_ops/services.py
  services/budapp/budapp/eval_ops/services.py
  services/budgateway/tensorzero-internal/src/analytics.rs
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/mod.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  services/budgateway/tensorzero-internal/src/clickhouse/mod.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/kafka/buffer.rs
  services/budgateway/tensorzero-internal/src/kafka/cloudevents.rs
  services/budgateway/tensorzero-internal/src/kafka/tests.rs
  services/budmetrics/scripts/migrate_clickhouse.py
Due: cargo-fmt, cargo-clippy, cargo-deny

feat(eval): add eval id to metrics
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0036.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat(eval): add eval id to metrics
  services/budgateway/tensorzero-internal/src/endpoints/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: added architecture and claude md file
  services/budobserve/CLAUDE.md
  services/budobserve/docs/architecture.md
Due: none

refactor(guardrails): move profile counts to GuardrailProfileResponse schema
  services/budapp/budapp/guardrails/schemas.py
  services/budapp/budapp/guardrails/services.py
  services/budapp/budapp/workflow_ops/services.py
Due: none

feat: added development plan
  services/budobserve/docs/DEVELOPMENT_PLAN.md
Due: none

docs: add guardrail docs
  docs/guardrails/content-filtering.mdx
  docs/guardrails/custom-rules.mdx
  docs/guardrails/setting-up-guardrails.mdx
  docs/guardrails/what-are-guardrails.mdx
Due: none

feat: initial commit
  services/budobserve/.gitignore
  services/budobserve/.python-version
  services/budobserve/budobserve/README.md
  services/budobserve/budobserve/budobserve/__init__.py
  services/budobserve/budobserve/budobserve/_internal/__init__.py
  services/budobserve/budobserve/budobserve/_internal/config.py
  services/budobserve/budobserve/budobserve/_internal/constants.py
  services/budobserve/budobserve/budobserve/_internal/exporters/__init__.py
  services/budobserve/budobserve/budobserve/_internal/integrations/__init__.py
  services/budobserve/budobserve/budobserve/_internal/logger.py
  services/budobserve/budobserve/budobserve/_internal/main.py
  services/budobserve/budobserve/budobserve/_internal/meter.py
  services/budobserve/budobserve/budobserve/_internal/span.py
  services/budobserve/budobserve/budobserve/_internal/tracer.py
  services/budobserve/budobserve/budobserve/_internal/version.py
  services/budobserve/budobserve/budobserve/propagate.py
  services/budobserve/budobserve/budobserve/py.typed
  services/budobserve/budobserve/budobserve/testing.py
  services/budobserve/budobserve/budobserve/types.py
  services/budobserve/budobserve/pyproject.toml
  services/budobserve/budobserve/tests/__init__.py
  services/budobserve/budobserve/tests/test_import.py
Due: none

refactor: use radar API as single source for evaluation summary sidebar
  services/budadmin/src/components/charts/radarChart/index.tsx
  services/budadmin/src/pages/home/evaluations/summary/index.tsx
  services/budadmin/src/stores/useComparisonStore.ts
Due: budadmin-lint, budadmin-typecheck

perf(guardrails): optimize profile list query with bulk fetching
  services/budapp/budapp/guardrails/services.py
Due: none

fix: remove redundant model_display_name from SidebarDeployment
  services/budadmin/src/pages/home/evaluations/summary/index.tsx
  services/budadmin/src/stores/useComparisonStore.ts
Due: budadmin-lint, budadmin-typecheck

chore: fix linting issues
  docs/projects/projects.mdx
  services/budapp/budapp/guardrails/services.py
Due: none

fix: restore fallback color in radar chart for robustness
  services/budadmin/src/components/charts/radarChart/index.tsx
Due: budadmin-lint, budadmin-typecheck

perf: restore parallel fetching in initializeData
  services/budadmin/src/stores/useComparisonStore.ts
Due: budadmin-lint, budadmin-typecheck

feat: implemnt phase 1
  services/budobserve/budobserve/budobserve/__init__.py
  services/budobserve/budobserve/budobserve/_internal/config.py
  services/budobserve/budobserve/budobserve/_internal/logger.py
  services/budobserve/budobserve/budobserve/_internal/main.py
  services/budobserve/budobserve/budobserve/_internal/meter.py
  services/budobserve/budobserve/budobserve/_internal/tracer.py
  services/budobserve/budobserve/tests/test_import.py
  services/budobserve/budobserve/tests/test_phase1.py
Due: none

feat(budadmin): add search functionality and fix tag editing in agents
  services/budadmin/src/flows/EditAgent/AgentEditDrawer.tsx
  services/budadmin/src/pages/home/agents/index.tsx
  services/budadmin/src/stores/usePromptsAgents.ts
Due: budadmin-lint, budadmin-typecheck

fix: resolved name search bug in prompt list api
  services/budapp/budapp/prompt_ops/services.py
Due: none

refactor(budadmin): simplify query params cleanup logic
  services/budadmin/src/stores/usePromptsAgents.ts
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): fix description not prefilling in agent edit drawer
  services/budadmin/src/components/ui/bud/dataEntry/TextArea.tsx
Due: budadmin-lint, budadmin-typecheck

fix(guardrails): add default values and endpoint name to responses
  services/budapp/budapp/guardrails/schemas.py
  services/budapp/budapp/guardrails/services.py
  services/budapp/budapp/workflow_ops/services.py
Due: none

fix(budadmin): avoid 'undefined' class when formItemClassnames is missing
  services/budadmin/src/components/ui/bud/dataEntry/TextArea.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(budadmin): simplify getValueFromEvent in TextAreaInput
  services/budadmin/src/components/ui/bud/dataEntry/TextArea.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: config structure made similar to logfire
  services/budobserve/budobserve/budobserve/__init__.py
  services/budobserve/budobserve/budobserve/_internal/config.py
  services/budobserve/budobserve/budobserve/_internal/main.py
  services/budobserve/budobserve/tests/test_import.py
  services/budobserve/budobserve/tests/test_phase1.py
Due: none

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
