Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

Documentation edits made through Mintlify web editor
  docs/projects/projects.mdx
Due: none

Increase HTTP client timeout from 5 to 20 minutes
  services/budgateway/tensorzero-internal/src/gateway_util.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: improve chart styling and add defensive guards
  services/budadmin/src/components/charts/heatmapChart/index.tsx
  services/budadmin/src/components/charts/radarChart/index.tsx
  services/budadmin/src/pages/home/evaluations/summary/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: improve colorToRgba robustness and validation
  services/budadmin/src/components/charts/radarChart/index.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: extract gradient styles into named constants
  services/budadmin/src/pages/home/evaluations/summary/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budgateway): add timeout detection for provider requests
  services/budgateway/tensorzero-internal/src/error.rs
  services/budgateway/tensorzero-internal/src/inference/providers/azure.rs
  services/budgateway/tensorzero-internal/src/inference/providers/azure_content_safety.rs
  services/budgateway/tensorzero-internal/src/inference/providers/buddoc.rs
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
  services/budgateway/tensorzero-internal/src/inference/providers/deepseek.rs
  services/budgateway/tensorzero-internal/src/inference/providers/fireworks.rs
  services/budgateway/tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
  services/budgateway/tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  services/budgateway/tensorzero-internal/src/inference/providers/google_ai_studio_gemini.rs
  services/budgateway/tensorzero-internal/src/inference/providers/helpers.rs
  services/budgateway/tensorzero-internal/src/inference/providers/hyperbolic.rs
  services/budgateway/tensorzero-internal/src/inference/providers/mistral.rs
  services/budgateway/tensorzero-internal/src/inference/providers/openai.rs
  services/budgateway/tensorzero-internal/src/inference/providers/openrouter.rs
  services/budgateway/tensorzero-internal/src/inference/providers/sglang.rs
  services/budgateway/tensorzero-internal/src/inference/providers/tgi.rs
  services/budgateway/tensorzero-internal/src/inference/providers/together.rs
  services/budgateway/tensorzero-internal/src/inference/providers/vllm.rs
  services/budgateway/tensorzero-internal/src/inference/providers/xai.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budgateway): update tests to match simplified timeout error format
  services/budgateway/tensorzero-internal/src/error.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budgateway): make DEFAULT_HTTP_CLIENT_TIMEOUT public
  services/budgateway/tensorzero-internal/src/gateway_util.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
