Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$

chat key fix
  services/budadmin/src/components/agents/settings/Settings.tsx
  services/budadmin/src/components/agents/settings/SettingsSidebar.tsx
  services/budadmin/src/components/agents/settings/input/SelectWithAdd.tsx
  services/budadmin/src/stores/useAgentStore.ts
  services/budadmin/src/utils/promptSchemaBuilder.ts
Due: budadmin-lint, budadmin-typecheck

fix: correct uuid and @types/uuid dependency versions
  services/budadmin/package.json
Due: none

fix: add missing dependencies to useEffect in ConnectorDetails
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

fix: add missing dependencies to useEffect hooks in ToolsHome
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
Due: budadmin-lint, budadmin-typecheck

fix: improve type safety in Settings handleChange callback
  services/budadmin/src/components/agents/settings/Settings.tsx
Due: budadmin-lint, budadmin-typecheck

fix: improve type safety in SettingsSidebar modelSettings
  services/budadmin/src/components/agents/settings/SettingsSidebar.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: remove console statements from agent tools components
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/components/agents/tools/ToolDetails.tsx
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
Due: budadmin-lint, budadmin-typecheck

fix: display project name instead of ID in inference details breadcrumb
  services/budadmin/src/pages/home/projects/[slug]/inferences/[inferenceId]/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: prevent 'undefined' display in breadcrumb during router initialization
  services/budadmin/src/pages/home/projects/[slug]/inferences/[inferenceId]/index.tsx
Due: budadmin-lint, budadmin-typecheck

updated active tab and date format in run table
  services/budadmin/src/components/evaluations/RunsHistoryTable.tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/[evaluationId].tsx
Due: budadmin-lint, budadmin-typecheck

refactor: improved db insertion util code
  services/budprompt/alembic/versions/0c908571c791_added_prompt_prompt_version_table.py
  services/budprompt/budprompt/prompt/crud.py
  services/budprompt/budprompt/prompt/models.py
  services/budprompt/budprompt/prompt/services.py
Due: none

feat: permenant prompt will store in db for prompt schema router
  services/budprompt/budprompt/prompt/crud.py
  services/budprompt/budprompt/prompt/services.py
Due: none

feat: added db insertion on copy config router
  services/budprompt/budprompt/prompt/services.py
Due: none

feat: added db insertion on default version router
  services/budprompt/budprompt/prompt/services.py
Due: none

runs table update
  services/budadmin/src/components/evaluations/RunsHistoryTable.tsx
  services/budadmin/src/utils/formatDate.ts
Due: budadmin-lint, budadmin-typecheck

added fix for formatdate function
  services/budadmin/src/utils/formatDate.ts
Due: budadmin-lint, budadmin-typecheck

build issue fix
  services/budadmin/src/utils/formatDate.ts
Due: budadmin-lint, budadmin-typecheck

feat: db deletion in delete prompt apis
  services/budprompt/budprompt/prompt/crud.py
  services/budprompt/budprompt/prompt/services.py
Due: none

status updated
  services/budadmin/src/components/evaluations/BenchmarkProgress.tsx
  services/budadmin/src/components/evaluations/CurrentMetricsTable.tsx
Due: budadmin-lint, budadmin-typecheck

fix: added expiry to draft prompts
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix: turn on debug in budprompt
  infra/helm/bud/values.dev.yaml
Due: none

fix: added prompt config redis ttl env
  services/budapp/.env.sample
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix: added redis ttl app config
  services/budapp/budapp/commons/config.py
Due: none

feat: added prompt name convension
  services/budapp/budapp/prompt_ops/schemas.py
Due: none

chore: added a debugger for gateway
  services/budgateway/tensorzero-internal/src/redis_client.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: improve prompt form handling for structured and unstructured inputs
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/PromptForm.tsx
  services/budplayground/app/components/bud/chat/Messages.tsx
Due: budplayground-lint, budplayground-typecheck

refactor: improve formatContent robustness in Messages component
  services/budplayground/app/components/bud/chat/Messages.tsx
Due: budplayground-lint, budplayground-typecheck

chore: remove debug console.log statements from prompt-chat route
  services/budplayground/app/api/prompt-chat/route.ts
Due: budplayground-lint, budplayground-typecheck

fix: removed redis pubish logger
  services/budgateway/tensorzero-internal/src/redis_client.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: updated logging with budmicroframework
  services/budprompt/budprompt/main.py
  services/budprompt/budprompt/prompt/crud.py
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/openai_response_formatter.py
  services/budprompt/budprompt/prompt/openai_response_formatter_v1.py
  services/budprompt/budprompt/prompt/openai_streaming_formatter.py
  services/budprompt/budprompt/prompt/openai_streaming_formatter_v1.py
  services/budprompt/budprompt/prompt/routes.py
  services/budprompt/budprompt/prompt/services.py
  services/budprompt/budprompt/prompt/streaming_executors.py
  services/budprompt/budprompt/prompt/streaming_executors_old.py
  services/budprompt/budprompt/prompt/streaming_validation.py
  services/budprompt/budprompt/prompt/streaming_validation_executor.py
  services/budprompt/budprompt/prompt/template_renderer.py
  services/budprompt/budprompt/prompt/tool_loaders.py
  services/budprompt/budprompt/prompt/validation.py
  services/budprompt/budprompt/responses/routes.py
  services/budprompt/budprompt/responses/services.py
  services/budprompt/budprompt/shared/mcp_foundry_service.py
  services/budprompt/budprompt/shared/redis_service.py
Due: none

feat: implement socket-based workflow status tracking for agent operations
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/hooks/usePromptSchemaWorkflow.ts
  services/budadmin/src/stores/useAgentStore.ts
Due: budadmin-lint, budadmin-typecheck

fix: remove double delay in workflow completion callback
  services/budadmin/src/hooks/usePromptSchemaWorkflow.ts
Due: budadmin-lint, budadmin-typecheck

fix: add getWorkflow to useEffect dependency array
  services/budadmin/src/hooks/usePromptSchemaWorkflow.ts
Due: budadmin-lint, budadmin-typecheck

refactor: use window.setTimeout for better type safety
  services/budadmin/src/hooks/usePromptSchemaWorkflow.ts
Due: budadmin-lint, budadmin-typecheck

fix: removed BUD_DEFAULT_MODEL_NAME env
  services/budprompt/.env.sample
  services/budprompt/budprompt/commons/config.py
  services/budprompt/budprompt/prompt/streaming_validation.py
  services/budprompt/budprompt/prompt/validation.py
Due: none

fix: converted test model name as a constant
  services/budprompt/budprompt/commons/constants.py
  services/budprompt/budprompt/prompt/streaming_validation.py
  services/budprompt/budprompt/prompt/validation.py
Due: none

fix: removed bud default model name variable
  infra/helm/bud/values.yaml
Due: none

feat: added tensorzero seperate instance for authorization
  services/budprompt/.env.sample
  services/budprompt/budprompt/commons/config.py
  services/budprompt/budprompt/prompt/services.py
  services/budprompt/budprompt/shared/redis_service.py
Due: none
