Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

feat(tools): Implement search functionality for tools and sub-tools
  services/budadmin/src/flows/AddTool/ToolDetailsExpanded.tsx
  services/budadmin/src/flows/ViewTool/ViewToolDetails.tsx
  services/budadmin/src/pages/home/tools/index.tsx
  services/budadmin/src/stores/useTools.ts
  services/budapp/budapp/tool_ops/services.py
  services/budapp/budapp/tool_ops/tool_routes.py
Due: budadmin-lint, budadmin-typecheck

feat(budgateway): add cost calculation to OTel inference spans
  services/budgateway/tensorzero-internal/src/endpoints/observability.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

log chart ui corrections
  services/budadmin/src/components/ui/text.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/LogDetailsDrawer.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(gateway): add classify endpoint for text classification
  docs/developer-docs/openai-api/classify.mdx
  docs/developer-docs/openai-api/embedding.mdx
  services/budadmin/package.json
  services/budadmin/src/components/ui/bud/deploymentDrawer/DeployModelSpecificationInfo.tsx
  services/budadmin/src/components/ui/bud/deploymentDrawer/DeploymentSpecificationConfig.tsx
  services/budadmin/src/flows/DeployModel/DeployModelBudAIScaler.tsx
  services/budadmin/src/flows/Project/UseModel.tsx
  services/budadmin/src/hooks/useModels.tsx
  services/budadmin/src/pages/home/deployments/[slug]/components/DeploymentAnalysis.tsx
  services/budadmin/src/pages/home/deployments/[slug]/settings/AutoscaleSettings.tsx
  services/budapp/budapp/endpoint_ops/services.py
  services/budcluster/budcluster/cluster_ops/kubernetes.py
  services/budcluster/budcluster/deployment/engine_processors.py
  services/budcluster/budcluster/deployment/workflows.py
  services/budcluster/deploy/runtime-sidecar/app.py
  services/budcluster/docs/dev/embedding-model-support.md
  services/budcluster/tests/test_endpoint_validation.py
  services/budgateway/gateway/src/main.rs
  services/budgateway/tensorzero-internal/src/classification.rs
  services/budgateway/tensorzero-internal/src/embeddings.rs
  services/budgateway/tensorzero-internal/src/endpoints/capability.rs
  services/budgateway/tensorzero-internal/src/endpoints/observability.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/vllm.rs
  services/budgateway/tensorzero-internal/src/lib.rs
  services/budgateway/tensorzero-internal/src/model.rs
  services/budgateway/tensorzero-internal/src/rate_limit/early_extract.rs
Due: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budadmin-typecheck

fix(budpipeline): fix version conflicts in pipeline continuation and add wait_until action
  services/budapp/budapp/commons/permission_handler.py
  services/budpipeline/budpipeline/actions/base/context.py
  services/budpipeline/budpipeline/actions/builtin/__init__.py
  services/budpipeline/budpipeline/actions/builtin/delay.py
  services/budpipeline/budpipeline/actions/builtin/wait_until.py
  services/budpipeline/budpipeline/actions/deployment/direct_scale.py
  services/budpipeline/budpipeline/actions/integration/__init__.py
  services/budpipeline/budpipeline/actions/integration/http_request.py
  services/budpipeline/budpipeline/actions/integration/webhook.py
  services/budpipeline/budpipeline/handlers/event_router.py
  services/budpipeline/budpipeline/pipeline/crud.py
  services/budpipeline/budpipeline/pipeline/service.py
  services/budpipeline/budpipeline/scheduler/timeout_scheduler.py
  services/budpipeline/deploy/dapr/components/step-timeout-cron.yaml
  services/budpipeline/pyproject.toml
  services/budpipeline/tests/actions/builtin/test_builtin_actions.py
  services/budpipeline/tests/actions/builtin/test_wait_until.py
  services/budpipeline/tests/actions/integration/test_integration_actions.py
  services/budpipeline/tests/actions/test_api.py
  services/budpipeline/tests/scheduler/__init__.py
  services/budpipeline/tests/scheduler/test_timeout_scheduler.py
Due: none

feat(gateway): add multimodal embedding support for URLs and data URIs
  services/budgateway/tensorzero-internal/src/embeddings.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budpipeline): address Gemini code review feedback
  services/budpipeline/budpipeline/handlers/event_router.py
  services/budpipeline/tests/actions/test_api.py
Due: none

fix(budapp): add missing wraps import in permission_handler
  services/budapp/budapp/commons/permission_handler.py
Due: none

chore(infra/nixos): drop primary-pnap, network upstreamed
  flake.nix
  infra/nixos/common/configuration.nix
  infra/nixos/primary-pnap/configuration.nix
  infra/nixos/primary-pnap/modules/network.nix
  infra/nixos/primary-pnap/modules/scid.nix
Due: none

chore(infra): expose budnotify socket
  infra/helm/bud/templates/_helpers.tpl
  infra/helm/bud/templates/ingress.yaml
  infra/helm/bud/templates/microservices/budadmin.yaml
  infra/helm/bud/values.yaml
  infra/tofu/budk8s/dns.tf
Due: none

fix(budmetrics): add api_key_project_id to rollup tables ORDER BY
  services/budmetrics/scripts/migrate_clickhouse.py
Due: none

aget log ui corrections
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/LogDetailsDrawer.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/components/DrawerLogTree.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): move stream toggle to model settings sidebar
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/settings/Settings.tsx
  services/budadmin/src/components/agents/settings/SettingsSidebar.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): add guard for currentSession in handleStreamToggle
  services/budadmin/src/components/agents/settings/Settings.tsx
Due: budadmin-lint, budadmin-typecheck

chore(infra/notify): clean up
  infra/helm/bud/templates/ingress.yaml
Due: none

fix(budgateway): record cost in OTel spans for streaming responses
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

docs(guardrails): add deployment workflow migration design
  services/budapp/docs/plans/2026-01-28-guardrail-deployment-workflow-migration-design.md
Due: none

fix(infra/helm/bud): ingress
  infra/helm/bud/templates/ingress.yaml
Due: none

chore(infra/helm/bud): ingress clean up
  infra/helm/bud/templates/ingress.yaml
Due: none

docs(guardrails): clarify partial success and retry handling
  services/budapp/docs/plans/2026-01-28-guardrail-deployment-workflow-migration-design.md
Due: none

docs(guardrails): add implementation plan for workflow migration
  services/budapp/docs/plans/2026-01-28-guardrail-deployment-workflow-impl.md
Due: none

feat(guardrails): add ModelDeploymentStatus enum
  services/budapp/budapp/guardrails/schemas.py
Due: none

feat(workflow): extend RetrieveWorkflowStepData for guardrail pipeline
  services/budapp/budapp/workflow_ops/schemas.py
Due: none

feat(guardrails): add model status derivation for deployment workflow
  services/budapp/budapp/guardrails/schemas.py
  services/budapp/budapp/guardrails/services.py
Due: none

feat(guardrails): add workflow step handler refactoring with skip logic
  services/budapp/budapp/guardrails/schemas.py
  services/budapp/budapp/guardrails/services.py
Due: none

feat(guardrails): add pipeline integration for cross-service calls
  services/budapp/budapp/guardrails/services.py
Due: none

feat(guardrails): implement workflow cancellation with rollback
  services/budapp/budapp/guardrails/services.py
Due: none

feat(budadmin): improve pipeline editor UI and fix toast notifications
  services/budadmin/src/components/flowEditor/components/NodePalette.tsx
  services/budadmin/src/components/pipelineEditor/PipelineEditor.tsx
  services/budadmin/src/components/pipelineEditor/components/ActionConfigPanel.tsx
  services/budadmin/src/components/pipelineEditor/components/PipelineTriggersPanel.tsx
  services/budadmin/src/components/pipelineEditor/hooks/usePipelineConversion.ts
  services/budadmin/src/components/pipelineEditor/nodes/StartNode.tsx
  services/budadmin/src/components/pipelineEditor/nodes/StepNode.tsx
  services/budadmin/src/pages/home/budpipelines/[id]/index.tsx
  services/budadmin/src/pages/home/budpipelines/index.tsx
  services/budadmin/src/pages/home/budpipelines/new.tsx
  services/budadmin/src/pages/home/layout.tsx
  services/budpipeline/budpipeline/actions/deployment/direct_scale.py
  services/budpipeline/budpipeline/pipeline/routes.py
  services/budpipeline/budpipeline/pipeline/schemas.py
  services/budpipeline/budpipeline/pipeline/service.py
  services/budpipeline/pyproject.toml
Due: budadmin-lint, budadmin-typecheck

fix: address review comments and CI failure
  services/budadmin/src/components/flowEditor/components/NodePalette.tsx
  services/budadmin/src/pages/home/budpipelines/[id]/index.tsx
  services/budpipeline/tests/actions/test_api.py
Due: budadmin-lint, budadmin-typecheck

socket in progress
  services/budadmin/.env.sample
  services/budadmin/src/components/environment.ts
  services/budadmin/src/hooks/useObservabilitySocket.ts
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
Due: budadmin-lint, budadmin-typecheck

test(guardrails): add unit tests for model status schemas
  services/budapp/tests/guardrails/test_model_status_schema.py
Due: none

test(guardrails): add integration tests for pipeline functionality
  services/budapp/tests/integration/__init__.py
  services/budapp/tests/integration/test_guardrail_pipelines.py
Due: none

test(guardrails): add end-to-end tests for workflow scenarios
  services/budapp/tests/e2e/__init__.py
  services/budapp/tests/e2e/test_guardrail_workflow.py
Due: none

fix(guardrails): fix test failures and schema validation issues
  services/budapp/budapp/guardrails/services.py
  services/budapp/tests/e2e/test_guardrail_workflow.py
  services/budapp/tests/guardrails/test_model_status_schema.py
  services/budapp/tests/integration/test_guardrail_pipelines.py
Due: none

fix: fixed multiple deployment call in prompt
  services/budmetrics/scripts/migrate_clickhouse.py
Due: none

feat(budsim,budapp,budadmin): improve simulation cost calculation and metrics display
  .claude/skills/bud-testing/SKILL.md
  .github/workflows/budadmin-pr-review.yml
  services/budadmin/src/flows/components/ClusterList.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/components/DrawerLogTree.tsx
  services/budadmin/src/pages/home/modelRepo/index.tsx
  services/budapp/budapp/cluster_ops/services.py
  services/budsim/budsim/simulator/direct_search.py
  services/budsim/budsim/simulator/hardware.py
Due: budadmin-lint, budadmin-typecheck

fix(ci): remove npm cache config since package-lock.json is gitignored
  .github/workflows/budadmin-pr-review.yml
Due: none

chore: remove accidentally committed SKILL.md
  .claude/skills/bud-testing/SKILL.md
Due: none

fix: address PR review comments for cost formatting and quantization scaling
  services/budadmin/src/flows/components/ClusterList.tsx
  services/budadmin/src/pages/home/modelRepo/index.tsx
  services/budadmin/src/utils/formatters.ts
  services/budsim/budsim/simulator/direct_search.py
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): add styled-jsx type declarations for TypeScript
  services/budadmin/src/types/styled-jsx.d.ts
Due: budadmin-lint, budadmin-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
