Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$

fix: improve UI and prevent rapid API calls in admin dashboard
  services/budadmin/src/flows/NewProject.tsx
  services/budadmin/src/flows/user/UserUsageDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

fix(usage): added quota reset on redis
  services/budapp/tests/test_billing_api_endpoints.py
Due: none

bug fix cistomer
  services/budCustomer/src/app/(app)/logs/page.tsx
  services/budCustomer/src/app/(app)/usage/page.tsx
Due: none

fix: redis config changes
  infra/helm/bud/templates/microservices/budprompt.yaml
  infra/helm/bud/values.yaml
  services/budprompt/.env.sample
  services/budprompt/budprompt/commons/config.py
  services/budprompt/budprompt/shared/redis_service.py
  services/budprompt/deploy/docker-compose-redis.yaml
Due: none

chore: update UI components and add debug logging
  services/budadmin/src/flows/Benchmark/AddBenchmark.tsx
  services/budadmin/src/flows/Credentials/_project/AddNewKey.tsx
  services/budadmin/src/flows/Project/Publish.tsx
  services/budadmin/src/flows/components/TextInput.tsx
  services/budadmin/src/pages/home/layout.tsx
Due: budadmin-lint, budadmin-typecheck

fix: Prevent Response Time title from breaking in logs table and fix TypeScript errors
  services/budCustomer/src/app/(app)/logs/page.tsx
Due: none

fix: update test to expect HTTP 400 for error cases
  services/buddoc/tests/integration/test_ocr_integration.py
Due: none

fix: Remove unnecessary API calls and fix TextInput default value display
  services/budCustomer/src/app/(app)/logs/MetricsTab.tsx
  services/budCustomer/src/app/(app)/logs/page.tsx
  services/budCustomer/src/components/ui/bud/dataEntry/TextInput.tsx
  services/budCustomer/src/flows/ApiKeys/EditApiKey.tsx
Due: none

chore: Apply formatting and debug logging updates
  services/budCustomer/src/app/(app)/logs/MetricsTab.tsx
  services/budCustomer/src/app/(app)/logs/page.tsx
  services/budCustomer/src/components/layout/DashboardLayout.tsx
  services/budCustomer/src/components/ui/bud/dataEntry/TextInput.tsx
  services/budCustomer/src/flows/ApiKeys/EditApiKey.tsx
  services/budCustomer/src/flows/NewProject.tsx
Due: none

fix: update integration tests for proper error handling
  services/buddoc/tests/integration/test_ocr_integration.py
Due: none

fix: add missing newlines at end of files
  services/budgateway/tensorzero-internal/src/documents.rs
  services/budgateway/tensorzero-internal/src/inference/providers/buddoc.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: added missing version
  services/budprompt/.env.sample
  services/budprompt/budprompt/prompt/schemas.py
  services/budprompt/budprompt/prompt/workflows.py
  services/budprompt/deploy/docker-compose-redis.yaml
Due: none

fix inference list API
  services/budapp/budapp/metric_ops/services.py
  services/budmetrics/budmetrics/observability/services.py
Due: none

fix(build): customer build env change
  nix/container/budcustomer.nix
Due: none

fix: Prevent unnecessary workflows API call on browser refresh
  services/budCustomer/src/components/island/BudIsland.tsx
Due: none

chore: Comment out unused search input in logs page
  services/budCustomer/src/app/(app)/logs/page.tsx
Due: none

chore: Remove debug console logs from DashboardLayout
  services/budCustomer/src/components/layout/DashboardLayout.tsx
Due: none

chore: Re-add debug console logs for Novu configuration
  services/budCustomer/src/components/layout/DashboardLayout.tsx
Due: none

fix(build): customer build env change
  nix/container/budcustomer.nix
  services/budCustomer/.env.hack
Due: none

fix(playground): add fallback for clipboard copy when API is blocked
  services/budplayground/app/components/bud/components/display/CopyText.tsx
Due: budplayground-lint, budplayground-typecheck

feat(playground) Separated chat storage for each user
  services/budplayground/app/api/requests.ts
  services/budplayground/app/chat/components/Settings.tsx
  services/budplayground/app/chat/page.tsx
  services/budplayground/app/context/AuthContext.tsx
  services/budplayground/app/store/chat.ts
Due: budplayground-lint, budplayground-typecheck

feat(gateway): integrate guardrails with inference pipeline and add observability
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0034.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0035.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/mod.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  services/budgateway/tensorzero-internal/src/embeddings.rs
  services/budgateway/tensorzero-internal/src/endpoints/batch_inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/error.rs
  services/budgateway/tensorzero-internal/src/function.rs
  services/budgateway/tensorzero-internal/src/guardrail.rs
  services/budgateway/tensorzero-internal/src/guardrail_table.rs
  services/budgateway/tensorzero-internal/src/inference/types/mod.rs
  services/budgateway/tensorzero-internal/src/rate_limit/limiter.rs
  services/budgateway/tensorzero-internal/src/variant/best_of_n_sampling.rs
  services/budgateway/tensorzero-internal/src/variant/mixture_of_n.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat(guardrails): add standalone deployments and new content moderation providers
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/credential_ops/services.py
  services/budapp/budapp/guardrails/crud.py
  services/budapp/budapp/guardrails/guardrail_routes.py
  services/budapp/budapp/guardrails/models.py
  services/budapp/budapp/guardrails/scheduler.py
  services/budapp/budapp/guardrails/schemas.py
  services/budapp/budapp/guardrails/services.py
  services/budapp/budapp/initializers/data/providers_seeder.json
  services/budapp/budapp/migrations/versions/27aaabdf2b63_update_proprietary_credential_types.py
Due: none

feat(playground) Separated chat storage for each user
  services/budplayground/app/hooks/useUserSwitching.ts
Due: budplayground-lint, budplayground-typecheck

feat: add BudDoc service integration and improve Docker build efficiency
  infra/helm/bud/templates/microservices/buddoc.yaml
  infra/helm/bud/values.yaml
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/commons/helpers.py
  services/budapp/budapp/endpoint_ops/schemas.py
  services/budapp/budapp/endpoint_ops/services.py
  services/budapp/tests/test_mllm_document_support.py
  services/buddoc/.dockerignore
  services/budgateway/gateway/src/main.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: add migration for document endpoint
  services/budapp/budapp/migrations/versions/7a8b9c0d1e2f_add_document_to_model_endpoint_enum.py
Due: none

chore: removed budprmopt tests temporarly
  .github/workflows/budprompt-pr-review.yml
Due: none

fix: pre-comit failure
  services/budprompt/tests/test_health.py
Due: none

fix: pre-commit failure
  .pre-commit-config.yaml
  services/budprompt/.commitlintrc.yaml
  services/budprompt/.dapr/components/secretstore-env.yaml
  services/budprompt/.dapr/components/statestore.yaml
  services/budprompt/.dapr/components/subscriptions.yaml
  services/budprompt/.dockerignore
  services/budprompt/alembic/README
  services/budprompt/deploy/Dockerfile
  services/budprompt/deploy/Dockerfile.dev
  services/budprompt/deploy/helm/templates/configmap.yaml
  services/budprompt/deploy/helm/templates/dapr-components.yaml
  services/budprompt/deploy/helm/templates/ingress.yaml
  services/budprompt/deploy/helm/templates/redis.yaml
  services/budprompt/deploy/helm/templates/secret.yaml
  services/budprompt/pyproject.toml
  services/budprompt/requirements-dev.txt
  services/budprompt/requirements-lint.txt
  services/budprompt/scripts/install_hooks.sh
Due: none

fix(budeval): rework result api
  services/budeval/budeval/evals/routes.py
  services/budeval/budeval/evals/schemas.py
  services/budeval/budeval/evals/storage/base.py
  services/budeval/budeval/evals/storage/clickhouse.py
Due: none

feat: added budprompt workflows
  .github/workflows/budprompt-nightly-image.yml
  .github/workflows/budprompt-release-image.yml
  infra/helm/bud/values.stage.yaml
  infra/helm/bud/values.yaml
Due: none

fix(budeval): result retrival
  services/budeval/budeval/evals/schemas.py
  services/budeval/budeval/evals/storage/clickhouse.py
Due: none

chore(helm/bud/postgres): auto run job on db change
  infra/helm/bud/templates/extra/postgres.yaml
Due: none

fix(budeval): increased monitoring context
  services/budeval/budeval/evals/workflows.py
Due: none

fix(helm/budeval): notify service
  infra/helm/bud/templates/dapr/pubsub.yaml
  infra/helm/bud/templates/microservices/budcluster.yaml
  infra/helm/bud/templates/microservices/budeval.yaml
  infra/helm/bud/values.yaml
Due: none
