Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd services/budgateway && cargo +nightly fmt -- --check || cargo fmt -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd services/budgateway && cargo +nightly clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: bash -c 'cd services/budgateway && cargo +nightly deny check || cargo deny check'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && npx tsc --noEmit'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && npx tsc --noEmit'
  language: system
  pass_filenames: false

fix: resolve pre-commit trailing whitespace issue
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/PromptForm.tsx
Due: budplayground-lint, budplayground-typecheck

fix(dapr): dapr workflow
  services/budapp/.env.sample
  services/budapp/budapp/commons/config.py
  services/budapp/budapp/main.py
  services/budapp/budapp/workflow_ops/cleanup.py
  services/budapp/budapp/workflow_ops/schemas.py
  services/budapp/budapp/workflow_ops/services.py
  services/budapp/budapp/workflow_ops/workflow_routes.py
Due: none

fix: restore conditional rendering and authentication
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/page.tsx
Due: budplayground-lint, budplayground-typecheck

Fixed issues with cleanup script
  services/budapp/budapp/commons/config.py
  services/budapp/budapp/workflow_ops/cleanup.py
  services/budapp/budapp/workflow_ops/schemas.py
  services/budapp/budapp/workflow_ops/services.py
  services/budapp/budapp/workflow_ops/workflow_routes.py
Due: none

feat: added mcp list tools in final response
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/openai_response_formatter.py
  services/budprompt/budprompt/prompt/tool_loaders.py
Due: none

feat: eval update for new architecture
  services/budapp/budapp/eval_ops/services.py
Due: none

feat: eval update for new architecture
  services/budeval/budeval/engines/opencompass/transformer.py
Due: none

feat: add version field to unstructured prompt payload
  services/budplayground/app/chat/components/PromptForm.tsx
Due: budplayground-lint, budplayground-typecheck

feat: implement release orchestrator workflow system
  .github/workflows/RELEASE.md
  .github/workflows/askbud-release-image.yml
  .github/workflows/budadmin-release-image.yml
  .github/workflows/budapp-release-image.yml
  .github/workflows/budcluster-release-image.yml
  .github/workflows/buddoc-release-image.yml
  .github/workflows/budeval-release-image.yml
  .github/workflows/budgateway-release-image.yml
  .github/workflows/budmetrics-release-image.yml
  .github/workflows/budmodel-release-image.yml
  .github/workflows/budnotify-release-image.yml
  .github/workflows/budplayground-release-image.yml
  .github/workflows/budsim-release-image.yml
  .github/workflows/release-orchestrator.yml
Due: none

refactor: implement prompt-based chat with AI SDK streaming
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/api/responses/route.ts
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/PromptForm.tsx
  services/budplayground/app/lib/api.ts
Due: budplayground-lint, budplayground-typecheck

docs: add repository guidelines for agents
  services/budplayground/AGENTS.md
Due: none

fix: use deploy/Dockerfile for budplayground release workflow
  .github/workflows/budplayground-release-image.yml
Due: none

perf: optimize budmodel Docker build to fix disk space errors
  .github/workflows/budmodel-nightly-image.yml
  .github/workflows/budmodel-release-image.yml
  services/budmodel/deploy/Dockerfile
Due: none

fix: budsim build cleanup
  .github/workflows/budsim-nightly-image.yml
  .github/workflows/budsim-release-image.yml
  services/budsim/deploy/Dockerfile
Due: none

fix: replaced deprecated openaimodel with openaichatmodel
  services/budprompt/budprompt/shared/providers.py
Due: none

ttl and precommit fixes
  .pre-commit-config.yaml
  infra/helm/bud/templates/extra/otel-collector.yaml
  infra/helm/bud/values.yaml
  services/budadmin/src/pages/home/clusters/[slug]/Analytics/index.tsx
  services/budadmin/src/pages/home/clusters/[slug]/General/index.tsx
  services/budadmin/src/pages/home/clusters/[slug]/Nodes/index.tsx
  services/budcluster/.dapr/components/binding.yaml
  services/budcluster/budcluster/metrics_collector/otel_bridge.py
  services/budcluster/docs/clickhouse-metrics-integration.md
  services/budcluster/docs/cluster-metrics-integration.md
  services/budcluster/docs/otel-metrics-collection.md
  services/budcluster/tests/test_metrics_collector.py
  services/budmetrics/.env.sample
  services/budmetrics/scripts/archive/backfill_cluster_metrics.py
  services/budmetrics/scripts/archive/create_cluster_metrics_views.sql
  services/budmetrics/scripts/migrate_clickhouse.py
  services/budplayground/package-lock.json
Due: budadmin-lint, budadmin-typecheck

fix: remove cache and increase build wait time
  .github/workflows/budmodel-nightly-image.yml
  .github/workflows/budmodel-release-image.yml
  .github/workflows/budsim-nightly-image.yml
  .github/workflows/budsim-release-image.yml
  .github/workflows/release-orchestrator.yml
Due: none

fix: change release orchestrator to create PR instead of direct push
  .github/workflows/release-orchestrator.yml
Due: none

fix: update labels
  .github/workflows/release-orchestrator.yml
Due: none

fix: change pr base to master
  .github/workflows/release-orchestrator.yml
Due: none

fix: review comments
  infra/helm/bud/templates/extra/otel-collector.yaml
  services/budapp/budapp/cluster_ops/cluster_routes.py
  services/budapp/budapp/cluster_ops/services.py
  services/budcluster/budcluster/alembic/versions/2025_10_24_add_internal_ip_to_cluster_nodes.py
  services/budcluster/budcluster/cluster_ops/kubernetes.py
  services/budcluster/budcluster/cluster_ops/models.py
  services/budcluster/budcluster/cluster_ops/schemas.py
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/playbooks/get_node_info.yaml
Due: none

fix(budmetrics): create cluster metrics tables in metrics database
  services/budmetrics/scripts/migrate_clickhouse.py
Due: none

feat: added serializer for newer version
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/utils.py
Due: none

feat: updated non stream response with openai
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/openai_response_formatter.py
  services/budprompt/budprompt/responses/routes.py
  services/budprompt/budprompt/responses/services.py
Due: none

test(budplayground): add prompt form vitest coverage and responses payload updates
  services/budplayground/app/api/chat/route.ts
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/PromptForm.tsx
  services/budplayground/app/chat/components/__tests__/PromptForm.test.tsx
  services/budplayground/app/components/bud/components/input/NormalEditor.tsx
  services/budplayground/package-lock.json
  services/budplayground/package.json
  services/budplayground/postcss.config.mjs
  services/budplayground/tsconfig.json
  services/budplayground/vitest.config.ts
  services/budplayground/vitest.setup.ts
Due: budplayground-lint, budplayground-typecheck

ci: harden pre-commit workflow base ref handling
  .github/workflows/lint-pr-review.yml
Due: none

ci: clarify lint status condition handling
  .github/workflows/lint-pr-review.yml
Due: none

feat: added mcp tool response in openai formatter
  services/budprompt/budprompt/prompt/openai_response_formatter.py
  services/budprompt/budprompt/prompt/schemas.py
Due: none

fix(budplayground): align BlurModal with antd modal props
  services/budplayground/app/components/bud/components/modal/BlurModal.tsx
Due: budplayground-lint, budplayground-typecheck

feat(budadmin): hide development features behind dev mode flag
  services/budadmin/src/pages/home/deployments/[slug]/index.tsx
  services/budadmin/src/pages/home/layout.tsx
  services/budadmin/src/pages/home/projects/[slug]/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat: eval update for new architecture
  services/budeval/budeval/evals/workflows.py
Due: none

feat: eval update for new architecture
  services/budapp/budapp/core/services.py
  services/budeval/budeval/evals/workflows.py
Due: none

feat: added openai formatter for unstructured streaming response
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/openai_streaming_formatter.py
Due: none

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
