Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$

agent playground update
  services/budplayground/app/api/prompts/[prompt_id]/route.ts
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/PromptForm.tsx
  services/budplayground/app/lib/api.ts
  services/budplayground/app/lib/query.ts
Due: budplayground-lint, budplayground-typecheck

Documentation edits made through Mintlify web editor
  docs/product-guide/customer-dashboard/customer-portal.mdx
Due: none

suggested fix
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

fix(budadmin): show deployment name validation only after field touch
  services/budadmin/src/components/ui/bud/deploymentDrawer/DeploymentSpecificationConfig.tsx
Due: budadmin-lint, budadmin-typecheck

docs(guardrails): add design and implementation plan for model-based rules
  docs/plans/2025-01-22-guardrail-model-deployment-design.md
  docs/plans/2025-01-22-guardrail-model-deployment-impl.md
Due: none

feat(guardrails): add enums for probe types and scanner types
  services/budapp/budapp/commons/constants.py
Due: none

feat(guardrails): add migration for model fields and rule deployment table
  services/budapp/budapp/migrations/versions/be1c6d69cfa5_add_guardrail_model_fields.py
Due: none

feat(guardrails): update models with probe_type, model fields, and rule deployment
  services/budapp/budapp/guardrails/models.py
Due: none

feat(guardrails): add schemas for custom probes and model rule deployment
  services/budapp/budapp/guardrails/schemas.py
Due: none

feat(guardrails): add CRUD methods for custom probes and rule deployments
  services/budapp/budapp/guardrails/crud.py
Due: none

feat(guardrails): add API routes for custom probes and deployment progress
  services/budapp/budapp/guardrails/guardrail_routes.py
  services/budapp/budapp/guardrails/services.py
Due: none

feat(guardrails): add BudPipeline action handlers for deployment workflow
  services/budapp/budapp/guardrails/pipeline_actions.py
Due: none

docs(docs): add customer dashboard icon
  docs/docs.json
Due: none

observability detail fix
  services/budadmin/src/components/inferences/InferenceDetailModal.tsx
  services/budadmin/src/components/ui/bud/table/InferenceListTable.tsx
  services/budadmin/src/pages/home/projects/[slug]/inferences/[inferenceId]/index.tsx
Due: budadmin-lint, budadmin-typecheck

test(guardrails): add unit tests for custom probes
  services/budapp/tests/guardrails/__init__.py
  services/budapp/tests/guardrails/test_custom_probes.py
  services/budapp/tests/test_guardrail_custom_probes.py
Due: none

chore(guardrails): update __init__.py with new module exports
  services/budapp/budapp/guardrails/__init__.py
Due: none

fix(docs): add missing newline at end of customer-portal.mdx
  docs/product-guide/customer-dashboard/customer-portal.mdx
Due: none

fix(guardrails): correct data manager class name in __init__.py
  services/budapp/budapp/guardrails/__init__.py
Due: none

Add service documentation for budCustomer, budadmin, budapp, budcluster, budeval, budgateway, budmetrics, budmodel, budnotify, budplayground, and budsim
  docs/product/DOCUMENTATION_CHECKLIST.md
  docs/product/ai-ml/budsim-user-guide.md
  docs/product/ai-ml/gpu-support.md
  docs/product/ai-ml/inference-pipeline.md
  docs/product/ai-ml/llm-support-matrix.md
  docs/product/ai-ml/mlops-workflow.md
  docs/product/ai-ml/model-deployment.md
  docs/product/ai-ml/model-monitoring.md
  docs/product/ai-ml/model-registry.md
  docs/product/architecture/architecture-whitepaper.md
  docs/product/architecture/component-catalog.md
  docs/product/architecture/deployment-architecture.md
  docs/product/architecture/high-level-architecture.md
  docs/product/architecture/network-topology.md
  docs/product/architecture/platform-datasheet.md
  docs/product/architecture/product-overview.md
  docs/product/architecture/technology-stack-reference.md
  docs/product/diagrams/api-gateway-layer.png
  docs/product/diagrams/data-layer.png
  docs/product/diagrams/microservices-layer.png
  docs/product/diagrams/presentation-layer.png
  docs/product/diagrams/service-mesh-layer.png
  docs/product/diagrams/system-context.png
  docs/product/services/ask-bud.md
  docs/product/services/budCustomer.md
  docs/product/services/budadmin.md
  docs/product/services/budapp.md
  docs/product/services/budcluster.md
  docs/product/services/budeval.md
  docs/product/services/budgateway.md
  docs/product/services/budmetrics.md
  docs/product/services/budmodel.md
  docs/product/services/budnotify.md
  docs/product/services/budplayground.md
  docs/product/services/budsim.md
  docs/product/templates/document-template.md
  docs/product/templates/runbook-template.md
Due: none
