Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

feat(budpipeline): add simulation_run action for standalone BudSim simulations
  services/budadmin/src/components/pipelineEditor/components/ActionConfigPanel.tsx
  services/budadmin/src/components/pipelineEditor/nodes/StepNode.tsx
  services/budpipeline/budpipeline/actions/deployment/create.py
  services/budpipeline/budpipeline/actions/routes.py
  services/budpipeline/budpipeline/actions/shared/__init__.py
  services/budpipeline/budpipeline/actions/shared/model_resolver.py
  services/budpipeline/budpipeline/actions/simulation/__init__.py
  services/budpipeline/budpipeline/actions/simulation/run.py
  services/budpipeline/pyproject.toml
Due: budadmin-lint, budadmin-typecheck

fix(budpipeline): address review feedback from Codex and Gemini
  services/budpipeline/budpipeline/actions/shared/model_resolver.py
  services/budpipeline/budpipeline/actions/simulation/run.py
Due: none

feat(budgateway): resolve default prompt version from API key metadata
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budapp,budpipeline): expose local_path and pass model_endpoints for non-LLM deployments
  services/budapp/budapp/model_ops/schemas.py
  services/budpipeline/budpipeline/actions/deployment/create.py
  services/budpipeline/budpipeline/actions/shared/model_resolver.py
Due: none

fix(budmetrics): remove ParentSpanId root constraint from trace queries
  services/budmetrics/budmetrics/observability/services.py
Due: none

fix(budapp,budadmin): normalize connector logo_url to icon and improve connections UI
  services/budadmin/src/pages/home/settings/connections/index.tsx
  services/budapp/budapp/connector_ops/services.py
Due: budadmin-lint, budadmin-typecheck

fix(budapp,budadmin): address PR review feedback from Gemini and Codex
  services/budadmin/src/pages/home/settings/connections/index.tsx
  services/budapp/budapp/connector_ops/services.py
Due: budadmin-lint, budadmin-typecheck

feat(budapp,budadmin): add return_url support for cross-app OAuth redirects
  infra/helm/bud/templates/microservices/budapp.yaml
  services/budadmin/src/hooks/useOAuthCallback.ts
  services/budadmin/src/pages/oauth/callback.tsx
  services/budadmin/src/services/globalConnectorService.ts
  services/budapp/budapp/commons/config.py
  services/budapp/budapp/connector_ops/connector_routes.py
  services/budapp/budapp/connector_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
  services/budapp/tests/test_connector_return_url.py
Due: budadmin-lint, budadmin-typecheck

fix(budapp,budadmin): address Gemini and Codex PR review feedback
  infra/helm/bud/templates/microservices/budapp.yaml
  services/budadmin/src/pages/oauth/callback.tsx
  services/budapp/budapp/connector_ops/connector_routes.py
  services/budapp/budapp/connector_ops/services.py
  services/budapp/tests/test_connector_return_url.py
Due: budadmin-lint, budadmin-typecheck

feat(budpipeline,budapp): add notification_workflow_id override for notifications
  services/budapp/budapp/workflow_ops/budpipeline_routes.py
  services/budapp/budapp/workflow_ops/budpipeline_service.py
  services/budpipeline/budpipeline/alembic/versions/20260213_1200_008_add_notification_workflow_id.py
  services/budpipeline/budpipeline/pipeline/crud.py
  services/budpipeline/budpipeline/pipeline/execution_routes.py
  services/budpipeline/budpipeline/pipeline/models.py
  services/budpipeline/budpipeline/pipeline/persistence_service.py
  services/budpipeline/budpipeline/pipeline/schemas.py
  services/budpipeline/budpipeline/pipeline/service.py
  services/budpipeline/budpipeline/progress/publisher.py
  services/budpipeline/tests/test_event_publishing.py
Due: none

fix(budpipeline): add max_length=255 validation to notification_workflow_id schema fields
  services/budpipeline/budpipeline/pipeline/schemas.py
Due: none

fix(budapp): auto-fetch tools after OAuth callback to populate tool list
  services/budapp/budapp/connector_ops/services.py
Due: none

fix(budapp): validate gateway_id and narrow exception handling
  services/budapp/budapp/connector_ops/services.py
Due: none

feat(budapp): integrate guardrail workflow with BudPipeline notification system
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/core/services.py
  services/budapp/budapp/guardrails/schemas.py
  services/budapp/budapp/guardrails/services.py
  services/budapp/budapp/workflow_ops/schemas.py
  services/budapp/budapp/workflow_ops/services.py
  services/budapp/tests/integration/test_guardrail_pipelines.py
Due: none

fix(budapp): use explicit required_keys list for benchmark workflow validation
  services/budapp/budapp/benchmark_ops/services.py
Due: none

fix(budapp): restrict prompt name updates in PATCH endpoint
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

feat(budapp): add project_id to GET /prompts list response
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

feat(helm): add Keycloak SSO integration for MCPGateway
  infra/helm/bud/example.secrets.yaml
  infra/helm/bud/templates/mcpgateway/configmap-keycloak-init.yaml
  infra/helm/bud/templates/mcpgateway/deployment.yaml
  infra/helm/bud/values.ditto.yaml
  infra/helm/bud/values.yaml
Due: none

fix(budpipeline): align pub/sub publishing with budmicroframe CloudEvent pattern
  infra/helm/bud/templates/microservices/budpipeline.yaml
  services/budpipeline/.env.sample
  services/budpipeline/budpipeline/progress/publisher.py
  services/budpipeline/tests/test_event_publishing.py
Due: none

fix(budpipeline): handle None result in model add event handler
  services/budpipeline/budpipeline/actions/model/add.py
Due: none

feat(budadmin): add navigation from agent card to agent details page
  services/budadmin/next.config.mjs
  services/budadmin/src/pages/home/agents/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): guard against missing project_id in agent card navigation
  services/budadmin/src/pages/home/agents/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budpipeline): resolve optimistic lock conflict in mark_step_awaiting_event
  services/budpipeline/budpipeline/handlers/event_router.py
Due: none

fix(helm): address PR review feedback for MCPGateway Keycloak SSO
  infra/helm/bud/templates/mcpgateway/configmap-keycloak-init.yaml
  infra/helm/bud/templates/mcpgateway/deployment.yaml
  infra/helm/bud/templates/mcpgateway/secret-keycloak-init.yaml
Due: none

fix notfications
  services/budpipeline/budpipeline/.claude/ralph-loop.local.md
  services/budpipeline/budpipeline/handlers/event_router.py
Due: none

feat(budapp): add icon field to guardrail probes and rules
  services/budapp/budapp/guardrails/models.py
  services/budapp/budapp/guardrails/scheduler.py
  services/budapp/budapp/guardrails/schemas.py
  services/budapp/budapp/migrations/versions/061d2a62eb6f_add_icon_to_guardrail_probe_and_rule.py
  services/budapp/scripts/download_model_author_icons.py
  services/budapp/static/icons/hf_authors/ibm.png
  services/budapp/static/icons/hf_authors/intel.png
  services/budapp/static/icons/hf_authors/katanemo.png
  services/budapp/static/icons/hf_authors/meta.png
  services/budapp/static/icons/hf_authors/nvidia.png
  services/budapp/static/icons/hf_authors/protectai.png
  services/budapp/static/icons/hf_authors/qwen.png
  services/budapp/static/icons/hf_authors/unitary_ai.png
  services/budapp/static/icons/hf_authors/valurank.png
Due: none

fix(budpipeline): mock PipelineExecutionCRUD in timeout scheduler tests
  services/budpipeline/tests/scheduler/test_timeout_scheduler.py
Due: none

fix(budpipeline): use proper CloudEvent envelope and fix timeout test mocks
  services/budpipeline/budpipeline/progress/publisher.py
Due: none

remove(budapp,budadmin): remove standalone Tools feature and APIs
  services/budadmin/src/flows/AddTool/BudToolsCatalogue.tsx
  services/budadmin/src/flows/AddTool/CreateVirtualServer.tsx
  services/budadmin/src/flows/AddTool/CreatingToolStatus.tsx
  services/budadmin/src/flows/AddTool/OpenAPISpecification.tsx
  services/budadmin/src/flows/AddTool/SelectToolSource.tsx
  services/budadmin/src/flows/AddTool/ToolCreationSuccess.tsx
  services/budadmin/src/flows/AddTool/ToolDetailsExpanded.tsx
  services/budadmin/src/flows/ViewTool/ViewToolDetails.tsx
  services/budadmin/src/flows/ViewVirtualServer/ViewVirtualServerDetails.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/pages/home/layout.tsx
  services/budadmin/src/pages/home/tools/index.tsx
  services/budadmin/src/stores/useAddTool.ts
  services/budadmin/src/stores/useTools.ts
  services/budadmin/src/stores/useVirtualServers.ts
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/main.py
  services/budapp/budapp/migrations/versions/a3b4c5d6e7f8_remove_tool_creation_workflow_type.py
  services/budapp/budapp/shared/mcp_foundry_service.py
  services/budapp/budapp/tool_ops/__init__.py
  services/budapp/budapp/tool_ops/schemas.py
  services/budapp/budapp/tool_ops/services.py
  services/budapp/budapp/tool_ops/tool_routes.py
Due: budadmin-lint, budadmin-typecheck

hydration fixes
  services/budadmin/src/pages/home/modelRepo/index.tsx
  services/budadmin/src/pages/home/projects/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): implement scroll-based pagination for cloud model list
  services/budadmin/src/components/ui/bud/deploymentDrawer/DeployModelSelect.tsx
  services/budadmin/src/flows/AddModel/Cloud/ModelList.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): render tool icons as images instead of raw URL text
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/components/agents/tools/ToolDetails.tsx
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(budadmin): extract shared renderToolIcon utility
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/components/agents/tools/ToolDetails.tsx
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
  services/budadmin/src/utils/iconUtils.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): throttle network error toasts and show offline message on auth pages
  services/budadmin/src/components/auth/contactAdmin.tsx
  services/budadmin/src/components/auth/login.tsx
  services/budadmin/src/components/auth/resetPassword.tsx
  services/budadmin/src/pages/api/requests.ts
Due: budadmin-lint, budadmin-typecheck

fix(budpipeline): use flat payload pattern for pub/sub and fix stale DB constraint
  services/budpipeline/budpipeline/alembic/versions/20260116_2040_003_fix_delivery_status_constraint.py
  services/budpipeline/budpipeline/alembic/versions/20260216_1200_009_drop_stale_delivery_status_constraint.py
  services/budpipeline/budpipeline/progress/publisher.py
Due: none

edit agent button removed
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

fix: added hyperbolic ai cion
  services/budapp/static/icons/providers/hyperbolic_ai.png
Due: none

observebality time-series chart data update
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): make agent name non-editable in edit drawer
  services/budadmin/src/flows/EditAgent/AgentEditDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(budadmin): extract chart label formatting into helper function
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
Due: budadmin-lint, budadmin-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
