Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$

feat(eval): adde tags
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/models.py
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
Due: none

feat(eval): adde tags
  services/budapp/budapp/migrations/versions/65fad5430d50_eval_tags.py
Due: none

fix(k8s_deploy): vanilla installation
  nix/packages/k8s_deploy/script.sh
Due: none

chore(k8s_deploy): check for existing installtions
  nix/packages/k8s_deploy/script.sh
Due: none

chore(k8s_deploy): handle ingress
  nix/packages/k8s_deploy/script.sh
Due: none

feat: eval update for new architecture
  services/budapp/budapp/eval_ops/services.py
Due: none

fix(budplayground): regenerate package-lock.json for Docker build
  services/budplayground/package-lock.json
Due: none

fix(budplayground): harden prompt API base URL resolution
  services/budplayground/app/api/chat/route.ts
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

fix(budplayground): ensure gateway base url points to openai responses
  services/budplayground/app/api/chat/route.ts
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/lib/gateway.ts
Due: budplayground-lint, budplayground-typecheck

feat(eval): adde tags
  services/budapp/budapp/eval_ops/services.py
Due: none

success but wron g implementation
  services/budplayground/app/api/prompt-chat/route.ts
Due: budplayground-lint, budplayground-typecheck

refactor(budplayground): simplify prompt-chat responses integration
  services/budplayground/app/api/prompt-chat/route.ts
Due: budplayground-lint, budplayground-typecheck

fix(budadmin): set NEXT_PUBLIC_ENABLE_DEV_MODE at build time to prevent tree-shaking
  .github/workflows/budadmin-nightly-image.yml
  .github/workflows/budadmin-release-image.yml
  services/budadmin/CLAUDE.md
  services/budadmin/Dockerfile
  services/budadmin/entrypoint.sh
Due: none

fix(eval): fixed eval tags table column missing
  services/budapp/budapp/migrations/versions/a7b8c9d0e1f2_rename_updated_at_to_modified_at_in_eval_tags.py
Due: none

chore(k8s_deploy/helm_install): allow overriding namespace
  nix/packages/k8s_deploy/script.sh
Due: none

feat: eval update for new architecture
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/schemas.py
Due: none

feat: added text format in streaming response
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/openai_streaming_formatter.py
Due: none

Add nightly images for multiple microservices
  infra/helm/bud/values.dev.yaml
Due: none

chore: configure volume types for budcluster service
  infra/helm/bud/values.dev.yaml
  infra/helm/bud/values.yaml
Due: none

fix(budplayground): delay deployment fetch until session ready
  services/budplayground/app/chat/components/LoadModel.tsx
  services/budplayground/app/components/bud/hooks/useEndPoint.tsx
Due: budplayground-lint, budplayground-typecheck

fix(budplayground): allow endpoint hook outside auth provider
  services/budplayground/app/components/bud/hooks/useEndPoint.tsx
  services/budplayground/app/context/AuthContext.tsx
Due: budplayground-lint, budplayground-typecheck

chore(budplayground): log upstream errors for prompt chat
  services/budplayground/app/api/prompt-chat/route.ts
Due: budplayground-lint, budplayground-typecheck

fix(budplayground): call responses endpoint without v1 suffix
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/lib/gateway.ts
Due: budplayground-lint, budplayground-typecheck

fix(budplayground): drop openai suffix for responses base
  services/budplayground/app/api/prompt-chat/route.ts
Due: budplayground-lint, budplayground-typecheck

refactor(budplayground): derive responses base url from host
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/lib/gateway.ts
Due: budplayground-lint, budplayground-typecheck

refactor(budplayground): prioritize explicit gateway base env
  services/budplayground/app/lib/gateway.ts
Due: budplayground-lint, budplayground-typecheck

refactor(budplayground): proxy prompt chat request to gateway
  services/budplayground/app/api/prompt-chat/route.ts
Due: budplayground-lint, budplayground-typecheck

feat: added openai stream formatter to support with pydantic 1.4.0
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/openai_streaming_formatter.py
Due: none

refactor(budplayground): proxy prompt chat w/ direct gateway call
  services/budplayground/app/api/chat/route.ts
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/lib/gateway.ts
Due: budplayground-lint, budplayground-typecheck

fix(budadmin): add support for custom branding environment variables
  infra/helm/bud/values.yaml
  services/budadmin/.env.sample
  services/budadmin/Dockerfile
  services/budadmin/entrypoint.sh
  services/budadmin/src/components/environment.ts
  services/budadmin/src/pages/_app.tsx
  services/budadmin/src/pages/auth/layout.tsx
  services/budadmin/src/pages/home/layout.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(budplayground): enhance prompt chat with logging and error handling
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/lib/api.ts
Due: budplayground-lint, budplayground-typecheck

Update services/budadmin/src/pages/home/layout.tsx
  services/budadmin/src/pages/home/layout.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(budplayground): simplify chat route and remove response format
  services/budplayground/app/api/chat/route.ts
Due: budplayground-lint, budplayground-typecheck

fix(budcluster): use deployment name instead of model for benchmarking
  services/budcluster/budcluster/deployment/performance.py
  services/budcluster/budcluster/deployment/workflows.py
Due: none

fix: tokenizer path
  services/budcluster/budcluster/deployment/performance.py
Due: none

fix(k8s_deploy): helm_install
  nix/packages/k8s_deploy/script.sh
Due: none

chore(k8s_deploy): allow overriding release and namespace
  nix/packages/k8s_deploy/script.sh
Due: none

Update services/budcluster/budcluster/deployment/performance.py
  services/budcluster/budcluster/deployment/performance.py
Due: none

fix(budmetrics): replace TopK subquery with JOIN to resolve asynch driver error
  services/budmetrics/budmetrics/observability/models.py
Due: none
