Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$

agent detail progress
  services/budadmin/next.config.mjs
  services/budadmin/src/components/ui/bud/table/AgentsPromptsListTable.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/cache/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logsTraces/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/overview/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/settings/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/versions/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: suppress exhaustive-deps warning in prompt config effect
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

refactor: make bud sentinel url in config optional
  services/budapp/budapp/commons/config.py
Due: none

fix(connectors): correct auth_type logic for tool fetching
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

fix: use reactive chat prop instead of getState in useEffect
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

fix: disable unstructured prompt input when no deployment selected
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

chore: remove debug console.log statements from ChatWindow
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

refactor: remove unused chatId prop and debug logging from UnstructuredPromptInput
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/UnstructuredPromptInput.tsx
Due: budplayground-lint, budplayground-typecheck

feat(helm/budsentinel): init
  infra/helm/bud/templates/budsentinel.yaml
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/values.dev.yaml
  infra/helm/bud/values.enc.yaml
  infra/helm/bud/values.yaml
Due: none

fixed search and filter
  services/budadmin/src/components/charts/compositeChart/index.tsx
  services/budadmin/src/pages/home/evaluations/experiments/index.tsx
Due: budadmin-lint, budadmin-typecheck

evaluation search updates
  services/budadmin/src/hooks/useEvaluations.tsx
Due: budadmin-lint, budadmin-typecheck

updated fixes and details page
  services/budadmin/src/components/charts/compositeChart/index.tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/details.tsx
  services/budadmin/src/pages/home/evaluations/experiments/index.tsx
Due: budadmin-lint, budadmin-typecheck

updated no data scenario for chart
  services/budadmin/src/pages/home/evaluations/evalDetailed/details.tsx
Due: budadmin-lint, budadmin-typecheck

no data
  services/budadmin/src/components/charts/compositeChart/index.tsx
Due: budadmin-lint, budadmin-typecheck

updated tags in details tab
  services/budadmin/src/pages/home/evaluations/evalDetailed/details.tsx
Due: budadmin-lint, budadmin-typecheck

fix for routing issue
  services/budadmin/src/pages/home/evaluations/evalListing/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat: implement add and edit version functionality for agents
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentBoxWrapper.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/versions/index.tsx
  services/budadmin/src/stores/useAgentStore.ts
Due: budadmin-lint, budadmin-typecheck

fix: correct navigation path to agent details page
  services/budadmin/src/pages/home/agents/index.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: improve type safety in usePrompts hook
  services/budadmin/src/hooks/usePrompts.tsx
Due: budadmin-lint, budadmin-typecheck

fix: improve Keycloak client sync and license name validation
  services/budapp/budapp/initializers/base_keycloak_seeder.py
  services/budmodel/budmodel/model_info/license.py
Due: none

feat: enhance agent details pages with error handling and dev mode support
  services/budadmin/src/hooks/usePrompts.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/cache/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/overview/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/settings/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(eval): run summary
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
Due: none

feat(eval): run summary
  services/budapp/budapp/eval_ops/services.py
Due: none

feat: added openai sdk schemas in v1 response schema
  services/budprompt/budprompt/responses/schemas.py
Due: none

updated evaluation filter
  services/budadmin/src/hooks/useEvaluations.tsx
  services/budadmin/src/pages/home/evaluations/experiments/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat: added initial structure for prompt excecutor v4
  services/budprompt/budprompt/executors/__init__.py
  services/budprompt/budprompt/executors/factory.py
  services/budprompt/budprompt/executors/v4/__init__.py
  services/budprompt/budprompt/executors/v4/executor.py
  services/budprompt/budprompt/executors/v4/field_validation.py
  services/budprompt/budprompt/executors/v4/openai_response_formatter.py
  services/budprompt/budprompt/executors/v4/openai_streaming_formatter.py
  services/budprompt/budprompt/executors/v4/schema_builder.py
  services/budprompt/budprompt/executors/v4/template_renderer.py
  services/budprompt/budprompt/executors/v4/tool_loaders.py
  services/budprompt/budprompt/executors/v4/utils.py
  services/budprompt/budprompt/prompt/services.py
Due: none

refactor: modified prompt exception with additional meta data
  services/budprompt/budprompt/commons/exceptions.py
Due: none

refactor: changed openai formatter class name in v4
  services/budprompt/budprompt/executors/v4/executor.py
  services/budprompt/budprompt/executors/v4/openai_response_formatter.py
  services/budprompt/budprompt/executors/v4/openai_streaming_formatter.py
Due: none

feat: implement I/O throttling for MinIO uploads
  services/budmodel/budmodel/model_info/store.py
Due: none

fix: migration order
  services/budapp/budapp/migrations/versions/f5b76a5c7bda_add_storage_size_gb_to_model.py
Due: none

fix: resolve React Hook dependency warnings and add missing key props
  services/budadmin/src/pages/home/evaluations/evalDetailed/[evaluationId].tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/details.tsx
  services/budadmin/src/pages/home/userManagement/index.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: the openai prompt schema contain dict instead of object
  services/budprompt/budprompt/responses/services.py
Due: none

fix: remove trailing whitespace in compositeChart
  services/budadmin/src/components/charts/compositeChart/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: update budplayground dependencies to fix typecheck
  services/budplayground/package-lock.json
Due: none

fix: add search functionality to model filter dropdown and fix useEffect dependency
  services/budadmin/src/pages/home/evaluations/experiments/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: improve code structure
  services/budapp/budapp/model_ops/services.py
  services/budapp/budapp/shared/minio_store.py
  services/budapp/scripts/backfill_model_storage_sizes.py
Due: none

feat: add hardware mode selection for GPU time-slicing support
  services/budcluster/.env.sample
  services/budcluster/CLAUDE.md
  services/budcluster/budcluster/cluster_ops/__init__.py
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/commons/hami_parser.py
  services/budcluster/budcluster/commons/metrics_config.py
  services/budcluster/budcluster/metrics_collector/prometheus_client.py
  services/budcluster/budcluster/playbooks/delete_cluster.yaml
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
  services/budmetrics/requirements.txt
  services/budmetrics/scripts/migrate_clickhouse.py
  services/budsim/budsim/simulator/direct_search.py
  services/budsim/budsim/simulator/heuristic.py
  services/budsim/budsim/simulator/schemas.py
  services/budsim/budsim/simulator/services.py
  services/budsim/budsim/simulator/workflows.py
  services/budsim/tests/test_hardware_mode_filtering.py
Due: none

fix: test failure
  services/budapp/budapp/model_ops/services.py
  services/budapp/tests/test_model_storage_size.py
Due: none

feat: Enhance I/O clearance wait by accepting a disk path and logging recovery timeouts.
  services/budmodel/budmodel/model_info/store.py
Due: none

style: reorder import statements.
  .pre-commit-config.yaml
  services/budmodel/budmodel/model_info/store.py
Due: none
