Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$

chore(infra/primary-pnap): clean up
  flake.nix
  infra/nixos/primary-pnap/configuration.nix
  infra/nixos/primary-pnap/modules/scid.nix
Due: none

refactor(guardrails): remove status column from rule deployment junction table
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/guardrails/crud.py
  services/budapp/budapp/guardrails/models.py
  services/budapp/budapp/guardrails/pipeline_actions.py
  services/budapp/budapp/guardrails/schemas.py
  services/budapp/budapp/guardrails/services.py
  services/budapp/budapp/migrations/versions/be1c6d69cfa5_add_guardrail_model_fields.py
Due: none

fix(budadmin): fix edit button in rules section not working
  services/budadmin/src/pages/home/observability/RulesTab.tsx
Due: budadmin-lint, budadmin-typecheck

feat: added baggage on budgateway
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/baggage.rs
  services/budgateway/tensorzero-internal/src/baggage_processor.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
  services/budgateway/tensorzero-internal/src/inference/providers/dummy.rs
  services/budgateway/tensorzero-internal/src/inference/providers/openai.rs
  services/budgateway/tensorzero-internal/src/lib.rs
  services/budgateway/tensorzero-internal/src/model.rs
  services/budgateway/tensorzero-internal/src/observability.rs
  services/budgateway/tensorzero-internal/src/responses.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

Add diagrams for high-level architecture, model deployment, inference request, multi-cluster architecture, pipeline execution, and security architecture
  docs/product/architecture/high-level-architecture.md
  docs/product/diagrams/inference-request-flow.png
  docs/product/diagrams/infrastrucutre-layer.png
  docs/product/diagrams/model-deployment-flow.png
  docs/product/diagrams/multi-cluster-arch.png
  docs/product/diagrams/pipeline-execution-flow.png
  docs/product/diagrams/security-arch.png
  docs/product/diagrams/security-architecture.png
  docs/product/diagrams/test.png
Due: none

multiwindow
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/PromptForm.tsx
Due: budplayground-lint, budplayground-typecheck

test(guardrails): update tests for endpoint-derived deployment status
  services/budapp/tests/guardrails/test_custom_probes.py
Due: none

Refactor component catalog to remove port information and streamline service descriptions
  docs/product/architecture/component-catalog.md
Due: none

feature/agent-settings
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/components/bud/components/input/NormalEditor.tsx
Due: budplayground-lint, budplayground-typecheck

Consolidate and update AI/ML documentation
  docs/product/DOCUMENTATION_CHECKLIST.md
  docs/product/ai-ml/gpu-support.md
  docs/product/ai-ml/inference-pipeline.md
  docs/product/ai-ml/llm-support-matrix.md
  docs/product/ai-ml/mlops-workflow.md
  docs/product/ai-ml/model-deployment.md
  docs/product/ai-ml/model-monitoring.md
  docs/product/ai-ml/model-registry.md
  docs/product/architecture/technology-stack-reference.md
  docs/product/services/budcluster.md
Due: none

feat: added baggage in otel span
  services/budprompt/budprompt/responses/services.py
  services/budprompt/budprompt/shared/baggage_processor.py
  services/budprompt/budprompt/shared/otel.py
Due: none

agent chat icon removed
  services/budadmin/src/components/agents/AgentDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

fix(guardrails): resolve circular import by removing service imports from __init__
  services/budapp/budapp/guardrails/__init__.py
Due: none

fix: resolved inference list api failure
  services/budmetrics/budmetrics/observability/services.py
Due: none

fix: incorrect endpoint od in baggaage
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/baggage.rs
  services/budgateway/tensorzero-internal/src/baggage_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat(budnotify): add realtime observability module for live trace streaming
  services/budnotify/.env.sample
  services/budnotify/notify/commons/config.py
  services/budnotify/notify/main.py
  services/budnotify/notify/realtime/__init__.py
  services/budnotify/notify/realtime/auth.py
  services/budnotify/notify/realtime/channel_manager.py
  services/budnotify/notify/realtime/ingest_routes.py
  services/budnotify/notify/realtime/schemas.py
  services/budnotify/notify/realtime/services.py
  services/budnotify/notify/realtime/websocket_routes.py
  services/budnotify/requirements.txt
  services/budnotify/tests/realtime/__init__.py
  services/budnotify/tests/realtime/test_auth.py
  services/budnotify/tests/realtime/test_channel_manager.py
  services/budnotify/tests/realtime/test_ingest.py
  services/budnotify/tests/realtime/test_schemas.py
  services/budnotify/tests/realtime/test_services.py
Due: none

feat(helm): add Keycloak env vars to budnotify deployment
  infra/helm/bud/templates/microservices/budnotify.yaml
  infra/helm/bud/values.yaml
Due: none

feat(helm): add realtime pipeline to OTel Collector for live trace streaming
  infra/helm/bud/templates/extra/otel-collector.yaml
  infra/helm/bud/values.yaml
Due: none

fix(budprompt): skip protobuf CVE-2026-0994 in pip-audit until advisory DB updated
  .github/workflows/budprompt-pr-review.yml
  services/budnotify/notify/realtime/__init__.py
  services/budprompt/pyproject.toml
Due: none

fix(helm): fix budnotify Keycloak auth and upgrade OTel collector
  infra/helm/bud/values.yaml
Due: none

Add Helm Chart Documentation, IaC Guide, and System Requirements
  docs/product/diagrams/dr-arch-overview.png
  docs/product/disaster-recovery/backup-strategy.md
  docs/product/disaster-recovery/dr-architecture.md
  docs/product/disaster-recovery/dr-drill-procedure.md
  docs/product/disaster-recovery/dr-strategy.md
  docs/product/disaster-recovery/failback-runbook.md
  docs/product/disaster-recovery/failover-runbook.md
  docs/product/infrastructure/deployment-guides.md
  docs/product/infrastructure/helm-chart-documentation.md
  docs/product/infrastructure/iac-guide.md
  docs/product/infrastructure/system-requirements.md
Due: none

Add RBAC model documentation and update service LLD references
  docs/product/operations/day-2-operations-guide.md
  docs/product/operations/incident-response-playbook.md
  docs/product/operations/observability-architecture.md
  docs/product/operations/operations-guide.md
  docs/product/operations/troubleshooting-guide.md
  docs/product/security/iam-architecture.md
  docs/product/security/rbac-model.md
  docs/product/services/budmodel.md
  docs/product/services/budpipeline.md
  docs/product/services/budsim.md
  docs/product/services/images/budapp-endpoint-states.png
  docs/product/services/images/budcluster-cluster-states.png
  docs/product/services/images/budcluster-deployment-states.png
  docs/product/services/images/budsim-evolution-algorithm.mmd
  docs/product/services/images/budsim-evolution-algorithm.png
  docs/product/services/images/budsim-simulation-flow.mmd
  docs/product/services/images/budsim-simulation-flow.png
Due: none

feat(budpipeline): add deployment actions with internal auth support
  infra/helm/bud/templates/microservices/budpipeline.yaml
  services/budadmin/src/components/pipelineEditor/components/ActionConfigPanel.tsx
  services/budadmin/src/flows/components/CommonStatus.tsx
  services/budadmin/src/pages/home/budpipelines/[id]/index.tsx
  services/budadmin/src/types/actions.ts
  services/budapp/budapp/cluster_ops/schemas.py
  services/budapp/budapp/endpoint_ops/endpoint_routes.py
  services/budapp/budapp/endpoint_ops/schemas.py
  services/budapp/budapp/endpoint_ops/services.py
  services/budapp/budapp/model_ops/model_routes.py
  services/budapp/budapp/model_ops/schemas.py
  services/budapp/budapp/model_ops/services.py
  services/budpipeline/budpipeline/actions/base/context.py
  services/budpipeline/budpipeline/actions/base/meta.py
  services/budpipeline/budpipeline/actions/cluster/__init__.py
  services/budpipeline/budpipeline/actions/cluster/create.py
  services/budpipeline/budpipeline/actions/cluster/delete.py
  services/budpipeline/budpipeline/actions/cluster/health.py
  services/budpipeline/budpipeline/actions/deployment/__init__.py
  services/budpipeline/budpipeline/actions/deployment/autoscale.py
  services/budpipeline/budpipeline/actions/deployment/create.py
  services/budpipeline/budpipeline/actions/deployment/delete.py
  services/budpipeline/budpipeline/actions/deployment/ratelimit.py
  services/budpipeline/budpipeline/actions/deployment/scale.py
  services/budpipeline/budpipeline/actions/model/add.py
  services/budpipeline/docs/CREATING_ACTIONS.md
  services/budpipeline/pyproject.toml
  services/budpipeline/tests/actions/cluster/test_cluster_actions.py
  services/budpipeline/tests/actions/deployment/test_deployment_actions.py
Due: budadmin-lint, budadmin-typecheck

Update RBAC model and introduce security architecture documentation
  docs/product/DOCUMENTATION_CHECKLIST.md
  docs/product/TECH_DEBT.md
  docs/product/security/api-gateway-security.md
  docs/product/security/audit-logging-architecture.md
  docs/product/security/encryption-standards.md
  docs/product/security/iam-architecture.md
  docs/product/security/network-security-guide.md
  docs/product/security/rbac-model.md
  docs/product/security/security-architecture.md
Due: none

fix(budmetrics): update inference tables TTL to 90 days
  services/budmetrics/scripts/migrate_clickhouse.py
Due: none

feat(budaiscaler): implement scale-to-zero functionality and update related configurations
  services/budadmin/src/pages/home/deployments/[slug]/settings/AutoscaleSettings.tsx
  services/budapp/budapp/endpoint_ops/services.py
  services/budapp/budapp/model_ops/schemas.py
  services/budcluster/budcluster/charts/bud_runtime_container/templates/budaiscaler.yaml
  services/budcluster/budcluster/deployment/handler.py
  services/budcluster/budcluster/deployment/schemas.py
  services/budpipeline/budpipeline/actions/deployment/scale.py
Due: budadmin-lint, budadmin-typecheck

fix(tests): add callback_topic parameter to bud_cluster delete endpoint request assertions
  services/budapp/tests/test_cloud_model_delete.py
Due: none

fix(tests): update cluster health test mock to use correct response format
  services/budpipeline/tests/actions/cluster/test_cluster_actions.py
Due: none

fix(tests): update budpipeline tests to match current implementation
  services/budpipeline/tests/actions/deployment/test_deployment_actions.py
  services/budpipeline/tests/actions/test_api.py
  services/budpipeline/tests/actions/test_meta.py
Due: none

fix(docker): update ansible-galaxy collection installation to use GitHub source
  services/budcluster/deploy/Dockerfile
Due: none

fix(helm): align Novu services Redis DB index to 2
  infra/helm/bud/charts/novu/templates/api/deployment.yaml
  infra/helm/bud/charts/novu/templates/worker/deployment.yaml
  infra/helm/bud/charts/novu/templates/ws/deployment.yaml
  infra/helm/bud/templates/extra/novu.yaml
Due: none

fix(helm): use single source of truth for Novu Redis DB index
  infra/helm/bud/charts/novu/templates/worker/deployment.yaml
  infra/helm/bud/charts/novu/templates/ws/deployment.yaml
  infra/helm/bud/templates/extra/novu.yaml
Due: none

tools listing page
  services/budadmin/next.config.mjs
  services/budadmin/src/pages/home/layout.tsx
Due: budadmin-lint, budadmin-typecheck

tools in progress
  services/budadmin/src/components/ui/DragDropUpload/index.tsx
  services/budadmin/src/flows/AddTool/BudToolsCatalogue.tsx
  services/budadmin/src/flows/AddTool/CreatingToolStatus.tsx
  services/budadmin/src/flows/AddTool/OpenAPISpecification.tsx
  services/budadmin/src/flows/AddTool/SelectToolSource.tsx
  services/budadmin/src/flows/AddTool/ToolDetailsExpanded.tsx
  services/budadmin/src/flows/ViewTool/ViewToolDetails.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/pages/home/tools/index.tsx
  services/budadmin/src/stores/useTools.ts
Due: budadmin-lint, budadmin-typecheck

mcp foundary
  services/budadmin/src/components/environment.ts
  services/budadmin/src/pages/api/mcpFoundryRequests.ts
  services/budadmin/src/pages/api/requests.ts
  services/budadmin/src/pages/home/tools/index.tsx
  services/budadmin/src/stores/useTools.ts
Due: budadmin-lint, budadmin-typecheck

tools
  services/budadmin/src/pages/home/tools/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(tools): Add tool management with virtual server CRUD APIs
  services/budadmin/src/components/ui/DragDropUpload/index.tsx
  services/budadmin/src/flows/AddTool/BudToolsCatalogue.tsx
  services/budadmin/src/flows/AddTool/CreateVirtualServer.tsx
  services/budadmin/src/flows/AddTool/CreatingToolStatus.tsx
  services/budadmin/src/flows/AddTool/OpenAPISpecification.tsx
  services/budadmin/src/flows/AddTool/SelectToolSource.tsx
  services/budadmin/src/flows/AddTool/ToolCreationSuccess.tsx
  services/budadmin/src/flows/ViewVirtualServer/ViewVirtualServerDetails.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/pages/home/layout.tsx
  services/budadmin/src/pages/home/tools/index.tsx
  services/budadmin/src/stores/useAddTool.ts
  services/budadmin/src/stores/useTools.ts
  services/budadmin/src/stores/useVirtualServers.ts
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/main.py
  services/budapp/budapp/shared/mcp_foundry_service.py
  services/budapp/budapp/tool_ops/__init__.py
  services/budapp/budapp/tool_ops/schemas.py
  services/budapp/budapp/tool_ops/services.py
  services/budapp/budapp/tool_ops/tool_routes.py
Due: budadmin-lint, budadmin-typecheck

chore: Remove unused mcpFoundryRequests.ts and env variables
  .gitignore
  services/budadmin/src/components/environment.ts
  services/budadmin/src/pages/api/mcpFoundryRequests.ts
Due: budadmin-lint, budadmin-typecheck
