Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd services/budgateway && cargo +nightly fmt -- --check || cargo fmt -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd services/budgateway && cargo +nightly clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: bash -c 'cd services/budgateway && cargo +nightly deny check || cargo deny check'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && npx tsc --noEmit'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && npx tsc --noEmit'
  language: system
  pass_filenames: false

fix: update test_cluster_settings to match actual method signatures
  services/budapp/tests/test_cluster_settings.py
Due: none

fix: rewrite ClusterService tests to patch DataManager classes correctly
  services/budapp/tests/test_cluster_settings.py
Due: none

fix: add missing required fields to ClusterSettings mock objects
  services/budapp/tests/test_cluster_settings.py
Due: none

fix: correct ClientException import path in test_cluster_settings
  services/budapp/tests/test_cluster_settings.py
Due: none

fix: use message attribute instead of detail for ClientException
  services/budapp/tests/test_cluster_settings.py
Due: none

fix: use FastAPI dependency overrides for authentication in API tests
  services/budapp/tests/test_cluster_settings_api.py
Due: none

fix(budapp): correct cluster settings test method names and signatures
  services/budapp/tests/test_cluster_settings.py
Due: none

fix(budapp): correct ClusterService test mocking patterns
  services/budapp/tests/test_cluster_settings.py
Due: none

fix(budapp): use modified_at instead of updated_at in test mocks
  services/budapp/tests/test_cluster_settings.py
Due: none

fix(budapp): add missing ClientException import in cluster settings tests
  services/budapp/tests/test_cluster_settings.py
Due: none

fix(budapp): add is_superuser flag to mock user for permission bypass in tests
  services/budapp/tests/test_helpers/cluster_settings_helpers.py
Due: none

feat: added prompt stream config support in toml
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
  services/budgateway/tensorzero-internal/src/model.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: copy config now return copied config data
  services/budprompt/budprompt/prompt/schemas.py
  services/budprompt/budprompt/prompt/services.py
Due: none

chore(helm/ingress): refactor
  infra/helm/bud/templates/_helpers.tpl
  infra/helm/bud/templates/ingress.yaml
  infra/helm/bud/values.yaml
Due: none

fix(budapp): use app.dependency_overrides pattern for API tests to fix permission checks
  services/budapp/tests/test_cluster_settings_api.py
Due: none

fix(budapp): update API test assertions to match actual SuccessResponse format
  services/budapp/tests/test_cluster_settings_api.py
  services/budapp/tests/test_helpers/cluster_settings_helpers.py
Due: none

fix(budapp): use correct exception patterns in cluster settings API tests
  services/budapp/budapp/cluster_ops/cluster_settings_routes.py
  services/budapp/tests/test_cluster_settings_api.py
Due: none

chore(helm): refactor db
  infra/helm/bud/templates/_helpers.tpl
  infra/helm/bud/templates/microservices/askbud.yaml
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/budcluster.yaml
  infra/helm/bud/templates/microservices/buddoc.yaml
  infra/helm/bud/templates/microservices/budeval.yaml
  infra/helm/bud/templates/microservices/budmetrics.yaml
  infra/helm/bud/templates/microservices/budmodel.yaml
  infra/helm/bud/templates/microservices/budprompt.yaml
  infra/helm/bud/templates/microservices/budsim.yaml
  infra/helm/bud/values.yaml
Due: none

refactor: reverted the change made for prompt_stream config support
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
  services/budgateway/tensorzero-internal/src/model.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: cluster test case
  services/budapp/tests/test_cluster_settings.py
  services/budapp/tests/test_cluster_settings_no_resolution.py
  services/budapp/tests/test_cluster_settings_simple.py
Due: none

feat: added budprompt dynamic response
  services/budgateway/docs/BUDPROMPT_DYNAMIC_RESPONSE.md
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
  services/budgateway/tensorzero-internal/src/model.rs
  services/budgateway/tensorzero-internal/src/responses.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

refactor: eliminate code duplication in AgentBox and Add Agent flow
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/flows/AddAgent/AgentConfiguration.tsx
  services/budadmin/src/flows/AddAgent/AgentSuccess.tsx
  services/budadmin/src/flows/AddAgent/DeploymentWarning.tsx
  services/budadmin/src/stores/useAddAgent.tsx
Due: budadmin-lint, budadmin-typecheck

chore(helm): refactor minio
  infra/helm/bud/templates/_helpers.tpl
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/budcluster.yaml
  infra/helm/bud/templates/microservices/budmodel.yaml
  infra/helm/bud/values.yaml
Due: none

chore: remove unused React 'use' import from flow components
  services/budadmin/src/flows/Evaluations/RunEvaluation/RunEvaluationStatus.tsx
  services/budadmin/src/flows/ViewModel/ViewModelDetails.tsx
  services/budadmin/src/flows/components/CommonStatus.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: removed unused openai response params
  services/budgateway/tensorzero-internal/src/inference/providers/dummy.rs
  services/budgateway/tensorzero-internal/src/responses.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: testcase errors
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
  services/budgateway/tensorzero-internal/src/inference/providers/openai.rs
  services/budgateway/tensorzero-internal/src/responses.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: improve New Experiment form validation and date formatting
  services/budadmin/src/components/evaluations/RunsHistoryTable.tsx
  services/budadmin/src/flows/Evaluations/NewExperiment/index.tsx
  services/budadmin/src/utils/formatDate.ts
Due: budadmin-lint, budadmin-typecheck

eval bug fix
  services/budadmin/public/images/dashboard/dash.jpg
  services/budadmin/public/images/evaluations/ui/Evaluation_Details.png
  services/budadmin/public/images/evaluations/ui/Evaluation_Evaluations Explorer.png
  services/budadmin/public/images/evaluations/ui/Evaluation_Leaderboard.png
  services/budadmin/public/images/evaluations/ui/Evaluations.png
  services/budadmin/public/images/evaluations/ui/bg.png
  services/budadmin/public/images/evaluations/ui/detail.png
  services/budadmin/public/images/evaluations/ui/drawer.png
  services/budadmin/public/images/evaluations/ui/eval.png
  services/budadmin/public/images/evaluations/ui/eval/eval-1.png
  services/budadmin/public/images/evaluations/ui/eval/eval-2.png
  services/budadmin/public/images/evaluations/ui/eval/eval-3.png
  services/budadmin/public/images/evaluations/ui/eval/eval-4.png
  services/budadmin/public/images/evaluations/ui/eval/eval-5.png
  services/budadmin/public/images/evaluations/ui/eval/eval-6.png
  services/budadmin/public/images/evaluations/ui/eval/evalAvailable.png
  services/budadmin/public/images/evaluations/ui/exp-detail-2.png
  services/budadmin/public/images/evaluations/ui/experiment-details.png
  services/budadmin/public/images/evaluations/ui/experiments.png
  services/budadmin/public/images/evaluations/ui/explorer.png
  services/budadmin/public/images/evaluations/ui/leaderboard.png
  services/budadmin/public/images/evaluations/ui/new-experimet.png
  services/budadmin/public/images/evaluations/ui/summary.png
  services/budadmin/public/images/icons/zephyr.png
  services/budadmin/src/pages/home/evaluations/experiments/index.tsx
  services/budadmin/src/pages/home/evaluations/summary/index.tsx
  services/budadmin/src/styles/globals.scss
Due: budadmin-lint, budadmin-typecheck

feat(k8s_deploy): init
  flake.nix
  infra/helm/bud/example.standalone.yaml
  infra/helm/bud/values.dev.yaml
  infra/helm/keel/example.noslack.yaml
  nix/packages/k8s_deploy/default.nix
  nix/packages/k8s_deploy/script.sh
Due: none

chore(k8s_deploy): clean up
  nix/packages/k8s_deploy/default.nix
  nix/packages/k8s_deploy/script.sh
Due: none

chore(k8s_deploy): clean up
  infra/helm/bud/templates/_helpers.tpl
Due: none

fix(k8s_deploy): ingress url
  infra/helm/bud/templates/microservices/budcluster.yaml
Due: none

refactor: improve TagsInput component with FloatLabel and InfoLabel
  services/budadmin/src/components/ui/bud/dataEntry/TagsInput.tsx
  services/budadmin/src/flows/Evaluations/NewExperiment/index.tsx
  services/budadmin/src/flows/NewProject.tsx
Due: budadmin-lint, budadmin-typecheck

updated observability inner page
  services/budadmin/src/pages/observability/[id]/index.tsx
Due: budadmin-lint, budadmin-typecheck

chore(infra): fix warns
  infra/helm/bud/templates/microservices/askbud.yaml
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/budcluster.yaml
  infra/helm/bud/templates/microservices/buddoc.yaml
  infra/helm/bud/templates/microservices/budeval.yaml
  infra/helm/bud/templates/microservices/budmetrics.yaml
  infra/helm/bud/templates/microservices/budmodel.yaml
  infra/helm/bud/templates/microservices/budprompt.yaml
  infra/helm/bud/templates/microservices/budsim.yaml
  infra/helm/bud/values.yaml
  nix/packages/k8s_deploy/script.sh
Due: none

feat: added input model as optional and prompt name config
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/endpoints/model_resolution.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
  services/budgateway/tensorzero-internal/src/inference/providers/dummy.rs
  services/budgateway/tensorzero-internal/src/inference/providers/openai.rs
  services/budgateway/tensorzero-internal/src/responses.rs
  services/budgateway/tensorzero-internal/tests/test_model_input_standardization.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

added scrollbar for observability table
  services/budadmin/src/pages/home/observability/index.tsx
  services/budadmin/src/styles/globals.scss
Due: budadmin-lint, budadmin-typecheck

feat: updated prompt name with suffix :prompt in redis
  services/budapp/budapp/credential_ops/services.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix: missing details on prompt
  services/budgateway/tensorzero-internal/src/rate_limit/middleware.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

agent
  services/budadmin/src/flows/AddAgent/AgentConfiguration.tsx
  services/budadmin/src/flows/AddAgent/SelectAgentType.tsx
Due: budadmin-lint, budadmin-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
