Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$

refactor: integration changed to connectors
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

fixed prompt preview
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budmetrics/budmetrics/observability/services.py
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: add tool calling and reasoning parser configuration support
  services/budadmin/src/components/copyQueryCode/index.tsx
  services/budadmin/src/components/ui/bud/deploymentDrawer/DeploymentConfigurationForm.tsx
  services/budadmin/src/components/ui/bud/deploymentDrawer/ParserConfigurationCard.tsx
  services/budadmin/src/flows/DeployModel/DeployModelAutoScale.tsx
  services/budadmin/src/flows/DeployModelChooseCluster.tsx
  services/budadmin/src/flows/DeployModelConfiguration.tsx
  services/budadmin/src/flows/Project/UseModel.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/hooks/useCluster.tsx
  services/budadmin/src/stores/useDeployModel.tsx
  services/budapp/budapp/cluster_ops/scheduler.py
  services/budapp/budapp/cluster_ops/schemas.py
  services/budapp/budapp/cluster_ops/services.py
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/commons/helpers.py
  services/budapp/budapp/endpoint_ops/services.py
  services/budapp/budapp/model_ops/model_routes.py
  services/budapp/budapp/model_ops/schemas.py
  services/budapp/budapp/model_ops/services.py
  services/budapp/budapp/workflow_ops/schemas.py
  services/budapp/budapp/workflow_ops/services.py
  services/budapp/docs/EMBEDDING_DEPLOYMENT_FEATURE.md
  services/budapp/tests/test_deployment_settings.py
  services/budapp/tests/test_model_deployment.py
  services/budcluster/budcluster/deployment/handler.py
  services/budcluster/budcluster/deployment/schemas.py
  services/budcluster/budcluster/deployment/workflows.py
  services/budsim/.env.sample
  services/budsim/alembic/versions/7e31f2b8c4d9_add_engine_metadata_fields.py
  services/budsim/budsim/engine_ops/__init__.py
  services/budsim/budsim/engine_ops/utils.py
  services/budsim/budsim/simulator/direct_search.py
  services/budsim/budsim/simulator/models.py
  services/budsim/budsim/simulator/schemas.py
  services/budsim/budsim/simulator/services.py
  services/budsim/budsim/simulator/workflows.py
Due: budadmin-lint, budadmin-typecheck

fix: resolve syntax error in copyQueryCode component
  services/budadmin/src/components/copyQueryCode/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: resolve TypeScript errors for parser configuration feature
  services/budadmin/src/components/ui/bud/deploymentDrawer/DeploymentConfigurationForm.tsx
  services/budadmin/src/flows/DeployModelConfiguration.tsx
  services/budadmin/src/stores/useWorkflow.tsx
Due: budadmin-lint, budadmin-typecheck

feat: added error message for deployment used in prompt
  services/budapp/budapp/endpoint_ops/services.py
  services/budapp/budapp/prompt_ops/crud.py
Due: none

fixed error message preview
  services/budCustomer/src/app/(app)/observability/[id]/page.tsx
  services/budadmin/src/components/inferences/InferenceDetailModal.tsx
  services/budadmin/src/pages/home/projects/[slug]/inferences/[inferenceId]/index.tsx
  services/budadmin/src/pages/observability/[id]/index.tsx
  services/budadmin/src/stores/useInferences.ts
  services/budapp/budapp/metric_ops/services.py
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
Due: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budadmin-typecheck

Update services/budadmin/src/components/inferences/InferenceDetailModal.tsx
  services/budadmin/src/components/inferences/InferenceDetailModal.tsx
Due: budadmin-lint, budadmin-typecheck

test: fixed broken mock data in testcase
  services/budapp/tests/test_cloud_model_delete.py
Due: none

fix lint issues
  services/budapp/budapp/metric_ops/services.py
Due: none

feat: playground list api modified with tool enabled query param support
  services/budapp/budapp/endpoint_ops/crud.py
  services/budapp/budapp/playground_ops/schemas.py
Due: none

fixed lint files
  services/budCustomer/src/components/ui/bud/dataEntry/BudForm.tsx
  services/budCustomer/src/components/ui/loader/index.tsx
Due: none

fix: version change issue in bycrypt
  services/budapp/requirements.txt
Due: none

fix: handle cluster DELETING state without triggering Dapr retries
  services/budapp/budapp/cluster_ops/services.py
Due: none

Update services/budapp/budapp/cluster_ops/services.py
  services/budapp/budapp/cluster_ops/services.py
Due: none

fix: version change in bcrypt
  services/budapp/requirements.txt
Due: none

fixed test files
  services/budgateway/tensorzero-internal/tests/e2e/observability_endpoints.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

agent components added
  services/budadmin/public/agents/ui/Final.jpg
  services/budadmin/public/agents/ui/flow1.png
  services/budadmin/public/agents/ui/flow2.png
  services/budadmin/public/agents/ui/flow3.png
  services/budadmin/public/agents/ui/flow4.png
  services/budadmin/public/agents/ui/flow5.png
  services/budadmin/public/agents/ui/flow6.png
  services/budadmin/src/flows/AddAgent/AgentConfiguration.tsx
  services/budadmin/src/flows/AddAgent/AgentSuccess.tsx
  services/budadmin/src/flows/AddAgent/DeploymentWarning.tsx
  services/budadmin/src/flows/AddAgent/SelectAgentType.tsx
  services/budadmin/src/flows/AddAgent/SelectModel.tsx
  services/budadmin/src/flows/AddAgent/SelectProject.tsx
  services/budadmin/src/flows/AddAgent/index.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/pages/home/prompts&agents/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: remove unused variables in AgentConfiguration component
  services/budadmin/src/flows/AddAgent/AgentConfiguration.tsx
Due: budadmin-lint, budadmin-typecheck

fix: refactor UpdateClusterStatusWorkflow to use activity threads
  services/budcluster/budcluster/cluster_ops/workflows.py
Due: none

fix(model sync): budconnect sync logic implementation
  services/budmodel/budmodel/commons/connect_utils.py
  services/budmodel/budmodel/commons/constants.py
  services/budmodel/budmodel/model_info/cloud_service.py
  services/budmodel/budmodel/model_info/services.py
Due: none

fix(model sync): budconnect sync logic implementation
  services/budmodel/budmodel/model_info/huggingface_budconnect.py
Due: none

iadded budconnect sync failovers
  services/budmodel/budmodel/commons/connect_utils.py
Due: none

fix(evalnotif): evaluation causing workflow not found retry
  services/budapp/budapp/core/services.py
Due: none

flowgram
  services/budadmin/src/components/flowgramEditorDemo/components/multi-input-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/node-adder.tsx
  services/budadmin/src/components/flowgramEditorDemo/data/multiInputs.ts
  services/budadmin/src/components/flowgramEditorDemo/hooks/multi-input-node.tsx
  services/budadmin/src/components/flowgramEditorDemo/node-registries.tsx
Due: budadmin-lint, budadmin-typecheck

flowgram
  services/budadmin/src/pages/home/prompts&agents/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat: modify prompt schema to use actual inference
  services/budprompt/budprompt/prompt/revised_code/field_validation.py
  services/budprompt/budprompt/prompt/services.py
  services/budprompt/budprompt/prompt/workflows.py
  services/budprompt/tests/README.md
  services/budprompt/tests/test_prompt_configuration_service.py
Due: none

docs: added prompt schema workflow doc
  services/budapp/docs/workflow.md
Due: none

added provider ID fetch concept
  services/budmodel/budmodel/commons/connect_utils.py
  services/budmodel/budmodel/commons/constants.py
  services/budmodel/budmodel/model_info/huggingface_budconnect.py
Due: none

added check for empty cloud data
  services/budmodel/budmodel/model_info/cloud_service.py
Due: none

chore(infra/helm): disable mimr
  infra/helm/bud/values.yaml
Due: none

feat: added budproxy integration with budprompt
  services/budprompt/budprompt/commons/security.py
  services/budprompt/budprompt/prompt/revised_code/field_validation.py
  services/budprompt/budprompt/prompt/schemas.py
  services/budprompt/budprompt/prompt/services.py
Due: none

settings
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentBoxWrapper.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/components/agents/settings/InputSettings.tsx
  services/budadmin/src/components/agents/settings/OutputSettings.tsx
  services/budadmin/src/components/agents/settings/PromptMessageSettings.tsx
  services/budadmin/src/components/agents/settings/SettingsSidebar.tsx
  services/budadmin/src/components/agents/settings/SystemPromptSettings.tsx
  services/budadmin/src/components/agents/settings/index.ts
  services/budadmin/src/components/flowgramEditorDemo/components/base-node.tsx
  services/budadmin/src/components/flowgramEditorDemo/editor.tsx
  services/budadmin/src/components/flowgramEditorDemo/hooks/use-editor-props.tsx
  services/budadmin/src/components/flowgramEditorDemo/node-registries.tsx
  services/budadmin/src/styles/index.css
Due: budadmin-lint, budadmin-typecheck

fix(model endpoint): endpoint type update
  services/budapp/budapp/migrations/versions/b3f4e8a9c2d1_add_new_model_endpoint_enum_values.py
Due: none

fix(evalnotif): evaluation causing workflow not found retry
  services/budeval/budeval/__init__.py
  services/budeval/budeval/evals/result_schemas.py
  services/budeval/budeval/evals/results_processor.py
  services/budeval/budeval/evals/storage/clickhouse.py
  services/budeval/budeval/evals/workflows.py
  services/budeval/budeval/main.py
  services/budeval/migrations/006_add_evaluation_id.sql
Due: none

feat(budeval): include per-dataset accuracy in evaluation result notifications
  services/budeval/budeval/evals/workflows.py
Due: none

feat: added budproxy integration with proopt schema
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

feat: implement flowgram editor integration with agent sessions
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/contexts/SettingsContext.tsx
  services/budadmin/src/components/agents/settings/InputSettings.tsx
  services/budadmin/src/components/agents/settings/OutputSettings.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/base-node.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/node-wrapper.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/output-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/prompt-messages-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/system-prompt-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/contexts/SessionContext.tsx
  services/budadmin/src/components/flowgramEditorDemo/data/multiInputs.ts
  services/budadmin/src/components/flowgramEditorDemo/editor.tsx
  services/budadmin/src/components/flowgramEditorDemo/hooks/use-editor-props.tsx
  services/budadmin/src/components/flowgramEditorDemo/node-registries.tsx
  services/budadmin/src/stores/useAgentStore.ts
  services/budadmin/src/styles/index.css
Due: budadmin-lint, budadmin-typecheck
