Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$

refactor(budadmin): replace magic number 3600000 with ONE_HOUR_MS constant
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): fix model repo infinite scroll pagination breaking after drawer interaction
  services/budadmin/src/hooks/useModels.tsx
  services/budadmin/src/pages/home/modelRepo/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): add loading spinner for infinite scroll pagination in model repo
  services/budadmin/src/pages/home/modelRepo/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): add loading spinner for infinite scroll pagination in projects listing
  services/budadmin/src/pages/home/projects/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): show loading spinner during connectors pagination
  services/budadmin/src/stores/useGlobalConnectors.ts
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): add infinite scroll pagination and loader to agents listing
  services/budadmin/src/pages/home/agents/index.tsx
  services/budadmin/src/stores/usePromptsAgents.ts
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): use total_record field for agents pagination count
  services/budadmin/src/stores/usePromptsAgents.ts
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): refresh agents listing after creating a new agent
  services/budadmin/src/flows/AddAgent/AgentSuccess.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): renumber ViewModel tabs after commenting out Evaluations
  services/budadmin/src/flows/ViewModel/ViewModelDetails.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(budadmin): extract ViewModel tab keys into named constants
  services/budadmin/src/flows/ViewModel/ViewModelDetails.tsx
Due: budadmin-lint, budadmin-typecheck

Add image to models introduction
  docs/images/image-14.png
  docs/models/introduction.mdx
Due: none

Improve quickstart and project concepts documentation
  docs/models/quickstart.mdx
  docs/projects/project-concepts.mdx
Due: none

Add image to quickstart guide
  docs/images/image-15.png
  docs/models/quickstart.mdx
Due: none

Improve readability of model concepts with spacing
  docs/models/model-concepts.mdx
Due: none

Add image and minor text updates to creating model guide
  docs/images/image-16.png
  docs/models/creating-first-model.mdx
Due: none

Update diagrams and checklist formatting in model guides
  docs/images/image-17.png
  docs/models/guides/automated-model-license-analysis.mdx
  docs/models/guides/evaluations.mdx
Due: none

Add image and update checklist in performance benchmarks guide
  docs/images/image-18.png
  docs/models/guides/performance-benchmarks.mdx
Due: none

Remove unnecessary Frame component from image
  docs/models/guides/performance-benchmarks.mdx
Due: none

Update performance benchmarks with dark mode images
  docs/images/image-19.png
  docs/images/performance-benchmark.png
  docs/models/guides/performance-benchmarks.mdx
Due: none

Update mermaid graph direction in adapter guide
  docs/models/guides/how-to-add-adapters-to-your-deployed-models.mdx
Due: none

fix(docs): add missing trailing newlines to mdx files
  docs/models/creating-first-model.mdx
  docs/models/guides/automated-model-license-analysis.mdx
  docs/models/guides/evaluations.mdx
  docs/models/guides/how-to-add-adapters-to-your-deployed-models.mdx
  docs/models/guides/performance-benchmarks.mdx
  docs/models/introduction.mdx
  docs/models/model-concepts.mdx
  docs/models/quickstart.mdx
  docs/projects/project-concepts.mdx
Due: none

fix(budapp): apply name filter as AND condition in playground deployments search
  services/budapp/budapp/endpoint_ops/crud.py
Due: none

Update adapter deployment steps
  docs/models/guides/how-to-add-adapters-to-your-deployed-models.mdx
Due: none

Add image to adapter deployment guide
  docs/images/image-20.png
  docs/models/guides/how-to-add-adapters-to-your-deployed-models.mdx
Due: none

Add image to tool calling and reasoning parser guide
  docs/images/image-21.png
  docs/models/guides/tool-calling-and-reasoning-parser.mdx
Due: none

Rename "Demo walkthrough" to "Step-by-step guide
  docs/models/guides/tool-calling-and-reasoning-parser.mdx
Due: none

fix(docs): add missing trailing newlines to mdx files
  docs/models/guides/how-to-add-adapters-to-your-deployed-models.mdx
  docs/models/guides/tool-calling-and-reasoning-parser.mdx
Due: none

feat(docs): add structured deployment module documentation
  docs/docs.json
  master/docs/deployments/creating-first-deployment.mdx
  master/docs/deployments/deployment-concepts.mdx
  master/docs/deployments/guides/deployment-lifecycle-management.mdx
  master/docs/deployments/introduction.mdx
  master/docs/deployments/quickstart.mdx
  master/docs/deployments/reference/deployment-actions-reference.mdx
  master/docs/deployments/troubleshooting.mdx
Due: none

fix(docs): remove duplicate deployment docs under master path
  docs/deployments/creating-first-deployment.mdx
  docs/deployments/deployment-concepts.mdx
  docs/deployments/guides/deployment-lifecycle-management.mdx
  docs/deployments/introduction.mdx
  docs/deployments/quickstart.mdx
  docs/deployments/reference/deployment-actions-reference.mdx
  docs/deployments/troubleshooting.mdx
  docs/docs.json
Due: none

fix(budapp): stop soft-deleting models when marked as deprecated
  services/budapp/budapp/model_ops/scheduler.py
Due: none

fix(budadmin): copy full trace/span ID instead of truncated value in log tags
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/LogDetailsDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budapp): add "together_ai" mapping to ProxyProviderEnum
  services/budapp/budapp/endpoint_ops/services.py
Due: none

feat(budgateway,budapp,budmetrics): add inference_cost tracking for actual provider costs
  services/budapp/budapp/endpoint_ops/models.py
  services/budapp/budapp/endpoint_ops/schemas.py
  services/budapp/budapp/endpoint_ops/services.py
  services/budapp/budapp/migrations/versions/a1c2e3f4b5d6_add_inference_cost_to_endpoint.py
  services/budapp/budapp/model_ops/services.py
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/config_parser.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/model.rs
  services/budgateway/tensorzero-internal/src/model_fallback_tests.rs
  services/budgateway/tensorzero-internal/src/variant/best_of_n_sampling.rs
  services/budgateway/tensorzero-internal/src/variant/chat_completion.rs
  services/budgateway/tensorzero-internal/src/variant/mixture_of_n.rs
  services/budgateway/tensorzero-internal/src/variant/mod.rs
  services/budmetrics/scripts/migrate_clickhouse.py
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budgateway): propagate usage/cost span attributes for streaming /v1/responses
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat(budmetrics,budapp): add inference_cost analytics per prompt_id
  services/budapp/budapp/metric_ops/schemas.py
  services/budmetrics/budmetrics/commons/config.py
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
Due: none

fix(budapp): resolve multiple alembic head revisions for CI
  services/budapp/budapp/migrations/versions/a1c2e3f4b5d6_add_inference_cost_to_endpoint.py
Due: none

fix(budmetrics,budapp): resolve ruff lint and format violations for CI
  services/budapp/budapp/metric_ops/schemas.py
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
Due: none

fix(budapp): correct BudSim response parsing for local model inference cost
  services/budapp/budapp/endpoint_ops/services.py
Due: none

fix(budapp): add include_inference_cost=False to mllm document tests
  services/budapp/tests/test_mllm_document_support.py
Due: none

fix(budadmin): fix pagination bugs on Runs page
  services/budadmin/src/pages/home/budpipelines/[id]/index.tsx
  services/budadmin/src/styles/globals.scss
Due: budadmin-lint, budadmin-typecheck
