Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd services/budgateway && cargo +nightly fmt -- --check || cargo fmt -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd services/budgateway && cargo +nightly clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: bash -c 'cd services/budgateway && cargo +nightly deny check || cargo deny check'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && npx tsc --noEmit'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && npx tsc --noEmit'
  language: system
  pass_filenames: false

feat: added prompt details in playground init
  services/budapp/budapp/credential_ops/services.py
  services/budapp/budapp/playground_ops/services.py
  services/budapp/budapp/prompt_ops/crud.py
Due: none

feat(budgateway): add ignore_eos parameter support and completions endpoint
  services/budgateway/config/tensorzero.toml
  services/budgateway/gateway/src/main.rs
  services/budgateway/tensorzero-internal/src/completions.rs
  services/budgateway/tensorzero-internal/src/endpoints/capability.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/openai.rs
  services/budgateway/tensorzero-internal/src/inference/providers/vllm.rs
  services/budgateway/tensorzero-internal/src/inference/types/mod.rs
  services/budgateway/tensorzero-internal/src/lib.rs
  services/budgateway/tensorzero-internal/src/model.rs
  services/budgateway/tensorzero-internal/src/variant/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: made project_id optional for prompt
  services/budgateway/tensorzero-internal/src/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: changes for jwt gateway prompt authorization
  services/budapp/budapp/playground_ops/services.py
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

agent
  services/budadmin/src/components/agents/LoadModel.tsx
Due: budadmin-lint, budadmin-typecheck

fix: update LoadModel to use /playground/deployments endpoint
  services/budadmin/src/components/agents/LoadModel.tsx
Due: budadmin-lint, budadmin-typecheck

fix: remove trailing whitespace from globals.scss
  services/budadmin/src/styles/globals.scss
Due: none

feat: added project filter to playground deployment list api
  services/budapp/budapp/playground_ops/schemas.py
  services/budapp/budapp/playground_ops/services.py
Due: none

chore: changes suggested by gemini
  services/budapp/budapp/playground_ops/services.py
Due: none

agent
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/LoadModel.tsx
  services/budadmin/src/flows/AddAgent/AgentConfiguration.tsx
Due: budadmin-lint, budadmin-typecheck

feat: add NFS volume support to single-node runtime
  services/budcluster/budcluster/charts/bud_runtime_container/templates/single-node.yaml
Due: none

refactor: removed input, variables validation from prompt
  services/budgateway/tensorzero-internal/src/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

refactor: changed from :prompt suffix to prefix
  services/budgateway/tensorzero-internal/src/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

refactor: error message formatted as per prompt and model
  services/budgateway/tensorzero-internal/src/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

refactor: removed test python files
  services/budgateway/server.py
  services/budgateway/test_budprompt.py
Due: none

agent create
  services/budadmin/src/components/agents/settings/InputSettings.tsx
  services/budadmin/src/components/agents/settings/OutputSettings.tsx
  services/budadmin/src/flows/AddAgent/AgentConfiguration.tsx
  services/budadmin/src/flows/AddAgent/AgentSuccess.tsx
  services/budadmin/src/flows/AddAgent/SelectAgentType.tsx
  services/budadmin/src/flows/components/PromptAgentTags.tsx
  services/budadmin/src/pages/home/prompts&agents/index.tsx.bak
  services/budadmin/src/stores/useAgentStore.ts
  services/budadmin/src/styles/agents.scss
Due: budadmin-lint, budadmin-typecheck

refactor: updated key :propmt to prefix
  services/budapp/budapp/credential_ops/services.py
  services/budapp/budapp/playground_ops/services.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix(budgateway): improve completions endpoint error handling and validation
  services/budgateway/tensorzero-internal/src/completions.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/dummy.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(helm): correct MinIO endpoint template function in budcluster
  infra/helm/bud/templates/microservices/budcluster.yaml
Due: none

feat: added prompt tags search api
  services/budapp/budapp/prompt_ops/crud.py
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

feat: added list tags api in prompt
  services/budapp/budapp/prompt_ops/crud.py
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix: tool enable filter now check engine config under depployment config column
  services/budapp/budapp/endpoint_ops/crud.py
Due: none

feat: added pagination on get all tags
  services/budapp/budapp/prompt_ops/crud.py
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix(budgateway): add usage statistics support for vLLM completions streaming
  services/budgateway/tensorzero-internal/src/completions.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/dummy.rs
  services/budgateway/tensorzero-internal/src/inference/providers/vllm.rs
  services/budgateway/tensorzero-internal/src/inference/types/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budgateway): add missing repetition_penalty field to ModelInferenceRequest
  services/budgateway/gateway/src/main.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/inference/providers/openai.rs
  services/budgateway/tensorzero-internal/src/variant/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(playground): list deployments
  services/budapp/budapp/playground_ops/services.py
Due: none

settings ui correction
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/settings/InputSettings.tsx
  services/budadmin/src/components/agents/settings/OutputSettings.tsx
  services/budadmin/src/components/agents/settings/PromptMessageSettings.tsx
  services/budadmin/src/components/agents/settings/SystemPromptSettings.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/multi-input-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/output-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/prompt-messages-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/system-prompt-card.tsx
  services/budadmin/src/components/ui/bud/form/Buttons.tsx
  services/budadmin/src/components/ui/input.tsx
  services/budadmin/src/styles/globals.scss
Due: budadmin-lint, budadmin-typecheck

feat: added updated streaming validator
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/streaming_validation_executor.py
Due: none

fixed word break
  services/budplayground/app/components/bud/chat/Messages.tsx
Due: budplayground-lint, budplayground-typecheck

fix(playground): Endpoint count
  services/budplayground/app/chat/components/LoadModel.tsx
Due: budplayground-lint, budplayground-typecheck

fix: added send stream event to client once stream complete
  services/budprompt/budprompt/prompt/streaming_validation_executor.py
Due: none

fix: revised prompt to generate only failed fields
  services/budprompt/budprompt/prompt/streaming_validation_executor.py
Due: none

chore(infra/dev): scale up nod
  infra/tofu/budk8s/main.tf
Due: none

feat(infra/nixos): init worker
  infra/nixos/worker/configuration.nix
  infra/nixos/worker/facter.json
Due: none

fix(infra/helm/bud): ingress url genration
  infra/helm/bud/templates/_helpers.tpl
Due: none

fix(infra/helm/bud/playground): standalone installations
  infra/helm/bud/templates/microservices/budplayground.yaml
Due: none

fix: wire save handlers for agent settings and integrate prompt tags API
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/settings/InputSettings.tsx
  services/budadmin/src/components/agents/settings/OutputSettings.tsx
  services/budadmin/src/components/agents/settings/PromptMessageSettings.tsx
  services/budadmin/src/components/agents/settings/SettingsSidebar.tsx
  services/budadmin/src/components/agents/settings/SystemPromptSettings.tsx
  services/budadmin/src/flows/AddAgent/AgentConfiguration.tsx
  services/budadmin/src/stores/useAddAgent.tsx
Due: budadmin-lint, budadmin-typecheck

chore(infra/worker): clean up
  .sops.yaml
  flake.nix
  infra/nixos/budk8s/modules/k3s/default.nix
  infra/nixos/budk8s/modules/k3s/secrets.yaml
  infra/nixos/ingress/configuration.nix
  infra/nixos/primary/configuration.nix
  infra/nixos/worker/configuration.nix
  infra/tofu/azure/output.tf
  infra/tofu/azure/vars.tf
  infra/tofu/azure/worker.tf
  infra/tofu/budk8s/decrypt-worker-sops-age.sh
  infra/tofu/budk8s/main.tf
  infra/tofu/budk8s/secrets.yaml
Due: none

fix(infra/worker): clean up
  infra/tofu/budk8s/decrypt-worker-sops-age.sh
Due: none

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
