Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

chore: remove debug console.log statements from AgentDrawer
  services/budadmin/src/components/agents/AgentDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

chore: remove debug console.log from LoadModel
  services/budadmin/src/components/agents/LoadModel.tsx
Due: budadmin-lint, budadmin-typecheck

chore: add console.error for OAuth tools fetch failure
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

chore: remove debug console.log exposing session data
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

chore: remove debug console.log from useAgentStore
  services/budadmin/src/stores/useAgentStore.ts
Due: budadmin-lint, budadmin-typecheck

fix(budcluster): replace fixed sleep with active port polling for port-forward
  services/budcluster/budcluster/cluster_ops/kubernetes.py
Due: none

chore(infra/nixos): clean up
  flake.nix
  infra/nixos/primary-disk/configuration.nix
  infra/nixos/primary-disk/modules/scid.nix
Due: none

Documentation edits made through Mintlify web editor
  docs/evaluations/evaluations.mdx
Due: none

Update services/budcluster/budcluster/cluster_ops/kubernetes.py
  services/budcluster/budcluster/cluster_ops/kubernetes.py
Due: none

feat: added distributed tracing between microservices
  services/budprompt/budprompt/responses/routes.py
  services/budprompt/budprompt/responses/services.py
  services/budprompt/budprompt/shared/otel.py
Due: none

chore(infra/primary-pnap): init
  infra/nixos/primary-pnap/configuration.nix
  infra/nixos/primary-pnap/modules/network.nix
Due: none

feat: added distributed context propegation
  services/budgateway/gateway/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: added distributed context propegation against budgateway
  services/budprompt/budprompt/shared/otel.py
  services/budprompt/requirements.txt
Due: none

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
