Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd services/budgateway && cargo +nightly fmt -- --check || cargo fmt -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd services/budgateway && cargo +nightly clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: bash -c 'cd services/budgateway && cargo +nightly deny check || cargo deny check'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && npx tsc --noEmit'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && npx tsc --noEmit'
  language: system
  pass_filenames: false

fix: added import fix and missing markers
  services/budprompt/tests/conftest.py
  services/budprompt/tests/test_llm_structured_output.py
Due: none

feat(eval): aysnc issue
  services/budapp/budapp/eval_ops/services.py
  services/budapp/budapp/workflow_ops/services.py
  services/budeval/budeval/evals/workflows.py
Due: none

feature/agentsAndPrompts
  services/budadmin/public/agent.png
  services/budadmin/public/icons/prompt.png
  services/budadmin/public/icons/promptWhite.png
  services/budadmin/src/pages/home/layout.tsx
  services/budadmin/src/pages/home/prompts&agents/index.tsx
  services/budadmin/src/stores/usePromptsAgents.ts
Due: budadmin-lint, budadmin-typecheck

feat(eval): aysnc issue
  services/budapp/budapp/workflow_ops/schemas.py
  services/budapp/budapp/workflow_ops/services.py
Due: none

feat(eval): aysnc issue
  services/budapp/budapp/eval_ops/services.py
Due: none

fix(user): delete user validation
  services/budapp/budapp/user_ops/user_routes.py
Due: none

widget fix
  services/budadmin/src/components/evaluations/BenchmarkProgress.tsx
  services/budadmin/src/components/island/BudIsland.tsx
  services/budadmin/src/components/island/BudWidget.tsx
  services/budadmin/src/components/ui/bud/dataEntry/BudForm.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/EvaluationSummary.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/NewEvaluation.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/SelectEvaluation.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/SelectModel.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/SelectTrait.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/hooks/useEvaluations.tsx
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
  services/budadmin/src/stores/useWorkflow.tsx
Due: budadmin-lint, budadmin-typecheck

fix: set cluster id as optional in prompt version model
  services/budapp/budapp/migrations/versions/aea48f780385_prompt_table_cluster_id_optional.py
  services/budapp/budapp/prompt_ops/models.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

eval fix
  services/budadmin/src/components/evaluations/CurrentMetricsTable.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/EvaluationSummary.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/RunEvaluationSuccess.tsx
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
  services/budadmin/src/stores/useWorkflow.tsx
Due: budadmin-lint, budadmin-typecheck

fix: missing model icon for cloud models
  services/budapp/budapp/prompt_ops/crud.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

propts list
  services/budadmin/src/pages/home/prompts&agents/index.tsx
  services/budadmin/src/stores/usePromptsAgents.ts
Due: budadmin-lint, budadmin-typecheck

feat(eval): aysnc issue
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
Due: none

fix: update prompts & agents page to handle new API response structure
  services/budadmin/src/pages/home/prompts&agents/index.tsx
Due: budadmin-lint, budadmin-typecheck

runs
  services/budadmin/src/components/evaluations/CurrentMetricsTable.tsx
  services/budadmin/src/components/evaluations/RunsHistoryTable.tsx
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
Due: budadmin-lint, budadmin-typecheck

fix: remove unused import from RunsHistoryTable
  services/budadmin/src/components/evaluations/RunsHistoryTable.tsx
Due: budadmin-lint, budadmin-typecheck

docs: added prompt schema workflow documentation
  services/budapp/docs/workflow.md
Due: none

feat: initial structure of integrations list api
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

feat: added mapper for credentials
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix: added filter and search in the list api
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

feat: added initial version of integration retrieval api
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

fixed ui issues
  services/budCustomer/src/app/(app)/logs/MetricsTab.tsx
  services/budadmin/src/components/ui/bud/dataEntry/ProjectNameInput.tsx
Due: budadmin-lint, budadmin-typecheck

fixed dropdown issue
  services/budCustomer/src/styles/logs.scss
Due: none

eval fixes
  services/budadmin/src/components/evaluations/RunsHistoryTable.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/EvaluationSummary.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/RunEvaluationStatus.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/RunEvaluationSuccess.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/SelectEvaluation.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/SelectModel.tsx
  services/budadmin/src/flows/components/AvailableEvaluations.tsx
  services/budadmin/src/hooks/useEvaluations.tsx
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
  services/budadmin/src/pages/home/layout.tsx
Due: budadmin-lint, budadmin-typecheck

fix capabilities being empty
  services/budapp/budapp/model_ops/schemas.py
Due: none

Update services/budapp/budapp/model_ops/schemas.py
  services/budapp/budapp/model_ops/schemas.py
Due: none

added error tracking in observability
  services/budapp/budapp/metric_ops/schemas.py
  services/budgateway/tensorzero-internal/src/clickhouse/mod.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/error.rs
  services/budgateway/tensorzero-internal/src/kafka/cloudevents.rs
  services/budmetrics/budmetrics/observability/routes.py
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
  services/budmetrics/scripts/migrate_clickhouse.py
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: added tools list api
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

feat: enhance evaluation workflow and detail pages
  services/budadmin/src/pages/home/evaluations/evalDetailed/[evaluationId].tsx
  services/budadmin/src/pages/home/evaluations/evalListing/index.tsx
Due: budadmin-lint, budadmin-typecheck

eval fix
  services/budadmin/src/components/island/BudIsland.tsx
Due: budadmin-lint, budadmin-typecheck

eval fix
  services/budCustomer/src/components/layout/DashboardLayout.tsx
Due: none

feat: added initial commit to retrieve tool data
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

refactor: reduced service code
  services/budapp/budapp/prompt_ops/services.py
Due: none

fixed test files
  services/budgateway/tensorzero-internal/src/kafka/buffer.rs
  services/budgateway/tensorzero-internal/src/kafka/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

eval fix
  services/budadmin/src/pages/home/evaluations/evalDetailed/[evaluationId].tsx
Due: budadmin-lint, budadmin-typecheck

eval fix
  services/budadmin/src/flows/Evaluations/NewExperiment/index.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/EvaluationSummary.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/RunEvaluationSuccess.tsx
  services/budadmin/src/hooks/useEvaluations.tsx
Due: budadmin-lint, budadmin-typecheck

fixed test files
  services/budmetrics/budmetrics/observability/services.py
Due: none

fixed test files
  services/budgateway/tensorzero-internal/src/error.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: added tool list api with mcp foundry integration
  services/budapp/.env.sample
  services/budapp/budapp/commons/config.py
  services/budapp/budapp/commons/exceptions.py
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

feat: added mcp foundry integration on tools retrival
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

eval fix
  services/budadmin/src/flows/Evaluations/RunEvaluation/RunEvaluationStatus.tsx
  services/budadmin/src/flows/GuardRails/ProbeDeploymentSuccess.tsx
  services/budadmin/src/flows/GuardRails/ProbeSettings.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/pages/home/evaluations/index.tsx
Due: budadmin-lint, budadmin-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
