Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$

fix: observability improvements for embedding/classify endpoints
  infra/helm/bud/values.ditto.yaml
  infra/helm/bud/values.yaml
  services/budadmin/src/pages/observability/[id]/index.tsx
  services/budadmin/src/stores/useInferences.ts
  services/budapp/budapp/model_ops/services.py
  services/budcluster/budcluster/deployment/engine_processors.py
  services/budgateway/tensorzero-internal/src/endpoints/observability.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
  services/budmetrics/scripts/migrate_clickhouse.py
Due: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budadmin-typecheck

fix(budmetrics): add ALTER TABLE migration for endpoint-specific columns
  services/budmetrics/scripts/migrate_clickhouse.py
Due: none

fix(budadmin): use India-compliant world map with correct Kashmir boundaries
  services/budadmin/public/maps/world-india-compliant.json
  services/budadmin/src/components/charts/GeoMapChart.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budmetrics): add prompt analytics columns and MV for /v1/responses
  services/budmetrics/scripts/migrate_clickhouse.py
Due: none

feat(budgateway): capture provider latency for /v1/responses analytics
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat(budpipeline): add credential support for gated HuggingFace models
  services/budpipeline/budpipeline/actions/model/add.py
Due: none

feat(budgateway,budmetrics): add response_time_ms span attribute for /v1/responses
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budmetrics/scripts/migrate_clickhouse.py
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budmetrics): correct is_success calculation in /v1/responses MV
  services/budmetrics/scripts/migrate_clickhouse.py
Due: none

feat(budgateway,budmetrics): add inference_id to /v1/responses span
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budmetrics/scripts/migrate_clickhouse.py
Due: cargo-fmt, cargo-clippy, cargo-deny

feat(budpipeline): add required param validation and fix model add failure handling
  services/budpipeline/budpipeline/actions/model/add.py
  services/budpipeline/budpipeline/pipeline/service.py
Due: none

live data
  services/budadmin/src/hooks/useObservabilitySocket.ts
  services/budadmin/src/pages/home/agentDetails/[agentId]/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/LogDetailsDrawer.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budgateway): add Redis connection recovery for broken pipe errors
  services/budgateway/tensorzero-internal/src/usage_limit/limiter.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat(budadmin): add tree building for live socket trace data
  services/budadmin/src/hooks/useObservabilitySocket.ts
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): correct child count to show total descendants in live trace tree
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(budgateway): optimize is_connection_error to check error kind first
  services/budgateway/tensorzero-internal/src/usage_limit/limiter.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budpipeline): only include credential_id for HuggingFace sources
  services/budpipeline/budpipeline/actions/model/add.py
Due: none

feat(budgateway,budmetrics): add timing & request/response fields to /v1/responses
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
  services/budgateway/tensorzero-internal/src/inference/providers/dummy.rs
  services/budgateway/tensorzero-internal/src/inference/providers/openai.rs
  services/budgateway/tensorzero-internal/src/model.rs
  services/budgateway/tensorzero-internal/src/responses.rs
  services/budmetrics/scripts/migrate_clickhouse.py
Due: cargo-fmt, cargo-clippy, cargo-deny

docs: address PR review comments and fix pre-commit issues
  docs/api-sdk/audio/text-to-speech.mdx
  docs/api-sdk/audio/transcribe-audio.mdx
  docs/api-sdk/audio/translate-audio.mdx
  docs/api-sdk/batch/cancel-batch.mdx
  docs/api-sdk/batch/get-batch.mdx
  docs/api-sdk/batch/list-batches.mdx
  docs/api-sdk/chat/create-chat-completion.mdx
  docs/api-sdk/embeddings/generate-embeddings.mdx
  docs/api-sdk/models/list-models.mdx
  docs/api-sdk/overview.mdx
  docs/api-sdk/quickstart.mdx
  docs/docs.json
  docs/images/pipelines/dag-example.svg
Due: none

fix(budadmin): make log tree connector lines responsive and improve UX
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/components/DrawerLogTree.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budgateway,budmetrics): add processing_time_ms & ttft_ms to /v1/responses
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budmetrics/scripts/migrate_clickhouse.py
Due: cargo-fmt, cargo-clippy, cargo-deny

docs: update pipeline images to PNG format and remove SVG placeholders
  docs/images/pipelines/complete-deployment-pipeline.png
  docs/images/pipelines/complete-deployment-pipeline.svg
  docs/images/pipelines/dag-example.svg
  docs/images/pipelines/execute-dialog.png
  docs/images/pipelines/execution-logs.png
  docs/images/pipelines/execution-logs.svg
  docs/images/pipelines/pipeline-editor-flow.png
  docs/images/pipelines/pipeline-editor-flow.svg
  docs/images/pipelines/pipeline-editor.png
  docs/images/pipelines/pipeline-editor.svg
  docs/images/pipelines/pipeline-list.png
  docs/images/pipelines/pipeline-list.svg
  docs/images/pipelines/pipelines-overview.png
  docs/images/pipelines/runs-table.png
  docs/images/pipelines/runs-table.svg
  docs/pipelines/creating-first-pipeline.mdx
  docs/pipelines/introduction.mdx
  docs/pipelines/quickstart.mdx
Due: none

fix(budmetrics): prevent duplicate InferenceFact records for /v1/responses
  services/budmetrics/scripts/migrate_clickhouse.py
Due: none

fix: pipeline execution failures and hide dev features
  services/budadmin/src/pages/home/layout.tsx
  services/budcluster/budcluster/deployment/handler.py
  services/budpipeline/budpipeline/handlers/event_router.py
Due: budadmin-lint, budadmin-typecheck

fix(budpipeline): implement fail-fast and extract helper function
  services/budpipeline/budpipeline/handlers/event_router.py
Due: none

Add observability socket URL to budadmin.yaml
  infra/helm/bud/templates/microservices/budadmin.yaml
Due: none

Remove observability socket URL from budadmin.yaml
  infra/helm/bud/templates/microservices/budadmin.yaml
Due: none

env change
  services/budadmin/.env.sample
  services/budadmin/src/components/environment.ts
  services/budadmin/src/hooks/useObservabilitySocket.ts
Due: budadmin-lint, budadmin-typecheck

feat(budmetrics): add prompt analytics to rollup tables
  services/budmetrics/scripts/migrate_clickhouse.py
Due: none

chore: fix end of file and update env sample
  docs/product-guide/customer-dashboard/customer-portal.mdx
  services/budadmin/.env.sample
Due: none

fix(budadmin): add missing NEXT_PUBLIC_BUDNOTIFY_SERVICE_PUBLIC env placeholder
  services/budadmin/.env.sample
  services/budadmin/Dockerfile
Due: none

fix(budmetrics): resolve Dapr invoke_method and Pydantic validation errors
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/shared/dapr_service.py
Due: none

feat(guardrails): implement auto-triggered multi-model deployment workflow Add comprehensive multi-model deployment support for guardrail profiles:
  services/budapp/budapp/cluster_ops/services.py
  services/budapp/budapp/guardrails/schemas.py
  services/budapp/budapp/guardrails/services.py
  services/budapp/budapp/workflow_ops/budpipeline_service.py
  services/budapp/budapp/workflow_ops/schemas.py
  services/budapp/budapp/workflow_ops/services.py
Due: none

chore(budmetrics): restore authentication context comment
  services/budmetrics/budmetrics/shared/dapr_service.py
Due: none

fix(budmetrics): improve inference_id matching in otel MVs
  services/budmetrics/scripts/migrate_clickhouse.py
Due: none

fix(budmetrics): handle empty span_id in mv_otel_to_inference_fact
  services/budmetrics/scripts/migrate_clickhouse.py
Due: none

test(budmetrics): add comprehensive prompt analytics integration tests
  services/budmetrics/tests/prompt_analytics/__init__.py
  services/budmetrics/tests/prompt_analytics/conftest.py
  services/budmetrics/tests/prompt_analytics/data/otel_traces_prompt_analytics.json
  services/budmetrics/tests/prompt_analytics/ground_truth.py
  services/budmetrics/tests/prompt_analytics/test_prompt_analytics_pipeline.py
Due: none

fix(budgateway): handle Credential::None variant in BudSentinel provider
  services/budgateway/tensorzero-internal/src/inference/providers/bud_sentinel.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

chore(guardrails): consolidate docs and remove obsolete test files
  docs/plans/2025-01-22-guardrail-model-deployment-design.md
  docs/plans/2025-01-22-guardrail-model-deployment-impl.md
  services/budapp/docs/plans/guardrail-deploy-workflow-requirements.md
  services/budapp/tests/guardrails/test_custom_probes.py
  services/budapp/tests/test_cluster_node_metrics.py
  services/budapp/tests/test_guardrail_custom_probes.py
  services/budgateway/docs/plans/2026-01-21-bud-sentinel-v2-plan.md
  services/budgateway/docs/plans/2026-01-22-guardrail-failure-handling-design.md
Due: none

refactor(budmetrics): extract prompt analytics seeder to standalone script
  services/budmetrics/tests/prompt_analytics/conftest.py
  services/budmetrics/tests/prompt_analytics/data/otel_traces_prompt_analytics.json
  services/budmetrics/tests/prompt_analytics/ground_truth.py
  services/budmetrics/tests/prompt_analytics/seed_otel_traces.py
  services/budmetrics/tests/prompt_analytics/test_prompt_analytics_pipeline.py
Due: none
