Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$

fix(budadmin): use playGroundUrl environment variable instead of hardcoded localhost
  services/budadmin/src/components/agents/AgentIframe.tsx
Due: budadmin-lint, budadmin-typecheck

feature/agent-settings-working
  services/budplayground/ANALYSIS_INDEX.md
  services/budplayground/ANALYSIS_SUMMARY.md
  services/budplayground/CHAT_FLOW_ANALYSIS.md
  services/budplayground/COMPONENT_INTERACTION_DIAGRAM.md
  services/budplayground/INTEGRATION_POINTS.md
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/PromptForm.tsx
  services/budplayground/app/components/bud/components/input/NormalEditor.tsx
Due: budplayground-lint, budplayground-typecheck

refactor: updated mcpfoundry api key into sops enc from dapr secrets
  infra/helm/bud/example.secrets.yaml
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/budprompt.yaml
  infra/helm/bud/values.enc.yaml
  services/budapp/budapp/commons/config.py
  services/budapp/budapp/shared/mcp_foundry_service.py
  services/budprompt/.env.sample
  services/budprompt/budprompt/commons/config.py
  services/budprompt/budprompt/prompt/tool_loaders.py
Due: none

feat(agents): update agent drawer and layout spacing
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/pages/home/layout.tsx
Due: budadmin-lint, budadmin-typecheck

fix(security): use specific origin for postMessage in AgentIframe
  services/budadmin/src/components/agents/AgentIframe.tsx
Due: budadmin-lint, budadmin-typecheck

feat: add engine capability flags for LoRA and pipeline parallelism
  services/budadmin/src/flows/AddAdapter/AdapterDetail.tsx
  services/budadmin/src/flows/DeployModelConfiguration.tsx
  services/budadmin/src/hooks/useCluster.tsx
  services/budadmin/src/hooks/useEndPoint.tsx
  services/budadmin/src/pages/home/deployments/[slug]/index.tsx
  services/budadmin/src/stores/useDeployModel.tsx
  services/budapp/budapp/cluster_ops/schemas.py
  services/budapp/budapp/cluster_ops/services.py
  services/budapp/budapp/endpoint_ops/services.py
  services/budapp/budapp/model_ops/model_routes.py
  services/budapp/budapp/model_ops/schemas.py
  services/budapp/budapp/model_ops/services.py
  services/budapp/budapp/workflow_ops/schemas.py
  services/budcluster/budcluster/deployment/handler.py
  services/budsim/alembic/versions/9b9a54bf4a03_add_supports_lora_and_supports_pipeline_.py
  services/budsim/budsim/engine_ops/utils.py
  services/budsim/budsim/simulator/direct_search.py
  services/budsim/budsim/simulator/evolution.py
  services/budsim/budsim/simulator/models.py
  services/budsim/budsim/simulator/schemas.py
  services/budsim/budsim/simulator/services.py
  services/budsim/budsim/simulator/workflows.py
Due: budadmin-lint, budadmin-typecheck

feat: converted created at to int
  services/budprompt/budprompt/prompt/openai_response_formatter_v1.py
  services/budprompt/budprompt/prompt/openai_streaming_formatter_v1.py
  services/budprompt/budprompt/responses/routes.py
  services/budprompt/budprompt/responses/schemas.py
Due: none

feat: added meta data when prompt, version creation
  services/budapp/budapp/prompt_ops/services.py
Due: none

chore: removed actual api key from example secrets
  infra/helm/bud/example.secrets.yaml
  infra/helm/bud/values.varun.yaml
Due: none

fix: fixed incorrect handling of missing keys
  services/budapp/budapp/benchmark_ops/schemas.py
Due: none

fix: added review changes
  services/budapp/budapp/benchmark_ops/schemas.py
Due: none

chore: update AI model to bud-gpt-oss-20b-ada28b58 and inference URL
  infra/helm/bud/templates/microservices/budcustomer.yaml
  infra/helm/bud/values.yaml
Due: none

feat(eval): updated the manifest to preprocessed
  services/budapp/budapp/initializers/data/eval_manifest.json
Due: none

feat(eval): added filter for gen type filter flag
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
Due: none

fix(eval): updated monitoring to 8 hours
  services/budeval/budeval/evals/workflows.py
Due: none

fix(eval): ignore failed runs from fnal average calculation
  services/budapp/budapp/eval_ops/services.py
Due: none

tools
  services/budadmin/public/agents/settingsBg.png
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budadmin/src/components/agents/contexts/SettingsContext.tsx
  services/budadmin/src/components/agents/contexts/ToolsContext.tsx
  services/budadmin/src/components/agents/schema/InputSettings.tsx
  services/budadmin/src/components/agents/schema/OutputSettings.tsx
  services/budadmin/src/components/agents/schema/PromptMessageSettings.tsx
  services/budadmin/src/components/agents/schema/SettingsSidebar.tsx
  services/budadmin/src/components/agents/schema/SystemPromptSettings.tsx
  services/budadmin/src/components/agents/schema/index.ts
  services/budadmin/src/components/agents/settings/index.ts
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/components/agents/tools/ToolDetails.tsx
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
  services/budadmin/src/components/agents/tools/ToolsSidebar.tsx
  services/budadmin/src/components/agents/tools/index.ts
  services/budadmin/src/components/ui/bud/form/Buttons.tsx
  services/budadmin/src/stores/useConnectors.ts
Due: budadmin-lint, budadmin-typecheck

settings agent
  services/budadmin/package.json
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/contexts/ModelSettingsContext.tsx
  services/budadmin/src/components/agents/settings/CustomPopover.tsx
  services/budadmin/src/components/agents/settings/Settings.tsx
  services/budadmin/src/components/agents/settings/SettingsSidebar.tsx
  services/budadmin/src/components/agents/settings/index.ts
  services/budadmin/src/components/agents/settings/input/InlineInput.tsx
  services/budadmin/src/components/agents/settings/input/InlineSwitch.tsx
  services/budadmin/src/components/agents/settings/input/LabelJSONInput.tsx
  services/budadmin/src/components/agents/settings/input/SelectWithAdd.tsx
  services/budadmin/src/components/agents/settings/input/SliderInput.tsx
  services/budadmin/src/stores/useAgentStore.ts
  services/budadmin/src/utils/color.ts
Due: budadmin-lint, budadmin-typecheck

fix(eval): added missing dataset names
  services/budapp/budapp/eval_ops/services.py
Due: none

ui fix
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
  services/budadmin/src/components/agents/tools/ToolsSidebar.tsx
  services/budadmin/src/components/ui/bud/form/Buttons.tsx
Due: budadmin-lint, budadmin-typecheck

feat: improve tools UI and UX
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/components/agents/tools/ToolDetails.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: improve type safety in ConnectorDetails
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: remove unused functions from useConnectors store
  services/budadmin/src/stores/useConnectors.ts
Due: budadmin-lint, budadmin-typecheck

perf: memoize toggle functions in AgentBox
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: extract duplicated tool fetching logic into reusable function
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

fix: remove garbage fallback URL and handle missing URL gracefully
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

precommit fix
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budadmin/src/components/agents/tools/ToolDetails.tsx
  services/budadmin/src/components/ui/bud/form/Buttons.tsx
Due: budadmin-lint, budadmin-typecheck

fix: improve PrimaryButton styling and clean up code
  README.md
  services/budadmin/src/components/ui/bud/form/Buttons.tsx
Due: budadmin-lint, budadmin-typecheck

fix: adapter deployment and max loras
  infra/helm/bud/values.yaml
  services/budapp/budapp/endpoint_ops/services.py
  services/budcluster/budcluster/deployment/adapter_workflows.py
  services/budcluster/budcluster/deployment/handler.py
  services/budcluster/budcluster/deployment/schemas.py
Due: none

chore: remove commented debug URL from AgentIframe
  services/budadmin/src/components/agents/AgentIframe.tsx
Due: budadmin-lint, budadmin-typecheck

chore: fix pre-commit formatting issues
  README.md
  services/budplayground/ANALYSIS_INDEX.md
  services/budplayground/ANALYSIS_SUMMARY.md
  services/budplayground/CHAT_FLOW_ANALYSIS.md
  services/budplayground/COMPONENT_INTERACTION_DIAGRAM.md
  services/budplayground/INTEGRATION_POINTS.md
  services/budplayground/app/api/prompt-chat/route.ts
Due: budplayground-lint, budplayground-typecheck

fix: changed top_p as optional
  services/budprompt/budprompt/prompt/schemas.py
Due: none

feat: added conrtol to save prompt in redis without ttl
  services/budprompt/budprompt/prompt/schemas.py
  services/budprompt/budprompt/prompt/services.py
Due: none

fix: added cleanup registry when saving prompt
  services/budprompt/budprompt/commons/constants.py
  services/budprompt/budprompt/prompt/schemas.py
  services/budprompt/budprompt/prompt/services.py
Due: none

refactor: unify duplicated fetch logic in useConnectors store
  services/budadmin/src/stores/useConnectors.ts
Due: budadmin-lint, budadmin-typecheck

fix: allow follow-up messages after prompt form submission
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

fix: eliminate race condition in promptData update
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

docs: replace hardcoded absolute paths with relative paths
  services/budplayground/ANALYSIS_INDEX.md
  services/budplayground/ANALYSIS_SUMMARY.md
Due: none

refactor: remove debug console.log statements from prompt-chat route
  services/budplayground/app/api/prompt-chat/route.ts
Due: budplayground-lint, budplayground-typecheck
