Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

feat: enhance embeddings API with additional parameters and response fields
  plans/feat-gateway-extended-embedding-api-params.md
  services/budgateway/docs/api/embeddings.md
  services/budgateway/tensorzero-internal/src/embeddings.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/azure.rs
  services/budgateway/tensorzero-internal/src/inference/providers/fireworks.rs
  services/budgateway/tensorzero-internal/src/inference/providers/mistral.rs
  services/budgateway/tensorzero-internal/src/inference/providers/openai.rs
  services/budgateway/tensorzero-internal/src/inference/providers/together.rs
  services/budgateway/tensorzero-internal/src/inference/providers/vllm.rs
  services/budgateway/tensorzero-internal/src/model.rs
  services/budgateway/tensorzero-internal/src/variant/dicl.rs
  services/budgateway/tensorzero-internal/tests/e2e/dicl.rs
  services/budgateway/tensorzero-internal/tests/e2e/providers/openai.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

chore: ignore worktrees directory
  services/budgateway/.gitignore
Due: none

feat(budmodel): add classifier model detection and config parsing
  services/budmodel/budmodel/model_info/huggingface.py
  services/budmodel/budmodel/model_info/schemas.py
Due: none

feat: add classification endpoint and update related functionality
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/commons/helpers.py
  services/budapp/budapp/migrations/versions/9f3c2b1a4d5e_add_classify_to_model_endpoint_enum.py
  services/budapp/budapp/model_ops/services.py
  services/budapp/docs/EMBEDDING_DEPLOYMENT_FEATURE.md
  services/budapp/tests/test_determine_modality_endpoints.py
  services/budmodel/budmodel/model_info/huggingface.py
  services/budmodel/budmodel/model_info/schemas.py
Due: none

fix: tighten classify detection
  services/budapp/budapp/commons/helpers.py
  services/budmodel/budmodel/model_info/huggingface.py
Due: none

Documentation edits made through Mintlify web editor
  docs/getting-started/introduction.mdx
Due: none

docs: guardrail failure handling design
  docs/plans/2026-01-22-guardrail-failure-handling-design.md
Due: none

Documentation edits made through Mintlify web editor
  docs/getting-started/quickstart.mdx
Due: none

Documentation edits made through Mintlify web editor
  docs/getting-started/platform-overview.mdx
Due: none

Documentation edits made through Mintlify web editor
  docs/getting-started/key-concepts.mdx
Due: none

feat(budgateway): update sentinel guardrail integration
  docs/plans/2026-01-22-guardrail-failure-handling-design.md
  services/budgateway/docs/plans/2026-01-21-bud-sentinel-v2-plan.md
  services/budgateway/tensorzero-internal/proto/README.md
  services/budgateway/tensorzero-internal/proto/bud.proto
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/guardrail.rs
  services/budgateway/tensorzero-internal/src/inference/providers/bud_sentinel.rs
  services/budgateway/tensorzero-internal/src/redis_client.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budgateway): restore guardrail design plan
  docs/plans/2026-01-22-guardrail-failure-handling-design.md
Due: none

Documentation edits made through Mintlify web editor
  docs/getting-started/account-setup.mdx
Due: none

edit agent new
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budadmin/src/components/agents/LoadModel.tsx
  services/budadmin/src/components/agents/settings/Settings.tsx
  services/budadmin/src/components/agents/settings/SettingsSidebar.tsx
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
  services/budadmin/src/components/ui/bud/table/AgentsPromptsListTable.tsx
  services/budadmin/src/hooks/usePrompts.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/versions/index.tsx
  services/budadmin/src/stores/useAgentStore.ts
Due: budadmin-lint, budadmin-typecheck

fix(budgateway): preserve unknown guardrail categories
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/guardrail.rs
  services/budgateway/tensorzero-internal/src/guardrail_table.rs
  services/budgateway/tensorzero-internal/src/inference/providers/azure_content_safety.rs
  services/budgateway/tensorzero-internal/src/inference/providers/bud_sentinel.rs
  services/budgateway/tensorzero-internal/src/inference/providers/dummy.rs
  services/budgateway/tensorzero-internal/src/inference/providers/mistral.rs
  services/budgateway/tensorzero-internal/src/inference/providers/openai.rs
  services/budgateway/tensorzero-internal/src/moderation.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budgateway): add other category mapping
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/guardrail.rs
  services/budgateway/tensorzero-internal/src/guardrail_table.rs
  services/budgateway/tensorzero-internal/src/inference/providers/azure_content_safety.rs
  services/budgateway/tensorzero-internal/src/inference/providers/bud_sentinel.rs
  services/budgateway/tensorzero-internal/src/inference/providers/dummy.rs
  services/budgateway/tensorzero-internal/src/inference/providers/mistral.rs
  services/budgateway/tensorzero-internal/src/inference/providers/openai.rs
  services/budgateway/tensorzero-internal/src/moderation.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

docs(budcustomer): add customer dashboard portal guide
  docs/customer-dashboard/customer-dashboard.mdx
Due: none

Documentation edits made through Mintlify web editor
  docs/docs.json
  docs/product-guide/customer-dashboard/customer-portal.mdx
Due: none

Documentation edits made through Mintlify web editor
  docs/product-guide/customer-dashboard/customer-portal.mdx
Due: none

fix(onyx): disable oauth_client_id/secret env vars in helm chart
  infra/helm/bud/charts/novu-0.1.6.tgz
  infra/helm/bud/charts/onyx-0.4.4.tgz
  infra/helm/bud/values.yaml
Due: none

edit agent new 2
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/components/agents/LoadModel.tsx
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/styles/globals.scss
Due: budadmin-lint, budadmin-typecheck

chore(helm): rebuild onyx and novu chart packages
  infra/helm/bud/charts/novu-0.1.6.tgz
  infra/helm/bud/charts/onyx-0.4.4.tgz
Due: none

edit and add fix
  docs/api-integration/api-integration.mdx
  docs/deployments/deployments.mdx
  docs/getting-started/account-setup.mdx
  docs/getting-started/introduction.mdx
  docs/getting-started/key-concepts.mdx
  docs/getting-started/platform-overview.mdx
  docs/getting-started/quickstart.mdx
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
  services/budadmin/src/styles/globals.scss
Due: budadmin-lint, budadmin-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
