Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$

refactor: address Gemini code review feedback
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/node_info_collector/node_info_service.py
Due: none

fix: use correct NFD label path for CPU vendor detection
  services/budcluster/budcluster/node_info_collector/nfd_parser.py
Due: none

Documentation edits made through Mintlify web editor
  docs/best-practices/cost-management.mdx
Due: none

style: fix ruff linting and formatting issues
  services/budcluster/budcluster/node_info_collector/nfd_parser.py
  services/budcluster/budcluster/node_info_collector/node_info_service.py
Due: none

Documentation edits made through Mintlify web editor
  docs/user-management/RBAC.mdx
Due: none

updated links in detail page
  services/budadmin/src/pages/home/evaluations/evalDetailed/details.tsx
Due: budadmin-lint, budadmin-typecheck

updated text in links
  services/budadmin/src/pages/home/evaluations/evalDetailed/details.tsx
Due: budadmin-lint, budadmin-typecheck

fix: correctly display selected model icon in LoadModel dropdown
  services/budadmin/src/components/agents/LoadModel.tsx
Due: budadmin-lint, budadmin-typecheck

fix: resolve assetBaseUrl undefined issue in production
  services/budplayground/.env.sample
  services/budplayground/app/api/config/route.ts
  services/budplayground/app/chat/components/LoadModel.tsx
  services/budplayground/app/chat/components/ModelInfo.tsx
  services/budplayground/app/components/bud/chat/LoadModelConfig.tsx
  services/budplayground/app/components/bud/components/ModelListCard.tsx
  services/budplayground/app/context/ConfigContext.tsx
  services/budplayground/app/layout.tsx
  services/budplayground/app/lib/environment.ts
Due: budplayground-lint, budplayground-typecheck

refactor: simplify redundant endpointId ternary in LoadModel
  services/budadmin/src/components/agents/LoadModel.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: extract model icon logic to useMemo with constants
  services/budadmin/src/components/agents/LoadModel.tsx
Due: budadmin-lint, budadmin-typecheck

fix: address PR review feedback
  services/budplayground/app/chat/components/ModelInfo.tsx
  services/budplayground/app/context/ConfigContext.tsx
Due: budplayground-lint, budplayground-typecheck

Update docs.json
  docs/docs.json
Due: none

feat(eval): updated opencompass image repo
  services/budeval/budeval/evals/ansible_orchestrator.py
  services/budeval/docs/ENGINE_PRELOADING_PROGRESS.md
  services/budeval/docs/engine_preloading.md
Due: none

fix(eval): counter shows 0.0 as the opencompass shows tht
  services/budeval/budeval/evals/job_monitor.py
Due: none

chore: update logo
  services/budadmin/public/images/new-logo.png
Due: none

fix pre commit issues
  docs/user-management/RBAC.mdx
Due: none

fix(docs): added misign new line to doc
  docs/user-management/RBAC.mdx
Due: none

chore(infra/arc): init
  infra/helm/actions-runner-controller/.helmignore
  infra/helm/actions-runner-controller/Chart.lock
  infra/helm/actions-runner-controller/Chart.yaml
  infra/helm/actions-runner-controller/charts/gha-runner-scale-set-controller-0.13.0.tgz
  infra/helm/actions-runner-controller/scid.toml
  infra/helm/actions-runner-controller/values.yaml
Due: none

tag fix
  services/budadmin/src/components/island/BudWidget.tsx
  services/budadmin/src/components/ui/bud/dataEntry/TagsInput.tsx
  services/budadmin/src/flows/components/BudIconRender.tsx
  services/budadmin/src/hooks/usePromptSchemaWorkflow.ts
  services/budadmin/src/stores/useWorkflow.tsx
Due: budadmin-lint, budadmin-typecheck

fix(eval): removed extra traits showing in response
  services/budapp/budapp/eval_ops/services.py
Due: none

feat: add prompt_creation workflow support in BudWidget
  services/budadmin/src/components/island/BudWidget.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
Due: budadmin-lint, budadmin-typecheck

chore(infra/bud/mcp-stack): clean up
  infra/helm/bud/Chart.lock
  infra/helm/bud/Chart.yaml
  infra/helm/bud/charts/mcp-stack-0.9.0.tgz
  infra/helm/bud/charts/novu-0.1.6.tgz
  infra/helm/bud/values.dev.yaml
  infra/helm/bud/values.yaml
Due: none

chore(infra/mcpgateway): lint
  .pre-commit-config.yaml
Due: none

fix(infra/mcp-stack): init
  infra/helm/bud/Chart.lock
  infra/helm/bud/Chart.yaml
  infra/helm/bud/charts/mcp-stack-0.9.0.tgz
  infra/helm/bud/charts/mcp-stack/values.schema.json
  infra/helm/bud/charts/novu-0.1.6.tgz
  infra/helm/bud/values.dev.yaml
  infra/helm/bud/values.enc.yaml
  infra/helm/bud/values.yaml
Due: none

fix(infra/mcpgateway): ingress
  infra/helm/bud/values.dev.yaml
  infra/helm/bud/values.yaml
Due: none

feat(eval): updated opencompass image repo
  services/budeval/.env.sample
  services/budeval/budeval/commons/config.py
  services/budeval/budeval/evals/ansible_orchestrator.py
  services/budeval/docs/ENGINE_PRELOADING_PROGRESS.md
  services/budeval/docs/engine_preloading.md
Due: none
