Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$

feat: added prompt_id and project_id in gateway span on success and error
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: added otel events for error in budgateway span
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: added traces endpoint in budmetrics
  services/budmetrics/budmetrics/observability/routes.py
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
Due: none

feat: added rerteive trace api
  services/budmetrics/budmetrics/observability/routes.py
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
Due: none

feat: added error tracing on response_create_handler_observability
  services/budgateway/tensorzero-internal/src/endpoints/observability.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: added usage info in gateway span
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: added traces list api
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

refactor: changed path param and type convension in list trace api
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

feat: added span by trace id api
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

feat: add autoscale configuration management for BudAIScaler
  services/budadmin/src/hooks/useEndPoint.tsx
  services/budadmin/src/pages/home/deployments/[slug]/settings/AutoscaleSettings.tsx
  services/budadmin/src/pages/home/deployments/[slug]/settings/index.tsx
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/endpoint_ops/endpoint_routes.py
  services/budapp/budapp/endpoint_ops/schemas.py
  services/budapp/budapp/endpoint_ops/services.py
  services/budapp/budapp/model_ops/model_routes.py
  services/budapp/budapp/model_ops/schemas.py
  services/budapp/budapp/model_ops/services.py
  services/budapp/budapp/workflow_ops/schemas.py
  services/budapp/budapp/workflow_ops/services.py
  services/budcluster/budcluster/charts/bud_runtime_container/templates/podscaler.yaml
  services/budcluster/budcluster/charts/bud_runtime_container/values.yaml
  services/budcluster/budcluster/cluster_ops/__init__.py
  services/budcluster/budcluster/cluster_ops/kubernetes.py
  services/budcluster/budcluster/deployment/handler.py
  services/budcluster/budcluster/deployment/routes.py
  services/budcluster/budcluster/deployment/schemas.py
  services/budcluster/budcluster/deployment/services.py
  services/budcluster/budcluster/deployment/workflows.py
  services/budcluster/budcluster/playbooks/__init__.py
  services/budcluster/budcluster/playbooks/deploy_runtime.yaml
  services/budcluster/budcluster/playbooks/update_autoscale.yaml
Due: budadmin-lint, budadmin-typecheck

fix: address CI failures and review feedback for autoscale feature
  services/budadmin/src/pages/home/deployments/[slug]/settings/AutoscaleSettings.tsx
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/endpoint_ops/services.py
  services/budcluster/budcluster/deployment/services.py
Due: budadmin-lint, budadmin-typecheck

fix: move UpdateAutoscaleRequest/Response imports to module level
  services/budcluster/budcluster/deployment/services.py
Due: none

style: apply ruff formatting fixes
  services/budapp/budapp/endpoint_ops/schemas.py
  services/budapp/budapp/endpoint_ops/services.py
  services/budcluster/budcluster/cluster_ops/kubernetes.py
Due: none

fix: address ruff format and Gemini review feedback
  services/budapp/budapp/benchmark_ops/services.py
  services/budsim/budsim/simulator/schemas.py
Due: none

fix: add trailing newlines to documentation files
  docs/dashboard/dashboard.mdx
  docs/evaluations/evaluations.mdx
  docs/guardrails/guardrails.mdx
  docs/models/models.mdx
  docs/projects/projects.mdx
  docs/prompts-agents/agents.mdx
Due: none

Agent Creation 51
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(agents): remove redundant comment in SystemPromptSettings
  services/budadmin/src/components/agents/schema/SystemPromptSettings.tsx
Due: budadmin-lint, budadmin-typecheck

feat: added env for budgateway, budprompt otel
  infra/helm/bud/values.yaml
Due: none

fix: updated budgateway port to grpc
  infra/helm/bud/values.yaml
Due: none

fix: changed otel_exporter_endpoint to optional env
  services/budprompt/budprompt/commons/config.py
Due: none

fix: added [gateway.export.otlp.traces] in tensorzero.toml
  infra/helm/bud/templates/budgateway.yaml
Due: none

fix: added warning message for endpoint
  services/budprompt/budprompt/shared/otel.py
Due: none

mcp foundary
  services/budadmin/src/components/environment.ts
  services/budadmin/src/pages/api/mcpFoundryRequests.ts
  services/budadmin/src/pages/api/requests.ts
  services/budadmin/src/pages/home/tools/index.tsx
  services/budadmin/src/stores/useTools.ts
Due: budadmin-lint, budadmin-typecheck

tools
  services/budadmin/src/pages/home/tools/index.tsx
Due: budadmin-lint, budadmin-typecheck

tools in progress
  services/budadmin/src/components/ui/DragDropUpload/index.tsx
  services/budadmin/src/flows/AddTool/BudToolsCatalogue.tsx
  services/budadmin/src/flows/AddTool/CreatingToolStatus.tsx
  services/budadmin/src/flows/AddTool/OpenAPISpecification.tsx
  services/budadmin/src/flows/AddTool/SelectToolSource.tsx
  services/budadmin/src/flows/AddTool/ToolDetailsExpanded.tsx
  services/budadmin/src/flows/ViewTool/ViewToolDetails.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/pages/home/tools/index.tsx
  services/budadmin/src/stores/useTools.ts
Due: budadmin-lint, budadmin-typecheck

tools listing page
  services/budadmin/next.config.mjs
  services/budadmin/src/pages/home/layout.tsx
Due: budadmin-lint, budadmin-typecheck

fix: added cross db query
  services/budmetrics/budmetrics/observability/services.py
Due: none

feat(tools): Add tool management with virtual server CRUD APIs
  services/budadmin/src/components/ui/DragDropUpload/index.tsx
  services/budadmin/src/flows/AddTool/BudToolsCatalogue.tsx
  services/budadmin/src/flows/AddTool/CreateVirtualServer.tsx
  services/budadmin/src/flows/AddTool/CreatingToolStatus.tsx
  services/budadmin/src/flows/AddTool/OpenAPISpecification.tsx
  services/budadmin/src/flows/AddTool/SelectToolSource.tsx
  services/budadmin/src/flows/AddTool/ToolCreationSuccess.tsx
  services/budadmin/src/flows/ViewVirtualServer/ViewVirtualServerDetails.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/pages/home/layout.tsx
  services/budadmin/src/pages/home/tools/index.tsx
  services/budadmin/src/stores/useAddTool.ts
  services/budadmin/src/stores/useTools.ts
  services/budadmin/src/stores/useVirtualServers.ts
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/main.py
  services/budapp/budapp/shared/mcp_foundry_service.py
  services/budapp/budapp/tool_ops/__init__.py
  services/budapp/budapp/tool_ops/schemas.py
  services/budapp/budapp/tool_ops/services.py
  services/budapp/budapp/tool_ops/tool_routes.py
Due: budadmin-lint, budadmin-typecheck

chore: Remove unused mcpFoundryRequests.ts and env variables
  .gitignore
  services/budadmin/src/components/environment.ts
  services/budadmin/src/pages/api/mcpFoundryRequests.ts
Due: budadmin-lint, budadmin-typecheck

fix: distributed context span
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: turn on observability in budgateway
  infra/helm/bud/templates/budgateway.yaml
Due: none

feat: migrate OTEL Collector from Deployment to DaemonSet architecture
  infra/helm/bud/templates/budgateway.yaml
  infra/helm/bud/templates/extra/otel-collector.yaml
  infra/helm/bud/templates/microservices/budcluster.yaml
  infra/helm/bud/templates/microservices/budmetrics.yaml
  infra/helm/bud/templates/microservices/budprompt.yaml
  infra/helm/bud/values.yaml
Due: none

docs: restructure CLAUDE.md for clarity and conciseness
  CLAUDE.md
Due: none

feat(infra/nixos): init criu
  infra/nixos/budk8s/modules/k3s/default.nix
Due: none

fix: address review feedback for CLAUDE.md
  CLAUDE.md
Due: none

multiple connector fix
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/components/agents/contexts/ToolsContext.tsx
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
  services/budadmin/src/components/agents/tools/ToolsSidebar.tsx
  services/budadmin/src/hooks/useOAuthCallback.ts
  services/budadmin/src/stores/useAgentStore.ts
  services/budadmin/src/stores/useConnectors.ts
  services/budadmin/src/utils/urlUtils.ts
Due: budadmin-lint, budadmin-typecheck

chat history
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

copy fix
  services/budplayground/app/components/bud/chat/Messages.tsx
  services/budplayground/app/components/bud/components/display/CopyText.tsx
Due: budplayground-lint, budplayground-typecheck

copy iframe
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck
