Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$

fix(budadmin): fix guardrail status filters, add delete, and infinite scroll
  services/budadmin/src/components/ui/bud/table/guardrailsListTable.tsx
  services/budadmin/src/flows/GuardRails/SelectDeployment.tsx
  services/budadmin/src/flows/GuardRails/ViewGuardRailDetails.tsx
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/general/index.tsx
  services/budadmin/src/pages/home/guardrails/index.tsx
  services/budadmin/src/stores/useGuardrails.ts
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): replace any[] with typed EndpointItem interface in SelectDeployment
  services/budadmin/src/flows/GuardRails/SelectDeployment.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): replace any with Record type for params in SelectDeployment
  services/budadmin/src/flows/GuardRails/SelectDeployment.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): remove explicit any type from API response in SelectDeployment
  services/budadmin/src/flows/GuardRails/SelectDeployment.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): use unknown instead of any for catch error in ViewGuardRailDetails
  services/budadmin/src/flows/GuardRails/ViewGuardRailDetails.tsx
Due: budadmin-lint, budadmin-typecheck

Refine cluster introduction description and why clusters matter
  docs/clusters/introduction.mdx
Due: none

Update cluster introduction for TPU availability
  docs/clusters/introduction.mdx
Due: none

Add image to clusters introduction
  docs/clusters/introduction.mdx
  docs/images/image-29.png
Due: none

Update quickstart guide for clusters
  docs/clusters/quickstart.mdx
  docs/images/image-30.png
Due: none

Add screenshot to quickstart guide
  docs/clusters/quickstart.mdx
  docs/images/image-31.png
Due: none

Add image to quickstart guide
  docs/clusters/quickstart.mdx
  docs/images/image-32.png
Due: none

Update quickstart flowchart direction
  docs/clusters/quickstart.mdx
Due: none

Add TPU to cluster compute inventory
  docs/clusters/cluster-concepts.mdx
Due: none

Update cluster creation guide with image and formatting
  docs/clusters/creating-first-cluster.mdx
  docs/images/image-33.png
Due: none

Add screenshot to creating first cluster guide
  docs/clusters/creating-first-cluster.mdx
  docs/images/image-34.png
Due: none

Add image to cluster operations guide
  docs/clusters/guides/cluster-operations.mdx
  docs/images/image-35.png
Due: none

Add image and format guardrails in cluster settings guide
  docs/clusters/guides/cluster-settings-and-storage.mdx
  docs/images/image-36.png
Due: none

Update cluster settings and storage guide
  docs/clusters/guides/cluster-settings-and-storage.mdx
Due: none

fix(docs): add missing trailing newline to cluster documentation files
  docs/clusters/cluster-concepts.mdx
  docs/clusters/creating-first-cluster.mdx
  docs/clusters/guides/cluster-operations.mdx
  docs/clusters/guides/cluster-settings-and-storage.mdx
  docs/clusters/introduction.mdx
  docs/clusters/quickstart.mdx
Due: none

feat(docs): expand api integration documentation module
  docs/api-integration/api-integration-concepts.mdx
  docs/api-integration/api-overview.mdx
  docs/api-integration/creating-first-api-integration.mdx
  docs/api-integration/error-handling.mdx
  docs/api-integration/guides/openai-compatible-clients.mdx
  docs/api-integration/guides/webhook-and-retry-patterns.mdx
  docs/api-integration/introduction.mdx
  docs/api-integration/quickstart.mdx
  docs/api-integration/reference/request-response-reference.mdx
  docs/api-integration/troubleshooting.mdx
  docs/docs.json
Due: none

feat(budadmin): add use case deployment detail page with 3-tab layout
  services/budadmin/next.config.mjs
  services/budadmin/src/pages/home/projects/[slug]/components/UseCaseDeployments.tsx
  services/budadmin/src/pages/home/usecases/[deploymentId]/Access.tsx
  services/budadmin/src/pages/home/usecases/[deploymentId]/Components.tsx
  services/budadmin/src/pages/home/usecases/[deploymentId]/Overview.tsx
  services/budadmin/src/pages/home/usecases/[deploymentId]/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): address PR review feedback for usecase detail page
  services/budadmin/src/pages/home/usecases/[deploymentId]/Access.tsx
  services/budadmin/src/pages/home/usecases/[deploymentId]/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(observability): handle streaming responses and improve gateway error handling
  services/budadmin/src/pages/observability/[id]/index.tsx
  services/budapp/budapp/metric_ops/services.py
  services/budgateway/tensorzero-internal/src/error.rs
  services/budgateway/tensorzero-internal/src/inference/providers/openai.rs
  services/budgateway/tensorzero-internal/src/inference/providers/openrouter.rs
Due: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budadmin-typecheck

fix: address review feedback from Codex and Gemini
  services/budapp/budapp/metric_ops/services.py
  services/budgateway/tensorzero-internal/src/error.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: correct test assertion for BAD_GATEWAY and ruff format
  services/budapp/budapp/metric_ops/services.py
  services/budgateway/tensorzero-internal/src/error.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budgateway): add recursion_limit to fix compilation error
  services/budgateway/gateway/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat(budadmin): remove dev mode gate from pipeline and evaluations tabs
  services/budadmin/src/pages/home/layout.tsx
Due: budadmin-lint, budadmin-typecheck

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat(connectors): add Connect MCP drawer, DCR support, and UI fixes
  services/budadmin/src/pages/home/connectors/index.tsx
  services/budadmin/src/pages/home/settings/connections/index.tsx
  services/budadmin/src/pages/home/settings/connectors/ConnectMCPDrawer.tsx
  services/budadmin/src/pages/home/settings/connectors/index.tsx
  services/budadmin/src/services/globalConnectorService.ts
  services/budadmin/src/stores/useConnectors.ts
  services/budadmin/src/stores/useGlobalConnectors.ts
  services/budapp/budapp/connector_ops/connector_routes.py
  services/budapp/budapp/connector_ops/schemas.py
  services/budapp/budapp/connector_ops/services.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
  services/budapp/budapp/shared/mcp_foundry_utils.py
  services/budapp/tests/test_mcp_credential_transform.py
Due: budadmin-lint, budadmin-typecheck

fix(connectors): address PR review feedback from Claude, Codex, and Gemini
  services/budadmin/src/pages/home/settings/connections/index.tsx
  services/budadmin/src/pages/home/settings/connectors/ConnectMCPDrawer.tsx
  services/budadmin/src/services/globalConnectorService.ts
  services/budadmin/src/stores/useGlobalConnectors.ts
  services/budapp/budapp/connector_ops/schemas.py
  services/budapp/budapp/connector_ops/services.py
  services/budapp/budapp/prompt_ops/services.py
Due: budadmin-lint, budadmin-typecheck

chore(infra/helm/nfs-csi): drop
  infra/helm/bud/scid.dev.toml
  infra/helm/bud/values.dev.yaml
  infra/helm/bud/values.ditto.yaml
  infra/helm/bud/values.varun.yaml
  infra/helm/nfs-csi/.helmignore
  infra/helm/nfs-csi/Chart.lock
  infra/helm/nfs-csi/Chart.yaml
  infra/helm/nfs-csi/charts/csi-driver-nfs-4.11.0.tgz
  infra/helm/nfs-csi/scid.dev.toml
  infra/helm/nfs-csi/templates/storageclass.yaml
  infra/helm/nfs-csi/values.yaml
Due: none

feat(infra/nixos/primary-dev): refactor
  .sops.yaml
  flake.nix
  infra/nixos/budk8s/modules/k3s/default.nix
  infra/nixos/ingress/configuration.nix
  infra/nixos/primary-dev-azure/configuration.nix
  infra/nixos/primary-dev-azure/disko.nix
  infra/nixos/primary-dev-azure/facter.json
  infra/nixos/primary-dev-azure/modules/scid/default.nix
  infra/nixos/primary-dev-azure/modules/scid/secrets.yaml
  infra/nixos/primary-dev-azure/modules/wireguard/default.nix
  infra/nixos/primary-dev-azure/modules/wireguard/secrets.yaml
  infra/nixos/primary-dev-e2e/configuration.nix
  infra/nixos/primary-dev-e2e/disko.nix
  infra/nixos/primary-dev-e2e/facter.json
  infra/nixos/primary-dev-e2e/modules/scid/default.nix
  infra/nixos/primary-dev-e2e/modules/scid/secrets.yaml
  infra/nixos/primary-dev-e2e/modules/wireguard/default.nix
  infra/nixos/primary-dev-e2e/modules/wireguard/secrets.yaml
  infra/nixos/primary-dev/disko.nix
  infra/nixos/primary-dev/modules/nfs.nix
  infra/nixos/primary/configuration.nix
  infra/nixos/primary/modules/nfs.nix
  infra/nixos/worker/configuration.nix
  infra/tofu/budk8s-azure/.terraform.lock.hcl
  infra/tofu/budk8s-azure/decrypt-ingress-sops-age.sh
  infra/tofu/budk8s-azure/decrypt-primary-sops-age.sh
  infra/tofu/budk8s-azure/decrypt-worker-sops-age.sh
  infra/tofu/budk8s-azure/dns.tf
  infra/tofu/budk8s-azure/main.tf
  infra/tofu/budk8s-azure/output.tf
  infra/tofu/budk8s-azure/provider.tf
  infra/tofu/budk8s-azure/secrets.yaml
  infra/tofu/budk8s-azure/vars.tf
  infra/tofu/budk8s-e2e/.terraform.lock.hcl
  infra/tofu/budk8s-e2e/dns.tf
  infra/tofu/budk8s-e2e/provider.tf
  infra/tofu/budk8s-e2e/secrets.yaml
  infra/tofu/budk8s-e2e/vars.tf
  nix/workflows/tofu_apply/script.sh
Due: none

fix(infra/nixos/budk8s): k3s ports
  infra/nixos/budk8s/modules/k3s/default.nix
Due: none

fix(budapp,budgateway): credential delete, cloud model namespace, and Together error capture
  services/budapp/budapp/credential_ops/services.py
  services/budapp/budapp/model_ops/services.py
  services/budgateway/tensorzero-internal/src/inference/providers/together.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budapp): address PR review feedback from Claude, Codex, and Gemini
  services/budapp/budapp/credential_ops/services.py
  services/budapp/budapp/model_ops/services.py
Due: none

style(budapp): fix ruff format for list comprehension
  services/budapp/budapp/credential_ops/services.py
Due: none

chore(infra): clean up
  infra/nixos/primary-dev-e2e/configuration.nix
  infra/nixos/primary-dev-e2e/disko.nix
  infra/tofu/budk8s-e2e/.terraform.lock.hcl
  infra/tofu/budk8s-e2e/dns.tf
  nix/shell/default.nix
Due: none
