Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$

refactor: remove redundant state update in tab onChange handler
  services/budadmin/src/pages/home/evaluations/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(eval): updated sync job
  services/budapp/budapp/eval_ops/sync_service.py
Due: none

feat(eval) updated ui to show what to expect and why run this eval
  services/budadmin/src/pages/home/evaluations/evalDetailed/details.tsx
Due: budadmin-lint, budadmin-typecheck

fix: device deduplication and metrics collection improvements
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/metrics_collector/exceptions.py
  services/budcluster/budcluster/metrics_collector/metrics_service.py
  services/budcluster/budcluster/metrics_collector/otel_bridge.py
  services/budsim/budsim/simulator/services.py
Due: none

refactor: address Gemini code review feedback
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/metrics_collector/otel_bridge.py
Due: none

style: fix linting and formatting
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/metrics_collector/otel_bridge.py
Due: none

style: remove trailing whitespace
  services/budcluster/budcluster/metrics_collector/metrics_service.py
Due: none

refactor: removed dead code methods
  services/budprompt/budprompt/executors/v4/openai_streaming_formatter.py
Due: none

refactor: added structured streaming from v2
  services/budprompt/budprompt/executors/v4/executor.py
  services/budprompt/budprompt/executors/v4/openai_streaming_formatter_v3.py
  services/budprompt/budprompt/executors/v4/streaming_json_validator.py
  services/budprompt/budprompt/executors/v4/streaming_validation_executor.py
Due: none

feat: implement agent edit functionality
  services/budadmin/src/components/ui/bud/dataEntry/BudForm.tsx
  services/budadmin/src/components/ui/bud/dataEntry/TagsInput.tsx
  services/budadmin/src/flows/EditAgent/AgentEditDrawer.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/pages/home/agents/index.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: converted ouput model in streaming executor
  services/budprompt/budprompt/executors/v4/executor.py
  services/budprompt/budprompt/executors/v4/streaming_validation_executor.py
Due: none

feat: removed depprecated methods
  services/budprompt/budprompt/executors/v4/streaming_validation_executor.py
Due: none

Update services/budapp/budapp/eval_ops/sync_service.py
  services/budapp/budapp/eval_ops/sync_service.py
Due: none

feat(eval): updated eval file with metric information
  services/budapp/budapp/migrations/versions/3ab72e8244b4_add_evaluation_config_fields_to_exp_datasets.py
Due: none

feat(eval): updated eval file with metric information
  services/budapp/budapp/eval_ops/services.py
Due: none

Update services/budapp/budapp/eval_ops/services.py
  services/budapp/budapp/eval_ops/services.py
Due: none

fix(budadmin): prevent memory leak in BudIsland socket event listener
  services/budadmin/src/components/island/BudIsland.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): improve socket listener lifecycle in BudIsland
  services/budadmin/src/components/island/BudIsland.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: use agent kwargs in streaming validation executor
  services/budprompt/budprompt/executors/v4/executor.py
  services/budprompt/budprompt/executors/v4/streaming_validation_executor.py
Due: none

feat: add robust model download/upload with I/O throttling and concurrency control
  services/budcluster/budcluster/charts/model_transfer/values.yaml
  services/budmodel/budmodel/model_info/download_history.py
  services/budmodel/budmodel/model_info/schemas.py
  services/budmodel/budmodel/model_info/services.py
  services/budmodel/budmodel/model_info/store.py
  services/budmodel/budmodel/model_info/workflows.py
  services/budmodel/budmodel/shared/io_monitor.py
  services/budmodel/tests/test_download_history_unit.py
  services/budmodel/tests/test_eta_observer_unit.py
Due: none

guardrail profile listing
  services/budadmin/src/components/ui/bud/dataEntry/BudForm.tsx
  services/budadmin/src/components/ui/bud/table/guardrailsListTable.tsx
  services/budadmin/src/flows/EditAgent/AgentEditDrawer.tsx
  services/budadmin/src/stores/useGuardrails.ts
Due: budadmin-lint, budadmin-typecheck

feat: add guardrail details page and improve guardrail management
  services/budadmin/next.config.mjs
  services/budadmin/src/components/ui/bud/table/InferenceListTable.tsx
  services/budadmin/src/components/ui/bud/table/guardrailsListTable.tsx
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/general/index.tsx
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/index.tsx
  services/budadmin/src/stores/useGuardrails.ts
Due: budadmin-lint, budadmin-typecheck

fix: address PR review feedback - resolve linting, P1 bugs, and asyncio.run() issues
  services/budmodel/budmodel/model_info/services.py
  services/budmodel/budmodel/model_info/store.py
  services/budmodel/budmodel/model_info/workflows.py
  services/budmodel/budmodel/shared/io_monitor.py
  services/budmodel/tests/test_download_history_unit.py
  services/budmodel/tests/test_eta_observer_unit.py
Due: none

fixes and leaderboard updates
  services/budadmin/src/pages/home/evaluations/evalDetailed/[evaluationId].tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/details.tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/leaderboardTable.tsx
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
Due: budadmin-lint, budadmin-typecheck

fixed pre-commit errors
  services/budadmin/src/pages/home/evaluations/evalDetailed/[evaluationId].tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/details.tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/leaderboardTable.tsx
Due: budadmin-lint, budadmin-typecheck

pre-commit fix
  services/budadmin/src/pages/home/evaluations/evalDetailed/[evaluationId].tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/details.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: improve code quality and accessibility
  services/budadmin/src/components/ui/bud/table/InferenceListTable.tsx
  services/budadmin/src/components/ui/bud/table/guardrailsListTable.tsx
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/general/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: remove trailing whitespace from evaluation files
  services/budadmin/src/pages/home/evaluations/evalDetailed/details.tsx
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
Due: budadmin-lint, budadmin-typecheck

refactor: update asset URL configuration and clean up UI
  services/budadmin/src/components/ui/bud/deploymentDrawer/ModelListCard.tsx
  services/budplayground/app/chat/components/UnstructuredPromptInput.tsx
  services/budplayground/app/lib/environment.ts
Due: budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

fix: added initial version of structured output stream
  services/budprompt/budprompt/executors/v4/executor.py
  services/budprompt/budprompt/executors/v4/openai_streaming_validation_formatter_v4.py
  services/budprompt/budprompt/executors/v4/streaming_validation_executor.py
Due: none

fix: update asset API environment variable name
  services/budplayground/app/lib/environment.ts
Due: budplayground-lint, budplayground-typecheck

Add environment variable for temporary API asset URL
  infra/helm/bud/templates/microservices/budplayground.yaml
Due: none

feat: suppress final result tool call
  services/budprompt/budprompt/executors/v4/streaming_validation_executor.py
Due: none

Ui fixes
  services/budadmin/src/components/ui/bud/card/DrawerBreadCrumbNavigation.tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/[evaluationId].tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/evalExplorerTable.tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/leaderboardTable.tsx
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
  services/budadmin/src/pages/home/evaluations/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat: upgrade NFD to v0.18.3 and enhance CPU detection
  services/budcluster/budcluster/charts/nfd/Chart.yaml
  services/budcluster/budcluster/charts/nfd/nfd-worker-conf.yaml
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/node_info_collector/nfd_parser.py
  services/budcluster/budcluster/node_info_collector/node_info_service.py
Due: none
