Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd services/budgateway && cargo +nightly fmt -- --check || cargo fmt -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd services/budgateway && cargo +nightly clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: bash -c 'cd services/budgateway && cargo +nightly deny check || cargo deny check'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && npx tsc --noEmit'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && npx tsc --noEmit'
  language: system
  pass_filenames: false

promptIds
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

fix: added sync in secret store
  services/budprompt/budprompt/commons/config.py
Due: none

feat: eval update for new architecture
  services/budapp/budapp/eval_ops/services.py
Due: none

feat: updated naming convensions include version as well
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

input fix
  services/budadmin/public/icons/Tools.svg
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

chore: remove unused Image import from AgentBox
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

fix: registered false not giving all connectors
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix: disconnect connector now get raw data from redis
  services/budapp/budapp/prompt_ops/services.py
Due: none

refactor: added fetching raw redis data and reused save redis method
  services/budapp/budapp/prompt_ops/services.py
Due: none

refactor: added support to fetch tools against a gateway id
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

feat(infra/harbor): init
  infra/helm/harbor/.helmignore
  infra/helm/harbor/Chart.lock
  infra/helm/harbor/Chart.yaml
  infra/helm/harbor/charts/common-2.0.0.tgz
  infra/helm/harbor/charts/harbor-1.18.0.tgz
  infra/helm/harbor/charts/postgres-0.10.0.tgz
  infra/helm/harbor/charts/valkey-0.6.1.tgz
  infra/helm/harbor/scid.toml
  infra/helm/harbor/templates/_helpers.tpl
  infra/helm/harbor/templates/extra/postgres.yaml
  infra/helm/harbor/values.enc.yaml
  infra/helm/harbor/values.yaml
Due: none

fix: retrive tool support uuid
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

chore(k8s_deploy): stash on re-deploy
  nix/packages/k8s_deploy/script.sh
Due: none

fix: register tool support uuid
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix: tools saved as list of string
  services/budapp/budapp/prompt_ops/schemas.py
  services/budprompt/budprompt/prompt/schemas.py
Due: none

fix: replacing all tools bug resolved
  services/budapp/budapp/prompt_ops/services.py
Due: none

debug: add console log for promptIds extraction
  services/budplayground/app/chat/page.tsx
Due: budplayground-lint, budplayground-typecheck

chore(infra/harbor): move from pde
  infra/helm/harbor/scid.toml
  infra/helm/harbor/values.yaml
  infra/tofu/budk8s/dns.tf
  infra/tofu/budk8s/main.tf
Due: none

fix: show PromptForm when promptIds exist in URL
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

fix: removed min limit when add tools
  services/budapp/budapp/prompt_ops/schemas.py
Due: none

evaluations UI fixes
  services/budadmin/src/components/charts/heatmapChart/index.tsx
  services/budadmin/src/components/evaluations/CurrentMetricsTable.tsx
  services/budadmin/src/components/evaluations/RunsHistoryTable.tsx
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
Due: budadmin-lint, budadmin-typecheck

chore(infra/harbor): set externalURL
  infra/helm/harbor/values.yaml
Due: none

fix: use correct backend URL for prompt config endpoint
  services/budplayground/app/api/prompts/[prompt_id]/route.ts
Due: budplayground-lint, budplayground-typecheck

debug: add tempApiBaseUrl import and logging
  services/budplayground/app/chat/page.tsx
Due: budplayground-lint, budplayground-typecheck

refactor: restore PromptForm to use getPromptConfig API
  services/budplayground/app/chat/components/PromptForm.tsx
  services/budplayground/app/chat/page.tsx
Due: budplayground-lint, budplayground-typecheck

fix: removed / from mcp tool url creation
  services/budprompt/budprompt/prompt/tool_loaders.py
Due: none

feat: detect transport when register a connector
  services/budapp/budapp/prompt_ops/services.py
Due: none

style: update Next button to match Send button styling
  services/budplayground/app/chat/components/PromptForm.tsx
Due: budplayground-lint, budplayground-typecheck

style: update Next button to match NormalEditor send button
  services/budplayground/app/chat/components/PromptForm.tsx
Due: budplayground-lint, budplayground-typecheck

feat: add send icon to Next button with hover effect
  services/budplayground/app/chat/components/PromptForm.tsx
Due: budplayground-lint, budplayground-typecheck

feat: added tool execution details in non stream response
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/openai_response_formatter.py
Due: none

form
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/page.tsx
Due: budplayground-lint, budplayground-typecheck

feat: add API integration for prompt responses
  services/budplayground/app/chat/components/PromptForm.tsx
Due: budplayground-lint, budplayground-typecheck

refactor: implement proper API architecture for prompt responses
  services/budplayground/app/api/responses/route.ts
  services/budplayground/app/chat/components/PromptForm.tsx
  services/budplayground/app/lib/api.ts
Due: budplayground-lint, budplayground-typecheck

fix: correct PromptForm submission handler and visibility
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

feat: add proper loading and error handling to PromptForm
  services/budplayground/app/chat/components/PromptForm.tsx
Due: budplayground-lint, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
