Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$

fix(budmetrics): add missing attributes and fix inference_id in test data
  services/budmetrics/tests/prompt_analytics/data/otel_traces_prompt_analytics.json
Due: none

fix(budmetrics): exclude prompt analytics from usage endpoints
  services/budmetrics/budmetrics/observability/usage_routes.py
Due: none

test(budmetrics): add TTFT attributes to response_success_1 test data
  services/budmetrics/tests/prompt_analytics/data/otel_traces_prompt_analytics.json
Due: none

feat(budmetrics): add data_source filter to aggregated metrics endpoints
  services/budmetrics/budmetrics/observability/routes.py
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
Due: none

feat(budmetrics): add data_source filter to gateway analytics endpoints
  services/budmetrics/budmetrics/observability/routes.py
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
Due: none

feat(budmetrics): add data_source filter to usage and sync endpoints
  services/budmetrics/budmetrics/observability/models.py
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
Due: none

log chart improvement
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budmetrics): make model_id optional in InferenceDetailResponse
  services/budmetrics/budmetrics/observability/schemas.py
Due: none

feat(budmetrics,budapp): add time-series support for prompt analytics
  services/budapp/budapp/metric_ops/schemas.py
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
  services/budmetrics/tests/prompt_analytics/conftest.py
  services/budmetrics/tests/prompt_analytics/test_time_series_prompt_metrics.py
Due: none

add new probe in progress
  services/budadmin/src/flows/GuardRails/SelectProvider.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budmetrics): add prompt distribution test fixtures and seeder
  services/budmetrics/tests/prompt_distribution/__init__.py
  services/budmetrics/tests/prompt_distribution/conftest.py
  services/budmetrics/tests/prompt_distribution/data/otel_traces_prompt_distribution.json
  services/budmetrics/tests/prompt_distribution/seed_otel_traces.py
Due: none

feat(budmetrics): add prompt distribution analytics endpoint
  services/budmetrics/budmetrics/observability/routes.py
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
Due: none

feat(budapp): add prompt distribution endpoint with access control
  services/budapp/budapp/metric_ops/metric_routes.py
  services/budapp/budapp/metric_ops/schemas.py
  services/budapp/budapp/metric_ops/services.py
Due: none

test(budmetrics): add comprehensive test suite for prompt distribution API
  services/budmetrics/tests/prompt_distribution/conftest.py
  services/budmetrics/tests/prompt_distribution/data/otel_traces_prompt_distribution.json
  services/budmetrics/tests/prompt_distribution/generate_test_data.py
  services/budmetrics/tests/prompt_distribution/test_prompt_distribution.py
Due: none

fix(budmetrics): resolve duplicate bucket counting in prompt distribution API
  services/budmetrics/budmetrics/observability/services.py
  services/budmetrics/tests/prompt_distribution/test_prompt_distribution.py
Due: none

fix(budgateway): use consistent inference_id for error path observability
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budmetrics): simplify model_name in ClickHouse migration for responses
  services/budmetrics/scripts/migrate_clickhouse.py
Due: none

style(budmetrics): fix pre-commit formatting issues
  services/budmetrics/budmetrics/observability/services.py
  services/budmetrics/scripts/migrate_clickhouse.py
  services/budmetrics/tests/prompt_analytics/data/otel_traces_prompt_analytics.json
  services/budmetrics/tests/prompt_distribution/data/otel_traces_prompt_distribution.json
Due: none

fix(budmetrics,budapp): make endpoint_id and model_id optional for responses
  services/budapp/budapp/metric_ops/schemas.py
  services/budmetrics/budmetrics/observability/schemas.py
Due: none

feat(budmetrics): support multiple prompt_ids in filter queries
  services/budmetrics/budmetrics/observability/services.py
Due: none

custom guardrail ui
  services/budadmin/src/flows/GuardRails/AddCustomGuardRail.tsx
  services/budadmin/src/flows/GuardRails/GuardRailDetails.tsx
  services/budadmin/src/flows/GuardRails/SelectProbeType.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budapp,budprompt): set non-expiring MCP Foundry API tokens
  services/budapp/entrypoint_mcpgateway_api_token.sh
  services/budprompt/entrypoint_mcpgateway_api_token.sh
Due: none

fix(infra): add trailing slash to socket.io ingress path
  infra/helm/bud/templates/ingress.yaml
Due: none

fix(budprompt): improve ModelHTTPError handling with clean message and 500 status
  services/budprompt/budprompt/executors/v4/executor.py
Due: none

fix(budcluster): fix model transfer timeout and improve adapter error messages
  services/budcluster/budcluster/cluster_ops/kubernetes.py
  services/budcluster/budcluster/playbooks/model_transfer_playbook.yml
Due: none

fix(budcluster,budadmin): complete adapter deployment fixes and cleanup
  services/budadmin/src/hooks/useEndPoint.tsx
  services/budadmin/src/pages/api/requests.ts
  services/budcluster/budcluster/charts/bud_runtime_container/templates/multi-node.yaml
  services/budcluster/budcluster/charts/bud_runtime_container/templates/secret.yaml
  services/budcluster/budcluster/charts/bud_runtime_container/templates/single-node.yaml
  services/budcluster/budcluster/charts/bud_runtime_container/values.yaml
  services/budcluster/budcluster/charts/model_transfer/templates/deployment.yaml
  services/budcluster/budcluster/charts/model_transfer/templates/pvc.yaml
  services/budcluster/budcluster/charts/model_transfer/templates/secret.yaml
  services/budcluster/budcluster/charts/model_transfer/values.yaml
  services/budcluster/budcluster/charts/quantization_job/templates/job.yaml
  services/budcluster/budcluster/charts/quantization_job/templates/secret.yaml
  services/budcluster/budcluster/charts/quantization_job/values.yaml
  services/budcluster/budcluster/cluster_ops/__init__.py
  services/budcluster/budcluster/deployment/adapter_workflows.py
  services/budcluster/budcluster/deployment/handler.py
  services/budcluster/budcluster/deployment/quantization_workflows.py
  services/budcluster/budcluster/deployment/workflows.py
Due: budadmin-lint, budadmin-typecheck

chore(budcluster): upgrade aibrix to v0.3.0
  services/budcluster/budcluster/charts/bud_runtime_container/templates/_sidecar.yaml
  services/budcluster/budcluster/playbooks/delete_cluster.yaml
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

agent detail home in progress
  services/budadmin/src/hooks/usePromptMetrics.ts
  services/budadmin/src/hooks/usePrompts.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/overview/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/versions/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budcluster): add cleanup for failed adapter deployments
  services/budcluster/budcluster/cluster_ops/__init__.py
  services/budcluster/budcluster/cluster_ops/kubernetes.py
  services/budcluster/budcluster/deployment/adapter_workflows.py
  services/budcluster/budcluster/deployment/handler.py
Due: none

fix(budadmin,budapp): show error when executing pipeline with no steps
  services/budadmin/src/pages/home/budpipelines/[id]/index.tsx
  services/budapp/budapp/workflow_ops/budpipeline_service.py
Due: budadmin-lint, budadmin-typecheck

fix(budapp): preserve upstream error status code from budpipeline
  services/budapp/budapp/workflow_ops/budpipeline_service.py
Due: none

fix(budadmin,budapp): address Gemini review feedback
  services/budadmin/src/pages/home/budpipelines/[id]/index.tsx
  services/budapp/budapp/workflow_ops/budpipeline_service.py
Due: budadmin-lint, budadmin-typecheck

fix(budapp): handle ErrorResponse format from budpipeline
  services/budapp/budapp/workflow_ops/budpipeline_service.py
Due: none

fix(budadmin): detect error response in executeWorkflow even with 2xx status
  services/budadmin/src/stores/useBudPipeline.ts
Due: budadmin-lint, budadmin-typecheck

feat(budadmin): improve agent detail charts with API binding and design updates
  services/budadmin/src/hooks/usePromptMetrics.ts
  services/budadmin/src/pages/home/agentDetails/[agentId]/overview/index.tsx
  services/budadmin/src/styles/globals.scss
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): capture error message before getExecutions clears it
  services/budadmin/src/pages/home/budpipelines/[id]/index.tsx
  services/budadmin/src/stores/useBudPipeline.ts
Due: budadmin-lint, budadmin-typecheck

refactor(budcluster): use dictionary for adapter error mappings
  services/budcluster/budcluster/cluster_ops/kubernetes.py
Due: none

feat(tests): add E2E core infrastructure and workflow utilities
  tests/e2e/conftest.py
  tests/e2e/core/__init__.py
  tests/e2e/core/config.py
  tests/e2e/core/retry.py
  tests/e2e/core/waiter.py
  tests/e2e/fixtures/auth.py
  tests/e2e/flows/models/test_model_local_longrunning.py
  tests/e2e/helpers/model_helper.py
  tests/e2e/scripts/run_tests_k8s.sh
Due: none

feat(tests): add RATE_LIMIT_ENABLED environment variable for budapp
  infra/helm/bud/values.dev.yaml
Due: none

fix(tests): address review feedback for E2E test infrastructure
  tests/e2e/.env.e2e.sample
  tests/e2e/config/docker-compose-e2e.yaml
  tests/e2e/config/kind-config.yaml
  tests/e2e/config/values.e2e.yaml
  tests/e2e/requirements.txt
Due: none
