Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

refactor: enhance GPU memory calculations and improve port-forwarding in Kubernetes
  services/budapp/scripts/backfill_model_storage_sizes.py
  services/budcluster/budcluster/cluster_ops/kubernetes.py
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/deployment/handler.py
  services/budcluster/budcluster/metrics_collector/prometheus_client.py
  services/budsim/budsim/simulator/services.py
  services/budsim/budsim/simulator/workflows.py
Due: none

fix: update LoadModel deployment when prompt config changes
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/NavBar.tsx
  services/budplayground/app/chat/components/PromptForm.tsx
Due: budplayground-lint, budplayground-typecheck

feat(eval): run summary
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
  services/budapp/budapp/initializers/data/eval_manifest.json
Due: none

fix: resolve undefined promptIds reference error
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

fix(budmodel): improve file upload error handling with early cancellation
  services/budmodel/budmodel/model_info/store.py
Due: none

refactor: remove debug console.log statements
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/PromptForm.tsx
Due: budplayground-lint, budplayground-typecheck

eval fixes and summary data
  services/budadmin/src/components/evaluations/CurrentMetricsTable.tsx
  services/budadmin/src/flows/Evaluations/NewExperiment/index.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/NewEvaluation.tsx
  services/budadmin/src/hooks/useEvaluations.tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/details.tsx
  services/budadmin/src/pages/home/evaluations/evalListing/index.tsx
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
  services/budadmin/src/pages/home/evaluations/experiments/index.tsx
Due: budadmin-lint, budadmin-typecheck

retain input variables
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/schema/InputSettings.tsx
  services/budadmin/src/components/agents/schema/OutputSettings.tsx
  services/budadmin/src/components/agents/schema/SettingsSidebar.tsx
  services/budadmin/src/hooks/usePrompts.tsx
  services/budadmin/src/utils/promptHelpers.ts
Due: budadmin-lint, budadmin-typecheck

feat: improve URL parameter management and data persistence in agent flows
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/hooks/useDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

feat: update Set as Default toggle to use PATCH API endpoint
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(budadmin): comprehensive code quality improvements
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/hooks/useDrawer.tsx
  services/budadmin/src/stores/useAgentStore.ts
  services/budadmin/src/utils/promptHelpers.ts
  services/budadmin/src/utils/urlUtils.ts
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): preserve agent parameter in URL throughout workflow
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/flows/AddAgent/AgentSuccess.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): prevent agent parameter removal during drawer transitions
  services/budadmin/src/flows/AddAgent/SelectAgentType.tsx
  services/budadmin/src/hooks/useDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

fix: reduce cluster sync memory usage to prevent OOM
  services/budcluster/.dapr/components/binding.yaml
  services/budcluster/budcluster/cluster_ops/services.py
Due: none

perf: Update Dapr cron schedule to 10m and cluster sync stale threshold to 20m.
  infra/helm/bud/templates/dapr/cron.yaml
  services/budcluster/budcluster/cluster_ops/services.py
Due: none

fix: refresh version list after edit and fix Set as Default API endpoint
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

feat(eval): eta added
  services/budeval/budeval/ansible/playbooks/parse_job_logs_k8s.yml
  services/budeval/budeval/evals/ansible_orchestrator.py
  services/budeval/budeval/evals/job_monitor.py
  services/budeval/budeval/evals/workflows.py
Due: none

feat(eval): eta added
  services/budeval/budeval/ansible/playbooks/parse_job_logs_k8s.yml
  services/budeval/budeval/evals/job_monitor.py
Due: none

refactor: output items array in response refactored
  services/budprompt/budprompt/executors/v4/openai_response_formatter.py
Due: none

refactor: better exception handling
  services/budprompt/budprompt/executors/v4/executor.py
  services/budprompt/budprompt/prompt/services.py
Due: none

feat(eval): eta added
  services/budeval/budeval/ansible/playbooks/parse_job_logs_k8s.yml
  services/budeval/budeval/ansible/playbooks/process_job.yml
Due: none

feat(eval): eta added
  services/budeval/budeval/evals/ansible_orchestrator.py
Due: none

refactor: instruction array refactored
  services/budprompt/budprompt/executors/v4/openai_response_formatter.py
Due: none

fix: openai response formatter exception handled
  services/budprompt/budprompt/executors/v4/openai_response_formatter.py
Due: none

feat(eval): eta added
  services/budeval/budeval/evals/job_monitor.py
Due: none

fix: added missing param in format_response
  services/budprompt/budprompt/executors/v4/executor.py
Due: none

fix(eval): fix log parsing by using environment variable instead of stdin
  services/budeval/budeval/ansible/playbooks/process_job.yml
Due: none

feat(eval): migration from model id to endpoits
  services/budeval/budeval/evals/job_monitor.py
Due: none

feat: add error state tracking and node info collector module
  services/budcluster/budcluster/alembic/versions/2025_11_21_add_error_state_tracking_fields.py
  services/budcluster/budcluster/cluster_ops/__init__.py
  services/budcluster/budcluster/cluster_ops/models.py
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/commons/metrics_config.py
  services/budcluster/budcluster/metrics_collector/metrics_service.py
  services/budcluster/budcluster/node_info_collector/__init__.py
  services/budcluster/budcluster/node_info_collector/nfd_parser.py
  services/budcluster/budcluster/node_info_collector/node_info_service.py
  services/budcluster/budcluster/node_info_collector/schemas.py
Due: none

retive saved data
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/schema/InputSettings.tsx
  services/budadmin/src/components/agents/schema/OutputSettings.tsx
  services/budadmin/src/hooks/usePrompts.tsx
Due: budadmin-lint, budadmin-typecheck

fix: resolve precommit linting issues
  services/budcluster/budcluster/cluster_ops/__init__.py
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/metrics_collector/metrics_service.py
  services/budcluster/budcluster/node_info_collector/__init__.py
  services/budcluster/budcluster/node_info_collector/nfd_parser.py
  services/budcluster/budcluster/node_info_collector/node_info_service.py
  services/budcluster/budcluster/node_info_collector/schemas.py
Due: none

fix: address review feedback from Gemini and Codex
  services/budcluster/budcluster/cluster_ops/crud.py
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/node_info_collector/node_info_service.py
Due: none

feat(agents): improve flowgram nodes display and prompt config loading
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/multi-input-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/output-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/contexts/SessionContext.tsx
  services/budadmin/src/hooks/usePrompts.tsx
  services/budadmin/src/pages/api/requests.ts
Due: budadmin-lint, budadmin-typecheck

fix(agents): restore refreshSessionData function used after schema saves
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(agents): move helper functions outside component for better performance
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

fix(agents): use undefined instead of empty string for deployment id
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
