Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$

Update services/budsim/budsim/engine_ops/__init__.py
  services/budsim/budsim/engine_ops/__init__.py
Due: none

Update services/budsim/budsim/simulator/evolution.py
  services/budsim/budsim/simulator/evolution.py
Due: none

Update services/budsim/alembic/versions/2f9d64e993a7_add_performance_indexes_for_simulation_.py
  services/budsim/alembic/versions/2f9d64e993a7_add_performance_indexes_for_simulation_.py
Due: none

fix: pr review
  services/budcluster/budcluster/deployment/handler.py
  services/budsim/alembic/versions/2f9d64e993a7_add_performance_indexes_for_simulation_.py
  services/budsim/budsim/model_ops/analysis.py
  services/budsim/tests/test_evolution_local.py
Due: none

precommit check
  services/budCustomer/AUTHENTICATION_RESTRUCTURE_SUMMARY.md
  services/budCustomer/next.config.ts
  services/budCustomer/src/app/(app)/api-keys/api-keys.module.scss
  services/budCustomer/src/app/(app)/api-keys/page.tsx
  services/budCustomer/src/app/(app)/audit/audit.module.scss
  services/budCustomer/src/app/(app)/audit/page.tsx
  services/budCustomer/src/app/(app)/batches/batches.module.scss
  services/budCustomer/src/app/(app)/batches/page.tsx
  services/budCustomer/src/app/(app)/layout.tsx
  services/budCustomer/src/app/(app)/logs/logs.module.scss
  services/budCustomer/src/app/(app)/logs/page.tsx
  services/budCustomer/src/app/(app)/models/models.module.scss
  services/budCustomer/src/app/(app)/models/page.tsx
  services/budCustomer/src/app/(app)/playground/iFrame.tsx
  services/budCustomer/src/app/(app)/playground/page.tsx
  services/budCustomer/src/app/(app)/playground/playground.module.scss
  services/budCustomer/src/app/(app)/projects/page.tsx
  services/budCustomer/src/app/(app)/projects/projects.module.scss
  services/budCustomer/src/app/(app)/usage/page.tsx
  services/budCustomer/src/app/(app)/usage/usage.module.scss
  services/budCustomer/src/app/auth/layout.tsx
  services/budCustomer/src/app/auth/login/login.module.scss
  services/budCustomer/src/app/auth/login/page.tsx
  services/budCustomer/src/app/auth/register/page.tsx
  services/budCustomer/src/app/layout.tsx
  services/budCustomer/src/app/models/page.tsx
  services/budCustomer/src/components/auth/AuthGuard.tsx
  services/budCustomer/src/hooks/useModels.tsx
  services/budCustomer/test-auth-routes.js
  services/budCustomer/test-models-integration.js
Due: none

chore(helm/dev): drop
  infra/helm/dev/.helmignore
  infra/helm/dev/Chart.lock
  infra/helm/dev/Chart.yaml
  infra/helm/dev/templates/ingress.yaml
  infra/helm/dev/templates/status.yaml
  infra/helm/dev/values.yaml
Due: none

model details
  services/budCustomer/package-lock.json
  services/budCustomer/package.json
  services/budCustomer/src/app/(app)/models/page.tsx
  services/budCustomer/src/app/auth/login/page.tsx
  services/budCustomer/src/app/auth/resetPassword/page.tsx
  services/budCustomer/src/components/ModelDetailDrawer.tsx
  services/budCustomer/src/components/auth/LoginForm.tsx
  services/budCustomer/src/components/project/ProjectSelector.tsx
  services/budCustomer/src/hooks/useModels.tsx
  services/budCustomer/tailwind.config.ts
  services/budCustomer/yarn.lock
Due: none

fix: secret store for dapr
  infra/helm/bud/templates/dapr/secretstore.yaml
  infra/helm/bud/values.enc.yaml
  infra/helm/bud/values.yaml
Due: none

feat(infra/scid): init
  infra/scid/.gitignore
  infra/scid/cmd/scd/main.go
  infra/scid/go.mod
  infra/scid/go.sum
  infra/scid/internal/config/config.go
  infra/scid/internal/config/utils.go
  infra/scid/internal/driver/exec.go
  infra/scid/internal/driver/helm.go
  infra/scid/internal/driver/job.go
  infra/scid/internal/git/git.go
  infra/scid/internal/slack/slack.go
Due: none

chore(infra/scid): clean up
  infra/scid/cmd/scid/main.go
  infra/scid/go.mod
  infra/scid/internal/config/config.go
  infra/scid/internal/config/utils.go
  infra/scid/internal/driver/exec.go
  infra/scid/internal/driver/helm.go
  infra/scid/internal/driver/job.go
  infra/scid/internal/git/git.go
  infra/scid/internal/slack/slack.go
Due: none

feat: added model setting on default agents
  budprompt/prompt/validation.py
  tests/test_validation_integration.py
Due: none

chore(infra/helm): refactor
  infra/helm/.gitignore
  infra/helm/bud/charts/clickhouse-9.3.9.tgz
  infra/helm/bud/charts/dapr-1.15.8.tgz
  infra/helm/bud/charts/kafka-32.3.5.tgz
  infra/helm/bud/charts/keel-1.0.5.tgz
  infra/helm/bud/charts/keycloak-24.7.7.tgz
  infra/helm/bud/charts/minio-17.0.15.tgz
  infra/helm/bud/charts/mongodb-16.5.31.tgz
  infra/helm/bud/charts/postgresql-16.7.18.tgz
  infra/helm/bud/charts/valkey-3.0.20.tgz
  infra/helm/bud/scd.toml
  infra/helm/cert-manager/.helmignore
  infra/helm/cert-manager/Chart.lock
  infra/helm/cert-manager/Chart.yaml
  infra/helm/cert-manager/charts/cert-manager-v1.18.2.tgz
  infra/helm/cert-manager/scid.toml
  infra/helm/cert-manager/templates/clusterissuer.yaml
  infra/helm/cert-manager/values.yaml
  infra/helm/dapr/.helmignore
  infra/helm/dapr/Chart.lock
  infra/helm/dapr/Chart.yaml
  infra/helm/dapr/charts/dapr-1.15.8.tgz
  infra/helm/dapr/scid.toml
  infra/helm/dapr/values.yaml
  infra/helm/keel/.helmignore
  infra/helm/keel/Chart.lock
  infra/helm/keel/Chart.yaml
  infra/helm/keel/charts/keel-1.0.5.tgz
  infra/helm/keel/scid.toml
  infra/helm/keel/values.enc.yaml
  infra/helm/keel/values.yaml
Due: none

chore(helm): clean up
  infra/helm/cert-manager/scid.toml
  infra/helm/cert-manager/templates/clusterissuer.yaml
  infra/helm/dapr/values.yaml
  infra/helm/keel/scid.toml
Due: none

feat(scid): init
  flake.lock
  flake.nix
  nix/nixos/master/configuration.nix
  nix/nixos/master/modules/cd/default.nix
  nix/nixos/master/modules/cd/helm/default.nix
  nix/nixos/master/modules/cd/helm/package.nix
  nix/nixos/master/modules/cd/helm/script.sh
  nix/nixos/master/modules/cd/nixos.nix
  nix/nixos/master/modules/k3s.nix
  nix/nixos/master/modules/k8s/charts/cert-manager/cert-manager-v1.18.2.tgz
  nix/nixos/master/modules/k8s/charts/cert-manager/values.yaml
  nix/nixos/master/modules/k8s/charts/dapr/dapr-1.15.9.tgz
  nix/nixos/master/modules/k8s/charts/dapr/values.yaml
  nix/nixos/master/modules/k8s/default.nix
  nix/nixos/master/modules/scid.nix
  nix/nixos/master/secrets.yaml
Due: none

chore(sops): refactor
  .sops.yaml
  infra/terraform/main/secrets.yaml
  nix/workflows/dockerhub_budcustomer/script.sh
  nix/workflows/dockerhub_budcustomer/secrets.yaml
Due: none

chore(ci): remove duplicates
  .github/workflows/deployment-tofu.yaml
Due: none

fix(chore): old cd module clean up
  nix/nixos/master/configuration.nix
Due: none

feat(guardrails): add guardrails module with API implementation
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/guardrails/__init__.py
  services/budapp/budapp/guardrails/crud.py
  services/budapp/budapp/guardrails/guardrail_routes.py
  services/budapp/budapp/guardrails/models.py
  services/budapp/budapp/guardrails/schemas.py
  services/budapp/budapp/guardrails/services.py
Due: none

chore(flake/scid): bump
  flake.lock
Due: none

chore(nixos/scid): add paths
  flake.lock
  nix/nixos/master/modules/scid.nix
Due: none

fix(nixos/scid): set envs
  nix/nixos/master/modules/scid.nix
Due: none

feat: added output validation on stream
  budprompt/prompt/executors.py
  budprompt/prompt/streaming_executors.py
  budprompt/prompt/streaming_json_validator.py
  budprompt/prompt/streaming_validation.py
  budprompt/prompt/utils.py
  tests/test_streaming_validation.py
Due: none

guardrail added
  services/budadmin/public/guardrails/10.png
  services/budadmin/public/guardrails/11.png
  services/budadmin/public/guardrails/12.png
  services/budadmin/public/guardrails/13.png
  services/budadmin/public/guardrails/15.png
  services/budadmin/public/guardrails/16.png
  services/budadmin/public/guardrails/17.png
  services/budadmin/public/guardrails/3.png
  services/budadmin/public/guardrails/4.png
  services/budadmin/public/guardrails/5.png
  services/budadmin/public/guardrails/6.png
  services/budadmin/public/guardrails/7.png
  services/budadmin/public/guardrails/8.png
  services/budadmin/public/guardrails/9.png
  services/budadmin/src/flows/GuardRails/AddCustomGuardRail.tsx
  services/budadmin/src/flows/GuardRails/BudSentinelProbes.tsx
  services/budadmin/src/flows/GuardRails/DeployingProbe.tsx
  services/budadmin/src/flows/GuardRails/DeploymentTypes.tsx
  services/budadmin/src/flows/GuardRails/GuardRailDetails.tsx
  services/budadmin/src/flows/GuardRails/PIIDetectionConfig.tsx
  services/budadmin/src/flows/GuardRails/PolitenessDetection.tsx
  services/budadmin/src/flows/GuardRails/ProbeDeploymentSuccess.tsx
  services/budadmin/src/flows/GuardRails/ProbeDetails.tsx
  services/budadmin/src/flows/GuardRails/ProbeSettings.tsx
  services/budadmin/src/flows/GuardRails/SelectDeployment.tsx
  services/budadmin/src/flows/GuardRails/SelectProbeType.tsx
  services/budadmin/src/flows/GuardRails/SelectProject.tsx
  services/budadmin/src/flows/GuardRails/SelectProvider.tsx
  services/budadmin/src/flows/GuardRails/TrainingProbe.tsx
  services/budadmin/src/flows/GuardRails/UploadDataset.tsx
  services/budadmin/src/flows/GuardRails/ViewGuardRailDetails.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/pages/home/guardrails/index.tsx
Due: budadmin-lint, budadmin-typecheck

chore(flake): bump scid
  flake.lock
Due: none

feat: added prompt models
  services/budapp/budapp/commons/__init__.py
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/migrations/versions/cff39db54e42_add_prompt_and_prompt_version_tables.py
  services/budapp/budapp/prompt_ops/__init__.py
  services/budapp/budapp/prompt_ops/crud.py
  services/budapp/budapp/prompt_ops/models.py
  services/budapp/budapp/prompt_ops/prompt_routes.py
Due: none

fix: resolve build errors and code quality issues in PR #93
  services/budadmin/src/components/blocking/BlockingRulesList.tsx
  services/budgateway/tensorzero-internal/src/gateway_util.rs
  services/budmetrics/budmetrics/observability/routes.py
Due: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budadmin-typecheck

evaluation flow fix
  services/budadmin/src/flows/Evaluations/NewExperiment/index.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/EvaluationSummary.tsx
Due: budadmin-lint, budadmin-typecheck

feat: add circuit breaker for Redis and enhance validation
  services/budgateway/docs/GEOIP_SETUP.md
  services/budgateway/tensorzero-internal/src/blocking_rules.rs
  services/budmetrics/budmetrics/observability/schemas.py
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: update migration down_revision after merge
  services/budapp/budapp/migrations/versions/cb7835c3be15_gateway_blocking_rules.py
Due: none

fix: correct import paths in blocking rules tests
  services/budapp/tests/test_blocking_rules.py
Due: none

fix(budcustomer): runtime env injection
  nix/container/budcustomer.nix
  nix/packages/budcustomer.nix
  services/budCustomer/.env.hack
Due: none

feat(observability): api logging and monitoring
  services/budapp/budapp/credential_ops/credential_routes.py
  services/budapp/budapp/credential_ops/services.py
  services/budapp/tests/test_auth_metadata_tracking.py
  services/budgateway/docs/AUTH_METADATA_TRACKING.md
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/redis_client.rs
  services/budmetrics/budmetrics/observability/routes.py
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
  services/budmetrics/scripts/add_auth_metadata_columns.sql
  services/budmetrics/scripts/migrate_clickhouse.py
Due: cargo-fmt, cargo-clippy, cargo-deny

test: skip blocking rules tests until database fixtures are configured
  services/budapp/tests/test_blocking_rules.py
Due: none

fix: update e2e test migration indices to match NUM_MIGRATIONS constant
  services/budgateway/tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: update second migration test array to include index 26
  services/budgateway/tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

auth try
  services/budCustomer/src/app/auth/login/page.tsx
Due: none

feat(observability): api logging and monitoring
  services/budgateway/tensorzero-internal/src/kafka/cloudevents.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(fixcustomer): build
  services/budCustomer/nix.hash
Due: none
