Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$

feat(budadmin): add evaluate_model flow mapping
  services/budadmin/src/hooks/drawerFlows.tsx
Due: budadmin-lint, budadmin-typecheck

feat: add BudDoc service integration with authorization forwarding
  infra/helm/bud/templates/microservices/buddoc.yaml
  infra/helm/bud/values.yaml
  services/budapp/.env.sample
  services/budapp/budapp/commons/config.py
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/commons/helpers.py
  services/budapp/budapp/endpoint_ops/services.py
  services/budapp/tests/test_mllm_document_support.py
  services/buddoc/alembic/env.py
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/blocking_middleware.rs
  services/budgateway/tensorzero-internal/src/blocking_rules.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0031.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0032.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0033.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/gateway_util.rs
  services/budgateway/tensorzero-internal/src/inference/providers/buddoc.rs
  services/budgateway/tensorzero-internal/src/inference/types/mod.rs
  services/budgateway/tensorzero-internal/src/model.rs
  services/budgateway/tensorzero-internal/src/redis_client.rs
  services/budgateway/tensorzero-internal/src/usage_limit/limiter.rs
  services/budgateway/tensorzero-internal/src/usage_limit/middleware.rs
  services/budgateway/tensorzero-internal/src/usage_limit/mod.rs
  services/budgateway/tensorzero-internal/tests/e2e/clickhouse.rs
  services/budgateway/tensorzero-internal/tests/e2e/new_inference_types.rs
  services/budgateway/tensorzero-internal/tests/e2e/observability_endpoints.rs
  services/budgateway/tensorzero-internal/tests/e2e/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: add BudDoc service integration with authorization forwarding
  infra/helm/bud/templates/microservices/buddoc.yaml
  infra/helm/bud/values.yaml
  services/buddoc/alembic/env.py
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/blocking_middleware.rs
  services/budgateway/tensorzero-internal/src/blocking_rules.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0031.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0032.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0033.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/gateway_util.rs
  services/budgateway/tensorzero-internal/src/inference/providers/buddoc.rs
  services/budgateway/tensorzero-internal/src/inference/types/mod.rs
  services/budgateway/tensorzero-internal/src/model.rs
  services/budgateway/tensorzero-internal/src/redis_client.rs
  services/budgateway/tensorzero-internal/src/usage_limit/limiter.rs
  services/budgateway/tensorzero-internal/src/usage_limit/middleware.rs
  services/budgateway/tensorzero-internal/src/usage_limit/mod.rs
  services/budgateway/tensorzero-internal/tests/e2e/clickhouse.rs
  services/budgateway/tensorzero-internal/tests/e2e/new_inference_types.rs
  services/budgateway/tensorzero-internal/tests/e2e/observability_endpoints.rs
  services/budgateway/tensorzero-internal/tests/e2e/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

add eval fix
  services/budadmin/src/components/island/BudWidget.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/RunEvaluationStatus.tsx
  services/budadmin/src/flows/components/CommonStatus.tsx
  services/budadmin/src/stores/useWorkflow.tsx
Due: budadmin-lint, budadmin-typecheck

fix(evaluations): add GET workflow call after POST in evaluation workflow
  services/budadmin/src/hooks/useEvaluations.tsx
Due: budadmin-lint, budadmin-typecheck

feat: add BudDoc service integration with authorization forwarding
  services/budapp/.env.sample
  services/budapp/budapp/commons/config.py
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/commons/helpers.py
  services/budapp/budapp/endpoint_ops/services.py
  services/budapp/tests/test_mllm_document_support.py
Due: none

fix(budmodel): update XPath selector for model images on HuggingFace
  services/budmodel/budmodel/model_info/huggingface.py
Due: none

list tags
  services/budadmin/src/flows/GuardRails/SelectProvider.tsx
  services/budadmin/src/pages/home/guardrails/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(guardrails): update workflow implementation to match AddModel pattern
  services/budadmin/src/flows/GuardRails/BudSentinelProbes.tsx
  services/budadmin/src/flows/GuardRails/DeploymentTypes.tsx
  services/budadmin/src/flows/GuardRails/PIIDetectionConfig.tsx
  services/budadmin/src/flows/GuardRails/ProbeSettings.tsx
  services/budadmin/src/flows/GuardRails/SelectDeployment.tsx
  services/budadmin/src/flows/GuardRails/SelectProject.tsx
  services/budadmin/src/hooks/useGuardrails.tsx
  services/budadmin/src/pages/home/guardrails/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budsim): ensure case-insensitive device type comparison
  services/budsim/budsim/engine_ops/utils.py
  services/budsim/budsim/simulator/services.py
  services/budsim/budsim/simulator/workflows.py
Due: none

feat(budadmin): add document processing models to local model flow
  services/budadmin/public/images/drawer/document.png
  services/budadmin/src/flows/AddModel/Local/AddLocalModel.tsx
  services/budadmin/src/flows/AddModel/Local/DocumentModelList.tsx
  services/budadmin/src/flows/AddModel/ModelSource.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/stores/useDeployModel.tsx
Due: budadmin-lint, budadmin-typecheck

Update services/budsim/budsim/simulator/workflows.py
  services/budsim/budsim/simulator/workflows.py
Due: none

feat(evaluations): improve experiments table UI with ellipsis and popovers
  services/budadmin/src/pages/home/evaluations/experiments/index.tsx
  services/budadmin/src/pages/home/evaluations/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(eta): add model size-based ETA calculation for deployments
  services/budapp/budapp/model_ops/schemas.py
  services/budapp/budapp/model_ops/services.py
  services/budcluster/budcluster/deployment/schemas.py
  services/budcluster/budcluster/deployment/services.py
Due: none

Update services/budcluster/budcluster/deployment/services.py
  services/budcluster/budcluster/deployment/services.py
Due: none

fix(user-management): resolve role selection and form submission issues in AddUser
  services/budadmin/src/flows/components/SelectInput.tsx
  services/budadmin/src/flows/user/AddUser.tsx
  services/budadmin/src/pages/home/userManagement/index.tsx
Due: budadmin-lint, budadmin-typecheck

workflow id
  services/budadmin/src/hooks/useEvaluations.tsx
Due: budadmin-lint, budadmin-typecheck

fix(user): add user validation
  services/budapp/budapp/project_ops/services.py
Due: none

chore(eval): updated some logics
  services/budapp/budapp/eval_ops/services.py
Due: none

fix(eval): remove experiment ownership validation from workflow retrieval
  services/budapp/budapp/eval_ops/services.py
Due: none

feat(playground) Added IP forwarding
  services/budplayground/app/api/chat/route.ts
Due: budplayground-lint, budplayground-typecheck

fix(eval): replace hardcoded experiment stats with default values and use description as objective
  services/budapp/budapp/eval_ops/services.py
Due: none

exp
  services/budadmin/src/components/island/BudWidget.tsx
Due: budadmin-lint, budadmin-typecheck

fix: remove unnecessary dependency in BudWidget useEffect hook
  services/budadmin/src/components/island/BudWidget.tsx
Due: budadmin-lint, budadmin-typecheck

probe
  services/budadmin/src/flows/GuardRails/BudSentinelProbes.tsx
  services/budadmin/src/flows/GuardRails/DeploymentTypes.tsx
  services/budadmin/src/flows/GuardRails/PIIDetectionConfig.tsx
  services/budadmin/src/hooks/useGuardrails.tsx
Due: budadmin-lint, budadmin-typecheck

feat(ask-bud): configure ask-bud service with database and inference settings
  infra/helm/bud/values.ditto.yaml
  infra/helm/bud/values.yaml
  services/ask-bud/requirements.txt
Due: none

chore(helm/bud/ask): expose via ingress
  infra/helm/bud/templates/ingress.yaml
Due: none

chore(infra/s3): bump storage
  infra/helm/bud/values.dev.yaml
Due: none

chore(infra/helm): typo
  infra/helm/bud/templates/microservices/askbud.yaml
Due: none

fix: openai agents version
  services/ask-bud/deploy/Dockerfile
  services/ask-bud/requirements.txt
Due: none

fix(eval): make judge field optional and set to null when not available
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
Due: none

fix: add guardrail scan summaries to inference responses
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/endpoints/batch_inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/gateway_util.rs
  services/budgateway/tensorzero-internal/src/guardrail.rs
  services/budgateway/tensorzero-internal/src/guardrail_table.rs
  services/budgateway/tensorzero-internal/src/inference/providers/azure_content_safety.rs
  services/budgateway/tensorzero-internal/src/inference/providers/mistral.rs
  services/budgateway/tensorzero-internal/src/inference/types/mod.rs
  services/budgateway/tensorzero-internal/src/model.rs
  services/budgateway/tensorzero-internal/src/model_fallback_tests.rs
  services/budgateway/tensorzero-internal/src/moderation.rs
  services/budgateway/tensorzero-internal/src/observability.rs
  services/budgateway/tensorzero-internal/src/redis_client.rs
  services/budgateway/tensorzero-internal/src/testing.rs
  services/budgateway/tensorzero-internal/src/usage_limit/limiter.rs
  services/budgateway/tensorzero-internal/src/usage_limit/mod.rs
  services/budgateway/tensorzero-internal/src/variant/best_of_n_sampling.rs
  services/budgateway/tensorzero-internal/src/variant/chat_completion.rs
  services/budgateway/tensorzero-internal/src/variant/mixture_of_n.rs
  services/budgateway/tensorzero-internal/src/variant/mod.rs
  services/budgateway/tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: resolve alembic migration heads
  services/budapp/budapp/migrations/versions/27aaabdf2b63_update_proprietary_credential_types.py
Due: none

chore(helm/bud): bitnami rugpull
  infra/helm/bud/values.yaml
Due: none

fix: drop legacy guardrail table format support and tests
  services/budgateway/tensorzero-internal/src/redis_client.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: add UI updates for document model listing
  AGENTS.md
  services/budadmin/src/components/ui/bud/deploymentDrawer/DeployModelSelect.tsx
  services/budadmin/src/flows/AddModel/Cloud/ModelList.tsx
  services/budadmin/src/flows/AddModel/Local/DocumentModelList.tsx
  services/budadmin/src/hooks/useCloudProviders.tsx
  services/budadmin/src/hooks/useModels.tsx
  services/budadmin/src/pages/api/requests.ts
  services/budadmin/src/stores/useDeployModel.tsx
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/migrations/versions/7a8b9c0d1e2f_add_document_to_model_endpoint_enum.py
  services/budapp/budapp/migrations/versions/8f21a6b4c5d7_add_local_provider_capability.py
  services/budapp/budapp/model_ops/crud.py
  services/budapp/budapp/model_ops/model_routes.py
  services/budapp/budapp/model_ops/scheduler.py
  services/budapp/budapp/model_ops/schemas.py
Due: budadmin-lint, budadmin-typecheck

bug fixes
  services/budCustomer/src/app/(app)/logs/page.tsx
  services/budCustomer/src/components/inferences/InferenceFilters.tsx
  services/budCustomer/src/components/island/BudNotification.tsx
Due: none

fix: mirgation
  services/budapp/budapp/migrations/versions/7a8b9c0d1e2f_add_document_to_model_endpoint_enum.py
Due: none
