Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

refactor(prompts): add proper types for getPromptConfig response
  services/budadmin/src/hooks/usePrompts.tsx
Due: budadmin-lint, budadmin-typecheck

fix(agents): add error logging in parseSchemaToVariables catch block
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(agents): simplify null/undefined checks using != null
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: openai streaming fomratter updated with instructions change
  services/budprompt/budprompt/executors/v4/executor.py
  services/budprompt/budprompt/executors/v4/openai_streaming_formatter.py
Due: none

fix: removed _format_input_items fro openai formatter
  services/budprompt/budprompt/executors/v4/openai_response_formatter.py
Due: none

feat(eval): migration from model id to endpoits
  services/budeval/budeval/evals/job_monitor.py
  services/budeval/budeval/evals/workflows.py
Due: none

fix(agents): enable structured mode when loading schema from config API
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

fix(agents): defer schema clear API calls to Update button click
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

fix(agents): reload prompt config when returning from playground
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(agents): simplify structured schema enable logic
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

feat(eval): migration from model id to endpoits
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
  services/budeval/budeval/evals/job_monitor.py
Due: none

refactor(agents): extract createDefaultVariable helper to reduce duplication
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

feat: added exception handling for frontned requirement
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix: resolved review comments
  services/budapp/budapp/prompt_ops/services.py
Due: none

eval fixes
  services/budadmin/src/components/evaluations/BenchmarkProgress.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/NewEvaluation.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/SelectTrait.tsx
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
  services/budadmin/src/pages/home/evaluations/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(commit): fix precommit
  services/budapp/budapp/eval_ops/schemas.py
Due: none

refactor: removed unused mcp_tool_call_ids variable
  services/budprompt/budprompt/executors/v4/openai_response_formatter.py
  services/budprompt/budprompt/executors/v4/openai_streaming_formatter.py
Due: none

build fix
  services/budadmin/src/components/evaluations/BenchmarkProgress.tsx
Due: budadmin-lint, budadmin-typecheck

feat(eval): updated workflow list API
  services/budapp/budapp/workflow_ops/schemas.py
Due: none

feat(eval): updated sync logic
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/manifest_schemas.py
Due: none

fix(commit): fix precommit
  services/budapp/budapp/eval_ops/eval_routes.py
Due: none

refactor: added dry principle for parsing tool details in resposne
  services/budprompt/budprompt/executors/v4/openai_response_formatter.py
  services/budprompt/budprompt/executors/v4/openai_streaming_formatter.py
Due: none

fix(eval): convert seconds to minutes)
  services/budeval/budeval/evals/job_monitor.py
  services/budeval/budeval/evals/workflows.py
Due: none

fix: resolved constant typo issue
  services/budprompt/budprompt/commons/constants.py
  services/budprompt/budprompt/executors/v3/openai_response_formatter.py
  services/budprompt/budprompt/executors/v4/openai_response_formatter.py
  services/budprompt/budprompt/prompt/openai_response_formatter_v1.py
Due: none

fix: removed unused state variable
  services/budprompt/budprompt/executors/v4/openai_response_formatter.py
Due: none

fix: preserve URL params on login redirect and unlock deployment when no promptIds
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/login/page.tsx
Due: budplayground-lint, budplayground-typecheck

feat(eval): updated workflow response
  services/budapp/budapp/workflow_ops/services.py
Due: none

refactor: memoize getChatRedirectUrl with useCallback
  services/budplayground/app/login/page.tsx
Due: budplayground-lint, budplayground-typecheck

Update services/budapp/budapp/workflow_ops/services.py
  services/budapp/budapp/workflow_ops/services.py
Due: none

refactor: changed streaming formatter version
  services/budprompt/budprompt/executors/v4/executor.py
  services/budprompt/budprompt/executors/v4/openai_streaming_formatter.py
Due: none

feat: enable CPU inference support and add cluster state notifications
  services/budcluster/budcluster/cluster_ops/device_extractor.py
  services/budcluster/budcluster/cluster_ops/nfd_handler.py
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/node_info_collector/node_info_service.py
  services/budsim/budsim/simulator/services.py
  services/budsim/budsim/simulator/workflows.py
Due: none

fix: address code review feedback from Gemini and Codex
  services/budcluster/budcluster/cluster_ops/device_extractor.py
  services/budcluster/budcluster/cluster_ops/nfd_handler.py
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/node_info_collector/node_info_service.py
Due: none

fixed dataset ids and evals selection
  services/budadmin/src/flows/Evaluations/RunEvaluation/SelectEvaluation.tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/[evaluationId].tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/evalExplorerTable.tsx
  services/budadmin/src/stores/useWorkflow.tsx
Due: budadmin-lint, budadmin-typecheck

fixed build comments, added response and refresh button
  services/budadmin/src/components/evaluations/BenchmarkProgress.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/NewEvaluation.tsx
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
Due: budadmin-lint, budadmin-typecheck

style: fix pre-commit linting issues
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/node_info_collector/node_info_service.py
Due: none

fix: resolve bandit security warnings in pre-commit checks
  .pre-commit-config.yaml
  services/budmetrics/scripts/migrate_clickhouse.py
  services/budmetrics/scripts/seed_observability_metrics.py
  services/budmodel/budmodel/commons/config.py
Due: none

style: fix trailing whitespace in BenchmarkProgress component
  services/budadmin/src/components/evaluations/BenchmarkProgress.tsx
Due: budadmin-lint, budadmin-typecheck

fix: add form dependency to useEffect in NewEvaluation
  services/budadmin/src/flows/Evaluations/RunEvaluation/NewEvaluation.tsx
Due: budadmin-lint, budadmin-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
