Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$

fix(budplayground): truncate long model names in NavBar LoadModel button
  services/budplayground/app/chat/components/LoadModel.tsx
Due: budplayground-lint, budplayground-typecheck

fix(budadmin): truncate long deployment names in agent LoadModel button
  services/budadmin/src/components/agents/LoadModel.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budcluster): fix HPU detection pattern and sort imports
  services/budcluster/budcluster/cluster_ops/workflows.py
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

fix(infra/bud): broken dep
  infra/helm/bud/scid.prod.toml
Due: none

fix(budadmin): add order_by to guardrail probes listing API call
  services/budadmin/src/pages/home/guardrails/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budcluster): allow HAMI re-deployment when update_existing is set
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

perf(budapp): reduce database session count in sync schedulers
  services/budapp/budapp/commons/database.py
  services/budapp/budapp/eval_ops/workflows.py
  services/budapp/budapp/guardrails/scheduler.py
  services/budapp/budapp/model_ops/scheduler.py
Due: none

feat(budadmin): add dedicated addGuardrailCloud drawer flow for cloud providers
  services/budadmin/src/flows/GuardRails/BudSentinelProbes.tsx
  services/budadmin/src/flows/GuardRails/DeploymentTypes.tsx
  services/budadmin/src/flows/GuardRails/GuardrailSelectCredentials.tsx
  services/budadmin/src/flows/GuardRails/ProbeDeploymentSuccess.tsx
  services/budadmin/src/flows/GuardRails/ProbeSettings.tsx
  services/budadmin/src/flows/GuardRails/SelectDeployment.tsx
  services/budadmin/src/flows/GuardRails/SelectProject.tsx
  services/budadmin/src/flows/GuardRails/SelectProvider.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
Due: budadmin-lint, budadmin-typecheck

cloud add guardrail check
  services/budadmin/src/flows/GuardRails/GuardrailSelectCredentials.tsx
  services/budadmin/src/flows/GuardRails/ProbeSettings.tsx
  services/budadmin/src/flows/GuardRails/SelectProject.tsx
Due: budadmin-lint, budadmin-typecheck

chore(helm/bud): drop unused vars
  infra/helm/bud/values.yaml
Due: none

fix(budadmin): fix agent overview charts and observability log improvements
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/LogDetailsDrawer.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/overview/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(infra/nfs-csi): drop from prod
  infra/helm/nfs-csi/scid.prod.toml
Due: none

fix: update Aibrix URLs in playbooks to remove version prefix
  services/budcluster/budcluster/cluster_ops/workflows.py
  services/budcluster/budcluster/playbooks/delete_cluster.yaml
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

feat(budapp): pass user JWT token to MCP Foundry API calls
  services/budapp/budapp/connector_ops/connector_routes.py
  services/budapp/budapp/connector_ops/services.py
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

feat(connector): enrich credential schema with defaults from oauth_config
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/pages/home/settings/connectors/index.tsx
  services/budadmin/src/stores/useConnectors.ts
  services/budapp/budapp/connector_ops/services.py
  services/budapp/budapp/prompt_ops/services.py
Due: budadmin-lint, budadmin-typecheck

fix: add missing kubeconfig params to DCGM Exporter tasks
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

fix(budcluster): add time unit suffix to Helm wait_timeout values
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

fix(budcluster): add k3s detection and GPU Operator toolkit config
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

chore(budapp): remove MCP Foundry API key init script
  infra/helm/bud/templates/microservices/budapp.yaml
  services/budapp/.env.sample
  services/budapp/budapp/commons/config.py
  services/budapp/budapp/shared/mcp_foundry_service.py
  services/budapp/deploy/Dockerfile
  services/budapp/entrypoint_mcpgateway_api_token.sh
Due: none

fix(budcluster): fix HAMI wait and DCGM deploy conditions for re-onboarding
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

fix(budcluster): use standard nvidia label for HAMI device plugin nodeSelector
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

fix(budcluster): fix GPU detection using dict2items to handle dotted label keys
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

fix(budplayground): clear stale prompt session data when switching to default mode
  services/budplayground/app/chat/page.tsx
  services/budplayground/app/store/__tests__/chat.test.ts
  services/budplayground/app/store/chat.ts
  services/budplayground/app/types/chat.ts
Due: budplayground-lint, budplayground-typecheck

fix: upgrade dependencies to resolve Dependabot security alerts
  services/ask-bud/requirements.txt
  services/budCustomer/package.json
  services/budCustomer/pnpm-lock.yaml
  services/budadmin/package.json
  services/budapp/requirements.txt
  services/budcluster/requirements.txt
  services/buddoc/requirements.txt
  services/budeval/requirements.txt
  services/budgateway/Cargo.lock
  services/budgateway/Cargo.toml
  services/budgateway/gateway/Cargo.toml
  services/budgateway/provider-proxy/Cargo.toml
  services/budgateway/tensorzero-internal/Cargo.toml
  services/budgateway/tensorzero-internal/src/geoip.rs
  services/budmetrics/requirements.txt
  services/budnotify/requirements.txt
  services/budplayground/package-lock.json
  services/budplayground/package.json
  services/budprompt/requirements.txt
Due: cargo-fmt, cargo-clippy, cargo-deny

chore(budcustomer): bump nix hash
  services/budCustomer/nix.hash
Due: none

fix(frontends): remove ajv override that breaks ESLint
  services/budCustomer/package.json
  services/budCustomer/pnpm-lock.yaml
  services/budadmin/package.json
  services/budplayground/package-lock.json
  services/budplayground/package.json
Due: none

fix(buddoc): detect empty VLM results as processing failure
  services/buddoc/buddoc/documents/services.py
Due: none

fix(budcustomer): resolve pnpm audit failures for minimatch and next.js
  services/budCustomer/nix.hash
  services/budCustomer/package.json
  services/budCustomer/pnpm-lock.yaml
Due: none

fix(infra/db): migration
  infra/helm/bud/templates/extra/clickhouse.yaml
  infra/helm/bud/templates/extra/postgres.yaml
Due: none

fix(security): resolve critical Dependabot vulnerabilities
  services/budCustomer/package.json
  services/budadmin/package.json
  services/budmodel/budmodel/core/services/check.py
  services/budmodel/budmodel/leaderboard/web_crawler.py
  services/budmodel/budmodel/metrics_collector/data_fetcher.py
  services/budmodel/budmodel/metrics_collector/fetch_data.py
  services/budmodel/requirements.txt
  services/budmodel/tests/test_eta_observer_unit.py
  services/budplayground/package.json
Due: none

fix(budmodel): address PR review feedback for crawl4ai migration
  services/budmodel/budmodel/leaderboard/web_crawler.py
  services/budmodel/budmodel/metrics_collector/data_fetcher.py
Due: none

fix(budcustomer): update pnpm lockfile for form-data override
  services/budCustomer/pnpm-lock.yaml
Due: none

chore(budplayground): remove commented-out size prop in Messages
  services/budplayground/app/components/bud/chat/Messages.tsx
Due: budplayground-lint, budplayground-typecheck
