Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd services/budgateway && cargo +nightly fmt -- --check || cargo fmt -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd services/budgateway && cargo +nightly clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: bash -c 'cd services/budgateway && cargo +nightly deny check || cargo deny check'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && npx tsc --noEmit'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && npx tsc --noEmit'
  language: system
  pass_filenames: false

feat: added bud proxy integration in v1/responses
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/services.py
  services/budprompt/budprompt/prompt/streaming_executors.py
  services/budprompt/budprompt/responses/routes.py
  services/budprompt/budprompt/responses/services.py
  services/budprompt/budprompt/shared/providers.py
Due: none

fix(evalnotif): evaluation causing workflow not found retry
  services/budeval/budeval/evals/workflows.py
Due: none

choree(budcluster): secrets clean up
  services/budcluster/budcluster/cluster_ops/kubernetes.py
  services/budcluster/budcluster/commons/config.py
  services/budcluster/budcluster/deployment/handler.py
  services/budcluster/budcluster/playbooks/deploy_quantization_job.yaml
  services/budcluster/budcluster/playbooks/deploy_runtime.yaml
  services/budcluster/budcluster/playbooks/model_transfer_playbook.yml
  services/budcluster/tests/test_intial_setup_service.py
Due: none

fix(model endpoint): cloud model issue
  services/budapp/budapp/model_ops/services.py
Due: none

fix: changed prompt redis database to gateway redis
  infra/helm/bud/values.varun.yaml
Due: none

chore(infra/helm/bud): document secrets
  infra/helm/bud/example.secrets.yaml
Due: none

chore(infra/helm): clean up
  infra/helm/bud/example.secrets.yaml
  infra/helm/bud/values.dev.yaml
  infra/helm/bud/values.yaml
Due: none

chore(infra/helm): clean up
  infra/helm/bud/templates/budgateway.yaml
  infra/helm/bud/templates/microservices/askbud.yaml
  infra/helm/bud/templates/microservices/budadmin.yaml
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/values.yaml
Due: none

chore(infra/helm/enc.secrets): clean up
  infra/helm/bud/values.enc.yaml
  infra/helm/bud/values.yaml
Due: none

chore(infra/helm/bud): do not bundle keel, mimir, & dapr
  infra/helm/bud/Chart.lock
  infra/helm/bud/Chart.yaml
  infra/helm/bud/charts/dapr-1.15.8.tgz
  infra/helm/bud/charts/keel-1.0.5.tgz
  infra/helm/bud/charts/mimir-distributed-5.8.0.tgz
  infra/helm/bud/values.yaml
Due: none

fix(budmodel): handle null values in budconnect cloud model responses
  services/budmodel/budmodel/commons/connect_utils.py
  services/budmodel/tests/conftest.py
  services/budmodel/tests/test_cloud_model_extraction_integration.py
  services/budmodel/tests/test_connect_utils.py
Due: none

style: update flowgram node styling with dark theme
  services/budadmin/src/components/flowgramEditorDemo/components/multi-input-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/output-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/prompt-messages-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/system-prompt-card.tsx
  services/budadmin/src/styles/index.css
Due: budadmin-lint, budadmin-typecheck

chore(infra/helm/budplayground): clean up
  infra/helm/bud/Chart.yaml
  infra/helm/bud/templates/extra/clickhouse.yaml
  infra/helm/bud/templates/extra/postgres.yaml
  infra/helm/bud/templates/microservices/budplayground.yaml
  infra/helm/bud/values.yaml
Due: none

Fix promptMessages data type issues and add migration
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/stores/useAgentStore.ts
Due: budadmin-lint, budadmin-typecheck

chore(infra/helm/bud): add enable flags for each service
  infra/helm/bud/templates/microservices/budadmin.yaml
  infra/helm/bud/templates/microservices/budplayground.yaml
  infra/helm/bud/values.yaml
Due: none

chore(helm/bud/dapr): clean up
  infra/helm/bud/templates/dapr/pubsub.yaml
  infra/helm/bud/templates/microservices/askbud.yaml
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/budcluster.yaml
  infra/helm/bud/templates/microservices/budeval.yaml
  infra/helm/bud/templates/microservices/budmetrics.yaml
  infra/helm/bud/templates/microservices/budmodel.yaml
  infra/helm/bud/templates/microservices/budnotify.yaml
  infra/helm/bud/templates/microservices/budprompt.yaml
  infra/helm/bud/templates/microservices/budsim.yaml
Due: none

chore(infra/helm/bud): fine tune memory requirements
  infra/helm/bud/templates/microservices/budcluster.yaml
  infra/helm/bud/templates/microservices/budeval.yaml
  infra/helm/bud/templates/microservices/budmetrics.yaml
  infra/helm/bud/templates/microservices/budmodel.yaml
  infra/helm/bud/templates/microservices/budnotify.yaml
  infra/helm/bud/templates/microservices/budprompt.yaml
  infra/helm/bud/templates/microservices/budsim.yaml
Due: none

chore(helm/bud): drop duplicate secrets
  infra/helm/bud/example.secrets.yaml
  infra/helm/bud/values.yaml
Due: none

chore(helm/bud): add enable flag for backend services
  infra/helm/bud/templates/microservices/askbud.yaml
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/budcluster.yaml
  infra/helm/bud/templates/microservices/buddoc.yaml
  infra/helm/bud/templates/microservices/budeval.yaml
  infra/helm/bud/templates/microservices/budmetrics.yaml
  infra/helm/bud/templates/microservices/budmodel.yaml
  infra/helm/bud/templates/microservices/budnotify.yaml
  infra/helm/bud/templates/microservices/budprompt.yaml
  infra/helm/bud/templates/microservices/budsim.yaml
  infra/helm/bud/values.yaml
Due: none

fix: pde env updated
  infra/helm/bud/values.varun.yaml
Due: none

fix: pde env updated base url
  infra/helm/bud/values.varun.yaml
Due: none

feat(budapp): added extra columns
  services/budapp/budapp/eval_ops/models.py
  services/budapp/budapp/migrations/versions/897495e31393_add_duration_in_seconds_and_trait_.py
Due: none

fix: pde env updated log level
  infra/helm/bud/values.varun.yaml
Due: none

chore: added debug true for testing
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix(playground):top p issue Removed top p from settings
  services/budplayground/app/api/chat/route.ts
  services/budplayground/app/chat/components/Settings.tsx
Due: budplayground-lint, budplayground-typecheck

fix(budappEval): updated the runs api
  services/budadmin/src/components/evaluations/RunsHistoryTable.tsx
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
Due: budadmin-lint, budadmin-typecheck

fix(budappEval): updated current metrics api+ui
  services/budadmin/src/components/evaluations/CurrentMetricsTable.tsx
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
Due: budadmin-lint, budadmin-typecheck

fix(budappEval): updated current metrics api+ui
  services/budeval/budeval/evals/workflows.py
Due: none

fix(playground):penalty issue
  services/budplayground/app/chat/components/Settings.tsx
Due: budplayground-lint, budplayground-typecheck

Update services/budplayground/app/chat/components/Settings.tsx
  services/budplayground/app/chat/components/Settings.tsx
Due: budplayground-lint, budplayground-typecheck

agent
  services/budadmin/src/components/agents/settings/PromptMessageSettings.tsx
  services/budadmin/src/components/agents/settings/SettingsSidebar.tsx
  services/budadmin/src/components/agents/settings/SystemPromptSettings.tsx
  services/budadmin/src/components/flowgramEditorDemo/hooks/use-editor-props.tsx
  services/budadmin/src/components/ui/bud/form/Buttons.tsx
  services/budadmin/src/components/ui/input.tsx
Due: budadmin-lint, budadmin-typecheck

agent wotkflow
  services/budadmin/ADD_AGENT_WORKFLOW_INTEGRATION.md
  services/budadmin/src/components/agents/settings/PromptMessageSettings.tsx
  services/budadmin/src/flows/AddAgent/SelectAgentType.tsx
  services/budadmin/src/flows/AddAgent/SelectProject.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/stores/useAddAgent.tsx
  services/budadmin/test-add-agent-workflow.js
Due: budadmin-lint, budadmin-typecheck

fix(eval): testing eval results
  services/budeval/budeval/evals/workflows.py
Due: none

fix: added missing params in workflow
  services/budapp/budapp/prompt_ops/services.py
  services/budprompt/budprompt/prompt/workflows.py
Due: none

fix(budadmin): apply whitespace formatting fixes to evaluation listing
  services/budadmin/src/components/evaluations/CurrentMetricsTable.tsx
  services/budadmin/src/hooks/useEvaluations.tsx
  services/budadmin/src/pages/home/evaluations/evalListing/index.tsx
  services/budadmin/src/pages/home/evaluations/index.tsx
  services/budadmin/src/styles/globals.scss
Due: budadmin-lint, budadmin-typecheck

style(budadmin): enhance evaluation UI padding and rename tab
  services/budadmin/src/components/evaluations/CurrentMetricsTable.tsx
  services/budadmin/src/pages/home/evaluations/index.tsx
Due: budadmin-lint, budadmin-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
