Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

Documentation edits made through Mintlify web editor
  docs/observability/observability.mdx
Due: none

feat(eval): add all scores route
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
Due: none

updated running status
  services/budadmin/src/flows/Evaluations/RunEvaluation/SelectModel.tsx
Due: budadmin-lint, budadmin-typecheck

chore(infra/nixos): clean up
  flake.lock
  infra/nixos/common/configuration.nix
  infra/nixos/primary-dev/modules/scid/default.nix
  infra/nixos/primary/configuration.nix
  nix/images/module.nix
Due: none

chore(nix/scid): bump
  flake.lock
Due: none

chore(infra/nixos): clean up
  nix/images/module.nix
Due: none

fix(infra/nixos/primary-dev): build
  flake.nix
  infra/nixos/primary-dev/configuration.nix
Due: none

fix(infra/nixos/primary-dev): build
  infra/nixos/primary/modules/scid.nix
Due: none

fix(infra/nixos/primary-dev): build
  infra/nixos/primary-dev/modules/scid/default.nix
Due: none

feat: Introduce observability stack, mock inference provider, and update budgateway configuration and load tests.
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: Add detailed timing metrics to analytics and usage limit middleware, and introduce Prometheus, Prometheus Adapter, ClickHouse VPA, and mock inference provider to Helm charts.
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/usage_limit/middleware.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: implement gateway autoscaling with Prometheus custom metrics and ClickHouse async batching**
  services/budgateway/gateway/src/main.rs
  services/budgateway/tensorzero-internal/src/analytics_batcher.rs
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/clickhouse/mod.rs
  services/budgateway/tensorzero-internal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: Introduce Prometheus and Prometheus Adapter for HPA, add ClickHouse VPA and configuration, and include mock inference and temporary Keycloak ingress.
  services/budgateway/tensorzero-internal/src/analytics.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: Add model latency tracking to analytics, implement HPA for budgateway, and integrate Prometheus monitoring.
  services/budgateway/tensorzero-internal/src/analytics.rs
  services/budgateway/tensorzero-internal/src/analytics_batcher.rs
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: Remove profiling instrumentation and optimize gateway performance
  infra/helm/bud/Chart.lock
  infra/helm/bud/Chart.yaml
  infra/helm/bud/charts/novu-0.1.6.tgz
  infra/helm/bud/charts/prometheus-25.27.0.tgz
  infra/helm/bud/charts/prometheus-adapter-4.11.0.tgz
  infra/helm/bud/templates/budgateway.yaml
  infra/helm/bud/values.yaml
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/blocking_rules.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/usage_limit/middleware.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: Implement budgateway HPA with custom Prometheus metrics, add ClickHouse VPA, and introduce a mock inference provider.
  services/budgateway/tensorzero-internal/src/cache.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: Add Prometheus, Prometheus Adapter, VPA for ClickHouse, HPA for Budgateway, and update load testing and gateway configurations.
  services/budgateway/tensorzero-internal/src/blocking_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: Add inference batching, gateway HPA with custom metrics, and ClickHouse VPA.
  services/budgateway/clients/rust/src/lib.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/gateway_util.rs
  services/budgateway/tensorzero-internal/src/inference_batcher.rs
  services/budgateway/tensorzero-internal/src/lib.rs
  services/budgateway/tensorzero-internal/src/testing.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

chore(docs): add observability landing link
  docs/docs.json
Due: none

fix: Honor async_writes flag when using batcher and fix test compilation errors
  services/budgateway/tensorzero-internal/src/analytics_batcher.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/inference_batcher.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: Add missing country_name field to analytics and fix GeoIP enrichment
  services/budgateway/tensorzero-internal/src/analytics.rs
  services/budgateway/tensorzero-internal/src/analytics_batcher.rs
  services/budgateway/tensorzero-internal/src/geoip.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: add mock inference provider deployment and Keycloak ingress, removing test mock model configuration from budgateway.
  infra/helm/bud/templates/budgateway.yaml
Due: none

fix: Remove trailing whitespace from budgateway.yaml
  infra/helm/bud/templates/budgateway.yaml
Due: none

fix: Update test_bad_clickhouse_write for async insert behavior
  services/budgateway/tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: Strip lifetime annotations from Migration.name() to fix test comparisons
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migration_trait.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(ci): expand disk space cleanup for ClickHouse e2e tests
  .github/workflows/budgateway-pr-review.yaml
Due: none

fix(infra/nixos): boot
  infra/nixos/azure/disko.nix
Due: none

Revert "fix(infra/nixos): boot"
  infra/nixos/azure/disko.nix
Due: none

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
