Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$

stream test
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budadmin/src/pages/home/prompts&agents/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: address code review feedback on KV cache memory calculation
  services/budsim/budsim/simulator/heuristic.py
Due: none

ci: add system dependencies and bud sentinel config for CI workflows
  .github/workflows/budapp-pr-review.yml
  .github/workflows/budgateway-pr-review.yaml
  services/budgateway/gateway/Dockerfile
Due: none

chore(budgateway): add explicit lifetime annotations and remove unused code
  services/budapp/.env.sample
  services/budgateway/clients/rust/src/lib.rs
  services/budgateway/examples/integrations/cursor/experimental/src/git.rs
  services/budgateway/tensorzero-internal/src/inference/providers/buddoc.rs
  services/budgateway/tensorzero-internal/src/inference/providers/deepseek.rs
  services/budgateway/tensorzero-internal/src/variant/best_of_n_sampling.rs
  services/budgateway/tensorzero-internal/tests/e2e/observability_endpoints.rs
  services/budgateway/tensorzero-internal/tests/e2e/providers/batch.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budmodel): enable graceful degradation for LLM analysis failures
  services/budmodel/budmodel/model_info/huggingface.py
  services/budmodel/budmodel/model_info/parser.py
Due: none

fix(budgateway): improve Redis pub-sub reliability and handle race conditions
  services/budgateway/tensorzero-internal/src/rate_limit/limiter.rs
  services/budgateway/tensorzero-internal/src/redis_client.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

chore: add .worktrees to .gitignore
  .gitignore
Due: none

fix(budgateway): enable graceful degradation for unsupported guardrail providers
  services/budgateway/tensorzero-internal/src/guardrail_table.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budapp): use modified_at instead of updated_at for cluster timestamp
  services/budapp/budapp/cluster_ops/services.py
Due: none

refactor(budgateway): address PR review feedback from Gemini and Codex
  services/budgateway/tensorzero-internal/src/redis_client.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: updated ConnectorAuthTypeEnum compactible to mcp foundry
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

Update README.md
  README.md
Due: none

feat: updated register connector api with different auth mechanism
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

feat: added tool name when additing new tool and remove when disconnect
  services/budapp/budapp/prompt_ops/services.py
Due: none

chore(infra/pde): drop netweb
  infra/tofu/budk8s/dns.tf
Due: none

chore(infra/dev): downscale nodes
  infra/tofu/budk8s/main.tf
Due: none

feat(budadmin): add agent details page with comprehensive tab navigation
  services/budadmin/src/hooks/usePrompts.tsx
  services/budadmin/src/pages/home/prompts&agents/[agentId]/cache/index.tsx
  services/budadmin/src/pages/home/prompts&agents/[agentId]/index.tsx
  services/budadmin/src/pages/home/prompts&agents/[agentId]/logsTraces/index.tsx
  services/budadmin/src/pages/home/prompts&agents/[agentId]/overview/index.tsx
  services/budadmin/src/pages/home/prompts&agents/[agentId]/settings/index.tsx
  services/budadmin/src/pages/home/prompts&agents/[agentId]/versions/index.tsx
  services/budadmin/src/pages/home/prompts&agents/index.tsx
  services/budadmin/src/styles/globals.scss
Due: budadmin-lint, budadmin-typecheck

image
  services/budadmin/public/images/evaluations/ui/bg.png
Due: none

feat: gateway id save as metadata in prompt version db
  services/budapp/budapp/migrations/versions/8a9b463c9646_added_metadata_to_prompt_version.py
  services/budapp/budapp/prompt_ops/models.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

feat: updated gateway details in version metadata
  services/budapp/budapp/prompt_ops/services.py
Due: none

chat test
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/chat/components/PromptForm.tsx
Due: budplayground-lint, budplayground-typecheck

chore: add connect dns
  infra/tofu/budk8s/dns.tf
Due: none

feat: added gateway deletion on prompt deletion
  services/budapp/budapp/prompt_ops/crud.py
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

chore: updated varun pde values.yaml
  infra/helm/bud/values.varun.yaml
Due: none

feat(budgateway): add OpenAI-compatible /v1/models endpoint
  services/budgateway/gateway/src/main.rs
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

refactor(budgateway): optimize /v1/models endpoint based on PR review
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/rate_limit/early_extract.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: migration multiple head
  services/budapp/budapp/migrations/versions/8a9b463c9646_added_metadata_to_prompt_version.py
Due: none

chore: updated budcluster volume type to nfs
  infra/helm/bud/values.varun.yaml
Due: none

fixed error message, run evaluation issues
  services/budadmin/src/flows/Evaluations/RunEvaluation/RunEvaluationSuccess.tsx
  services/budadmin/src/pages/api/requests.ts
Due: budadmin-lint, budadmin-typecheck

feat: added mcp foundry virtual server cleanup
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

ui adjust
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/components/agents/LoadModel.tsx
  services/budadmin/src/stores/useAgentStore.ts
  services/budadmin/src/styles/index.css
Due: budadmin-lint, budadmin-typecheck

agent box setup
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentBoxWrapper.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/stores/useAgentStore.ts
Due: budadmin-lint, budadmin-typecheck

feat: omit empty system_fingerprint and service_tier fields from gateway responses
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/tests/e2e/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

design
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentBoxWrapper.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/components/agents/settings/InputSettings.tsx
  services/budadmin/src/components/agents/settings/OutputSettings.tsx
  services/budadmin/src/components/agents/settings/PromptMessageSettings.tsx
  services/budadmin/src/components/agents/settings/SystemPromptSettings.tsx
Due: budadmin-lint, budadmin-typecheck

try 2
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/components/bud/components/input/NormalEditor.tsx
Due: budplayground-lint, budplayground-typecheck

fix: budprompt response
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

iframe manage
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/components/agents/AgentIframe.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budmetrics): resolve ClickHouse SQL syntax error in inference list endpoint
  infra/helm/bud/values.yaml
  services/budmetrics/budmetrics/observability/models.py
  services/budmetrics/budmetrics/observability/services.py
Due: none

admin
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budadmin/src/components/ui/bud/form/Buttons.tsx
Due: budadmin-lint, budadmin-typecheck
