Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$

Documentation edits made through Mintlify web editor
  docs/clusters/cluster.mdx
Due: none

style(docs): add missing newline at end of cluster.mdx
  docs/clusters/cluster.mdx
Due: none

feat(playground): isolate prompt sessions from default playground sessions
  services/budplayground/app/chat/page.tsx
  services/budplayground/app/store/chat.ts
Due: budplayground-lint, budplayground-typecheck

refactor(playground): improve default mode session clearing logic
  services/budplayground/app/chat/page.tsx
Due: budplayground-lint, budplayground-typecheck

refactor(store): extract session clearing logic into helper function
  services/budplayground/app/store/chat.ts
Due: budplayground-lint, budplayground-typecheck

Documentation edits made through Mintlify web editor
  docs/models/models.mdx
Due: none

fix(agents): add text selection highlighting for input fields
  services/budadmin/src/styles/agents.scss
Due: none

feat(agents): auto-populate redirect URI with current browser URL
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

agent input styles
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/multi-input-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/output-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/system-prompt-card.tsx
  services/budadmin/src/styles/index.css
Due: budadmin-lint, budadmin-typecheck

fix(agents): strip OAuth params from redirect URI
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

feat(dns): add chat subdomain for Onyx integration
  infra/tofu/budk8s/dns.tf
Due: none

guardrail list fix
  services/budadmin/src/pages/home/guardrails/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(guardrails): make back navigation conditional in DeploymentTypes
  services/budadmin/src/flows/GuardRails/DeploymentTypes.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budapp): support eval type dataset filters
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
Due: none

fix(budapp): honor selected eval type
  services/budapp/budapp/eval_ops/services.py
Due: none

feat(budeval): add eval modes for opencompass
  services/budeval/budeval/engines/opencompass/transformer.py
  services/budeval/budeval/evals/schema.py
Due: none

refactor: update sops key for @me
  .sops.yaml
Due: none

chore(sops/adarsh): rotate keys
  infra/helm/bud/values.enc.yaml
  infra/helm/harbor/values.enc.yaml
  infra/helm/keel/values.enc.yaml
  infra/nixos/budk8s/modules/k3s/secrets.yaml
  infra/nixos/primary/secrets.yaml
  infra/tofu/azure/secrets.yaml
  infra/tofu/budk8s/secrets.yaml
  infra/tofu/ephemeral/secrets.yaml
  nix/shell/budk8s.kubeconfig.enc.yaml
  nix/workflows/dockerhub_budcustomer/secrets.yaml
Due: none

fix(ssh-key): ssh key change for vr
  infra/nixos/common/modules/users.nix
Due: none

feat(eval): add comparison API endpoints for cross-experiment analysis
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
Due: none

fix(playground): clear textarea after sending message
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

feat(budcluster): add Deployment table for tracking deployment status
  services/budcluster/budcluster/alembic/versions/2025_12_03_add_deployment_table.py
  services/budcluster/budcluster/alembic/versions/2025_12_03_add_error_status_to_enum.py
  services/budcluster/budcluster/cluster_ops/kubernetes.py
  services/budcluster/budcluster/cluster_ops/models.py
  services/budcluster/budcluster/deployment/crud.py
  services/budcluster/budcluster/deployment/models.py
  services/budcluster/budcluster/deployment/schemas.py
  services/budcluster/budcluster/deployment/services.py
  services/budcluster/budcluster/deployment/workflows.py
Due: none

feat(eval): add comparison API endpoints for cross-experiment analysis
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/services.py
Due: none
