Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

fix(tests): resolve ruff linting and formatting issues
  tests/e2e/conftest.py
  tests/e2e/core/config.py
  tests/e2e/core/retry.py
  tests/e2e/core/waiter.py
  tests/e2e/fixtures/__init__.py
  tests/e2e/fixtures/auth.py
  tests/e2e/fixtures/models.py
  tests/e2e/flows/auth/test_login.py
  tests/e2e/flows/auth/test_logout.py
  tests/e2e/flows/auth/test_password_reset.py
  tests/e2e/flows/auth/test_protected_endpoints.py
  tests/e2e/flows/auth/test_registration.py
  tests/e2e/flows/auth/test_token_refresh.py
  tests/e2e/flows/models/test_model_delete.py
  tests/e2e/flows/models/test_model_edit.py
  tests/e2e/flows/models/test_model_local_longrunning.py
  tests/e2e/flows/models/test_model_onboarding.py
  tests/e2e/helpers/__init__.py
  tests/e2e/helpers/assertions.py
  tests/e2e/helpers/model_helper.py
Due: none

fix(budadmin,budapp): address Gemini review feedback
  services/budadmin/src/stores/useBudPipeline.ts
  services/budapp/budapp/workflow_ops/budpipeline_service.py
Due: budadmin-lint, budadmin-typecheck

fix(ci): exclude e2e test values from private key detection
  .pre-commit-config.yaml
Due: none

fix(budadmin): fix pipeline error box overflow issue
  services/budadmin/src/components/pipelineEditor/ExecutionTimeline.tsx
  services/budadmin/src/components/pipelineEditor/components/StepDetailDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): address Gemini review feedback
  services/budadmin/src/components/pipelineEditor/ExecutionTimeline.tsx
  services/budadmin/src/components/pipelineEditor/components/StepDetailDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

fix(tests): add missing fixture imports to conftest.py
  tests/e2e/conftest.py
Due: none

fix(budadmin,budapp): display adapter names in analytics and inference views
  services/budadmin/src/components/ui/bud/table/InferenceListTable.tsx
  services/budadmin/src/pages/home/deployments/[slug]/components/DeploymentAnalysis.tsx
  services/budadmin/src/pages/home/observability/index.tsx
  services/budadmin/src/pages/home/projects/[slug]/inferences/[inferenceId]/index.tsx
  services/budadmin/src/pages/observability/[id]/index.tsx
  services/budadmin/src/utils/metricsAdapter.ts
  services/budapp/budapp/metric_ops/services.py
Due: budadmin-lint, budadmin-typecheck

fix(budapp): fix type mismatch in adapter ID comparison
  services/budapp/budapp/metric_ops/services.py
Due: none

perf(budadmin): memoize filterIds to prevent repeated API calls
  services/budadmin/src/pages/home/deployments/[slug]/components/DeploymentAnalysis.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budapp): add adapter query mock to missing entities test
  services/budapp/tests/test_metric_proxy_endpoints.py
Due: none

feat(budadmin): add pagination to pipeline runs table
  services/budadmin/src/pages/home/budpipelines/[id]/index.tsx
  services/budadmin/src/stores/useBudPipeline.ts
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): address Gemini and Codex review feedback
  services/budadmin/src/pages/home/budpipelines/[id]/index.tsx
  services/budadmin/src/stores/useBudPipeline.ts
Due: budadmin-lint, budadmin-typecheck

feat(budapp): add version-specific prompt metadata to API key cache
  services/budapp/budapp/credential_ops/services.py
  services/budapp/budapp/playground_ops/services.py
  services/budapp/budapp/prompt_ops/crud.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix(budadmin,budapp): fix cloud providers credentials 500 error
  services/budadmin/src/hooks/useCloudInfraProviders.tsx
  services/budapp/budapp/credential_ops/credential_routes.py
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): address Gemini review feedback
  services/budadmin/src/hooks/useCloudInfraProviders.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): correct empty state message in cloud credential selection
  services/budadmin/src/flows/Cluster/_cloud/ChooseCloudCredential.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budpipeline): display actual simulation error messages in UI
  services/budadmin/src/components/pipelineEditor/components/ActionConfigPanel.tsx
  services/budadmin/src/components/pipelineEditor/config/actionRegistry.ts
  services/budadmin/src/types/actions.ts
  services/budpipeline/budpipeline/actions/base/context.py
  services/budpipeline/budpipeline/actions/base/meta.py
  services/budpipeline/budpipeline/actions/deployment/create.py
  services/budsim/budsim/simulator/routes.py
Due: budadmin-lint, budadmin-typecheck

fix(model-service): ensure default values for target parameters in deployment configuration
  services/budapp/budapp/model_ops/services.py
Due: none

fix(budpipeline): address Gemini and Codex review feedback
  services/budadmin/src/components/pipelineEditor/components/ActionConfigPanel.tsx
  services/budpipeline/budpipeline/actions/deployment/create.py
  services/budpipeline/tests/actions/test_meta.py
Due: budadmin-lint, budadmin-typecheck

feat(budadmin): add edit and delete options for pipelines
  services/budadmin/CLAUDE.md
  services/budadmin/src/flows/Pipeline/EditPipeline.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/pages/home/budpipelines/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budgateway,budmetrics,budprompt): add model_id, api_key_project_id, prompt_version_id to baggage
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/baggage.rs
  services/budgateway/tensorzero-internal/src/baggage_processor.rs
  services/budmetrics/scripts/migrate_clickhouse.py
  services/budprompt/budprompt/shared/baggage_processor.py
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budadmin): address Gemini review feedback
  services/budadmin/src/flows/Pipeline/EditPipeline.tsx
  services/budadmin/src/pages/home/budpipelines/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budadmin): add Use this agent button and replace Tooltip with CustomPopover
  services/budadmin/src/pages/home/agentDetails/[agentId]/overview/index.tsx
  services/budadmin/src/pages/home/observability/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): fix CustomPopover formatting and N/A logic in observability
  services/budadmin/src/pages/home/observability/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: apply ruff format to Python files
  services/budapp/budapp/playground_ops/services.py
  services/budapp/budapp/prompt_ops/crud.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix(budpipeline): prevent duplicate pipeline names and show proper error
  services/budadmin/src/flows/Pipeline/EditPipeline.tsx
  services/budadmin/src/flows/Pipeline/NewPipeline.tsx
  services/budadmin/src/pages/api/requests.ts
  services/budadmin/src/stores/useBudPipeline.ts
  services/budapp/budapp/shared/dapr_service.py
  services/budapp/budapp/workflow_ops/budpipeline_service.py
  services/budpipeline/budpipeline/commons/exceptions.py
  services/budpipeline/budpipeline/pipeline/crud.py
  services/budpipeline/budpipeline/pipeline/routes.py
  services/budpipeline/budpipeline/pipeline/service.py
Due: budadmin-lint, budadmin-typecheck

fix(budapp): address Gemini and Codex review feedback
  services/budadmin/src/stores/useBudPipeline.ts
  services/budapp/budapp/shared/dapr_service.py
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): show error toast when pipeline creation fails
  services/budadmin/src/pages/home/budpipelines/new.tsx
Due: budadmin-lint, budadmin-typecheck

feat(claude): add bud-testing skill for test workflow automation
  .claude/skills/bud-testing/SKILL.md
  .claude/skills/bud-testing/config.env
Due: none

Update .claude/skills/bud-testing/SKILL.md
  .claude/skills/bud-testing/SKILL.md
Due: none

feat(budapp): update prompt version deployment when editing prompt config
  services/budapp/budapp/prompt_ops/services.py
Due: none

feat(claude): add budmem skill for persistent memory management
  .claude/settings.json
  .claude/skills/budmem/MEMORY.md
  .claude/skills/budmem/SKILL.md
  .claude/skills/budmem/memory/2026-02-04.md
  .claude/skills/budmem/memory/README.md
Due: none

Update .claude/skills/budmem/SKILL.md
  .claude/skills/budmem/SKILL.md
Due: none

Update .claude/skills/budmem/memory/README.md
  .claude/skills/budmem/memory/README.md
Due: none

fix(budapp): handle draft prompts gracefully in prompt config save
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix(budadmin): add zoom in/out controls to pipeline editor toolbar
  services/budadmin/src/components/pipelineEditor/components/PipelineToolbar.tsx
Due: budadmin-lint, budadmin-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
