Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$

feat(budapp): add custom probe workflow route endpoint
  services/budapp/budapp/guardrails/guardrail_routes.py
  services/budapp/tests/unit/test_custom_probe_workflow_route.py
Due: none

test(budapp): add integration tests for custom probe workflow
  services/budapp/tests/guardrails/test_custom_probe_workflow_integration.py
Due: none

fix(budapp): address spec compliance issues in custom probe workflow tests
  services/budapp/tests/guardrails/test_custom_probe_workflow_integration.py
Due: none

fix(budapp): remove unused import and fixture from integration tests
  services/budapp/tests/guardrails/test_custom_probe_workflow_integration.py
Due: none

fix(budadmin): agent details UI improvements
  services/budadmin/public/icons/home.svg
  services/budadmin/src/pages/home/agentDetails/[agentId]/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/versions/index.tsx
  services/budadmin/src/styles/globals.scss
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): remove unused raster-based home.svg
  services/budadmin/public/icons/home.svg
Due: none

refactor(budapp): remove unused project_id from custom probe workflow
  services/budapp/budapp/guardrails/crud.py
  services/budapp/budapp/guardrails/schemas.py
  services/budapp/budapp/guardrails/services.py
  services/budapp/tests/guardrails/test_crud_custom_probe.py
  services/budapp/tests/guardrails/test_custom_probe_workflow_integration.py
  services/budapp/tests/guardrails/test_custom_probe_workflow_schemas.py
  services/budapp/tests/unit/test_custom_probe_workflow_service.py
Due: none

fix(budadmin): resolve pipeline description textarea overlapping label
  services/budadmin/src/components/ui/bud/dataEntry/TextArea.tsx
  services/budadmin/src/styles/globals.scss
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): use CSS variable for textarea label background
  services/budadmin/src/styles/globals.scss
Due: none

feat(docs): add structured projects module documentation
  docs/docs.json
  docs/projects/creating-first-project.mdx
  docs/projects/guides/deployment-settings-and-autoscaling.mdx
  docs/projects/guides/managing-project-members.mdx
  docs/projects/introduction.mdx
  docs/projects/project-concepts.mdx
  docs/projects/quickstart.mdx
  docs/projects/reference/project-tabs-reference.mdx
  docs/projects/troubleshooting.mdx
Due: none

fix(budadmin): correct textarea label positioning at MacBook resolution
  services/budadmin/src/components/ui/bud/dataEntry/TextArea.tsx
  services/budadmin/src/styles/globals.scss
Due: budadmin-lint, budadmin-typecheck

fix(budapp): use CUSTOM_PROBE_CREATION workflow type for custom probe workflows
  services/budapp/budapp/guardrails/services.py
Due: none

fix(docs): resolve pre-commit failures for trailing whitespace and EOF
  docs/docs.json
  docs/projects/introduction.mdx
Due: none

fix(budplayground): hide settings button and dropdown when prompt IDs exist
  services/budplayground/app/chat/components/NavBar.tsx
Due: budplayground-lint, budplayground-typecheck

traces in progress
  docs/projects/projects.mdx
  services/budadmin/src/flows/AddAgent/SelectModel.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
  services/budadmin/src/stores/useAddAgent.tsx
Due: budadmin-lint, budadmin-typecheck

fix(docs): add missing newline at end of file in projects.mdx
  docs/projects/projects.mdx
Due: none

fix(docs): restore docs.json trailing newline for pre-commit
  docs/docs.json
  docs/projects/creating-first-project.mdx
  docs/projects/guides/deployment-settings-and-autoscaling.mdx
  docs/projects/guides/managing-project-members.mdx
  docs/projects/introduction.mdx
  docs/projects/project-concepts.mdx
  docs/projects/quickstart.mdx
  docs/projects/reference/project-tabs-reference.mdx
  docs/projects/troubleshooting.mdx
  master/docs/projects/creating-first-project.mdx
  master/docs/projects/guides/deployment-settings-and-autoscaling.mdx
  master/docs/projects/guides/managing-project-members.mdx
  master/docs/projects/introduction.mdx
  master/docs/projects/project-concepts.mdx
  master/docs/projects/quickstart.mdx
  master/docs/projects/reference/project-tabs-reference.mdx
  master/docs/projects/troubleshooting.mdx
Due: none

fix(docs): add trailing newline to projects page for pre-commit
  docs/docs.json
  docs/projects/creating-first-project.mdx
  docs/projects/guides/deployment-settings-and-autoscaling.mdx
  docs/projects/guides/managing-project-members.mdx
  docs/projects/introduction.mdx
  docs/projects/project-concepts.mdx
  docs/projects/projects.mdx
  docs/projects/quickstart.mdx
  docs/projects/reference/project-tabs-reference.mdx
  docs/projects/troubleshooting.mdx
  master/docs/projects/creating-first-project.mdx
  master/docs/projects/guides/deployment-settings-and-autoscaling.mdx
  master/docs/projects/guides/managing-project-members.mdx
  master/docs/projects/introduction.mdx
  master/docs/projects/project-concepts.mdx
  master/docs/projects/quickstart.mdx
  master/docs/projects/reference/project-tabs-reference.mdx
  master/docs/projects/troubleshooting.mdx
Due: none

fix(budadmin): reduce agent logs chart heights for better layout
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): cap live logs to 200 entries and remove debug console.logs
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(docs): remove extra blank lines at end of project documentation files
  master/docs/projects/creating-first-project.mdx
  master/docs/projects/guides/deployment-settings-and-autoscaling.mdx
  master/docs/projects/guides/managing-project-members.mdx
  master/docs/projects/project-concepts.mdx
  master/docs/projects/quickstart.mdx
  master/docs/projects/reference/project-tabs-reference.mdx
  master/docs/projects/troubleshooting.mdx
Due: none

fix(docs): add missing mermaid diagrams to projects docs
  docs/docs.json
  docs/projects/creating-first-project.mdx
  docs/projects/guides/deployment-settings-and-autoscaling.mdx
  docs/projects/guides/managing-project-members.mdx
  docs/projects/introduction.mdx
  docs/projects/project-concepts.mdx
  docs/projects/quickstart.mdx
  docs/projects/reference/project-tabs-reference.mdx
  docs/projects/troubleshooting.mdx
  master/docs/projects/creating-first-project.mdx
  master/docs/projects/creating-projects.mdx
  master/docs/projects/guides/deployment-settings-and-autoscaling.mdx
  master/docs/projects/guides/managing-project-members.mdx
  master/docs/projects/introduction.mdx
  master/docs/projects/project-concepts.mdx
  master/docs/projects/project-dashboard.mdx
  master/docs/projects/project-settings.mdx
  master/docs/projects/projects.mdx
  master/docs/projects/quickstart.mdx
  master/docs/projects/reference/project-tabs-reference.mdx
  master/docs/projects/troubleshooting.mdx
Due: none

docs(projects): add flowcharts across project module guides
  docs/projects/creating-first-project.mdx
  docs/projects/guides/deployment-settings-and-autoscaling.mdx
  docs/projects/guides/managing-project-members.mdx
  docs/projects/introduction.mdx
  docs/projects/project-concepts.mdx
  docs/projects/quickstart.mdx
  docs/projects/reference/project-tabs-reference.mdx
  docs/projects/troubleshooting.mdx
Due: none

fix(budadmin): update textarea styling and input border properties
  services/budadmin/src/components/ui/bud/dataEntry/TextArea.tsx
  services/budadmin/src/styles/globals.scss
Due: budadmin-lint, budadmin-typecheck

Replace Mermaid diagram with new images in projects intro
  docs/images/image-1.png
  docs/images/image-2.png
  docs/projects/introduction.mdx
Due: none

Remove member management flow diagram
  docs/projects/guides/managing-project-members.mdx
Due: none

Remove tab navigation map from project tabs reference
  docs/projects/reference/project-tabs-reference.mdx
Due: none

Fix typo in projects introduction
  docs/projects/introduction.mdx
Due: none

Add project detail page image to introduction
  docs/projects/introduction.mdx
Due: none

Update deployment settings and autoscaling guide
  docs/projects/guides/deployment-settings-and-autoscaling.mdx
Due: none

Add member management flowchart to guide
  docs/projects/guides/managing-project-members.mdx
Due: none

Update flowchart in managing project members guide
  docs/projects/guides/managing-project-members.mdx
Due: none

Refine quickstart guide for project creation
  docs/projects/quickstart.mdx
Due: none

Remove redundant image and text from projects introduction
  docs/projects/introduction.mdx
Due: none

Add quickstart image to projects documentation
  docs/images/image-3.png
  docs/projects/quickstart.mdx
Due: none

Add images to quickstart guide
  docs/images/image-4.png
  docs/images/image-5.png
  docs/projects/quickstart.mdx
Due: none

Update quickstart deployment button text
  docs/projects/quickstart.mdx
Due: none

add custom probe in progress
  services/budadmin/src/flows/GuardRails/AddCustomGuardRail.tsx
  services/budadmin/src/flows/GuardRails/GuardRailDetails.tsx
  services/budadmin/src/flows/GuardRails/SelectProbeType.tsx
  services/budadmin/src/flows/GuardRails/SelectProvider.tsx
  services/budadmin/src/hooks/useGuardrails.tsx
  services/budadmin/src/pages/home/layout.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budapp): use GUARDRAIL_DEPLOYMENT workflow type for guardrail deploy workflow
  services/budapp/budapp/guardrails/services.py
Due: none
