Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

Documentation edits made through Mintlify web editor
  docs/guardrails/guardrails.mdx
Due: none

fix(agents): skip click-to-activate overlay for single AgentBox
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

chore(docs): add guardrails overview page
  docs/docs.json
Due: none

chore(nix/flake): bump scid
  flake.lock
Due: none

export
  services/budadmin/src/pages/home/projects/[slug]/modelEvaluations/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: added default value in input schema
  services/budprompt/budprompt/executors/v4/executor.py
  services/budprompt/budprompt/executors/v4/schema_builder.py
  services/budprompt/budprompt/executors/v4/utils.py
Due: none

chore(docs): add guardrails overview page
  docs/guardrails/guardrails.mdx
Due: none

fix: added review comments
  services/budprompt/budprompt/executors/v4/utils.py
Due: none

chore(nix/flake): bump sinan
  flake.lock
Due: none

fix(evaluations): add default colors to experiment tags
  services/budadmin/src/flows/Evaluations/NewExperiment/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(helm): remove nightly image overrides and disable prometheus-adapter
  infra/helm/bud/values.stage.yaml
Due: none

fix(evaluations): restore tag validation rules
  services/budadmin/src/flows/Evaluations/NewExperiment/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(evaluations): export all data instead of current page only
  services/budadmin/src/pages/home/projects/[slug]/modelEvaluations/index.tsx
Due: budadmin-lint, budadmin-typecheck

chore(infra/helm/bud): update scid.prod.toml
  infra/helm/bud/scid.prod.toml
Due: none

chore(infra/helm/bud): init cert-manager-issuer
  infra/helm/cert-manager-issuer/.helmignore
  infra/helm/cert-manager-issuer/Chart.yaml
  infra/helm/cert-manager-issuer/scid.dev.toml
  infra/helm/cert-manager-issuer/scid.prod.toml
  infra/helm/cert-manager-issuer/templates/clusterissuer.yaml
  infra/helm/cert-manager-issuer/values.yaml
  infra/helm/cert-manager/values.yaml
Due: none

fix(budadmin): set default num_prompts to 3x concurrency in benchmark flow
  services/budadmin/src/flows/Benchmark/BenchmarkConfiguration.tsx
  services/budadmin/src/flows/Benchmark/SelectConfiguration.tsx
  services/budapp/budapp/initializers/data/dataset_info.json
Due: budadmin-lint, budadmin-typecheck

fix(infra/helm): deps
  infra/helm/bud/scid.dev.toml
  infra/helm/bud/scid.prod.toml
  infra/helm/cert-manager-issuer/scid.dev.toml
Due: none

chore(infra/nixos/budk8s): ship k9s
  infra/nixos/budk8s/modules/k3s/default.nix
Due: none

fix(budadmin): improve benchmark listing and result page
  services/budadmin/src/pages/home/_benchmarks/BenchmarkResult.tsx
  services/budadmin/src/pages/home/_benchmarks/components/BenchmarksTable.tsx
Due: budadmin-lint, budadmin-typecheck

tools listing page
  services/budadmin/next.config.mjs
  services/budadmin/src/pages/home/layout.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budgateway): add missing country_name column to GatewayAnalytics table
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0036.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/mod.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budmetrics): Fix geographic data query to work without inference_id
  services/budmetrics/budmetrics/observability/services.py
Due: none

tools in progress
  services/budadmin/src/components/ui/DragDropUpload/index.tsx
  services/budadmin/src/flows/AddTool/BudToolsCatalogue.tsx
  services/budadmin/src/flows/AddTool/CreatingToolStatus.tsx
  services/budadmin/src/flows/AddTool/OpenAPISpecification.tsx
  services/budadmin/src/flows/AddTool/SelectToolSource.tsx
  services/budadmin/src/flows/AddTool/ToolDetailsExpanded.tsx
  services/budadmin/src/flows/ViewTool/ViewToolDetails.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/pages/home/tools/index.tsx
  services/budadmin/src/stores/useTools.ts
Due: budadmin-lint, budadmin-typecheck

fix(tests): add migration 0036 index to e2e test arrays
  services/budgateway/tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
