Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$

docs: add comprehensive authentication documentation
  docs/docs.json
  docs/settings/account-settings.mdx
  docs/user-management/authentication.mdx
Due: none

docs: updated prompt documentation in buddocs
  docs/openai-api/responses.mdx
Due: none

agent details
  services/budadmin/next.config.mjs
  services/budadmin/src/components/ui/bud/table/AgentsPromptsListTable.tsx
  services/budadmin/src/components/ui/text.tsx
  services/budadmin/src/hooks/usePrompts.tsx
  services/budadmin/src/pages/home/agentsDetails/[agentId]/cache/index.tsx
  services/budadmin/src/pages/home/agentsDetails/[agentId]/index.tsx
  services/budadmin/src/pages/home/agentsDetails/[agentId]/versions/index.tsx
Due: budadmin-lint, budadmin-typecheck

skip project
  services/budadmin/src/components/ui/bud/table/AgentsPromptsListTable.tsx
  services/budadmin/src/flows/AddAgent/SelectAgentType.tsx
Due: budadmin-lint, budadmin-typecheck

fix: curl name change to id
  docs/openai-api/responses.mdx
Due: none

name to id
  services/budadmin/src/flows/AddAgent/AgentSuccess.tsx
  services/budadmin/src/flows/Project/UseAgent.tsx
Due: budadmin-lint, budadmin-typecheck

fix: resolved review comments
  docs/openai-api/responses.mdx
Due: none

fix: updated mcp foundry api key secrets
  infra/helm/bud/values.enc.yaml
Due: none

refactor: improve type safety and code quality in agent workflow
  services/budadmin/src/components/ui/bud/table/AgentsPromptsListTable.tsx
  services/budadmin/src/flows/AddAgent/AgentSuccess.tsx
  services/budadmin/src/flows/AddAgent/SelectAgentType.tsx
  services/budadmin/src/flows/AddAgent/SelectProject.tsx
  services/budadmin/src/flows/Project/UseAgent.tsx
  services/budadmin/src/stores/useAddAgent.tsx
  services/budadmin/src/utils/urlUtils.ts
Due: budadmin-lint, budadmin-typecheck

feat(eval): updated eval manifest
  services/budapp/budapp/eval_ops/manifest_schemas.py
  services/budapp/budapp/eval_ops/models.py
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/sync_service.py
  services/budapp/budapp/initializers/data/eval_manifest.json
  services/budapp/budapp/migrations/versions/a1b2c3d4e5f7_add_enriched_fields_to_exp_datasets.py
Due: none

fix: fastapi router order issue resolved
  services/budapp/budapp/prompt_ops/prompt_routes.py
Due: none

feat(eval): updated eval manifest
  services/budapp/budapp/eval_ops/manifest_schemas.py
  services/budapp/budapp/eval_ops/models.py
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/initializers/data/eval_manifest.json
  services/budapp/budapp/migrations/versions/a1b2c3d4e5f7_add_enriched_fields_to_exp_datasets.py
Due: none

fix: review comment, router moved to end
  services/budapp/budapp/prompt_ops/prompt_routes.py
Due: none

test: debug cron working
  infra/helm/bud/templates/dapr/cron.yaml
Due: none

chore(infra/helm): test scid
  infra/helm/bud/templates/dapr/cron.yaml
Due: none

fix: increased cron time
  infra/helm/bud/templates/dapr/cron.yaml
Due: none

load model
  services/budplayground/app/chat/components/LoadModel.tsx
  services/budplayground/app/chat/components/PromptForm.tsx
  services/budplayground/app/store/chat.ts
  services/budplayground/app/types/chat.ts
Due: budplayground-lint, budplayground-typecheck

feat(eval): updated eval manifest
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/sync_service.py
Due: none

fix: correct PVC sizing for model deployments by using actual storage size
  services/budapp/budapp/commons/config.py
  services/budapp/budapp/migrations/versions/f5b76a5c7bda_add_storage_size_gb_to_model.py
  services/budapp/budapp/model_ops/models.py
  services/budapp/budapp/model_ops/schemas.py
  services/budapp/budapp/model_ops/services.py
  services/budapp/budapp/shared/minio_store.py
  services/budapp/scripts/backfill_model_storage_sizes.py
  services/budapp/tests/test_model_storage_size.py
  services/budcluster/budcluster/deployment/adapter_workflows.py
  services/budcluster/budcluster/deployment/handler.py
  services/budcluster/budcluster/deployment/quantization_workflows.py
  services/budcluster/budcluster/deployment/schemas.py
  services/budcluster/budcluster/deployment/workflows.py
  services/budcluster/tests/test_pvc_sizing.py
Due: none

fix: deploy memory allocation fix
  services/budcluster/budcluster/deployment/handler.py
Due: none

prompt detail by id
  services/budadmin/src/hooks/usePrompts.tsx
  services/budadmin/src/pages/home/agentsDetails/[agentId]/cache/index.tsx
  services/budadmin/src/pages/home/agentsDetails/[agentId]/index.tsx
  services/budadmin/src/pages/home/agentsDetails/[agentId]/logsTraces/index.tsx
  services/budadmin/src/pages/home/agentsDetails/[agentId]/overview/index.tsx
  services/budadmin/src/pages/home/agentsDetails/[agentId]/settings/index.tsx
  services/budadmin/src/pages/home/agentsDetails/[agentId]/versions/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(eval): updated eval manifest
  services/budapp/budapp/eval_ops/services.py
Due: none

fix: added syc method for gateway and virtual server deltion
  services/budprompt/budprompt/prompt/services.py
  services/budprompt/budprompt/shared/mcp_foundry_service.py
Due: none

refactor: changed default version to get prompt config is 1
  services/budapp/budapp/prompt_ops/prompt_routes.py
Due: none

Update services/budprompt/budprompt/shared/mcp_foundry_service.py
  services/budprompt/budprompt/shared/mcp_foundry_service.py
Due: none

fix: error message variable is required
  services/budprompt/budprompt/shared/mcp_foundry_service.py
Due: none

fix: removed test debug for cron binding
  infra/helm/bud/templates/dapr/cron.yaml
Due: none

edit prompt
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/components/ui/bud/table/AgentsPromptsListTable.tsx
  services/budadmin/src/stores/useAgentStore.ts
  services/budadmin/src/utils/promptHelpers.ts
Due: budadmin-lint, budadmin-typecheck

fix: migrate budmodel leaderboard extraction to Dapr cron binding with workflow
  infra/helm/bud/templates/dapr/cron.yaml
  services/budmodel/.dapr/components/binding.yaml
  services/budmodel/CLAUDE.md
  services/budmodel/budmodel/leaderboard/routes.py
  services/budmodel/budmodel/leaderboard/workflows.py
  services/budmodel/budmodel/main.py
Due: none

feat(eval): updated eval manifest
  services/budapp/budapp/eval_ops/sync_service.py
  services/budapp/budapp/initializers/data/eval_manifest.json
Due: none

Update services/budapp/budapp/eval_ops/sync_service.py
  services/budapp/budapp/eval_ops/sync_service.py
Due: none

fix: prevent MCP resource deletion when copying temporary prompts
  services/budprompt/budprompt/prompt/services.py
Due: none

fix: modified as per review comments
  services/budprompt/budprompt/prompt/services.py
Due: none

feat(exp): extended exp api with additional filters
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
Due: none

feat(eval): dataset listing
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
Due: none

fix: added missing import
  services/budprompt/budprompt/executors/v3/openai_streaming_formatter.py
Due: none

fix(exp): duplicate key
  services/budapp/budapp/eval_ops/eval_routes.py
Due: none

feat(eval): dataset listing
  services/budapp/budapp/initializers/data/eval_manifest.json
Due: none

chat input
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/UnstructuredPromptInput.tsx
  services/budplayground/package-lock.json
Due: budplayground-lint, budplayground-typecheck
