Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

feat: otel config added
  services/budprompt/.env.sample
  services/budprompt/budprompt/commons/config.py
  services/budprompt/budprompt/main.py
  services/budprompt/budprompt/shared/otel.py
  services/budprompt/docs/opentelemetry-env-variables.md
Due: none

fix: include all named variables in schema required array
  services/budadmin/src/utils/promptSchemaBuilder.ts
Due: budadmin-lint, budadmin-typecheck

page refresh on evaluation success
  services/budadmin/src/flows/Evaluations/RunEvaluation/RunEvaluationSuccess.tsx
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
Due: budadmin-lint, budadmin-typecheck

refactor: address PR review feedback from Gemini
  services/budcluster/budcluster/cluster_ops/nfd_handler.py
  services/budcluster/budcluster/node_info_collector/nfd_parser.py
  services/budmetrics/budmetrics/cluster_metrics/routes.py
Due: none

feat(budplayground): order prompt form inputs by required array and fix InputNumber styling
  services/budplayground/app/chat/components/PromptForm.tsx
  services/budplayground/app/index.css
Due: budplayground-lint, budplayground-typecheck

feat: Add hardware mode selection to benchmark creation flow
  services/budadmin/src/flows/Benchmark/SelectCluster.tsx
  services/budadmin/src/flows/Benchmark/SelectHardwareMode.tsx
  services/budadmin/src/flows/Benchmark/SelectNodes.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/stores/usePerfomanceBenchmark.tsx
  services/budapp/budapp/benchmark_ops/schemas.py
  services/budapp/budapp/benchmark_ops/services.py
  services/budsim/budsim/simulator/services.py
Due: budadmin-lint, budadmin-typecheck

chore: fix end-of-file and trailing whitespace in docs
  docs/clusters/cluster.mdx
  docs/models/models.mdx
  docs/observability/observability.mdx
  docs/playground/playground.mdx
  docs/projects/projects.mdx
  docs/user-management/RBAC.mdx
Due: none

feat: added instrumentation setting version 3
  services/budprompt/budprompt/shared/otel.py
Due: none

fix(budplayground): pin ai package to v4 and fix type imports
  services/budplayground/app/components/bud/chat/Messages.tsx
  services/budplayground/package.json
Due: budplayground-lint, budplayground-typecheck

chore(helm/bud/scid): update prod name
  infra/helm/bud/scid.prod.toml
Due: none

updated evaluation results
  services/budadmin/src/components/ui/bud/table/EvaluationResultsTable.tsx
  services/budadmin/src/flows/ViewModel/Evaluations/Evaluations.tsx
  services/budadmin/src/hooks/useEvaluations.tsx
  services/budadmin/src/pages/home/projects/[slug]/modelEvaluations/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat: Add benchmark hardware configuration selection, including new simulator APIs for valid TP/PP/replica options and a dedicated UI step.
  services/budadmin/src/flows/Benchmark/AddBenchmarkCredentialSelect.tsx
  services/budadmin/src/flows/Benchmark/BenchmarkConfiguration.tsx
  services/budadmin/src/flows/Benchmark/SelectConfiguration.tsx
  services/budadmin/src/flows/Benchmark/SelectModel.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/stores/usePerfomanceBenchmark.tsx
  services/budapp/budapp/benchmark_ops/benchmark_routes.py
  services/budapp/budapp/benchmark_ops/schemas.py
  services/budapp/budapp/benchmark_ops/services.py
  services/budsim/budsim/simulator/routes.py
  services/budsim/budsim/simulator/schemas.py
  services/budsim/budsim/simulator/services.py
Due: budadmin-lint, budadmin-typecheck

fixed pre-commit
  services/budadmin/src/components/ui/bud/table/EvaluationResultsTable.tsx
  services/budadmin/src/hooks/useEvaluations.tsx
  services/budadmin/src/pages/home/projects/[slug]/modelEvaluations/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budplayground): persist form data across tab switches using sessionStorage
  services/budplayground/app/chat/components/PromptForm.tsx
Due: budplayground-lint, budplayground-typecheck

feat: add HPA autoscaling support for all microservices
  infra/helm/bud/templates/mcpgateway/deployment.yaml
  infra/helm/bud/templates/mcpgateway/hpa.yaml
  infra/helm/bud/templates/microservices/askbud.yaml
  infra/helm/bud/templates/microservices/budadmin.yaml
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/budcluster.yaml
  infra/helm/bud/templates/microservices/budcustomer.yaml
  infra/helm/bud/templates/microservices/buddoc.yaml
  infra/helm/bud/templates/microservices/budeval.yaml
  infra/helm/bud/templates/microservices/budmetrics.yaml
  infra/helm/bud/templates/microservices/budmodel.yaml
  infra/helm/bud/templates/microservices/budnotify.yaml
  infra/helm/bud/templates/microservices/budplayground.yaml
  infra/helm/bud/templates/microservices/budprompt.yaml
  infra/helm/bud/templates/microservices/budsim.yaml
  infra/helm/bud/values.yaml
Due: none

fix: Correct workflow step numbers in performance benchmark store.
  services/budadmin/src/stores/usePerfomanceBenchmark.tsx
Due: budadmin-lint, budadmin-typecheck

config: Increase budapp global container memory limit to 1024Mi.
  infra/helm/bud/templates/microservices/budapp.yaml
Due: none

fix(budplayground): remove left padding from InputNumber component
  services/budplayground/app/index.css
Due: none

fix(budplayground): add error logging for sessionStorage operations
  services/budplayground/app/chat/components/PromptForm.tsx
Due: budplayground-lint, budplayground-typecheck

feat(eval): updated search and added export option to all evaluations API
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/services.py
Due: none

refactor: adjust model data retrieval and serialize budsim invocation payload.
  services/budapp/budapp/benchmark_ops/services.py
Due: none

fix(eval): improve error detection and fix status notification
  services/budeval/budeval/ansible/playbooks/extract_opencompass_error_k8s.yml
  services/budeval/budeval/evals/workflows.py
Due: none

connector details fix
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

connector step split
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

feat(eval): updated search and added export option to all evaluations API
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
Due: none

refactor: Migrate budsim invocation from DaprService to aiohttp, include cluster ID lookup, and optimize Docker build caching.
  services/budapp/budapp/benchmark_ops/benchmark_routes.py
  services/budapp/budapp/benchmark_ops/services.py
  services/budapp/deploy/Dockerfile
Due: none

fix(eval): disable job retries and select failed pod for error extraction
  services/budeval/budeval/ansible/playbooks/extract_opencompass_error_k8s.yml
  services/budeval/budeval/evals/ansible_orchestrator.py
Due: none

feat: Refactor benchmark configuration UI to use dropdowns and pass cluster default storage settings to benchmark runs.
  services/budapp/budapp/benchmark_ops/services.py
  services/budcluster/budcluster/benchmark_ops/schemas.py
  services/budcluster/budcluster/benchmark_ops/services.py
Due: none

feat: dynamically generate benchmark deployment configurations via a new BudSim service endpoint.
  services/budcluster/budcluster/benchmark_ops/services.py
  services/budcluster/budcluster/deployment/handler.py
  services/budcluster/budcluster/deployment/schemas.py
  services/budcluster/budcluster/deployment/workflows.py
  services/budsim/budsim/simulator/routes.py
  services/budsim/budsim/simulator/schemas.py
  services/budsim/budsim/simulator/services.py
Due: none

feat: added otel for pydantic-ai and root level
  services/budprompt/budprompt/commons/constants.py
  services/budprompt/budprompt/commons/exceptions.py
  services/budprompt/budprompt/responses/services.py
  services/budprompt/budprompt/shared/otel.py
  services/budprompt/requirements.txt
Due: none

refactor: updated otel integration for non stream
  services/budprompt/budprompt/commons/constants.py
  services/budprompt/budprompt/responses/services.py
Due: none

tools oAuth try
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/components/agents/LoadModel.tsx
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
  services/budadmin/src/hooks/useOAuthCallback.ts
  services/budadmin/src/pages/home/agents/index.tsx
  services/budadmin/src/stores/useAgentStore.ts
Due: budadmin-lint, budadmin-typecheck

feat: add CredentialConfigStep and ToolSelectionStep components
  services/budadmin/src/components/agents/tools/CredentialConfigStep.tsx
  services/budadmin/src/components/agents/tools/ToolSelectionStep.tsx
Due: budadmin-lint, budadmin-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
