Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$

fix(eval): ignore traits without any datasets
  services/budapp/budapp/eval_ops/services.py
Due: none

Update HARDWARE_REQUIREMENTS.md
  docs/HARDWARE_REQUIREMENTS.md
Due: none

remove id
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budadmin/src/flows/AddAgent/AgentConfiguration.tsx
  services/budadmin/src/stores/useAgentStore.ts
Due: budadmin-lint, budadmin-typecheck

fix: added seperate system prompt key
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/schemas.py
  services/budprompt/budprompt/prompt/services.py
Due: none

feat: added system prompt in budapp
  services/budapp/budapp/prompt_ops/schemas.py
Due: none

fix: condition change to if else comprehensive
  services/budprompt/budprompt/prompt/executors.py
Due: none

auth
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/services/connectorService.ts
Due: budadmin-lint, budadmin-typecheck

feat: implement Keycloak JIT provisioning and role synchronization
  services/budapp/.env.sample
  services/budapp/budapp/auth/services.py
  services/budapp/budapp/auth/user_onboarding_service.py
  services/budapp/budapp/commons/config.py
  services/budapp/budapp/commons/keycloak.py
  services/budapp/budapp/initializers/base_keycloak_seeder.py
Due: none

Update services/budapp/budapp/auth/services.py
  services/budapp/budapp/auth/services.py
Due: none

fix: address PR review feedback - security, performance, and code quality
  services/budapp/budapp/auth/services.py
  services/budapp/budapp/commons/keycloak.py
Due: none

fix(budgateway): fix error response inconsistency between HTTP and metrics
  services/budgateway/gateway/src/main.rs
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/completions.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/model_resolution.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/error.rs
  services/budgateway/tensorzero-internal/src/inference/providers/buddoc.rs
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
  services/budgateway/tensorzero-internal/src/inference/providers/dummy.rs
  services/budgateway/tensorzero-internal/src/inference/providers/vllm.rs
  services/budgateway/tensorzero-internal/src/model.rs
  services/budgateway/tensorzero-internal/src/rate_limit/middleware.rs
  services/budgateway/tensorzero-internal/src/responses.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

oauth
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/components/agents/settings/SettingsSidebar.tsx
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/flows/AddAgent/SelectProject.tsx
  services/budadmin/src/hooks/useOAuthCallback.ts
  services/budadmin/src/pages/api/requests.ts
  services/budadmin/src/pages/home/prompts&agents/index.tsx
  services/budadmin/src/services/connectorService.ts
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): fix EditProject not sending edited name and updating UI
  services/budadmin/src/flows/Project/EditProject.tsx
  services/budadmin/src/hooks/useProjects.tsx
Due: budadmin-lint, budadmin-typecheck

fix: populate gateway metadata and correct error codes for failed inferences
  services/budadmin/src/components/inferences/InferenceDetailModal.tsx
  services/budadmin/src/pages/observability/[id]/index.tsx
  services/budgateway/clients/rust/src/lib.rs
  services/budgateway/gateway/src/main.rs
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/clickhouse/mod.rs
  services/budgateway/tensorzero-internal/src/completions.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/model_resolution.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/error.rs
  services/budgateway/tensorzero-internal/src/inference/providers/buddoc.rs
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
  services/budgateway/tensorzero-internal/src/inference/providers/dummy.rs
  services/budgateway/tensorzero-internal/src/inference/providers/vllm.rs
  services/budgateway/tensorzero-internal/src/model.rs
  services/budgateway/tensorzero-internal/src/rate_limit/middleware.rs
  services/budgateway/tensorzero-internal/src/responses.rs
  services/budmetrics/budmetrics/observability/services.py
Due: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budadmin-typecheck

fix: populate gateway metadata and correct error codes for failed inferences
  services/budadmin/src/components/inferences/InferenceDetailModal.tsx
  services/budadmin/src/pages/observability/[id]/index.tsx
  services/budgateway/clients/rust/src/lib.rs
  services/budgateway/tensorzero-internal/src/clickhouse/mod.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/error.rs
  services/budmetrics/budmetrics/observability/services.py
Due: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budadmin-typecheck

fix(budadmin): restore dynamic playground URL in AgentIframe
  services/budadmin/src/components/agents/AgentIframe.tsx
Due: budadmin-lint, budadmin-typecheck

evaluations details page updated
  services/budadmin/src/pages/home/evaluations/evalDetailed/[evaluationId].tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/details.tsx
Due: budadmin-lint, budadmin-typecheck

feat(agents): add OAuth tools fetch endpoint support
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/services/connectorService.ts
Due: budadmin-lint, budadmin-typecheck

Remove VOLUME_TYPE from budcluster configuration
  infra/helm/bud/values.dev.yaml
Due: none

feat(agents): pass workflow_id in OAuth flow for proper callback URL
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
  services/budadmin/src/components/agents/tools/ToolsSidebar.tsx
  services/budadmin/src/hooks/useOAuthCallback.ts
  services/budadmin/src/services/connectorService.ts
Due: budadmin-lint, budadmin-typecheck

debug: add console logs to verify workflowId is being passed to OAuth initiate
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

fix: duplicate write
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/error.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

updated tags display issue
  services/budadmin/src/pages/home/evaluations/experiments/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(agents): update URL to include agent parameter in OAuth callback
  services/budadmin/src/hooks/useOAuthCallback.ts
Due: budadmin-lint, budadmin-typecheck

fix: add analytics Extension parameter to test_openai_compatible_warn_unknown_fields
  services/budgateway/tensorzero-internal/tests/e2e/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: output type native or tool output depends on tool is present or not
  services/budprompt/budprompt/prompt/executors.py
Due: none

agent url
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/flows/AddAgent/SelectProject.tsx
Due: budadmin-lint, budadmin-typecheck

check merge
  services/budadmin/src/components/agents/AgentDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

fix(agents): restore dynamic playground URL in AgentIframe
  services/budadmin/src/components/agents/AgentIframe.tsx
Due: budadmin-lint, budadmin-typecheck

fix: make analytics Extension optional in handlers
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/tests/e2e/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: internal pydantic ai output tool execution show as output text in end result
  services/budprompt/budprompt/prompt/openai_response_formatter_v1.py
Due: none

refactor: change output item format strycture
  services/budprompt/budprompt/prompt/openai_response_formatter_v1.py
  services/budprompt/budprompt/prompt/openai_streaming_formatter_v1.py
Due: none

fix(eval): debug code to investigate the duration
  services/budeval/budeval/evals/ansible_orchestrator.py
  services/budeval/budeval/evals/job_monitor.py
  services/budeval/budeval/evals/workflows.py
Due: none

fix: openai streaming parser for non mcp tool calls
  services/budprompt/budprompt/prompt/openai_streaming_formatter_v1.py
Due: none

fixes in eval
  services/budadmin/src/components/evaluations/RunsHistoryTable.tsx
  services/budadmin/src/components/ui/bud/table/EvaluationResultsTable.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/RunEvaluationStatus.tsx
  services/budadmin/src/flows/components/SearchHeaderInput.tsx
Due: budadmin-lint, budadmin-typecheck

fix(eval): debug code to investigate the duration
  services/budapp/budapp/eval_ops/services.py
Due: none

fix(k8s_deploy): clean up
  infra/helm/cert-manager/values.yaml
  nix/packages/k8s_deploy/script.sh
Due: none
