Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$

Documentation edits made through Mintlify web editor
  docs/prompts-agents/agents.mdx
Due: none

remove delete
  services/budadmin/src/components/flowgramEditorDemo/components/prompt-messages-card.tsx
Due: budadmin-lint, budadmin-typecheck

fix: add remember_me to login API and fix CheckBoxInput controlled state
  services/budadmin/src/components/auth/login.tsx
  services/budadmin/src/components/ui/input.tsx
  services/budadmin/src/pages/api/requests.ts
  services/budadmin/src/pages/auth/logIn/index.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: changed span attribute naming convesion for response_create_handler_observability
  services/budgateway/tensorzero-internal/src/endpoints/observability.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budprompt/budprompt/commons/constants.py
  services/budprompt/budprompt/responses/services.py
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: remove debug console.log from login handler
  services/budadmin/src/pages/auth/logIn/index.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: centralize login form submission logic
  services/budadmin/src/components/auth/login.tsx
Due: budadmin-lint, budadmin-typecheck

fix: use DataInterface type instead of any for loginPayload
  services/budadmin/src/pages/auth/logIn/index.tsx
Due: budadmin-lint, budadmin-typecheck

remove system option from prompt message
  services/budadmin/src/components/agents/schema/PromptMessageSettings.tsx
Due: budadmin-lint, budadmin-typecheck

feat: added prompt id, project id, prompt version in gateway_analytics span
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

guardrail detail in project detail
  services/budadmin/src/components/ui/bud/table/guardrailsListTable.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/index.tsx
  services/budadmin/src/stores/useGuardrails.ts
Due: budadmin-lint, budadmin-typecheck

add guardrail is 'is_standalone' fixed
  services/budadmin/src/flows/GuardRails/DeploymentTypes.tsx
  services/budadmin/src/flows/GuardRails/ProbeSettings.tsx
  services/budadmin/src/flows/GuardRails/SelectDeployment.tsx
  services/budadmin/src/flows/GuardRails/SelectProject.tsx
  services/budadmin/src/hooks/useGuardrails.tsx
Due: budadmin-lint, budadmin-typecheck

feature/guardrails
  services/budadmin/src/flows/GuardRails/UseGuardrail.tsx
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/deployments/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(guardrails): update UseGuardrail code snippets to use /v1/moderations endpoint
  services/budadmin/src/flows/GuardRails/UseGuardrail.tsx
Due: budadmin-lint, budadmin-typecheck

fix(guardrails): add React.MouseEvent type to onClick handler
  services/budadmin/src/components/ui/bud/table/guardrailsListTable.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(guardrails): remove unnecessary async from selectType function
  services/budadmin/src/flows/GuardRails/UseGuardrail.tsx
Due: budadmin-lint, budadmin-typecheck

fix(guardrails): add fetchDeployments to useEffect dependency array
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/deployments/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(guardrails): add missing dependencies to search useEffect
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/deployments/index.tsx
Due: budadmin-lint, budadmin-typecheck

perf(guardrails): wrap handleTableChange in useCallback
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/deployments/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(guardrails): improve type safety for params objects
  services/budadmin/src/stores/useGuardrails.ts
Due: budadmin-lint, budadmin-typecheck

feat(budaiscaler): integrate BudAIScaler for model deployment autoscaling
  services/budadmin/src/flows/DeployModel/DeployModelBudAIScaler.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/stores/useDeployModel.tsx
  services/budadmin/src/styles/globals.css
  services/budapp/budapp/cluster_ops/schemas.py
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/model_ops/model_routes.py
  services/budapp/budapp/model_ops/schemas.py
  services/budapp/budapp/model_ops/services.py
  services/budcluster/budcluster/charts/bud_runtime_container/templates/budaiscaler.yaml
  services/budcluster/budcluster/charts/bud_runtime_container/values.yaml
  services/budcluster/budcluster/deployment/handler.py
  services/budcluster/budcluster/deployment/schemas.py
  services/budcluster/budcluster/deployment/workflows.py
  services/budcluster/budcluster/playbooks/delete_cluster.yaml
  services/budcluster/budcluster/playbooks/deploy_runtime.yaml
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
  services/budgateway/tensorzero-internal/tests/load/simple/body.json
  services/budgateway/tensorzero-internal/tests/load/simple/run.sh
Due: budadmin-lint, budadmin-typecheck

mcp foundary
  services/budadmin/src/components/environment.ts
  services/budadmin/src/pages/api/mcpFoundryRequests.ts
  services/budadmin/src/pages/api/requests.ts
  services/budadmin/src/pages/home/tools/index.tsx
  services/budadmin/src/stores/useTools.ts
Due: budadmin-lint, budadmin-typecheck

feat(metrics): enhance metrics collection for BudAIScaler and Infinity integration
  services/budadmin/src/flows/DeployModel/DeployModelBudAIScaler.tsx
  services/budadmin/src/stores/useDeployModel.tsx
  services/budcluster/budcluster/charts/bud_runtime_container/templates/_sidecar.yaml
  services/budcluster/budcluster/charts/bud_runtime_container/values.yaml
  services/budcluster/budcluster/deployment/engine_processors.py
  services/budcluster/deploy/runtime-sidecar/app.py
Due: budadmin-lint, budadmin-typecheck

fix(budaiscaler): ensure default values for replica counts and prediction settings are correctly applied
  services/budadmin/src/flows/DeployModel/DeployModelBudAIScaler.tsx
Due: budadmin-lint, budadmin-typecheck

style: fix Python code formatting for CI lint check
  services/budapp/budapp/model_ops/schemas.py
  services/budcluster/budcluster/deployment/schemas.py
Due: none

style: fix ruff formatting for CI pre-commit check
  services/budcluster/budcluster/deployment/schemas.py
  services/budcluster/deploy/runtime-sidecar/app.py
Due: none

revert: restore gateway load test files to master version
  services/budgateway/tensorzero-internal/tests/load/simple/body.json
  services/budgateway/tensorzero-internal/tests/load/simple/run.sh
Due: none

style: fix line length in services.py for pre-commit
  services/budapp/budapp/model_ops/services.py
Due: none

fix(budadmin): correct audio_translation to audio_speech for type check
  services/budadmin/src/flows/DeployModel/DeployModelBudAIScaler.tsx
Due: budadmin-lint, budadmin-typecheck
