Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

refactor(budplayground): use findLast for cleaner array search
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

refactor(budplayground): extract sendUserMessage helper to reduce duplication
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

refactor(budplayground): simplify CopyText by removing unnecessary ref
  services/budplayground/app/components/bud/components/display/CopyText.tsx
Due: budplayground-lint, budplayground-typecheck

docs(budadmin): add TODO comments for unused connector state management
  services/budadmin/src/stores/useAgentStore.ts
Due: budadmin-lint, budadmin-typecheck

refactor(budadmin): extract URL building logic into shared helper
  services/budadmin/src/utils/urlUtils.ts
Due: budadmin-lint, budadmin-typecheck

feat(budplayground): hide left sidebar in embedded mode and add restart button
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/NavBar.tsx
Due: budplayground-lint, budplayground-typecheck

fix(budplayground): prevent layout shift with matching placeholder width
  services/budplayground/app/chat/components/NavBar.tsx
Due: budplayground-lint, budplayground-typecheck

refactor(budplayground): simplify onClick handler by passing function directly
  services/budplayground/app/chat/components/NavBar.tsx
Due: budplayground-lint, budplayground-typecheck

feat: added data seeder for observability to analytics
  services/budmetrics/tests/observability/__init__.py
  services/budmetrics/tests/observability/data/__init__.py
  services/budmetrics/tests/observability/data/otel_traces_sample.json
  services/budmetrics/tests/observability/seed_otel_traces.py
Due: none

chore: temp version of clickhouse otel conversion using claude
  services/budgateway/tensorzero-internal/src/config_parser.rs
  services/budgateway/tensorzero-internal/src/gateway_util.rs
  services/budmetrics/budmetrics/observability/otel_analytics.py
  services/budmetrics/budmetrics/observability/services.py
  services/budmetrics/budmetrics/observability/usage_routes.py
  services/budmetrics/scripts/migrate_clickhouse.py
  services/budmetrics/tests/integration/test_otel_analytics_ground_truth.py
  services/budmetrics/tests/observability/conftest.py
  services/budmetrics/tests/observability/data/otel_traces_sample.json
  services/budmetrics/tests/observability/test_analytics_endpoint.py
  services/budmetrics/tests/observability/test_analytics_payloads.py
  services/budmetrics/tests/unit/test_otel_analytics.py
Due: cargo-fmt, cargo-clippy, cargo-deny

feat(budmetrics): add child_span_count to trace APIs
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
Due: none

feat(budmetrics): add flatten parameter to list_traces API
  services/budmetrics/budmetrics/observability/routes.py
  services/budmetrics/budmetrics/observability/services.py
Due: none

feat(budapp): add flatten parameter and child_span_count to traces proxy
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix(budmetrics): use production database reference for otel_traces
  services/budmetrics/budmetrics/observability/services.py
Due: none

perf(budmetrics): optimize span count subquery with trace filter
  services/budmetrics/budmetrics/observability/services.py
Due: none

fix(budapp): convert flatten boolean to string for aiohttp params
  services/budapp/budapp/prompt_ops/services.py
Due: none

test(budmetrics): add OTel traces seeder and sample data for analytics testing
  services/budmetrics/tests/observability/data/otel_traces_sample.json
  services/budmetrics/tests/observability/seed_otel_traces.py
Due: none

test(budmetrics): enhance OTel traces sample data and seeder config
  services/budmetrics/tests/observability/data/otel_traces_sample.json
  services/budmetrics/tests/observability/seed_otel_traces.py
Due: none

feat(budmetrics): add InferenceFact table and MV for OTel analytics
  services/budmetrics/scripts/migrate_clickhouse.py
Due: none

test(budmetrics): add integration tests for OTel to InferenceFact pipeline
  services/budmetrics/tests/observability/test_inference_fact.py
Due: none

feat(budmetrics): add rollup tables for time-series aggregation
  services/budmetrics/scripts/migrate_clickhouse.py
  services/budmetrics/tests/observability/test_rollup_tables.py
Due: none

test(budmetrics): add frequency_unit tests and fix rollup query bugs
  services/budmetrics/budmetrics/observability/models.py
  services/budmetrics/budmetrics/observability/services.py
  services/budmetrics/tests/observability/conftest.py
  services/budmetrics/tests/observability/test_analytics_payloads.py
Due: none

test(budmetrics): add frequency_interval tests and fix rollup query bug
  services/budmetrics/budmetrics/observability/models.py
  services/budmetrics/tests/observability/test_analytics_payloads.py
Due: none

test(budmetrics): add comprehensive filter parameter tests for analytics API
  services/budmetrics/tests/observability/test_analytics_payloads.py
Due: none

test(budmetrics): add group_by parameter tests and fix ID population bug
  services/budmetrics/budmetrics/observability/services.py
  services/budmetrics/tests/observability/test_analytics_payloads.py
Due: none

fix(budmetrics): implement topk filtering in rollup query
  services/budmetrics/budmetrics/observability/models.py
Due: none

fix(budmetrics): use raw data for latency/ttft percentiles and add concurrent test data
  services/budmetrics/budmetrics/observability/models.py
  services/budmetrics/tests/observability/data/otel_traces_sample.json
Due: none

test(budmetrics): add return_delta parameter tests for analytics API
  services/budmetrics/tests/observability/test_analytics_payloads.py
Due: none

test(budmetrics): add fill_time_gaps parameter tests for analytics API
  services/budmetrics/tests/observability/test_analytics_payloads.py
Due: none

test(budmetrics): add topk parameter tests for analytics API
  services/budmetrics/tests/observability/test_analytics_payloads.py
Due: none

fix(budmetrics): fix table alias conflict and add inferences list tests
  services/budmetrics/budmetrics/observability/services.py
  services/budmetrics/tests/observability/test_inferences_list.py
Due: none

fix(budmetrics): fix hardcoded database reference and add top-routes tests
  services/budmetrics/budmetrics/observability/services.py
  services/budmetrics/tests/observability/test_gateway_top_routes.py
Due: none

refactor(budmetrics): reorganize observability tests into submodules
  services/budmetrics/tests/observability/gateway/__init__.py
  services/budmetrics/tests/observability/gateway/test_top_routes.py
  services/budmetrics/tests/observability/inferences/__init__.py
  services/budmetrics/tests/observability/inferences/test_analytics.py
  services/budmetrics/tests/observability/inferences/test_list.py
  services/budmetrics/tests/observability/tables/__init__.py
  services/budmetrics/tests/observability/tables/test_inference_fact.py
  services/budmetrics/tests/observability/tables/test_rollup_tables.py
Due: none

Documentation edits made through Mintlify web editor
  docs/guardrails/bud-sentinel.mdx
Due: none

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
