Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd services/budgateway && cargo +nightly fmt -- --check || cargo fmt -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd services/budgateway && cargo +nightly clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: bash -c 'cd services/budgateway && cargo +nightly deny check || cargo deny check'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && npx tsc --noEmit'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && npx tsc --noEmit'
  language: system
  pass_filenames: false

fix: proxy cache test
  services/budapp/tests/test_mllm_document_support.py
Due: none

fix: test fix for proxy cache
  services/budapp/tests/test_mllm_document_support.py
Due: none

docs: add comprehensive documentation for document processing API
  docs/docs.json
  docs/openai-api/documents.mdx
  services/budgateway/docs/api/documents.md
Due: none

flowgram removed
  services/budadmin/pnpm-lock.yaml
  services/budadmin/public/agents/bg.png
  services/budadmin/public/agents/ui/Final.jpg
  services/budadmin/public/agents/ui/control.png
  services/budadmin/public/agents/ui/p.png
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentBoxWrapper.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/components/agents/AgentSelector.tsx
  services/budadmin/src/components/agents/BlurModal.tsx
  services/budadmin/src/components/agents/LoadModel.tsx
  services/budadmin/src/components/ui/bud/form/Buttons.tsx
  services/budadmin/src/pages/_app.tsx
  services/budadmin/src/pages/home/prompts&agents/index.tsx
  services/budadmin/src/stores/useAgentStore.ts
  services/budadmin/src/styles/agents.scss
  services/budadmin/src/types/flowgram.d.ts
Due: budadmin-lint, budadmin-typecheck

fix(eval): replace hardcoded current_metrics with real experiment run data
  services/budapp/budapp/eval_ops/services.py
Due: none

fix(eval): add robust error handling to _get_current_metrics method
  services/budapp/budapp/eval_ops/services.py
Due: none

fix(eval): evlauations not being stored
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/models.py
  services/budapp/budapp/migrations/versions/99436ce65916_add_evaluations_table_and_update_runs.py
Due: none

Added logs to identify if IP is properly forwarded
  services/budplayground/app/api/chat/route.ts
Due: budplayground-lint, budplayground-typecheck

adding more error handling to check clickhouse issue
  services/budmetrics/budmetrics/observability/models.py
Due: none

fix(eval): fix evaluation workflow UI not updating due to stale socket handler
  services/budadmin/src/flows/Evaluations/RunEvaluation/RunEvaluationStatus.tsx
  services/budadmin/src/flows/components/CommonStatus.tsx
Due: budadmin-lint, budadmin-typecheck

error fix
  services/budadmin/src/hooks/useGuardrails.tsx
Due: budadmin-lint, budadmin-typecheck

fix(app): evaluation added to the trigger
  services/budapp/budapp/eval_ops/services.py
Due: none

fixed pre commit issues
  services/budmetrics/budmetrics/observability/models.py
Due: none

probes
  services/budadmin/src/flows/GuardRails/BudSentinelProbes.tsx
  services/budadmin/src/flows/GuardRails/ProbeDetails.tsx
  services/budadmin/src/hooks/useGuardrails.tsx
Due: budadmin-lint, budadmin-typecheck

updated notification
  services/budCustomer/src/app/(app)/audit/page.tsx
  services/budCustomer/src/components/island/BudIsland.tsx
  services/budCustomer/src/components/island/BudNotification.tsx
Due: none

fixed UTF8 error
  services/budmetrics/budmetrics/observability/services.py
Due: none

fix(budsim): enable V100 clusters for tensor/pipeline parallelism configurations
  services/budsim/budsim/simulator/direct_search.py
  services/budsim/budsim/simulator/services.py
  services/budsim/budsim/simulator/workflows.py
Due: none

fix(budsim): remove redundant validation for V100 cluster parallelism
  services/budsim/budsim/simulator/services.py
Due: none

added logs for testing
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

added logs for testing
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budplayground/app/api/chat/route.ts
Due: cargo-fmt, cargo-clippy, cargo-deny, budplayground-lint, budplayground-typecheck

fix(eval): resolve asyncio event loop conflicts in Dapr workflows
  services/budeval/budeval/evals/workflows.py
Due: none

fix(eval): resolve asyncio event loop conflicts and improve workflow execution
  services/budeval/budeval/ansible/playbooks/get_job_status_k8s.yml
  services/budeval/budeval/cli/migrate.py
  services/budeval/budeval/core/transformers/opencompass_transformer.py
  services/budeval/budeval/evals/routes.py
  services/budeval/budeval/evals/services.py
  services/budeval/budeval/evals/workflows.py
  services/budeval/budeval/main.py
  services/budeval/budeval/registry/orchestrator/ansible_orchestrator.py
Due: none

feat(eval): aysnc issue
  services/budeval/budeval/evals/workflows.py
Due: none

fix: update nfd chart version
  services/budcluster/budcluster/charts/nfd/Chart.yaml
Due: none

feat(eval): aysnc issue
  services/budeval/budeval/ansible/playbooks/extract_results_from_pvc.yml
  services/budeval/budeval/ansible/playbooks/extract_results_from_pvc_tasks.yml
  services/budeval/budeval/ansible/playbooks/extract_results_simple.yml
  services/budeval/budeval/ansible/playbooks/get_job_status_simple.yml
  services/budeval/budeval/evals/services.py
  services/budeval/budeval/evals/workflows.py
  services/budeval/budeval/registry/orchestrator/ansible_orchestrator.py
Due: none

feat(eval): aysnc issue
  services/budeval/budeval/evals/results_processor.py
Due: none

feat(guardrails): enhance workflow payload structure and error handling
  services/budadmin/src/flows/GuardRails/BudSentinelProbes.tsx
  services/budadmin/src/flows/GuardRails/DeploymentTypes.tsx
  services/budadmin/src/flows/GuardRails/PIIDetectionConfig.tsx
  services/budadmin/src/flows/GuardRails/ProbeSettings.tsx
  services/budadmin/src/flows/GuardRails/SelectDeployment.tsx
  services/budadmin/src/flows/GuardRails/SelectProject.tsx
  services/budadmin/src/hooks/useGuardrails.tsx
Due: budadmin-lint, budadmin-typecheck

feat(eval): aysnc issue
  services/budeval/budeval/ansible/playbooks/extract_results_from_pvc.yml
  services/budeval/deploy/Dockerfile
Due: none

feat: added agents.md for codex
  services/budprompt/AGENTS.md
Due: none

feat: added budpropmt pr review workflow
  .github/workflows/budprompt-pr-review.yml
Due: none

fix: fixed github workflow
  .github/workflows/budprompt-pr-review.yml
  services/budapp/docs/workflow.md
Due: none

feat(evalops): added support for pod/exec for budeval
  infra/helm/bud/templates/microservices/budeval.yaml
Due: none

feat(eval): aysnc issue
  services/budeval/budeval/evals/results_processor.py
  services/budeval/budeval/evals/storage/clickhouse.py
  services/budeval/budeval/evals/storage/factory.py
  services/budeval/budeval/evals/workflows.py
Due: none

added reset password for admin
  infra/helm/bud/templates/microservices/budapp.yaml
  services/budadmin/next.config.mjs
  services/budadmin/src/pages/_app.tsx
  services/budadmin/src/pages/api/requests.ts
  services/budadmin/src/pages/auth/reset-password.tsx
  services/budapp/.env.sample
  services/budapp/budapp/commons/config.py
  services/budapp/budapp/user_ops/services.py
Due: budadmin-lint, budadmin-typecheck

fix(alert): updated usage alert message
  services/budapp/budapp/billing_ops/notification_service.py
Due: none

removed model cluster details API on publish details
  services/budadmin/src/components/ui/bud/table/DeploymentListTable.tsx
Due: budadmin-lint, budadmin-typecheck

feat(eval): aysnc issue
  services/budeval/budeval/commons/config.py
  services/budeval/budeval/evals/storage/factory.py
  services/budeval/budeval/evals/workflows.py
Due: none

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
