Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

style: reduce width of Name and Description columns
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/probes/index.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: remove Tags column from parent probes table
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/probes/index.tsx
Due: budadmin-lint, budadmin-typecheck

style: reduce expand column width to fit arrow icon
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/probes/index.tsx
Due: budadmin-lint, budadmin-typecheck

style: remove horizontal scroll from probes table
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/probes/index.tsx
Due: budadmin-lint, budadmin-typecheck

style: reduce Name column width in parent probes table
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/probes/index.tsx
Due: budadmin-lint, budadmin-typecheck

style: limit Description column width in parent probes table
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/probes/index.tsx
Due: budadmin-lint, budadmin-typecheck

style: add tableLayout fixed to enforce column widths
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/probes/index.tsx
Due: budadmin-lint, budadmin-typecheck

style: add truncate with max-width to Description column
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/probes/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: refactor handleTableChange to prevent double API calls
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/probes/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: replace type casts with proper type guards for guardrailId
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/probes/index.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: merge duplicate getStatusConfig functions
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/probes/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: use isLoadingProbes for table loading state
  services/budadmin/src/pages/home/guardrailDetails/[guardrailId]/probes/index.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: extract parseApiResponse utility for response parsing
  services/budadmin/src/stores/useGuardrails.ts
Due: budadmin-lint, budadmin-typecheck

refactor: removed user_prompt creation method
  services/budprompt/budprompt/executors/v4/executor.py
Due: none

feat: add close button to PromptForm component
  services/budplayground/app/chat/components/PromptForm.tsx
Due: budplayground-lint, budplayground-typecheck

chore(mcpgateway): automate auth handling with bud services
  infra/helm/bud/example.secrets.yaml
  infra/helm/bud/templates/mcpgateway/deployment.yaml
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/budprompt.yaml
  infra/helm/bud/values.enc.yaml
  infra/helm/bud/values.sinan.yaml
  infra/helm/bud/values.yaml
  nix/packages/no_new_global_env.nix
  services/budapp/deploy/Dockerfile
  services/budapp/entrypoint_mcpgateway_api_token.sh
  services/budprompt/deploy/Dockerfile
  services/budprompt/entrypoint_mcpgateway_api_token.sh
Due: none

fix(helm): lint
  .github/workflows/lint-pr-review.yml
Due: none

fix: clear agent session data when closing drawer
  services/budadmin/src/stores/useAgentStore.ts
Due: budadmin-lint, budadmin-typecheck

feat: added chat history in budprompt
  services/budprompt/budprompt/executors/v4/executor.py
  services/budprompt/budprompt/executors/v4/utils.py
  services/budprompt/budprompt/prompt/services.py
  services/budprompt/budprompt/responses/schemas.py
  services/budprompt/budprompt/responses/services.py
Due: none

fix: added logic to display input field dynamically
  services/budapp/budapp/commons/constants.py
Due: none

tools in progress
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

agent create fix
  services/budadmin/src/flows/AddAgent/AgentSuccess.tsx
  services/budadmin/src/stores/useAgentStore.ts
Due: budadmin-lint, budadmin-typecheck

feat: add visible_when conditional field visibility for connector credentials
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/stores/useConnectors.ts
Due: budadmin-lint, budadmin-typecheck

feat: add CPU simulation support with cores parameter
  services/budcluster/budcluster/charts/bud_runtime_container/templates/_cpu.yaml
  services/budcluster/budcluster/charts/bud_runtime_container/templates/multi-node.yaml
  services/budcluster/budcluster/charts/bud_runtime_container/templates/single-node.yaml
  services/budcluster/budcluster/charts/model_transfer/templates/deployment.yaml
  services/budcluster/budcluster/charts/model_transfer/values.yaml
  services/budcluster/budcluster/cluster_ops/device_extractor.py
  services/budcluster/budcluster/cluster_ops/kubernetes.py
  services/budcluster/budcluster/cluster_ops/nfd_handler.py
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/deployment/handler.py
  services/budcluster/budcluster/deployment/services.py
  services/budcluster/budcluster/device_mapping.py
  services/budcluster/budcluster/node_info_collector/nfd_parser.py
  services/budcluster/budcluster/node_info_collector/node_info_service.py
  services/budcluster/budcluster/playbooks/model_transfer_playbook.yml
  services/budmetrics/budmetrics/observability/models.py
  services/budmetrics/scripts/setup_cluster_metrics_materialized_views.sql
  services/budsim/alembic/versions/a1b2c3d4e5f6_add_cores_column_to_simulation_results.py
  services/budsim/budsim/engine_ops/vllm.py
  services/budsim/budsim/simulator/direct_search.py
  services/budsim/budsim/simulator/evolution.py
  services/budsim/budsim/simulator/hardware.py
  services/budsim/budsim/simulator/models.py
  services/budsim/budsim/simulator/schemas.py
  services/budsim/budsim/simulator/services.py
  services/budsim/deploy/Dockerfile
  services/budsim/tests/test_hardware_mode_filtering.py
Due: none

feat(eval): update to list only running models
  services/budadmin/src/flows/Evaluations/RunEvaluation/SelectModel.tsx
  services/budadmin/src/hooks/useEndPoint.tsx
  services/budapp/budapp/endpoint_ops/crud.py
  services/budapp/budapp/endpoint_ops/services.py
Due: budadmin-lint, budadmin-typecheck

Update services/budapp/budapp/endpoint_ops/crud.py
  services/budapp/budapp/endpoint_ops/crud.py
Due: none

feat(eval): update to list only running models
  services/budapp/budapp/endpoint_ops/crud.py
Due: none

feat: chat history consider in v4 executor
  services/budprompt/budprompt/executors/v4/executor.py
Due: none

refactor: extract Kubernetes affinity configurations into shared templates and update CPU resource allocation constants.
  services/budcluster/budcluster/charts/bud_runtime_container/templates/_affinity.yaml
  services/budcluster/budcluster/charts/bud_runtime_container/templates/multi-node.yaml
  services/budcluster/budcluster/charts/bud_runtime_container/templates/single-node.yaml
  services/budcluster/budcluster/charts/model_transfer/templates/_affinity.yaml
  services/budcluster/budcluster/charts/model_transfer/templates/deployment.yaml
  services/budcluster/budcluster/deployment/handler.py
Due: none

refactor: centralize device type normalization and enhance Intel Xeon CPU detection.
  services/budcluster/budcluster/cluster_ops/device_extractor.py
  services/budcluster/budcluster/cluster_ops/nfd_handler.py
  services/budcluster/budcluster/node_info_collector/node_info_service.py
  services/budsim/budsim/commons/device_utils.py
  services/budsim/budsim/simulator/services.py
  services/budsim/budsim/simulator/workflows.py
Due: none

fix: resolve pre-commit trailing whitespace issues
  docs/best-practices/cost-management.mdx
  docs/user-management/RBAC.mdx
  services/budcluster/budcluster/cluster_ops/kubernetes.py
  services/budmetrics/budmetrics/observability/models.py
Due: none

fix: updated docstring
  services/budprompt/budprompt/commons/exceptions.py
Due: none

fix: added docstring to v4
  services/budprompt/budprompt/executors/v4/__init__.py
Due: none

fix: passed security scan
  services/budprompt/budprompt/executors/v4/utils.py
Due: none

fix: upated factory doc string
  services/budprompt/budprompt/executors/factory.py
Due: none

fix: added mcp foundry base url
  services/budprompt/budprompt/commons/config.py
Due: none

feat(budcluster): add HAMI scheduler for CUDA nodes
  services/budcluster/budcluster/charts/bud_runtime_container/templates/multi-node.yaml
  services/budcluster/budcluster/charts/bud_runtime_container/templates/single-node.yaml
Due: none

fix: input is optional
  services/budprompt/budprompt/responses/schemas.py
Due: none

fix: show deployment spec options only for dedicated hardware mode and standardize logo sizing
  services/budadmin/src/components/ui/bud/deploymentDrawer/DeploymentSpecificationConfig.tsx
  services/budadmin/src/pages/auth/layout.tsx
  services/budadmin/src/pages/home/layout.tsx
Due: budadmin-lint, budadmin-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
