Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

fix(budapp): mock get_inference_cost in model deployment test
  services/budapp/tests/test_model_deployment.py
Due: none

fix(budadmin): use server-side pagination metadata for run number calc
  services/budadmin/src/pages/home/budpipelines/[id]/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budpipeline): return complete pipeline data in create/update responses
  services/budpipeline/budpipeline/pipeline/routes.py
  services/budpipeline/budpipeline/pipeline/service.py
Due: none

fix(budpipeline): include last_execution_at in update response
  services/budpipeline/budpipeline/pipeline/crud.py
  services/budpipeline/budpipeline/pipeline/service.py
Due: none

feat(budapp): refresh endpoint inference costs on cloud model sync
  services/budapp/budapp/endpoint_ops/crud.py
  services/budapp/budapp/endpoint_ops/services.py
  services/budapp/budapp/model_ops/scheduler.py
Due: none

refactor(budapp): use single session in scheduler inference cost refresh
  services/budapp/budapp/model_ops/scheduler.py
Due: none

feat(budadmin): bind cost metrics cards to /metrics/aggregated API in agent overview
  services/budadmin/src/components/ui/text.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/overview/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budpipeline,budadmin): show available cloud models in Add Cloud Model action
  services/budadmin/src/components/pipelineEditor/PipelineEditor.tsx
  services/budadmin/src/components/pipelineEditor/components/ActionConfigPanel.tsx
  services/budadmin/src/components/pipelineEditor/config/actionRegistry.ts
  services/budadmin/src/pages/home/budpipelines/[id]/index.tsx
  services/budadmin/src/types/actions.ts
  services/budpipeline/budpipeline/actions/base/meta.py
  services/budpipeline/budpipeline/actions/model/add_cloud.py
Due: budadmin-lint, budadmin-typecheck

fix(budpipeline,budadmin): address review feedback and fix CI test
  services/budadmin/src/components/pipelineEditor/components/ActionConfigPanel.tsx
  services/budpipeline/tests/actions/test_meta.py
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): wrap fetchCostMetrics in useCallback and add error state
  services/budadmin/src/pages/home/agentDetails/[agentId]/overview/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): type agentData with IPrompt instead of any in agent overview
  services/budadmin/src/pages/home/agentDetails/[agentId]/overview/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): use catch unknown instead of any in fetchAgentDetails
  services/budadmin/src/pages/home/agentDetails/[agentId]/overview/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): hide filter popover in agents listing page
  services/budadmin/src/pages/home/agents/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budgateway): include provider error details in observability data
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budgateway): address PR review feedback from Codex and Gemini
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budpipeline): resolve cluster ID mismatch in benchmark action (#1241)
  services/budpipeline/budpipeline/actions/model/benchmark.py
Due: none

fix(budplayground): add asset URL env var and fix empty stop_strings handling
  services/budplayground/Dockerfile
  services/budplayground/app/api/chat/route.ts
Due: budplayground-lint, budplayground-typecheck

fix(budpipeline): address review feedback and fix CI test
  services/budpipeline/budpipeline/actions/model/benchmark.py
  services/budpipeline/tests/actions/model/test_model_actions.py
Due: none

fix(budadmin): auto-save unsaved action changes on pipeline save (#1246)
  services/budadmin/src/components/pipelineEditor/PipelineEditor.tsx
  services/budadmin/src/components/pipelineEditor/components/ActionConfigPanel.tsx
  services/budadmin/src/components/pipelineEditor/components/index.ts
  services/budadmin/src/components/pipelineEditor/index.ts
  services/budadmin/src/pages/home/budpipelines/[id]/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(docs): clarify deploy vs publish behaviors in deployments docs
  docs/deployments/creating-first-deployment.mdx
  docs/deployments/deployment-concepts.mdx
  docs/deployments/guides/deployment-lifecycle-management.mdx
  docs/deployments/introduction.mdx
  docs/deployments/quickstart.mdx
  docs/deployments/reference/deployment-actions-reference.mdx
  docs/deployments/troubleshooting.mdx
  docs/docs.json
Due: none

fix(budadmin): remove redundant handleStepUpdate call in flush
  services/budadmin/src/components/pipelineEditor/PipelineEditor.tsx
Due: budadmin-lint, budadmin-typecheck

rewire flow
  services/budadmin/src/flows/GuardRails/BudSentinelProbes.tsx
  services/budadmin/src/flows/GuardRails/DeploymentTypes.tsx
  services/budadmin/src/flows/GuardRails/GuardrailDeploymentStatus.tsx
  services/budadmin/src/flows/GuardRails/GuardrailSelectCredentials.tsx
  services/budadmin/src/flows/GuardRails/GuardrailSimulationStatus.tsx
  services/budadmin/src/flows/GuardRails/PIIDetectionConfig.tsx
  services/budadmin/src/flows/GuardRails/ProbeSettings.tsx
  services/budadmin/src/flows/GuardRails/SelectDeployment.tsx
  services/budadmin/src/flows/GuardRails/SelectProject.tsx
  services/budadmin/src/flows/components/CommonStatus.tsx
  services/budadmin/src/hooks/useGuardrails.tsx
Due: budadmin-lint, budadmin-typecheck

Improve clarity in deployments introduction
  docs/deployments/introduction.mdx
Due: none

Add image to deployments introduction
  docs/deployments/introduction.mdx
  docs/images/image-22.png
Due: none

Update quickstart with new images and clarify model source
  docs/deployments/quickstart.mdx
  docs/images/image-23.png
  docs/images/image-24.png
Due: none

Reorder quickstart steps for clarity
  docs/deployments/quickstart.mdx
Due: none

Remove "Model Evaluations" section from deployment concepts
  docs/deployments/deployment-concepts.mdx
Due: none

Update deployments introduction table
  docs/deployments/introduction.mdx
Due: none

Reorder steps in creating first deployment guide
  docs/deployments/creating-first-deployment.mdx
Due: none

Add images to deployment guide
  docs/deployments/creating-first-deployment.mdx
  docs/images/image-25.png
  docs/images/image-26.png
Due: none

Reorder steps in deployment lifecycle flowchart
  docs/deployments/guides/deployment-lifecycle-management.mdx
Due: none

Add images to deployment lifecycle management guide
  docs/deployments/guides/deployment-lifecycle-management.mdx
  docs/images/image-27.png
  docs/images/image-28.png
Due: none

Reorder deployment actions in flowchart and table
  docs/deployments/reference/deployment-actions-reference.mdx
Due: none

Update deployment actions table formatting
  docs/deployments/reference/deployment-actions-reference.mdx
Due: none

Improve troubleshooting escalation guidance
  docs/deployments/troubleshooting.mdx
Due: none

fix(budadmin): show actual timestamps for pipeline runs (#1248)
  services/budadmin/src/components/pipelineEditor/ExecutionTimeline.tsx
  services/budadmin/src/flows/Pipeline/ExecutionDetails.tsx
  services/budadmin/src/pages/home/budpipelines/[id]/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(docs): add missing trailing newline to deployment mdx files
  docs/deployments/creating-first-deployment.mdx
  docs/deployments/deployment-concepts.mdx
  docs/deployments/guides/deployment-lifecycle-management.mdx
  docs/deployments/introduction.mdx
  docs/deployments/quickstart.mdx
  docs/deployments/reference/deployment-actions-reference.mdx
  docs/deployments/troubleshooting.mdx
Due: none

docs(clusters): add structured cluster documentation set
  docs/docs.json
  master/docs/clusters/cluster-concepts.mdx
  master/docs/clusters/creating-first-cluster.mdx
  master/docs/clusters/guides/cluster-operations.mdx
  master/docs/clusters/guides/cluster-settings-and-storage.mdx
  master/docs/clusters/introduction.mdx
  master/docs/clusters/quickstart.mdx
  master/docs/clusters/reference/cluster-tabs-reference.mdx
  master/docs/clusters/troubleshooting.mdx
Due: none

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
