Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

refactor(ui): extract shared table utilities to reduce code duplication
  services/budadmin/src/components/ui/TruncatedTextCell.tsx
  services/budadmin/src/components/ui/bud/table/EvaluationResultsTable.tsx
  services/budadmin/src/lib/utils.tsx
  services/budadmin/src/pages/home/projects/[slug]/modelEvaluations/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(agents): pass prompt name instead of ID in playground URL for edit mode
  services/budadmin/src/components/agents/AgentDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

feat(agents): add copy button for redirect URI in connector details
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(agents): memoize handleCopyUri with useCallback for performance
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

style(agents): use currentColor for copy icon stroke for consistency
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

feat: Improve benchmark model configuration by prioritizing local paths, dynamically fetching VLLM engine images, and updating selection UI.
  services/budapp/budapp/benchmark_ops/services.py
  services/budsim/budsim/simulator/schemas.py
  services/budsim/budsim/simulator/services.py
Due: none

refactor: Update benchmark model retrieval to use ORM and standardize frontend configuration selection with dropdowns.
  services/budadmin/src/flows/Benchmark/SelectConfiguration.tsx
  services/budapp/budapp/benchmark_ops/services.py
Due: budadmin-lint, budadmin-typecheck

fix: Add docstrings to migration functions for ruff compliance
  services/budadmin/src/components/charts/lineChart/LegendLineChart.tsx
  services/budadmin/src/components/island/BudWidget.tsx
  services/budadmin/src/flows/Benchmark/AddBenchmark.tsx
  services/budadmin/src/flows/Benchmark/BenchmarkingFinished.tsx
  services/budadmin/src/flows/Benchmark/BenchmarkingProgress.tsx
  services/budadmin/src/flows/Benchmark/SelectCluster.tsx
  services/budadmin/src/flows/Benchmark/SelectConfiguration.tsx
  services/budadmin/src/flows/Benchmark/SelectModel.tsx
  services/budadmin/src/flows/ViewModel/ViewModelDetails.tsx
  services/budadmin/src/flows/components/AvailableClusterList.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/hooks/useBenchmark.tsx
  services/budadmin/src/pages/api/requests.ts
  services/budadmin/src/pages/home/_benchmarks/BenchmarkResult.tsx
  services/budadmin/src/pages/home/_benchmarks/components/BenchmarksTable.tsx
  services/budadmin/src/pages/home/_benchmarks/components/PerfomanceTable.tsx
  services/budadmin/src/pages/home/deployments/[slug]/index.tsx
  services/budadmin/src/pages/home/modelRepo/index.tsx
  services/budadmin/src/stores/usePerfomanceBenchmark.tsx
  services/budapp/budapp/benchmark_ops/services.py
  services/budapp/budapp/endpoint_ops/schemas.py
  services/budcluster/budcluster/alembic/versions/2025_12_14_rename_throughput_columns.py
  services/budcluster/budcluster/benchmark_ops/models.py
  services/budcluster/budcluster/benchmark_ops/schemas.py
  services/budcluster/budcluster/benchmark_ops/services.py
Due: budadmin-lint, budadmin-typecheck

refactor: updated variables, input, instructions
  services/budprompt/budprompt/commons/constants.py
  services/budprompt/budprompt/responses/services.py
Due: none

feat: added streaming otel tracer
  services/budprompt/budprompt/responses/services.py
Due: none

feat: enhance benchmark charts with line graphs and improved data processing, rename dataset filename field, and adjust simulator memory units.
  services/budadmin/src/components/charts/benchmarkChart/index.tsx
  services/budadmin/src/hooks/useBenchmark.tsx
  services/budadmin/src/pages/home/_benchmarks/BenchmarkResult.tsx
  services/budapp/budapp/benchmark_ops/services.py
  services/budapp/budapp/dataset_ops/models.py
  services/budapp/budapp/dataset_ops/schemas.py
  services/budapp/budapp/initializers/data/dataset_info.json
  services/budapp/budapp/migrations/versions/bf37ac5c03c7_rename_filename_to_file_name.py
  services/budsim/budsim/simulator/services.py
Due: budadmin-lint, budadmin-typecheck

feat: added stream otel span attribute
  services/budprompt/budprompt/commons/constants.py
  services/budprompt/budprompt/responses/services.py
Due: none

feat(evaluations): add run evaluation from model evaluations page
  services/budadmin/src/flows/Evaluations/RunEvaluation/NewEvaluation.tsx
  services/budadmin/src/pages/home/projects/[slug]/modelEvaluations/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(evaluations): add type guard for deploymentId before opening drawer
  services/budadmin/src/pages/home/projects/[slug]/modelEvaluations/index.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(evaluations): remove experimentsLoading from useCallback deps
  services/budadmin/src/flows/Evaluations/RunEvaluation/NewEvaluation.tsx
Due: budadmin-lint, budadmin-typecheck

fix(evaluations): preserve user's evaluation name casing
  services/budadmin/src/flows/Evaluations/RunEvaluation/NewEvaluation.tsx
Due: budadmin-lint, budadmin-typecheck

Documentation edits made through Mintlify web editor
  docs/guardrails/guardrails.mdx
Due: none

feat(budplayground): add support for array and object input types in prompt form
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/PromptForm.tsx
  services/budplayground/app/lib/api.ts
Due: budplayground-lint, budplayground-typecheck

feat: Add `num_prompts` to benchmark configuration, display dataset names, and refine benchmark ID handling in workflows.
  services/budadmin/src/flows/Benchmark/BenchmarkConfiguration.tsx
  services/budadmin/src/flows/Benchmark/BenchmarkingFinished.tsx
  services/budadmin/src/flows/Benchmark/SelectConfiguration.tsx
  services/budadmin/src/hooks/useBenchmark.tsx
  services/budadmin/src/pages/home/_benchmarks/BenchmarkResult.tsx
  services/budadmin/src/stores/usePerfomanceBenchmark.tsx
  services/budadmin/src/stores/useWorkflow.tsx
  services/budapp/budapp/benchmark_ops/schemas.py
  services/budapp/budapp/benchmark_ops/services.py
  services/budapp/budapp/endpoint_ops/schemas.py
  services/budapp/budapp/workflow_ops/schemas.py
  services/budapp/budapp/workflow_ops/services.py
  services/budcluster/budcluster/benchmark_ops/schemas.py
  services/budcluster/budcluster/benchmark_ops/services.py
  services/budcluster/budcluster/deployment/performance.py
  services/budcluster/budcluster/deployment/schemas.py
  services/budcluster/budcluster/deployment/workflows.py
Due: budadmin-lint, budadmin-typecheck

feat: Add benchmark cancellation functionality and a display name to datasets.
  services/budadmin/src/flows/Benchmark/BenchmarkingProgress.tsx
  services/budadmin/src/flows/Benchmark/Datasets.tsx
  services/budadmin/src/flows/Benchmark/SelectConfiguration.tsx
  services/budadmin/src/stores/usePerfomanceBenchmark.tsx
  services/budapp/budapp/benchmark_ops/benchmark_routes.py
  services/budapp/budapp/benchmark_ops/schemas.py
  services/budapp/budapp/benchmark_ops/services.py
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/dataset_ops/models.py
  services/budapp/budapp/dataset_ops/schemas.py
  services/budapp/budapp/initializers/data/dataset_info.json
  services/budapp/budapp/migrations/versions/c4d5e6f7a8b9_add_display_name_to_dataset.py
  services/budapp/budapp/migrations/versions/d5e6f7a8b9c0_add_cancelled_to_benchmark_status.py
  services/budcluster/budcluster/alembic/versions/2025_12_15_add_cancelled_to_benchmark_status.py
  services/budcluster/budcluster/commons/constants.py
Due: budadmin-lint, budadmin-typecheck

Update services/budadmin/src/flows/Benchmark/BenchmarkingFinished.tsx
  services/budadmin/src/flows/Benchmark/BenchmarkingFinished.tsx
Due: budadmin-lint, budadmin-typecheck

Update services/budadmin/src/flows/Benchmark/BenchmarkingProgress.tsx
  services/budadmin/src/flows/Benchmark/BenchmarkingProgress.tsx
Due: budadmin-lint, budadmin-typecheck

Update services/budadmin/src/flows/Benchmark/Datasets.tsx
  services/budadmin/src/flows/Benchmark/Datasets.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): correct "warining" typo to "warning" in alert types
  services/budadmin/src/components/ui/bud/dataEntry/BudForm.tsx
  services/budadmin/src/components/ui/bud/deploymentDrawer/ChooseCluster.tsx
  services/budadmin/src/components/ui/bud/table/AgentsPromptsListTable.tsx
  services/budadmin/src/components/ui/bud/table/DeploymentListTable.tsx
  services/budadmin/src/components/ui/bud/table/guardrailsListTable.tsx
  services/budadmin/src/flows/AddAdapter/AdapterStatus.tsx
  services/budadmin/src/flows/AddModel/Cloud/ModelSuccess.tsx
  services/budadmin/src/flows/AddModel/Local/ExtractingModelStatus.tsx
  services/budadmin/src/flows/AddModel/Local/SecurityScanStatus.tsx
  services/budadmin/src/flows/Benchmark/SelectCluster.tsx
  services/budadmin/src/flows/Benchmark/SelectNodes.tsx
  services/budadmin/src/flows/Cluster/ClusterDeleteStatus.tsx
  services/budadmin/src/flows/Cluster/DeleteCluster.tsx
  services/budadmin/src/flows/CreateClusterStatus.tsx
  services/budadmin/src/flows/Credentials/ViewCredentials/index.tsx
  services/budadmin/src/flows/Credentials/_project/ViewCredentials/index.tsx
  services/budadmin/src/flows/DeployClusterStatus.tsx
  services/budadmin/src/flows/DeployModel/EndpointDeleteStatus.tsx
  services/budadmin/src/flows/DeployModelStatus.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/RunEvaluationStatus.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/SelectEvaluation.tsx
  services/budadmin/src/flows/Quantization/DeploymentStatus.tsx
  services/budadmin/src/flows/Quantization/SimulationStatus.tsx
  services/budadmin/src/flows/ViewModel/ViewModelDetails.tsx
  services/budadmin/src/flows/Worker/AddWorkerConfigStatus.tsx
  services/budadmin/src/flows/Worker/AddWorkerDeployStatus.tsx
  services/budadmin/src/flows/Worker/WorkerDeleteStatus.tsx
  services/budadmin/src/flows/Worker/WorkerDetails.tsx
  services/budadmin/src/flows/blocking/ViewBlockingRuleDetails.tsx
  services/budadmin/src/flows/components/AlertIcons.tsx
  services/budadmin/src/flows/components/BudStepAlert.tsx
  services/budadmin/src/flows/user/EditUser.tsx
  services/budadmin/src/flows/user/ViewUser.tsx
  services/budadmin/src/hooks/useConfirmAction.tsx
  services/budadmin/src/pages/home/clusters/[slug]/index.tsx
  services/budadmin/src/pages/home/clusters/index.tsx
  services/budadmin/src/pages/home/deployments/[slug]/adapters/index.tsx
  services/budadmin/src/pages/home/deployments/[slug]/settings/index.tsx
  services/budadmin/src/pages/home/observability/RulesTab.tsx
  services/budadmin/src/pages/home/projects/[slug]/Routes/Routes.tsx
Due: budadmin-lint, budadmin-typecheck

fix: fixed context not passing in agent iteration of StreamingValidationExecutor
  services/budprompt/budprompt/executors/v4/streaming_validation_executor.py
Due: none

fix: added missing items in openai formatted output
  services/budprompt/budprompt/executors/v4/streaming_validation_executor.py
Due: none

feat(budcluster): add trust-remote-code flag to deployment args
  services/budcluster/budcluster/deployment/handler.py
Due: none

feat: added by_alias true in model dump to execute streaming validation executor
  services/budprompt/budprompt/executors/v4/openai_streaming_formatter.py
Due: none

feat(infra/helm/scid): init dependencies
  infra/helm/bud/scid.dev.toml
  infra/helm/bud/scid.prod.toml
Due: none

fix: add trailing newline to guardrails.mdx
  docs/guardrails/guardrails.mdx
Due: none

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
