Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$

agent in progress
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budadmin/src/components/agents/LoadModel.tsx
  services/budadmin/src/components/agents/settings/InputSettings.tsx
  services/budadmin/src/components/agents/settings/SettingsSidebar.tsx
  services/budadmin/src/pages/home/playground/iFrame.tsx
Due: budadmin-lint, budadmin-typecheck

feat(evaluations): add experiment tags support and improve evaluation flow
  services/budadmin/src/components/ui/bud/card/wraperBox.tsx
  services/budadmin/src/flows/Evaluations/NewExperiment/index.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/EvaluationSummary.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/NewEvaluation.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/SelectModel.tsx
  services/budadmin/src/hooks/useEndPoint.tsx
  services/budadmin/src/hooks/useEvaluations.tsx
  services/budadmin/src/stores/useWorkflow.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budCustomer, budadmin): improve auth routes and UI components
  services/budCustomer/src/app/(auth)/login/page.tsx
  services/budCustomer/src/components/auth/AuthGuard.tsx
  services/budadmin/src/flows/Credentials/_project/ViewCredentials/index.tsx
  services/budadmin/src/flows/Project/UseModel.tsx
  services/budadmin/src/flows/user/AddUserDetails.tsx
Due: budadmin-lint, budadmin-typecheck

agent fix
  services/budadmin/src/components/agents/AgentIframe.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budplayground): add OpenAI responses API test endpoint and button
  services/budplayground/app/api/test-openai-responses/route.ts
  services/budplayground/app/chat/components/PromptForm.tsx
  services/budplayground/package-lock.json
Due: budplayground-lint, budplayground-typecheck

fix: add bud sentinel base url to proxy table provider config
  services/budapp/budapp/commons/config.py
  services/budapp/budapp/guardrails/services.py
Due: none

feat(budgateway): integrate bud sentinel provider for content moderation
  services/budgateway/Cargo.lock
  services/budgateway/tensorzero-internal/Cargo.toml
  services/budgateway/tensorzero-internal/build.rs
  services/budgateway/tensorzero-internal/proto/README.md
  services/budgateway/tensorzero-internal/proto/bud.proto
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/completions.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/model_resolution.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/error.rs
  services/budgateway/tensorzero-internal/src/guardrail.rs
  services/budgateway/tensorzero-internal/src/guardrail_table.rs
  services/budgateway/tensorzero-internal/src/inference/providers/bud_sentinel.rs
  services/budgateway/tensorzero-internal/src/inference/providers/buddoc.rs
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
  services/budgateway/tensorzero-internal/src/inference/providers/dummy.rs
  services/budgateway/tensorzero-internal/src/inference/providers/mistral.rs
  services/budgateway/tensorzero-internal/src/inference/providers/mod.rs
  services/budgateway/tensorzero-internal/src/inference/providers/vllm.rs
  services/budgateway/tensorzero-internal/src/model.rs
  services/budgateway/tensorzero-internal/src/moderation.rs
  services/budgateway/tensorzero-internal/src/rate_limit/middleware.rs
  services/budgateway/tensorzero-internal/src/redis_client.rs
  services/budgateway/tensorzero-internal/src/responses.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

access token fix
  services/budplayground/app/components/bud/hooks/useEndPoint.tsx
Due: budplayground-lint, budplayground-typecheck

feat(budadmin, budCustomer, budplayground): implement robust clipboard utility with HTTP fallback
  services/budCustomer/src/app/(app)/logs-prev/page.tsx
  services/budCustomer/src/app/(app)/observability/[id]/page.tsx
  services/budCustomer/src/components/ModelDetailDrawer.tsx
  services/budCustomer/src/components/ProjectDetailDrawer.tsx
  services/budCustomer/src/flows/ApiKeys/ApiKeySuccess.tsx
  services/budCustomer/src/flows/components/ModelTags.tsx
  services/budCustomer/src/utils/clipboard.ts
  services/budadmin/src/components/copyQueryCode/index.tsx
  services/budadmin/src/components/inferences/ClientInfo.tsx
  services/budadmin/src/components/inferences/GeographicInfo.tsx
  services/budadmin/src/components/inferences/InferenceDetailModal.tsx
  services/budadmin/src/components/inferences/RequestMetadata.tsx
  services/budadmin/src/components/popups/user/generatePasswordPopup/index.tsx
  services/budadmin/src/components/ui/bud/table/InferenceListTable.tsx
  services/budadmin/src/flows/Credentials/_project/ViewCredentials/index.tsx
  services/budadmin/src/flows/Project/UseModel.tsx
  services/budadmin/src/pages/home/observability/index.tsx
  services/budadmin/src/pages/home/projects/[slug]/endpoint/[slugEndpointId]/[slugScoreType]/index.tsx
  services/budadmin/src/pages/home/projects/[slug]/endpoint/[slugEndpointId]/index.tsx
  services/budadmin/src/pages/home/projects/[slug]/inferences/[inferenceId]/index.tsx
  services/budadmin/src/pages/observability/[id]/index.tsx
  services/budadmin/src/utils/clipboard.ts
  services/budplayground/app/components/bud/components/display/CopyText.tsx
  services/budplayground/app/utils/clipboard.ts
  services/budplayground/package-lock.json
Due: budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

fix(endpoint): endpoint listing
  services/budapp/budapp/endpoint_ops/crud.py
  services/budapp/budapp/endpoint_ops/endpoint_routes.py
  services/budapp/budapp/endpoint_ops/services.py
Due: none

fix(endpoint): endpoint listing
  services/budapp/tests/test_endpoint_access_control.py
Due: none

fix(budplayground): fix OpenAI Responses API auth headers
  services/budplayground/app/api/test-openai-responses/route.ts
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/PromptForm.tsx
Due: budplayground-lint, budplayground-typecheck

refactor(budplayground): use OpenAI SDK with proxyOpenAI pattern
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/api/test-openai-responses/route.ts
Due: budplayground-lint, budplayground-typecheck

fix(budplayground): revert base_url to original value to resolve chat issue
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

fix(budplayground): extract and forward actual gateway errors
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/api/test-openai-responses/route.ts
Due: budplayground-lint, budplayground-typecheck

fix(endpoint): endpoint listing
  services/budapp/budapp/endpoint_ops/endpoint_routes.py
Due: none

fix(endpoint): endpoint listing
  services/budapp/budapp/project_ops/crud.py
Due: none

feat(eval): migration from model id to endpoits
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/models.py
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
Due: none

feat(eval): migration from model id to endpoits
  services/budapp/budapp/migrations/versions/b4d764550ad9_chnages_for_migration_to_endpoint_from_.py
Due: none

feat(eval): migration from model id to endpoits
  services/budapp/budapp/eval_ops/services.py
Due: none

try
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/api/test-openai-responses/route.ts
Due: budplayground-lint, budplayground-typecheck

fix: remove tool name from subsequent streaming chunks for openai compatibility
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: eval update for new architecture
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/services.py
Due: none

feat(agents): add prompt-config API integration and update button controls
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/LoadModel.tsx
  services/budadmin/src/components/agents/settings/InputSettings.tsx
  services/budadmin/src/components/agents/settings/OutputSettings.tsx
  services/budadmin/src/components/agents/settings/SettingsSidebar.tsx
Due: budadmin-lint, budadmin-typecheck

feature/project-prompts
  services/budadmin/src/components/ui/bud/table/AgentsPromptsListTable.tsx
  services/budadmin/src/hooks/usePrompts.tsx
  services/budadmin/src/pages/home/projects/[slug]/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(agents-prompts): fix TypeScript errors and add linting suppressions
  services/budadmin/src/components/ui/bud/table/AgentsPromptsListTable.tsx
  services/budadmin/src/hooks/usePrompts.tsx
Due: budadmin-lint, budadmin-typecheck

feat: omit empty system_fingerprint and service_tier fields from gateway responses
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/tests/e2e/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat(helm): add optional nodeSelector and affinity support
  infra/helm/bud/templates/_helpers.tpl
  infra/helm/bud/templates/budgateway.yaml
  infra/helm/bud/templates/extra/otel-collector.yaml
  infra/helm/bud/templates/microservices/askbud.yaml
  infra/helm/bud/templates/microservices/budadmin.yaml
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/budcluster.yaml
  infra/helm/bud/templates/microservices/budcustomer.yaml
  infra/helm/bud/templates/microservices/buddoc.yaml
  infra/helm/bud/templates/microservices/budeval.yaml
  infra/helm/bud/templates/microservices/budmetrics.yaml
  infra/helm/bud/templates/microservices/budmodel.yaml
  infra/helm/bud/templates/microservices/budnotify.yaml
  infra/helm/bud/templates/microservices/budplayground.yaml
  infra/helm/bud/templates/microservices/budprompt.yaml
  infra/helm/bud/templates/microservices/budsim.yaml
  infra/helm/bud/values.yaml
Due: none

fix(budadmin): remove unused playGroundUrl variables
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budadmin/src/pages/home/playground/iFrame.tsx
Due: budadmin-lint, budadmin-typecheck

fix(helm): temporarily disable nvidia runtimeClassName
  services/budcluster/budcluster/charts/bud_runtime_container/templates/single-node.yaml
Due: none

route test
  services/budplayground/app/api/prompt-chat/route.ts
Due: budplayground-lint, budplayground-typecheck

feat(budadmin): add dev mode flag to hide development features
  services/budadmin/src/components/ui/bud/dataEntry/forAddModel/ChooseModelSource.tsx
  services/budadmin/src/flows/ViewModel/General/General.tsx
  services/budadmin/src/flows/ViewModel/ViewModelDetails.tsx
  services/budadmin/src/pages/home/deployments/[slug]/index.tsx
  services/budadmin/src/pages/home/projects/[slug]/index.tsx
  services/budadmin/src/stores/useDeployModel.tsx
Due: budadmin-lint, budadmin-typecheck

feat: added openai response parser v1
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/openai_response_formatter.py
  services/budprompt/budprompt/prompt/openai_response_formatter_v1.py
  services/budprompt/budprompt/prompt/openai_streaming_formatter.py
  services/budprompt/budprompt/prompt/openai_streaming_formatter_v1.py
  services/budprompt/budprompt/prompt/services.py
Due: none

chore: updated requirements.txt
  services/budprompt/requirements.txt
Due: none

fix: disable LoRA and optimize heuristic performance
  services/budcluster/budcluster/deployment/handler.py
  services/budsim/budsim/simulator/direct_search.py
  services/budsim/budsim/simulator/heuristic.py
Due: none
