Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

Documentation edits made through Mintlify web editor
  docs/models/models.mdx
Due: none

Documentation edits made through Mintlify web editor
  docs/clusters/cluster.mdx
Due: none

fix(budcluster): use integer for VLLM_CPU_KVCACHE_SPACE and disable auto-delete on failure
  services/budcluster/budcluster/deployment/handler.py
  services/budcluster/budcluster/deployment/workflows.py
Due: none

chore(mcp): fix dns
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/budprompt.yaml
Due: none

connector details
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
Due: budadmin-lint, budadmin-typecheck

docs: update cluster docs navigation
  docs/clusters/cluster.mdx
  docs/docs.json
Due: none

fix(budcluster): re-enable auto-delete on deployment failure
  services/budcluster/budcluster/deployment/workflows.py
Due: none

fix(playground): fix chat history handling for /responses API
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/types/chat.ts
Due: budplayground-lint, budplayground-typecheck

chore(mcp): remove redundant env vars
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/budprompt.yaml
  services/budapp/entrypoint_mcpgateway_api_token.sh
  services/budprompt/entrypoint_mcpgateway_api_token.sh
Due: none

style(budcluster): fix ruff format for long logger.info line
  services/budcluster/budcluster/deployment/handler.py
Due: none

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
