Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd services/budgateway && cargo +nightly fmt -- --check || cargo fmt -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd services/budgateway && cargo +nightly clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: bash -c 'cd services/budgateway && cargo +nightly deny check || cargo deny check'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && npx tsc --noEmit'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && npx tsc --noEmit'
  language: system
  pass_filenames: false

chore: minor formatting adjustment in API Keys page
  services/budCustomer/src/app/api-keys/page.tsx
Due: none

feat: add multi-theme support with dark, light, and system themes
  services/budCustomer/src/app/globals.css
  services/budCustomer/src/app/layout.tsx
  services/budCustomer/src/components/layout/DashboardLayout.tsx
  services/budCustomer/src/components/ui/ThemeSwitcher.tsx
  services/budCustomer/src/context/themeContext.tsx
  services/budCustomer/src/styles/themes.css
  services/budCustomer/tailwind.config.ts
Due: none

feat(budcustomer): add theme switcher to auth pages
  services/budCustomer/src/components/auth/AuthLayout.tsx
Due: none

refactor(budcustomer): remove Radix UI dependencies and replace with HTML/Tailwind
  services/budCustomer/package.json
  services/budCustomer/src/app/layout.tsx
  services/budCustomer/src/app/logs/page.tsx
  services/budCustomer/src/components/ui/bud/card/DrawerBreadCrumbNavigation.tsx
  services/budCustomer/src/components/ui/bud/card/DrawerCard.tsx
  services/budCustomer/src/components/ui/bud/card/DrawerTitleCard.tsx
  services/budCustomer/src/components/ui/bud/dataEntry/ProjectNameInput.tsx
  services/budCustomer/src/components/ui/bud/dataEntry/ProjectUsersInput.tsx
  services/budCustomer/src/components/ui/bud/dataEntry/TagsInput.tsx
  services/budCustomer/src/components/ui/bud/table/CredentialsListTable.tsx
  services/budCustomer/src/components/ui/bud/table/ProjectsListTable.tsx
  services/budCustomer/src/components/ui/dropDown.tsx
  services/budCustomer/src/components/ui/input.tsx
  services/budCustomer/src/components/ui/loader/index.tsx
  services/budCustomer/src/components/ui/pageHeader/index.tsx
  services/budCustomer/src/components/ui/text.tsx
  services/budCustomer/src/components/ui/toolTip.tsx
Due: none

Revert "refactor(budcustomer): remove Radix UI dependencies and replace with HTML/Tailwind"
  services/budCustomer/package.json
  services/budCustomer/src/app/layout.tsx
  services/budCustomer/src/app/logs/page.tsx
  services/budCustomer/src/components/ui/bud/card/DrawerBreadCrumbNavigation.tsx
  services/budCustomer/src/components/ui/bud/card/DrawerCard.tsx
  services/budCustomer/src/components/ui/bud/card/DrawerTitleCard.tsx
  services/budCustomer/src/components/ui/bud/dataEntry/ProjectNameInput.tsx
  services/budCustomer/src/components/ui/bud/dataEntry/ProjectUsersInput.tsx
  services/budCustomer/src/components/ui/bud/dataEntry/TagsInput.tsx
  services/budCustomer/src/components/ui/bud/table/CredentialsListTable.tsx
  services/budCustomer/src/components/ui/bud/table/ProjectsListTable.tsx
  services/budCustomer/src/components/ui/dropDown.tsx
  services/budCustomer/src/components/ui/input.tsx
  services/budCustomer/src/components/ui/loader/index.tsx
  services/budCustomer/src/components/ui/pageHeader/index.tsx
  services/budCustomer/src/components/ui/text.tsx
  services/budCustomer/src/components/ui/toolTip.tsx
Due: none

feat(budcustomer): enhance multi-theme system with CSS variables
  services/budCustomer/src/components/auth/AuthLayout.tsx
  services/budCustomer/src/components/ui/ThemeSwitcher.tsx
  services/budCustomer/src/components/ui/text.tsx
  services/budCustomer/src/context/themeContext.tsx
  services/budCustomer/src/styles/globals.scss
  services/budCustomer/src/styles/themes.css
  services/budCustomer/tailwind.config.ts
Due: none

refactor(budcustomer): remove Radix UI Theme wrapper
  services/budCustomer/src/app/layout.tsx
Due: none

chore(infra): refactor
  .github/workflows/budcustomer-nightly.yml
  .github/workflows/deployment-tofu.yaml
  .github/workflows/devbox-tofu.yaml
  .github/workflows/nix-workflow.yaml
  flake.nix
  infra/helm/devbox/templates/devbox.yaml
  infra/terraform/main/.terraform.lock.hcl
  infra/terraform/main/decrypt-sops-age.sh
  infra/terraform/main/dns.tf
  infra/terraform/main/main.tf
  infra/terraform/main/output.tf
  infra/terraform/main/provider.tf
  infra/terraform/main/secrets.yaml
  infra/terraform/main/vars.tf
  nix/container/status/default.nix
  nix/container/status/web/favicon.ico
  nix/container/status/web/index.html
  nix/nixos/master/configuration.nix
  nix/nixos/master/disko.nix
  nix/nixos/master/facter.json
  nix/nixos/master/hardware-configuration.nix
  nix/nixos/master/modules/cd/default.nix
  nix/nixos/master/modules/cd/helm/default.nix
  nix/nixos/master/modules/cd/helm/package.nix
  nix/nixos/master/modules/cd/helm/script.sh
  nix/nixos/master/modules/cd/nixos.nix
  nix/nixos/master/modules/k3s.nix
  nix/nixos/master/modules/wireguard.nix
  nix/nixos/master/secrets.yaml
  nix/workflows/tofu_apply/default.nix
  nix/workflows/tofu_apply/script.sh
Due: none

feat(infra/terraform): init testing and staging env
  infra/terraform/main/dns.tf
Due: none

fix(worflow/nix-workflow): nix run command
  .github/workflows/nix-workflow.yaml
Due: none

chore(infra): init ipv6 support
  infra/terraform/azure/.terraform.lock.hcl
  infra/terraform/azure/main.tf
  infra/terraform/azure/master.tf
  infra/terraform/azure/nodes.tf
  infra/terraform/azure/output.tf
  infra/terraform/azure/worker.tf
  infra/terraform/main/dns.tf
  infra/terraform/main/main.tf
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix: ci issues
  services/budadmin/src/components/ui/bud/table/InferenceListTable.tsx
  services/budadmin/src/pages/home/observability/index.tsx
  services/budadmin/src/stores/useInferences.ts
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budadmin-typecheck

fix: double loader for observability
  services/budadmin/src/components/ui/bud/table/InferenceListTable.tsx
  services/budadmin/src/pages/home/observability/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: migration count
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: migration
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0031.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: migration count
  services/budgateway/tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: migration
  services/budgateway/tensorzero-internal/tests/e2e/observability_endpoints.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

test commit
  services/budCustomer/public/favicon.ico
  services/budCustomer/src/app/auth/register/page.tsx
  services/budCustomer/src/app/register/page.tsx
  services/budCustomer/src/components/auth/RegisterForm.tsx
  services/budCustomer/src/services/api/requests.ts
  services/budadmin/public/.well-known/appspecific/com.chrome.devtools.json
  services/budadmin/src/components/evaluations/CurrentMetricsTable.tsx
  services/budadmin/src/components/evaluations/RunsHistoryTable.tsx
  services/budadmin/src/components/ui/bud/dataEntry/TextArea.tsx
  services/budadmin/src/components/ui/bud/deploymentDrawer/DeploymentSpecificationConfig.tsx
  services/budadmin/src/components/ui/bud/form/Buttons.tsx
  services/budadmin/src/components/ui/bud/table/DeploymentListTable.tsx
  services/budadmin/src/flows/Evaluations/NewExperiment/index.tsx
  services/budadmin/src/flows/Evaluations/NewExperiment/newExperimentSuccess.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/EvaluationSummary.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/NewEvaluation.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/SelectEvaluation.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/SelectModel.tsx
  services/budadmin/src/flows/Evaluations/RunEvaluation/SelectTrait.tsx
  services/budadmin/src/flows/Project/Publish.tsx
  services/budadmin/src/flows/components/TextInput.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/hooks/useEndPoint.tsx
  services/budadmin/src/hooks/useEvaluations.tsx
  services/budadmin/src/hooks/useUsers.tsx
  services/budadmin/src/pages/api/requests.ts
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
  services/budadmin/src/pages/home/evaluations/experiments/index.tsx
  services/budadmin/src/pages/home/userManagement/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat: implement API Gateway Analytics with Request Metadata Collection and Admin Dashboard
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/endpoint_ops/models.py
  services/budapp/budapp/gateway_analytics_ops/README.md
  services/budapp/budapp/gateway_analytics_ops/__init__.py
  services/budapp/budapp/gateway_analytics_ops/crud.py
  services/budapp/budapp/gateway_analytics_ops/gateway_analytics_routes.py
  services/budapp/budapp/gateway_analytics_ops/models.py
  services/budapp/budapp/gateway_analytics_ops/schemas.py
  services/budapp/budapp/gateway_analytics_ops/services.py
  services/budapp/budapp/main.py
  services/budapp/budapp/migrations/versions/add_gateway_blocking_rules_table.py
  services/budapp/budapp/project_ops/models.py
  services/budapp/tests/test_blocking_rules.py
  services/budgateway/Cargo.lock
  services/budgateway/clients/rust/src/lib.rs
  services/budgateway/gateway/src/main.rs
  services/budgateway/tensorzero-internal/Cargo.toml
  services/budgateway/tensorzero-internal/regexes.yaml
  services/budgateway/tensorzero-internal/src/analytics.rs
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/blocking_middleware.rs
  services/budgateway/tensorzero-internal/src/blocking_rules.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0030.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/mod.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  services/budgateway/tensorzero-internal/src/config_parser.rs
  services/budgateway/tensorzero-internal/src/gateway_util.rs
  services/budgateway/tensorzero-internal/src/geoip.rs
  services/budgateway/tensorzero-internal/src/lib.rs
  services/budmetrics/budmetrics/gateway_analytics/__init__.py
  services/budmetrics/budmetrics/gateway_analytics/models.py
  services/budmetrics/budmetrics/gateway_analytics/routes.py
  services/budmetrics/budmetrics/gateway_analytics/schemas.py
  services/budmetrics/budmetrics/gateway_analytics/services.py
  services/budmetrics/budmetrics/main.py
  services/budmetrics/pyproject.toml
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: migration
  services/budgateway/tensorzero-internal/tests/e2e/observability_endpoints.rs
  services/budgateway/tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: resolve clippy warnings in gateway analytics code
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/blocking_rules.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0030.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0032.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/mod.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  services/budgateway/tensorzero-internal/src/geoip.rs
  services/budgateway/tensorzero-internal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

chore: stage remaining changes
  services/budgateway/tensorzero-internal/src/blocking_rules.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

Update services/budapp/budapp/gateway_analytics_ops/models.py
  services/budapp/budapp/gateway_analytics_ops/models.py
Due: none

Update services/budapp/budapp/gateway_analytics_ops/services.py
  services/budapp/budapp/gateway_analytics_ops/services.py
Due: none

fix: migration count
  services/budgateway/tensorzero-internal/tests/e2e/observability_endpoints.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: migration count
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-fmt, cargo-clippy, cargo-deny

feat(api-keys): add enhanced security features for API key management
  services/budapp/budapp/credential_ops/credential_routes.py
  services/budapp/budapp/credential_ops/schemas.py
  services/budapp/budapp/credential_ops/services.py
  services/budapp/budapp/endpoint_ops/crud.py
  services/budapp/budapp/endpoint_ops/services.py
  services/budapp/budapp/model_ops/model_routes.py
  services/budapp/budapp/model_ops/schemas.py
  services/budgateway/docs/PUBLISHED_MODEL_INFO_IMPLEMENTATION.md
  services/budgateway/docs/Published_model_sync.md
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/redis_client.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat(api-keys): add enhanced security features for API key management
  services/budapp/budapp/migrations/versions/47f73a835ad9_add_credential_type_and_ip_whitelist.py
Due: none

feat: added output validators
  .env.sample
  budprompt/commons/config.py
  budprompt/prompt/executors.py
  budprompt/prompt/schemas.py
  budprompt/prompt/services.py
  budprompt/prompt/validation.py
  tests/test_validation_integration.py
Due: none

feat: added input schema validation
  budprompt/commons/exceptions.py
  budprompt/prompt/executors.py
  budprompt/prompt/routes.py
  budprompt/prompt/schemas.py
  budprompt/prompt/services.py
  tests/test_input_validation_integration.py
Due: none

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
