Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd services/budgateway && cargo +nightly fmt -- --check || cargo fmt -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd services/budgateway && cargo +nightly clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: bash -c 'cd services/budgateway && cargo +nightly deny check || cargo deny check'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && npx tsc --noEmit'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && npx tsc --noEmit'
  language: system
  pass_filenames: false

fix(k8s_deploy/cert-manager): crds
  nix/packages/k8s_deploy/script.sh
Due: none

fix(k8s_deploy/k8s_apiresources_exists): extend regex
  nix/packages/k8s_deploy/script.sh
Due: none

fix(k8s_deploy/cm): do not hardcode chart version
  nix/packages/k8s_deploy/script.sh
Due: none

chore: remove backup file and ignore future backups
  .gitignore
  services/budgateway/tensorzero-internal/src/model.rs.backup
Due: none

fix(k8s_deploy): missing deps
  nix/packages/k8s_deploy/default.nix
Due: none

fix(eval): debug code to investigate the duration
  services/budapp/budapp/eval_ops/schemas.py
  services/budapp/budapp/eval_ops/services.py
Due: none

fix(eval): debug code to investigate the duration
  services/budapp/budapp/eval_ops/services.py
Due: none

build trail
  services/budadmin/src/pages/home/evaluations/evalDetailed/[evaluationId].tsx
Due: budadmin-lint, budadmin-typecheck

feat: converted final_result tool execution to output text in streaming
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/openai_streaming_formatter_v1.py
Due: none

fix: converted pydantic ai tool name as a constant
  services/budprompt/budprompt/commons/constants.py
  services/budprompt/budprompt/prompt/openai_response_formatter_v1.py
  services/budprompt/budprompt/prompt/openai_streaming_formatter_v1.py
Due: none

fix: removed unncessary list length check
  services/budprompt/budprompt/prompt/executors.py
Due: none

build fix
  services/budadmin/src/pages/home/evaluations/evalDetailed/details.tsx
Due: budadmin-lint, budadmin-typecheck

updated type
  services/budadmin/src/pages/home/evaluations/evalDetailed/details.tsx
Due: budadmin-lint, budadmin-typecheck

chore(k8s_deploy): clean up
  infra/helm/cert-manager/values.yaml
  nix/packages/k8s_deploy/script.sh
Due: none

typo fix
  services/budadmin/package.json
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
Due: budadmin-lint, budadmin-typecheck

evaluations page updated
  services/budadmin/src/components/evaluations/RunsHistoryTable.tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/[evaluationId].tsx
  services/budadmin/src/pages/home/evaluations/evalListing/index.tsx
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
Due: budadmin-lint, budadmin-typecheck

fix: added default version as 1 for prompt
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
Due: none

fix: resolved python type
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
Due: none

fix: implement proper infinite scroll and fix uuid/zustand module errors
  services/budadmin/package.json
  services/budadmin/src/hooks/useCluster.tsx
  services/budadmin/src/pages/home/clusters/index.tsx
  services/budadmin/src/pages/home/modelRepo/index.tsx
  services/budadmin/src/pages/home/projects/index.tsx
Due: budadmin-lint, budadmin-typecheck

build fixes
  services/budadmin/src/components/evaluations/RunsHistoryTable.tsx
  services/budadmin/src/pages/home/evaluations/evalDetailed/[evaluationId].tsx
Due: budadmin-lint, budadmin-typecheck

refactor(budadmin): optimize pagination with useCallback for clusters and projects
  services/budadmin/src/pages/home/clusters/index.tsx
  services/budadmin/src/pages/home/projects/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budadmin): add connector URL parameter for tools selection
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budadmin): fetch connector details from API on URL deep link
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budadmin): auto-open tools sidebar when connector is in URL
  services/budadmin/src/components/agents/contexts/ToolsContext.tsx
Due: budadmin-lint, budadmin-typecheck

fix: added seperate router form dapr cron
  services/budprompt/budprompt/prompt/routes.py
Due: none

refactor: changed router in cron binding
  infra/helm/bud/templates/dapr/cron.yaml
  services/budprompt/.dapr/components/binding.yaml
Due: none

fix(budadmin): prevent infinite loop in connector details fetch
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): properly prevent infinite loop with refs in connector fetch
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): prevent infinite API calls in connector deep linking
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
Due: budadmin-lint, budadmin-typecheck

agent in progres
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
Due: budadmin-lint, budadmin-typecheck

fix: improve error handling and logging for prompt chat
  services/budplayground/app/api/prompt-chat/route.ts
  services/budplayground/app/api/prompts/[prompt_id]/route.ts
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/lib/logger.ts
Due: budplayground-lint, budplayground-typecheck

refactor: improve error message display format
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budplayground-lint, budplayground-typecheck

test(budgateway): add test coverage for illegal and regulated-advice moderation categories
  services/budgateway/tensorzero-internal/src/moderation.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: added prompt, prompt version models
  services/budprompt/budprompt/prompt/models.py
Due: none

feat(eval): eval monitoring
  services/budapp/budapp/eval_ops/eval_routes.py
  services/budapp/budapp/eval_ops/models.py
  services/budapp/budapp/eval_ops/services.py
  services/budapp/budapp/migrations/versions/e1f2a3b4c5d6_add_eval_progress_snapshots.py
  services/budeval/EVAL_MONITOR_QUICK_START.md
  services/budeval/EVAL_MONITOR_USAGE_EXAMPLES.md
  services/budeval/budeval/evals/eval_monitor.py
  services/budeval/budeval/evals/eval_monitor_integrated.py
Due: none

feat: added prompt migration
  services/budprompt/alembic/env.py
  services/budprompt/alembic/versions/7a6a5dc76d63_added_prompt_prompt_version_table.py
Due: none

security: fix case-sensitive header sanitization in logger
  services/budplayground/app/lib/logger.ts
Due: budplayground-lint, budplayground-typecheck

fix: use correct axios error status code in prompt fetch fallback
  services/budplayground/app/api/prompts/[prompt_id]/route.ts
Due: budplayground-lint, budplayground-typecheck

feat: added crud for prompt and prompt version
  services/budprompt/budprompt/prompt/crud.py
Due: none

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
