Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd services/budgateway && cargo +nightly fmt -- --check || cargo fmt -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd services/budgateway && cargo +nightly clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: bash -c 'cd services/budgateway && cargo +nightly deny check || cargo deny check'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && npx tsc --noEmit'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && npx tsc --noEmit'
  language: system
  pass_filenames: false

feat: added budgateway image in pde
  infra/helm/bud/values.varun.yaml
Due: none

chore: added log in pde
  infra/helm/bud/values.varun.yaml
Due: none

feat: fix prompt creation error
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix: added v1 to suffix of budprompt url
  infra/helm/bud/values.yaml
Due: none

agent
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/multi-input-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/contexts/SessionContext.tsx
  services/budadmin/src/hooks/usePromptSchemaWorkflow.ts
Due: budadmin-lint, budadmin-typecheck

feat/tyrone-init
  services/budadmin/public/images/new-logo.png
  services/budadmin/src/flows/AddModel/ChooseModality.tsx
  services/budadmin/src/flows/AddModel/Local/AddLocalModel.tsx
  services/budadmin/src/flows/AddModel/Local/AddingModelToRepo.tsx
  services/budadmin/src/flows/AddModel/ModelSource.tsx
  services/budadmin/src/flows/Cluster/AddCluster.tsx
  services/budadmin/src/flows/Cluster/EditCluster.tsx
  services/budadmin/src/flows/Cluster/_cloud/ConfigureClusterDetails.tsx
  services/budadmin/src/flows/EditModel/EditModel.tsx
  services/budadmin/src/flows/LicenseDetails.tsx
  services/budadmin/src/flows/NewProject.tsx
  services/budadmin/src/flows/RunModelEvaluations/EvaluationInformation.tsx
  services/budadmin/src/flows/RunModelEvaluations/EvaluationResults.tsx
  services/budadmin/src/flows/RunModelEvaluations/RunModelSuccess.tsx
  services/budadmin/src/flows/RunModelEvaluations/SelectModelEvaluations.tsx
  services/budadmin/src/flows/RunModelEvaluations/StopWarning.tsx
  services/budadmin/src/pages/auth/layout.tsx
  services/budadmin/src/pages/home/layout.tsx
  services/budadmin/src/stores/useDeployModel.tsx
Due: budadmin-lint, budadmin-typecheck

feat: Update default project icon from 😍 to 🌐
  services/budCustomer/src/flows/EditProject.tsx
  services/budCustomer/src/flows/NewProject.tsx
  services/budapp/budapp/commons/constants.py
  services/budapp/docs/performance_benchmark_workflow.md
Due: none

feat: added exception as per openai structure
  services/budprompt/budprompt/commons/exceptions.py
  services/budprompt/budprompt/prompt/openai_response_formatter.py
  services/budprompt/budprompt/responses/routes.py
  services/budprompt/budprompt/responses/services.py
Due: none

fix: Add customSvg property to Observability tab for TypeScript type safety
  services/budadmin/src/pages/home/layout.tsx
Due: budadmin-lint, budadmin-typecheck

feat: Temporarily disable Performance, Nodes, and Analytics tabs
  services/budadmin/src/flows/ViewModel/ViewModelDetails.tsx
  services/budadmin/src/pages/home/clusters/[slug]/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat: added error response for budprompt provider
  services/budgateway/tensorzero-internal/src/error.rs
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

agent
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/settings/InputSettings.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/output-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/contexts/SessionContext.tsx
  services/budadmin/src/utils/promptSchemaBuilder.ts
Due: budadmin-lint, budadmin-typecheck

chore(infra/netweb): init
  infra/helm/bud/values.netweb.yaml
  infra/tofu/budk8s/dns.tf
Due: none

fix(budapp): correct migration revision dependencies
  services/budapp/budapp/migrations/versions/b9c8d7e6f5a4_add_cluster_settings_table.py
  services/budapp/budapp/migrations/versions/c1b2c3d4e5e6_fix_billing_unique_constraint.py
Due: none

agent
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/prompt-messages-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/system-prompt-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/contexts/SessionContext.tsx
  services/budadmin/src/flows/AddAgent/SelectAgentType.tsx
Due: budadmin-lint, budadmin-typecheck

feat: added openai streaming response formatter for responses
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/openai_streaming_formatter.py
Due: none

fix(budcluster): remove unnecessary image_pull_secrets from model transfer
  services/budcluster/budcluster/cluster_ops/kubernetes.py
  services/budcluster/tests/test_model_transfer_storage_class.py
Due: none

refactor: updated reasoning content ouput structure as per openai doc
  services/budprompt/budprompt/prompt/openai_response_formatter.py
  services/budprompt/budprompt/prompt/openai_streaming_formatter.py
Due: none

fix(budapp): refactor determine_modality_endpoints to handle comma-separated modalities
  services/budapp/budapp/commons/helpers.py
  services/budapp/tests/test_determine_modality_endpoints.py
Due: none

fix(budapp): add missing re import in cluster_ops schemas
  services/budapp/budapp/cluster_ops/schemas.py
Due: none

fix(model sync): fix cloud model sync
  services/budapp/budapp/model_ops/scheduler.py
Due: none

chore(infra/netweb): clean up
  infra/helm/bud/templates/microservices/budadmin.yaml
  infra/helm/bud/values.netweb.yaml
Due: none

fix(model sync): fix cloud model sync
  services/budapp/tests/test_cluster_settings.py
Due: none

chore(infra/helm): init imagepullsecrets
  infra/helm/bud/templates/budgateway.yaml
  infra/helm/bud/templates/microservices/askbud.yaml
  infra/helm/bud/templates/microservices/budadmin.yaml
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/budcluster.yaml
  infra/helm/bud/templates/microservices/budcustomer.yaml
  infra/helm/bud/templates/microservices/buddoc.yaml
  infra/helm/bud/templates/microservices/budeval.yaml
  infra/helm/bud/templates/microservices/budmetrics.yaml
  infra/helm/bud/templates/microservices/budmodel.yaml
  infra/helm/bud/templates/microservices/budnotify.yaml
  infra/helm/bud/templates/microservices/budplayground.yaml
  infra/helm/bud/templates/microservices/budprompt.yaml
  infra/helm/bud/templates/microservices/budsim.yaml
  infra/helm/bud/values.yaml
Due: none

prompt added
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/settings/InputSettings.tsx
  services/budadmin/src/components/agents/settings/OutputSettings.tsx
  services/budadmin/src/components/agents/settings/PromptMessageSettings.tsx
  services/budadmin/src/components/agents/settings/SystemPromptSettings.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/prompt-messages-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/node-registries.tsx
  services/budadmin/src/flows/AddAgent/AgentConfiguration.tsx
  services/budadmin/src/stores/useAgentStore.ts
  services/budadmin/src/styles/index.css
  services/budadmin/src/utils/promptSchemaBuilder.ts
Due: budadmin-lint, budadmin-typecheck

netweb
  services/budadmin/src/components/copyQueryCode/index.tsx
  services/budadmin/src/flows/Project/UseModel.tsx
Due: budadmin-lint, budadmin-typecheck

fix(model sync): fix cloud model sync
  services/budapp/tests/test_cluster_settings_api.py
Due: none

agent
  services/budadmin/src/components/copyQueryCode/index.tsx
  services/budadmin/src/flows/Project/UseModel.tsx
Due: budadmin-lint, budadmin-typecheck

fix(model sync): fix cloud model sync
  services/budapp/tests/test_cluster_settings_api.py
  services/budapp/tests/test_helpers/cluster_settings_helpers.py
Due: none

netweb
  services/budadmin/src/flows/AddModel/Cloud/AddModel.tsx
  services/budadmin/src/flows/AddModel/Local/AddLocalModel.tsx
  services/budadmin/src/flows/Project/PublishEndpoint.tsx
Due: budadmin-lint, budadmin-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
