Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$

refactor: save all prompt details in cleanup registry
  services/budprompt/budprompt/prompt/services.py
Due: none

feat: added mcp foundry integration
  services/budprompt/budprompt/commons/exceptions.py
  services/budprompt/budprompt/shared/mcp_foundry_service.py
Due: none

fix: resolve Invalid URL error in AgentIframe postMessage
  services/budadmin/src/components/agents/AgentIframe.tsx
Due: budadmin-lint, budadmin-typecheck

fix: Play button active state not showing in AgentDrawer
  services/budadmin/src/components/agents/AgentDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

fix: make Play and Chat History buttons mutually exclusive
  services/budadmin/src/components/agents/AgentDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

feat: added dapr workflow for mcp foundary cleanup
  services/budprompt/budprompt/prompt/routes.py
  services/budprompt/budprompt/prompt/schemas.py
  services/budprompt/budprompt/prompt/services.py
  services/budprompt/budprompt/prompt/workflows.py
  services/budprompt/budprompt/shared/mcp_foundry_service.py
Due: none

fix: Play button now works correctly when switching from Chat History
  services/budadmin/src/components/agents/AgentDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

fix: bug fixes for adapter deployment
  infra/helm/bud/values.yaml
  services/budadmin/src/flows/AddAdapter/AdapterResult.tsx
  services/budadmin/src/flows/Credentials/AddCredentials/AddCredentialForm.tsx
  services/budadmin/src/flows/DeployModel.tsx
  services/budadmin/src/flows/ViewModel/General/General.tsx
  services/budadmin/src/flows/ViewModel/ViewModelDetails.tsx
  services/budadmin/src/hooks/useEndPoint.tsx
  services/budadmin/src/hooks/useModels.tsx
  services/budadmin/src/pages/api/requests.ts
  services/budadmin/src/pages/home/deployments/[slug]/adapters/index.tsx
  services/budapp/budapp/endpoint_ops/crud.py
  services/budapp/budapp/endpoint_ops/services.py
  services/budapp/budapp/model_ops/crud.py
  services/budapp/budapp/model_ops/schemas.py
  services/budcluster/budcluster/playbooks/model_transfer_playbook.yml
  services/budmetrics/budmetrics/observability/models.py
Due: budadmin-lint, budadmin-typecheck

agent fix
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budadmin/src/components/ui/bud/form/Buttons.tsx
Due: budadmin-lint, budadmin-typecheck

refactor: remove code duplication in handlePlayClick
  services/budadmin/src/components/agents/AgentDrawer.tsx
Due: budadmin-lint, budadmin-typecheck

fix: deployment name will store in redis on prompt schema updation
  services/budprompt/budprompt/prompt/services.py
Due: none

fix: improve postMessage security with specific origin fallback
  services/budadmin/src/components/agents/AgentIframe.tsx
Due: budadmin-lint, budadmin-typecheck

prompt
  services/budadmin/.env.sample
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budplayground/app/api/prompts/[prompt_id]/route.ts
  services/budplayground/app/chat/components/ChatWindow.tsx
Due: budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

fix: changed top p to optional
  services/budapp/budapp/prompt_ops/schemas.py
  services/budprompt/budprompt/prompt/schemas.py
Due: none

comment model settings
  services/budadmin/src/components/agents/AgentBox.tsx
Due: budadmin-lint, budadmin-typecheck

feat: added permenant flag in promt schema router
  services/budprompt/budprompt/prompt/schemas.py
  services/budprompt/budprompt/prompt/services.py
Due: none

feat: added cron bindings for sheduler
  infra/helm/bud/templates/dapr/cron.yaml
  services/budprompt/.dapr/components/binding.yaml
Due: none

refactor: updated migration file docstring
  services/budapp/budapp/migrations/versions/8a9b463c9646_added_metadata_to_prompt_version.py
Due: none

feat: added discarded prompt ids in prompt creation workflow
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/workflow_ops/schemas.py
  services/budapp/budapp/workflow_ops/services.py
Due: none

feat: added prompt cleanup in workflow deletion
  services/budapp/budapp/workflow_ops/services.py
Due: none

feat: added propmt cleanup api
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

feat: added permenat key on app routers
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix: promt cleanup api failure, added default version values
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
Due: none

feat: considered permenant state on cleanup registry
  services/budprompt/budprompt/prompt/services.py
Due: none

feat: used redis atomic opertations
  services/budprompt/budprompt/prompt/services.py
  services/budprompt/budprompt/shared/redis_service.py
Due: none

docs: add comprehensive hardware requirements documentation for CSPs
  docs/HARDWARE_REQUIREMENTS.md
Due: none

feat: implement model settings API integration and UI improvements
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budadmin/src/components/agents/settings/Settings.tsx
  services/budadmin/src/components/agents/settings/SettingsSidebar.tsx
  services/budadmin/src/components/agents/settings/input/SliderInput.tsx
  services/budadmin/src/stores/useAgentStore.ts
  services/budadmin/src/styles/globals.scss
Due: budadmin-lint, budadmin-typecheck

feat: added initiate oauth flow api
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

chore: cleanup code - remove commented code and restore playground URL
  services/budadmin/src/components/agents/AgentIframe.tsx
  services/budadmin/src/components/agents/settings/SettingsSidebar.tsx
Due: budadmin-lint, budadmin-typecheck

fix: added review coment
  services/budapp/budapp/prompt_ops/services.py
Due: none

chore: update hardware doc
  docs/HARDWARE_REQUIREMENTS.md
Due: none

chore: update doc
  docs/HARDWARE_REQUIREMENTS.md
Due: none

feat: added oauth status check api
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

feat: added fetch tools on oauth
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

fix(eval): add data cache path
  services/budeval/budeval/evals/ansible_orchestrator.py
Due: none

feat: added oauth callback api
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

fix: permissions updated
  services/budapp/budapp/prompt_ops/prompt_routes.py
Due: none

fix: auth callback message
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix(eval): updated truncation mode
  services/budeval/budeval/engines/opencompass/transformer.py
Due: none
