Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$

ci(*): clean up
  .github/workflows/budadmin-nightly-image.yml
  .github/workflows/budadmin-release-image.yml
  .github/workflows/budapp-pr-review.yml
  .github/workflows/budapp-release-image.yml
  .github/workflows/budcluster-nightly-image.yml
  .github/workflows/budcluster-release-image.yml
  .github/workflows/budmetrics-nightly-image.yml
  .github/workflows/budmetrics-release-image.yml
  .github/workflows/budmodel-nightly-image.yml
  .github/workflows/budmodel-release-image.yml
  .github/workflows/budnotify-nightly-image.yml
  .github/workflows/budnotify-release-image.yml
  .github/workflows/budsim-nightly-image.yml
  .github/workflows/budsim-release-image.yml
  nix/shell.nix
Due: none

fix(ci/cr): auth
  .github/workflows/budadmin-nightly-image.yml
  .github/workflows/budadmin-release-image.yml
  .github/workflows/budapp-nightly-image.yml
  .github/workflows/budapp-release-image.yml
  .github/workflows/budcluster-nightly-image.yml
  .github/workflows/budcluster-release-image.yml
  .github/workflows/budmetrics-nightly-image.yml
  .github/workflows/budmetrics-release-image.yml
  .github/workflows/budmodel-nightly-image.yml
  .github/workflows/budmodel-release-image.yml
  .github/workflows/budnotify-nightly-image.yml
  .github/workflows/budnotify-release-image.yml
  .github/workflows/budsim-nightly-image.yml
  .github/workflows/budsim-release-image.yml
Due: none

chore(devbox): hourly polling deployment
  infra/terraform/devbox/dns.tf
  infra/terraform/devbox/provider.tf
  nix/nixos/devbox/configuration.nix
  nix/nixos/devbox/modules/auto.nix
Due: none

chore(infra/dev): init ingress
  infra/helm/bud/templates/ingress.yaml
  infra/helm/bud/values.enc.yaml
  infra/terraform/devbox/dns.tf
Due: none

chore(terraform): clean up
  infra/terraform/devbox/dns.tf
Due: none

chore(helm/bud/microservices): init
  infra/helm/bud/templates/dapr/pubsub.yaml
  infra/helm/bud/templates/microservices/askbud.yaml
  infra/helm/bud/templates/microservices/budadmin.yaml
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/budcluster.yaml
  infra/helm/bud/templates/microservices/budmetrics.yaml
  infra/helm/bud/templates/microservices/budmodel.yaml
  infra/helm/bud/templates/microservices/budnotify.yaml
  infra/helm/bud/templates/microservices/budplayground.yaml
  infra/helm/bud/templates/microservices/budsim.yaml
  infra/helm/bud/templates/microservices/common.yaml
  infra/helm/bud/values.enc.yaml
Due: none

fix(devbox/nixos): flake ref
  nix/nixos/devbox/modules/auto.nix
Due: none

chore(workflows/devbox_tofu_apply): detect repo root
  .github/workflows/devbox-tofu.yaml
  nix/workflows/default.nix
  nix/workflows/devbox_deploy/script.sh
  nix/workflows/devbox_tofu_apply/default.nix
  nix/workflows/devbox_tofu_apply/script.sh
  nix/workflows/secrets.yaml
Due: none

fix: make cargo checks gracefully skip when tools unavailable
  .pre-commit-config.yaml
Due: none

fix: update login page component
  services/budCustomer/src/app/login/page.tsx
Due: none

pre-commit check
  services/budCustomer/src/app/login/page.tsx
Due: none

pre-commit error fix
  services/budadmin/src/pages/home/projects/[slug]/endpoint/[slugEndpointId]/[slugScoreType]/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat: add observability UI and integration
  .gitignore
  services/budadmin/src/components/inferences/InferenceDetailModal.tsx
  services/budadmin/src/components/inferences/InferenceFilters.tsx
  services/budadmin/src/components/ui/bud/card/DrawerBreadCrumbNavigation.tsx
  services/budadmin/src/components/ui/bud/table/InferenceListTable.tsx
  services/budadmin/src/hooks/useEndPoint.tsx
  services/budadmin/src/pages/home/deployments/[slug]/index.tsx
  services/budadmin/src/pages/home/layout.tsx
  services/budadmin/src/pages/home/observability/index.tsx
  services/budadmin/src/pages/home/projects/[slug]/index.tsx
  services/budadmin/src/pages/home/projects/[slug]/inferences/[inferenceId]/index.tsx
  services/budadmin/src/pages/home/projects/[slug]/inferences/index.tsx
  services/budadmin/src/pages/observability/[id]/index.tsx
  services/budadmin/src/pages/observability/index.tsx
  services/budadmin/src/stores/useInferences.ts
  services/budapp/budapp/endpoint_ops/crud.py
  services/budapp/budapp/endpoint_ops/endpoint_routes.py
  services/budapp/budapp/endpoint_ops/services.py
  services/budapp/budapp/metric_ops/services.py
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
Due: budadmin-lint, budadmin-typecheck

fix: ci test
  services/budapp/tests/test_metric_proxy_endpoints.py
Due: none

chore: add docs
  .github/workflows/budapp-pr-review.yml
  docs/docs.json
  docs/features/observability.mdx
  services/budadmin/docs/features/inference-listing.md
  services/budapp/docs/api/metric-proxy-endpoints.md
  services/budmetrics/docs/api/inference-endpoints.md
Due: none

feat: implement gateway request/response logging and timezone fixes
  .github/workflows/lint-pr-review.yml
  README.md
  services/budadmin/src/components/inferences/InferenceDetailModal.tsx
  services/budadmin/src/components/ui/ClientTimestamp.tsx
  services/budadmin/src/components/ui/bud/table/InferenceListTable.tsx
  services/budadmin/src/pages/home/observability/index.tsx
  services/budadmin/src/pages/home/projects/[slug]/inferences/[inferenceId]/index.tsx
  services/budadmin/src/pages/observability/[id]/index.tsx
  services/budadmin/src/stores/useInferences.ts
  services/budadmin/src/utils/formatDate.ts
  services/budapp/budapp/metric_ops/schemas.py
  services/budapp/budapp/metric_ops/services.py
  services/budgateway/Cargo.lock
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0030.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/migrations/mod.rs
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  services/budgateway/tensorzero-internal/src/embeddings.rs
  services/budgateway/tensorzero-internal/src/endpoints/batch_inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/inference.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/openai.rs
  services/budgateway/tensorzero-internal/src/inference/types/mod.rs
  services/budgateway/tensorzero-internal/src/variant/best_of_n_sampling.rs
  services/budgateway/tensorzero-internal/src/variant/chain_of_thought.rs
  services/budgateway/tensorzero-internal/src/variant/mod.rs
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
Due: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budadmin-typecheck

feat: structured output
  budprompt/prompt/executors.py
  budprompt/prompt/schema_builder.py
  budprompt/prompt/schemas.py
  budprompt/prompt/services.py
  tests/test_output_types.py
Due: none

new-experiment in progress
  services/budadmin/src/flows/Evaluations/NewExperiment/newExperimentSuccess.tsx
Due: budadmin-lint, budadmin-typecheck

fix: test errors
  services/budgateway/clients/python/src/lib.rs
  services/budgateway/clients/rust/src/client_inference_params.rs
  services/budgateway/clients/rust/src/lib.rs
  services/budgateway/evaluations/src/evaluators/llm_judge/mod.rs
  services/budgateway/evaluations/src/lib.rs
  services/budgateway/tensorzero-internal/src/endpoints/batch_inference.rs.tmp
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/function.rs
  services/budgateway/tensorzero-internal/src/inference/providers/openai.rs
  services/budgateway/tensorzero-internal/src/inference/types/mod.rs
  services/budgateway/tensorzero-internal/src/inference/types/mod.rs.tmp
  services/budgateway/tensorzero-internal/src/variant/best_of_n_sampling.rs
  services/budgateway/tensorzero-internal/src/variant/best_of_n_sampling.rs.tmp
  services/budgateway/tensorzero-internal/src/variant/chat_completion.rs
  services/budgateway/tensorzero-internal/src/variant/mixture_of_n.rs
  services/budgateway/tensorzero-internal/src/variant/mixture_of_n.rs.tmp
  services/budgateway/tensorzero-internal/src/variant/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: update workflow
  .github/workflows/budgateway-pr-review.yaml
  services/budgateway/clients/rust/examples/inference_demo/main.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: test pass
  services/budgateway/tensorzero-internal/tests/e2e/clickhouse.rs
  services/budgateway/tensorzero-internal/tests/e2e/dynamic_evaluations.rs
  services/budgateway/tensorzero-internal/tests/e2e/feedback.rs
  services/budgateway/tensorzero-internal/tests/e2e/human_feedback.rs
  services/budgateway/tensorzero-internal/tests/e2e/inference.rs
  services/budgateway/tensorzero-internal/tests/e2e/otel.rs
  services/budgateway/tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: build error
  services/budgateway/tensorzero-internal/tests/e2e/inference.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: clickhouse test
  services/budgateway/tensorzero-internal/tests/e2e/inference.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: added messages and jinja support on prompts
  budprompt/prompt/executors.py
  budprompt/prompt/schemas.py
  budprompt/prompt/template_renderer.py
  requirements.txt
  tests/test_jinja2_templates.py
Due: none

refactor: moved one method to utils
  budprompt/prompt/executors.py
  budprompt/prompt/utils.py
Due: none

feat: implemnted streaming, non streaming support
  budprompt/commons/__init__.py
  budprompt/commons/constants.py
  budprompt/prompt/executors.py
  budprompt/prompt/routes.py
  budprompt/prompt/services.py
  tests/test_streaming.py
Due: none

chore(devbox): helm cd
  infra/helm/bud/.gitignore
  infra/helm/bud/charts/novu/values.yaml
  infra/helm/bud/templates/budproxy.yaml
  infra/helm/bud/templates/microservices/askbud.yaml
  infra/helm/bud/templates/microservices/budadmin.yaml
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/budcluster.yaml
  infra/helm/bud/templates/microservices/budmetrics.yaml
  infra/helm/bud/templates/microservices/budmodel.yaml
  infra/helm/bud/templates/microservices/budnotify.yaml
  infra/helm/bud/templates/microservices/budplayground.yaml
  infra/helm/bud/templates/microservices/budsim.yaml
  infra/helm/bud/values.yaml
  infra/helm/devbox/templates/devbox.yaml
  nix/nixos/devbox/configuration.nix
  nix/nixos/devbox/modules/cd/default.nix
  nix/nixos/devbox/modules/cd/helm/default.nix
  nix/nixos/devbox/modules/cd/helm/package.nix
  nix/nixos/devbox/modules/cd/helm/script.sh
  nix/nixos/devbox/modules/cd/nixos.nix
  nix/nixos/devbox/modules/k3s.nix
  nix/shell.nix
Due: none

feat(budapp): implement auth enhancements
  services/budapp/budapp/auth/schemas.py
Due: none

chore(detect-private-key): skip novu upstream chart
  .pre-commit-config.yaml
Due: none

Update services/budapp/budapp/auth/schemas.py
  services/budapp/budapp/auth/schemas.py
Due: none

chore(helm/devbox): argocd -> nixos switch cleanup
  infra/helm/devbox/Chart.yaml
  infra/helm/devbox/templates/ingress.yaml
  infra/helm/devbox/values.yaml
Due: none

fix(ci): workingdir -> docker context
  .github/workflows/budadmin-nightly-image.yml
  .github/workflows/budadmin-release-image.yml
  .github/workflows/budapp-nightly-image.yml
  .github/workflows/budapp-release-image.yml
  .github/workflows/budcluster-nightly-image.yml
  .github/workflows/budcluster-release-image.yml
  .github/workflows/budmetrics-nightly-image.yml
  .github/workflows/budmetrics-release-image.yml
  .github/workflows/budmodel-nightly-image.yml
  .github/workflows/budmodel-release-image.yml
  .github/workflows/budnotify-nightly-image.yml
  .github/workflows/budnotify-release-image.yml
  .github/workflows/budsim-nightly-image.yml
  .github/workflows/budsim-release-image.yml
Due: none

feat: added model params
  budprompt/prompt/executors.py
  budprompt/prompt/schemas.py
  tests/test_model_parameters.py
Due: none

chore(nixoscd): do not exit if a single chart fails
  nix/nixos/devbox/configuration.nix
  nix/nixos/devbox/modules/cd/helm/script.sh
Due: none

fix(ci): clean up
  .github/workflows/budadmin-nightly-image.yml
  .github/workflows/budadmin-release-image.yml
  .github/workflows/budapp-nightly-image.yml
  .github/workflows/budapp-release-image.yml
  .github/workflows/budcluster-nightly-image.yml
  .github/workflows/budcluster-release-image.yml
  .github/workflows/budmetrics-nightly-image.yml
  .github/workflows/budmetrics-release-image.yml
  .github/workflows/budmodel-nightly-image.yml
  .github/workflows/budmodel-release-image.yml
  .github/workflows/budnotify-nightly-image.yml
  .github/workflows/budnotify-release-image.yml
  .github/workflows/budsim-nightly-image.yml
  .github/workflows/budsim-release-image.yml
Due: none

chore: missing ci builds
  .github/workflows/askbud-nightly-image.yml
  .github/workflows/budplayground-nightly-image.yml
Due: none

fix: form validation for required fields in AddUser component
  services/budadmin/src/components/ui/bud/dataEntry/BudForm.tsx
  services/budadmin/src/components/ui/bud/dataEntry/FloatLabel.tsx
  services/budadmin/src/flows/Evaluations/NewExperiment/index.tsx
  services/budadmin/src/flows/components/SelectInput.tsx
  services/budadmin/src/flows/components/TextInput.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/flows/user/AddUser.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/hooks/useEvaluations.tsx
  services/budadmin/src/pages/home/evaluations/experiments/[experimentId].tsx
  services/budadmin/src/pages/home/evaluations/experiments/index.tsx
Due: budadmin-lint, budadmin-typecheck

chore(infra): sync from old dev server
  infra/helm/bud/templates/budproxy.yaml
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/common.yaml
  infra/helm/bud/values.enc.yaml
Due: none

feat(api-keys): add enhanced security features for API key management
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/credential_ops/credential_routes.py
  services/budapp/budapp/credential_ops/helpers.py
  services/budapp/budapp/credential_ops/models.py
  services/budapp/budapp/credential_ops/schemas.py
  services/budapp/budapp/credential_ops/services.py
  services/budapp/budapp/migrations/versions/47f73a835ad9_add_credential_type_and_ip_whitelist.py
  services/budapp/docs/api/credential-security-enhancements.md
  services/budapp/tests/test_credential_security_enhancements.py
Due: none
