Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$

Add images to creating first project guide
  docs/images/image-10.png
  docs/images/image-11.png
  docs/images/image-6.png
  docs/images/image-7.png
  docs/images/image-8.png
  docs/images/image-9.png
  docs/projects/creating-first-project.mdx
Due: none

fix(docs): add missing trailing newlines to project documentation files
  docs/projects/creating-first-project.mdx
  docs/projects/guides/deployment-settings-and-autoscaling.mdx
  docs/projects/guides/managing-project-members.mdx
  docs/projects/introduction.mdx
  docs/projects/quickstart.mdx
  docs/projects/reference/project-tabs-reference.mdx
Due: none

add custom probe in progress
  services/budadmin/src/components/island/BudWidget.tsx
  services/budadmin/src/components/ui/bud/card/DrawerBreadCrumbNavigation.tsx
  services/budadmin/src/flows/GuardRails/DeploymentTypes.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
Due: budadmin-lint, budadmin-typecheck

Update project creation steps
  docs/projects/creating-first-project.mdx
Due: none

Update creating-first-project.mdx
  docs/projects/creating-first-project.mdx
Due: none

Update quickstart.mdx
  docs/projects/quickstart.mdx
Due: none

feat(budgateway): add OTLP telemetry proxy for SDK observability
  infra/helm/bud/templates/budgateway.yaml
  infra/helm/bud/values.yaml
  services/budgateway/config/tensorzero.toml
  services/budgateway/gateway/src/main.rs
  services/budgateway/tensorzero-internal/src/auth.rs
  services/budgateway/tensorzero-internal/src/config_parser.rs
  services/budgateway/tensorzero-internal/src/endpoints/mod.rs
  services/budgateway/tensorzero-internal/src/endpoints/otlp_proxy.rs
  services/budgateway/tensorzero-internal/src/gateway_util.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budpipeline): persist pipeline icon across full stack (#1260)
  services/budadmin/src/flows/Pipeline/EditPipeline.tsx
  services/budadmin/src/flows/Pipeline/NewPipeline.tsx
  services/budadmin/src/pages/home/budpipelines/index.tsx
  services/budadmin/src/stores/useBudPipeline.ts
  services/budapp/budapp/workflow_ops/budpipeline_routes.py
  services/budapp/budapp/workflow_ops/budpipeline_service.py
  services/budpipeline/budpipeline/alembic/versions/20260210_1200_006_add_icon_to_pipeline_definition.py
  services/budpipeline/budpipeline/pipeline/crud.py
  services/budpipeline/budpipeline/pipeline/models.py
  services/budpipeline/budpipeline/pipeline/routes.py
  services/budpipeline/budpipeline/pipeline/schemas.py
  services/budpipeline/budpipeline/pipeline/service.py
Due: budadmin-lint, budadmin-typecheck

feat(budgateway): propagate trace context headers in BudPrompt streaming responses
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

add guardrail progres flow
  services/budadmin/src/flows/GuardRails/BudSentinelProbes.tsx
  services/budadmin/src/flows/GuardRails/DeploymentTypes.tsx
  services/budadmin/src/flows/GuardRails/GuardrailDeploySpecs.tsx
  services/budadmin/src/flows/GuardRails/GuardrailHardwareMode.tsx
  services/budadmin/src/flows/GuardRails/GuardrailOnboardingStatus.tsx
  services/budadmin/src/flows/GuardRails/GuardrailSelectCluster.tsx
  services/budadmin/src/flows/GuardRails/GuardrailSelectCredentials.tsx
  services/budadmin/src/flows/GuardRails/PIIDetectionConfig.tsx
  services/budadmin/src/flows/GuardRails/ProbeDetails.tsx
  services/budadmin/src/flows/GuardRails/ProbeSettings.tsx
  services/budadmin/src/flows/GuardRails/SelectDeployment.tsx
  services/budadmin/src/flows/GuardRails/SelectProject.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/hooks/useGuardrails.tsx
  services/budadmin/src/pages/home/guardrails/index.tsx
  services/budadmin/src/utils/encryptionUtils.ts
Due: budadmin-lint, budadmin-typecheck

feat(budapp,budmetrics): add telemetry query API for SDK observability
  services/budapp/budapp/commons/api_key_auth.py
  services/budapp/budapp/credential_ops/services.py
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
  services/budmetrics/budmetrics/observability/routes.py
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
  services/budmetrics/tests/unit/test_telemetry_query_builder.py
  services/budmetrics/tests/unit/test_telemetry_schemas.py
  services/budmetrics/tests/unit/test_telemetry_tree_builder.py
Due: none

Update project introduction and quickstart images
  docs/images/image-12.png
  docs/images/image-13.png
  docs/projects/introduction.mdx
  docs/projects/quickstart.mdx
Due: none

refactor(budapp): update guardrail schema to use DeploymentTemplateCreate and drop per_model_deployment_configs
  services/budapp/budapp/guardrails/schemas.py
Due: none

fix(budapp): align telemetry query with budapp pagination and credential validation
  services/budapp/budapp/credential_ops/services.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

refactor(budapp): update deploy_guardrail_by_step for new deploy_config schema
  services/budapp/budapp/guardrails/services.py
Due: none

refactor(budapp): simplify deployment trigger to use global cluster_id and deploy_config
  services/budapp/budapp/guardrails/services.py
Due: none

refactor(budapp): add simplified build_models_for_deployment, update simulation call site
  services/budapp/budapp/guardrails/services.py
Due: none

fix(docs): add missing trailing newlines and fix typo in project docs
  docs/projects/introduction.mdx
  docs/projects/quickstart.mdx
Due: none

feat(budapp): convert guardrail trigger_deployment to BudPipeline deployment_create action
  services/budapp/budapp/guardrails/services.py
Due: none

refactor(budapp): update trigger_simulation to use DeploymentTemplateCreate field names
  services/budapp/budapp/guardrails/services.py
Due: none

refactor(budapp): simplify validate_cluster_assignment to use global cluster_id only
  services/budapp/budapp/guardrails/services.py
Due: none

chore(budapp): remove dead per_model_deployment_configs code and old build_models_with_deploy_configs
  services/budapp/budapp/guardrails/services.py
Due: none

fix(budapp): strip query_time_ms from telemetry query response
  services/budapp/budapp/prompt_ops/services.py
Due: none

fix(docs): remove duplicate models docs under master path
  docs/docs.json
  docs/models/creating-first-model.mdx
  docs/models/guides/benchmarking-and-evaluations.mdx
  docs/models/guides/model-security-and-verification.mdx
  docs/models/introduction.mdx
  docs/models/model-concepts.mdx
  docs/models/quickstart.mdx
  docs/models/reference/model-operations-reference.mdx
  docs/models/troubleshooting.mdx
Due: none

fix(docs): add missing trailing newline to docs.json
  docs/docs.json
Due: none

style(budmetrics): reformat telemetry query code to match linter rules
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
Due: none

fix(docs): rename model guides for benchmarks and parser pages
  docs/docs.json
  docs/models/creating-first-model.mdx
  docs/models/guides/automated-model-license-analysis.mdx
  docs/models/guides/benchmarking-and-evaluations.mdx
  docs/models/guides/how-to-add-adapters-to-your-deployed-models.mdx
  docs/models/guides/model-security-and-verification.mdx
  docs/models/guides/performance-benchmarks.mdx
  docs/models/guides/tool-calling-and-reasoning-parser.mdx
  docs/models/introduction.mdx
  docs/models/model-concepts.mdx
  docs/models/quickstart.mdx
  docs/models/reference/model-operations-reference.mdx
  docs/models/troubleshooting.mdx
Due: none

fix(budadmin): update agent versions UI buttons and endpoint name
  services/budadmin/src/pages/home/agentDetails/[agentId]/versions/index.tsx
Due: budadmin-lint, budadmin-typecheck

docs(models): split evaluations and benchmark guides
  docs/docs.json
  docs/models/creating-first-model.mdx
  docs/models/guides/benchmarking-and-evaluations.mdx
  docs/models/guides/evaluations.mdx
  docs/models/guides/performance-benchmarks.mdx
  docs/models/reference/model-operations-reference.mdx
Due: none

feat(budapp, budadmin): add global connectors management UI and API
  services/budadmin/next.config.mjs
  services/budadmin/package.json
  services/budadmin/src/components/agents/tools/GlobalConnectorsSection.tsx
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
  services/budadmin/src/hooks/useOAuthCallback.ts
  services/budadmin/src/pages/_app.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logsTraces/index.tsx
  services/budadmin/src/pages/home/connectors/index.tsx
  services/budadmin/src/pages/home/layout.tsx
  services/budadmin/src/pages/home/observability/index.tsx
  services/budadmin/src/pages/home/settings/connections/index.tsx
  services/budadmin/src/pages/home/settings/connectors/index.tsx
  services/budadmin/src/pages/home/settings/index.tsx
  services/budadmin/src/pages/oauth/callback.tsx
  services/budadmin/src/pages/observability/index.tsx
  services/budadmin/src/services/globalConnectorService.ts
  services/budadmin/src/stores/useGlobalConnectors.ts
  services/budapp/budapp/connector_ops/__init__.py
  services/budapp/budapp/connector_ops/connector_routes.py
  services/budapp/budapp/connector_ops/schemas.py
  services/budapp/budapp/connector_ops/services.py
  services/budapp/budapp/main.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: budadmin-lint, budadmin-typecheck

fix(budapp): resolve N+1 query in list_configured connector endpoint
  services/budapp/budapp/connector_ops/services.py
Due: none

feat(budpipeline): publish events in NotificationPayload format with dual-publish to budnotify
  services/budapp/budapp/workflow_ops/budpipeline_routes.py
  services/budapp/budapp/workflow_ops/budpipeline_service.py
  services/budpipeline/budpipeline/alembic/versions/20260212_1200_007_add_notification_fields.py
  services/budpipeline/budpipeline/commons/config.py
  services/budpipeline/budpipeline/pipeline/crud.py
  services/budpipeline/budpipeline/pipeline/execution_routes.py
  services/budpipeline/budpipeline/pipeline/models.py
  services/budpipeline/budpipeline/pipeline/persistence_service.py
  services/budpipeline/budpipeline/pipeline/schemas.py
  services/budpipeline/budpipeline/pipeline/service.py
  services/budpipeline/budpipeline/progress/publisher.py
  services/budpipeline/tests/test_event_publishing.py
Due: none

fix(budapp, budadmin): address all PR review comments from Gemini and Codex
  services/budadmin/src/components/agents/tools/GlobalConnectorsSection.tsx
  services/budadmin/src/hooks/useOAuthCallback.ts
  services/budadmin/src/pages/home/connectors/index.tsx
  services/budadmin/src/pages/home/settings/connections/index.tsx
  services/budadmin/src/pages/home/settings/connectors/index.tsx
  services/budadmin/src/pages/oauth/callback.tsx
  services/budadmin/src/stores/useGlobalConnectors.ts
  services/budapp/budapp/connector_ops/connector_routes.py
  services/budapp/budapp/connector_ops/services.py
Due: budadmin-lint, budadmin-typecheck

fix(budpipeline): address review feedback from Gemini and Codex
  services/budpipeline/budpipeline/pipeline/persistence_service.py
  services/budpipeline/budpipeline/pipeline/service.py
  services/budpipeline/budpipeline/progress/publisher.py
Due: none

fix(budadmin): disable GlobalConnectorsSection and add budmem auto-learning docs
  CLAUDE.md
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): fix double loader and narrow configure drawer on connectors page
  services/budadmin/src/pages/home/settings/connectors/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): make drawer width responsive to window resize
  services/budadmin/src/pages/home/settings/connectors/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budmetrics): fix trace count, numeric filters, and multi-prompt tree filtering
  services/budmetrics/budmetrics/observability/services.py
  services/budmetrics/tests/unit/test_telemetry_query_builder.py
  services/budmetrics/tests/unit/test_telemetry_tree_builder.py
Due: none

fix(budapp): properly extract structured error messages in DaprService
  services/budapp/budapp/shared/dapr_service.py
Due: none

fix(budapp): avoid redundant error messages in edge case
  services/budapp/budapp/shared/dapr_service.py
Due: none
