Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'command -v cargo >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly fmt -- --check 2>/dev/null || cargo fmt -- --check)) || echo "Skipping cargo fmt"'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  ...

cargo-deny:
  name: cargo deny
  entry: bash -c 'command -v cargo-deny >/dev/null 2>&1 && [ -d services/budgateway ] && (cd services/budgateway && (cargo +nightly deny check 2>/dev/null || cargo deny check)) || echo "Skipping cargo deny"'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budcustomer-lint:
  name: budcustomer lint
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

budcustomer-typecheck:
  name: budcustomer typecheck
  entry: bash -c 'cd services/budCustomer && ([ -d node_modules ] || npm install) && npm run typecheck'
  language: system
  pass_filenames: false

fix(budadmin): add missing bignumber.js dependency for CI build
  services/budadmin/package.json
Due: none

fix(clusters-docs): move cluster pages into docs path
  docs/clusters/cluster-concepts.mdx
  docs/clusters/creating-first-cluster.mdx
  docs/clusters/guides/cluster-operations.mdx
  docs/clusters/guides/cluster-settings-and-storage.mdx
  docs/clusters/introduction.mdx
  docs/clusters/quickstart.mdx
  docs/clusters/reference/cluster-tabs-reference.mdx
  docs/clusters/troubleshooting.mdx
  docs/docs.json
Due: none

fix(budadmin): show API error messages instead of hardcoded toast messages
  services/budadmin/.npmrc
  services/budadmin/package.json
  services/budadmin/pnpm-lock.yaml
  services/budadmin/src/components/ui/bud/table/DeploymentListTable.tsx
  services/budadmin/src/flows/AddAgent/AgentConfiguration.tsx
  services/budadmin/src/hooks/useEndPoint.tsx
  services/budadmin/src/utils/extractApiErrorMessage.test.ts
  services/budadmin/src/utils/extractApiErrorMessage.ts
  services/budadmin/vitest.config.ts
Due: budadmin-lint, budadmin-typecheck

fix(budplayground): clear stale prompt session data when switching to default mode
  services/budplayground/app/chat/page.tsx
  services/budplayground/app/store/__tests__/chat.test.ts
  services/budplayground/app/store/chat.ts
  services/budplayground/app/types/chat.ts
Due: budplayground-lint, budplayground-typecheck

feat(budpipeline): forward ETA events from upstream services to Novu/budadmin
  services/budpipeline/budpipeline/actions/base/result.py
  services/budpipeline/budpipeline/actions/deployment/create.py
  services/budpipeline/budpipeline/actions/deployment/delete.py
  services/budpipeline/budpipeline/actions/model/add.py
  services/budpipeline/budpipeline/actions/model/benchmark.py
  services/budpipeline/budpipeline/actions/simulation/run.py
  services/budpipeline/budpipeline/handlers/event_router.py
  services/budpipeline/budpipeline/progress/publisher.py
Due: none

fix(budpipeline): prevent ETA events from resetting step progress to 0%
  services/budpipeline/budpipeline/actions/base/result.py
  services/budpipeline/budpipeline/handlers/event_router.py
Due: none

add guardrail flow completed
  services/budadmin/src/flows/GuardRails/DeploymentTypes.tsx
  services/budadmin/src/flows/GuardRails/GuardrailClusterList.tsx
  services/budadmin/src/flows/GuardRails/GuardrailDeploySpecs.tsx
  services/budadmin/src/flows/GuardRails/GuardrailDeploymentStatus.tsx
  services/budadmin/src/flows/GuardRails/GuardrailHardwareMode.tsx
  services/budadmin/src/flows/GuardRails/GuardrailSelectCluster.tsx
  services/budadmin/src/flows/GuardRails/GuardrailSimulationStatus.tsx
  services/budadmin/src/flows/GuardRails/ProbeDeploymentSuccess.tsx
  services/budadmin/src/flows/GuardRails/ProbeSettings.tsx
  services/budadmin/src/flows/GuardRails/SelectProject.tsx
  services/budadmin/src/flows/components/CommonStatus.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
  services/budadmin/src/hooks/useGuardrails.tsx
Due: budadmin-lint, budadmin-typecheck

add guardrail steps fix
  services/budadmin/src/flows/GuardRails/AddCustomGuardRail.tsx
  services/budadmin/src/flows/GuardRails/CustomProbeSuccess.tsx
  services/budadmin/src/flows/GuardRails/GuardRailDetails.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budapp): add JIT user provisioning for cross-app SSO playground init
  services/budapp/budapp/commons/keycloak.py
  services/budapp/budapp/playground_ops/services.py
  services/budapp/tests/test_playground_jit_provisioning.py
Due: none

fix(budapp): narrow exception handling per review feedback
  services/budapp/budapp/commons/keycloak.py
  services/budapp/budapp/playground_ops/services.py
  services/budapp/tests/test_playground_jit_provisioning.py
Due: none

refactor(budadmin): replace guardrail emoji icons with IconRender component
  services/budadmin/src/components/ui/bud/dataEntry/ProjectNameInput.tsx
  services/budadmin/src/flows/GuardRails/BudSentinelProbes.tsx
  services/budadmin/src/pages/home/guardrails/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): remove debug console.log statements from BudWidget
  services/budadmin/src/components/island/BudWidget.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(budadmin): extract magic numbers to constants in AddCustomGuardRail
  services/budadmin/src/flows/GuardRails/AddCustomGuardRail.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(budadmin): extract probes page limit to constant in BudSentinelProbes
  services/budadmin/src/flows/GuardRails/BudSentinelProbes.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(budadmin): extract guardrails page limit to constant
  services/budadmin/src/pages/home/guardrails/index.tsx
Due: budadmin-lint, budadmin-typecheck

refactor(budadmin): use consistent param naming in guardrails fetch
  services/budadmin/src/pages/home/guardrails/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): exclude test and vitest files from tsc typecheck
  services/budadmin/tsconfig.json
Due: none

feat(budapp,budadmin): add client filter to /connectors/available & rename client tags
  services/budadmin/src/pages/home/settings/connections/index.tsx
  services/budapp/budapp/connector_ops/connector_routes.py
  services/budapp/budapp/connector_ops/schemas.py
  services/budapp/budapp/connector_ops/services.py
  services/budapp/tests/test_connector_client_tags.py
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): fix agent overview charts and observability log improvements
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/LogDetailsDrawer.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/logs/index.tsx
  services/budadmin/src/pages/home/agentDetails/[agentId]/overview/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budadmin): make guardrails generally available
  services/budadmin/CLAUDE.md
  services/budadmin/src/pages/home/layout.tsx
Due: budadmin-lint, budadmin-typecheck

cloud add guardrail check
  services/budadmin/src/flows/GuardRails/GuardrailSelectCredentials.tsx
  services/budadmin/src/flows/GuardRails/ProbeSettings.tsx
  services/budadmin/src/flows/GuardRails/SelectProject.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budadmin): add dedicated addGuardrailCloud drawer flow for cloud providers
  services/budadmin/src/flows/GuardRails/BudSentinelProbes.tsx
  services/budadmin/src/flows/GuardRails/DeploymentTypes.tsx
  services/budadmin/src/flows/GuardRails/GuardrailSelectCredentials.tsx
  services/budadmin/src/flows/GuardRails/ProbeDeploymentSuccess.tsx
  services/budadmin/src/flows/GuardRails/ProbeSettings.tsx
  services/budadmin/src/flows/GuardRails/SelectDeployment.tsx
  services/budadmin/src/flows/GuardRails/SelectProject.tsx
  services/budadmin/src/flows/GuardRails/SelectProvider.tsx
  services/budadmin/src/flows/index.tsx
  services/budadmin/src/hooks/drawerFlows.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budadmin): add order_by to guardrail probes listing API call
  services/budadmin/src/pages/home/guardrails/index.tsx
Due: budadmin-lint, budadmin-typecheck

perf(budapp): reduce database session count in sync schedulers
  services/budapp/budapp/commons/database.py
  services/budapp/budapp/eval_ops/workflows.py
  services/budapp/budapp/guardrails/scheduler.py
  services/budapp/budapp/model_ops/scheduler.py
Due: none

chore(helm/bud): drop unused vars
  infra/helm/bud/values.yaml
Due: none

fix(infra/nfs-csi): drop from prod
  infra/helm/nfs-csi/scid.prod.toml
Due: none

fix(infra/bud): broken dep
  infra/helm/bud/scid.prod.toml
Due: none

fix: update Aibrix URLs in playbooks to remove version prefix
  services/budcluster/budcluster/cluster_ops/workflows.py
  services/budcluster/budcluster/playbooks/delete_cluster.yaml
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

fix(budcluster): fix GPU detection using dict2items to handle dotted label keys
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

fix(budcluster): add time unit suffix to Helm wait_timeout values
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

fix(budcluster): use standard nvidia label for HAMI device plugin nodeSelector
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

fix: add missing kubeconfig params to DCGM Exporter tasks
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

fix(budcluster): allow HAMI re-deployment when update_existing is set
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

fix(budcluster): add k3s detection and GPU Operator toolkit config
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

fix(budcluster): fix HAMI wait and DCGM deploy conditions for re-onboarding
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

fix(budcluster): fix HPU detection pattern and sort imports
  services/budcluster/budcluster/cluster_ops/workflows.py
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

feat(budapp): pass user JWT token to MCP Foundry API calls
  services/budapp/budapp/connector_ops/connector_routes.py
  services/budapp/budapp/connector_ops/services.py
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

feat(connector): enrich credential schema with defaults from oauth_config
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/pages/home/settings/connectors/index.tsx
  services/budadmin/src/stores/useConnectors.ts
  services/budapp/budapp/connector_ops/services.py
  services/budapp/budapp/prompt_ops/services.py
Due: budadmin-lint, budadmin-typecheck

chore(budapp): remove MCP Foundry API key init script
  infra/helm/bud/templates/microservices/budapp.yaml
  services/budapp/.env.sample
  services/budapp/budapp/commons/config.py
  services/budapp/budapp/shared/mcp_foundry_service.py
  services/budapp/deploy/Dockerfile
  services/budapp/entrypoint_mcpgateway_api_token.sh
Due: none

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$
