Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd services/budgateway && cargo +nightly fmt -- --check || cargo fmt -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd services/budgateway && cargo +nightly clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: bash -c 'cd services/budgateway && cargo +nightly deny check || cargo deny check'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && npx tsc --noEmit'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && npx tsc --noEmit'
  language: system
  pass_filenames: false

updated loader for audit page
  services/budCustomer/src/app/(app)/audit/page.tsx
Due: none

style: apply Prettier formatting to audit page
  services/budCustomer/src/app/(app)/audit/page.tsx
Due: none

feat: added response api structure
  services/budprompt/budprompt/main.py
  services/budprompt/budprompt/prompt/routes.py
  services/budprompt/budprompt/responses/__init__.py
  services/budprompt/budprompt/responses/routes.py
  services/budprompt/budprompt/responses/schemas.py
  services/budprompt/budprompt/responses/services.py
Due: none

fix(infra/networking): ipv6 ingress
  infra/nixos/budk8s/modules/k3s/default.nix
  infra/nixos/budk8s/modules/k3s/traefik-daemonset.yaml
Due: none

chore(nix/flake): bump nixpkgs
  flake.lock
Due: none

Revert "chore(nix/flake): bump nixpkgs"
  flake.lock
Due: none

feat: add project specific profile support
  services/budapp/budapp/guardrails/crud.py
  services/budapp/budapp/guardrails/guardrail_routes.py
  services/budapp/budapp/guardrails/models.py
  services/budapp/budapp/guardrails/schemas.py
  services/budapp/budapp/guardrails/services.py
  services/budapp/budapp/migrations/versions/1433e70d23ab_add_guardrails_schema_v2.py
Due: none

fix(infra/ipv6): can only enabled on cluster init
  infra/nixos/budk8s/modules/k3s/default.nix
Due: none

refactor: added validation on schema
  services/budprompt/budprompt/prompt/services.py
  services/budprompt/tests/test_unit_tests/test_prompt_configuration_service.py
  services/budprompt/tests/test_unit_tests/test_prompt_service.py
Due: none

refactor: renamed data model creation
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/schema_builder.py
Due: none

fix: improve observability page theme compatibility for light and dark modes
  services/budCustomer/src/app/(app)/observability/[id]/page.tsx
  services/budCustomer/src/styles/themes.css
Due: none

feat: enhance billing alerts and usage management features
  services/budCustomer/src/app/(app)/audit/page.tsx
  services/budCustomer/src/app/(app)/usage/components/MetricCard.module.scss
  services/budCustomer/src/app/(app)/usage/components/MetricCard.tsx
  services/budCustomer/src/app/(app)/usage/components/UsageTable.tsx
  services/budCustomer/src/app/(app)/usage/page.tsx
  services/budCustomer/src/app/(app)/usage/usage.module.scss
  services/budCustomer/src/flows/BillingAlert/CreateBillingAlert.tsx
  services/budCustomer/src/flows/index.tsx
  services/budCustomer/src/hooks/drawerFlows.tsx
Due: none

added missed migration file
  services/budapp/budapp/migrations/versions/44ad5600310c_add_historical_billing_cycle_tracking.py
Due: none

implemented reset password new flow
  services/budCustomer/src/app/auth/reset-password/page.tsx
  services/budCustomer/src/components/auth/AuthGuard.tsx
  services/budCustomer/src/services/api/requests.ts
  services/budapp/budapp/shared/notification_service.py
  services/budapp/budapp/shared/password_reset_token_service.py
  services/budapp/budapp/user_ops/schemas.py
  services/budapp/budapp/user_ops/services.py
  services/budapp/budapp/user_ops/user_routes.py
  services/budnotify/seeders/html/bud_reset_password.html
  services/budnotify/seeders/workflows.json
Due: none

Update services/budapp/budapp/shared/password_reset_token_service.py
  services/budapp/budapp/shared/password_reset_token_service.py
Due: none

Made super user error static for admin user
  services/budapp/budapp/user_ops/services.py
Due: none

fix review comments
  services/budCustomer/src/app/auth/reset-password/page.tsx
  services/budapp/budapp/user_ops/services.py
  services/budapp/budapp/user_ops/user_routes.py
  services/budapp/tests/test_password_security.py
  services/budnotify/seeders/html/bud_reset_password.html
Due: none

fix test files
  services/budCustomer/src/app/auth/reset-password/page.tsx
  services/budapp/tests/test_password_security.py
Due: none

refactor: structured model generator
  services/budprompt/budprompt/prompt/revised_code/dynamic_model_creation.py
  services/budprompt/budprompt/prompt/schema_builder.py
  services/budprompt/budprompt/prompt/services.py
  services/budprompt/requirements.txt
  services/budprompt/tests/test_unit_tests/test_structured_output/dynamic_model_creation.py
  services/budprompt/tests/test_unit_tests/test_structured_output/test_array_properties.py
  services/budprompt/tests/test_unit_tests/test_structured_output/test_llm_structured_output.py
  services/budprompt/tests/test_unit_tests/test_structured_output/test_number_properties.py
  services/budprompt/tests/test_unit_tests/test_structured_output/test_string_properties.py
  services/budprompt/tests/test_unit_tests/test_structured_output/test_supported_types.py
Due: none

refactor: schema validation against feilds and models
  services/budprompt/budprompt/prompt/schema_builder.py
  services/budprompt/budprompt/prompt/services.py
  services/budprompt/tests/test_unit_tests/test_prompt_configuration_service.py
Due: none

feat: added field validation
  services/budprompt/budprompt/prompt/revised_code/field_validation.py
  services/budprompt/tests/test_unit_tests/test_model_validation_enhancer.py
Due: none

fix: apply pre-commit formatting fixes
  services/budCustomer/src/app/(app)/logs/MetricsTab.tsx
  services/budCustomer/src/app/(app)/logs/page.tsx
  services/budCustomer/src/app/(app)/observability/[id]/page.tsx
  services/budCustomer/src/app/(app)/usage/page.tsx
  services/budCustomer/src/app/(auth)/login/page.tsx
  services/budCustomer/src/components/charts/GeoMapChart.tsx
  services/budCustomer/src/flows/BillingAlert/CreateBillingAlert.tsx
  services/budCustomer/src/styles/themes.css
Due: none

fix: draft chart update for NFD setup
  services/budcluster/CLAUDE.md
  services/budcluster/budcluster/charts/nfd/Chart.yaml
  services/budcluster/budcluster/charts/nfd/templates/gaudi-device-plugin.yaml
  services/budcluster/budcluster/charts/nfd/values.yaml
  services/budcluster/budcluster/cluster_ops/services.py
  services/budcluster/budcluster/cluster_ops/workflows.py
  services/budcluster/budcluster/playbooks/setup_cluster.yaml
Due: none

feat(reset password): reset password
  infra/helm/bud/templates/microservices/budapp.yaml
Due: none

fix: disable debug mode and clean up analytics middleware logging
  infra/helm/bud/templates/budgateway.yaml
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat(reset password): reset password
  services/budapp/budapp/user_ops/services.py
Due: none

Update services/budapp/budapp/user_ops/services.py
  services/budapp/budapp/user_ops/services.py
Due: none

see more
  services/budadmin/src/pages/home/guardrails/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat(guardrails): add "see more" popover for guardrail descriptions
  services/budadmin/src/pages/home/guardrails/index.tsx
Due: budadmin-lint, budadmin-typecheck

feat: responses api updated
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/revised_code/field_validation.py
  services/budprompt/budprompt/prompt/routes.py
  services/budprompt/budprompt/prompt/schemas.py
  services/budprompt/budprompt/prompt/services.py
  services/budprompt/budprompt/prompt/streaming_executors_old.py
  services/budprompt/budprompt/responses/routes.py
  services/budprompt/budprompt/responses/services.py
  services/budprompt/tests/test_unit_tests/test_model_validation_enhancer.py
Due: none

feat(guardrails): add capabilities filter to provider selection
  services/budadmin/src/flows/GuardRails/SelectProvider.tsx
  services/budadmin/src/hooks/useCloudProviders.tsx
Due: budadmin-lint, budadmin-typecheck

feat(guardrails): filter probes by provider_id in BudSentinelProbes
  services/budadmin/src/flows/GuardRails/BudSentinelProbes.tsx
Due: budadmin-lint, budadmin-typecheck

debug(guardrails): add console logging to debug provider_id filter issue
  services/budadmin/src/flows/GuardRails/BudSentinelProbes.tsx
  services/budadmin/src/hooks/useGuardrails.tsx
Due: budadmin-lint, budadmin-typecheck

feat(reset password): reset password
  services/budapp/budapp/shared/password_reset_token_service.py
Due: none

refactor: update prompt config can possibel from client
  services/budprompt/budprompt/prompt/services.py
  services/budprompt/tests/test_unit_tests/test_prompt_service.py
Due: none

added validation for price
  services/budapp/budapp/endpoint_ops/schemas.py
  services/budapp/budapp/endpoint_ops/services.py
Due: none

refactor(guardrails): implement proper state management for workflow steps
  services/budadmin/src/flows/GuardRails/BudSentinelProbes.tsx
  services/budadmin/src/flows/GuardRails/SelectProvider.tsx
  services/budadmin/src/hooks/useGuardrails.tsx
Due: budadmin-lint, budadmin-typecheck

fix for usage for admins
  services/budapp/budapp/billing_ops/reset_usage.py
  services/budapp/budapp/billing_ops/services.py
  services/budapp/budapp/billing_ops/usage_sync.py
  services/budapp/budapp/main.py
  services/budapp/budapp/metric_ops/metric_routes.py
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/usage_limit/limiter.rs
  services/budgateway/tensorzero-internal/src/usage_limit/mod.rs
  services/budmetrics/budmetrics/observability/routes.py
  services/budmetrics/budmetrics/observability/schemas.py
  services/budmetrics/budmetrics/observability/services.py
  services/budmetrics/budmetrics/observability/usage_routes.py
Due: cargo-fmt, cargo-clippy, cargo-deny

refactor: propmt config, schema can partial update
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/schemas.py
  services/budprompt/budprompt/prompt/services.py
  services/budprompt/budprompt/prompt/workflows.py
  services/budprompt/budprompt/responses/schemas.py
  services/budprompt/tests/test_unit_tests/test_prompt_configuration_service.py
Due: none

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
