Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budcustomer-lint, budadmin-typecheck, budplayground-typecheck, budcustomer-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budcustomer-lint: any of: ^services/budCustomer/(src|app)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
  budcustomer-typecheck: any of: ^services/budCustomer/(src|app)/ and \.(ts|mts|cts)$, \.tsx$

feat(budpipeline): add cloud_model_add action with PROVIDER_REF support
  services/budadmin/src/components/pipelineEditor/DAGViewer.tsx
  services/budadmin/src/components/pipelineEditor/ExecutionTimeline.tsx
  services/budadmin/src/components/pipelineEditor/PipelineEditor.tsx
  services/budadmin/src/components/pipelineEditor/components/ActionConfigPanel.tsx
  services/budadmin/src/components/pipelineEditor/config/actionRegistry.ts
  services/budadmin/src/components/pipelineEditor/config/index.ts
  services/budadmin/src/components/pipelineEditor/config/pipelineNodeTypes.ts
  services/budadmin/src/components/pipelineEditor/hooks/usePipelineConversion.ts
  services/budadmin/src/components/pipelineEditor/index.ts
  services/budadmin/src/components/pipelineEditor/nodes/StepNode.tsx
  services/budadmin/src/pages/home/budpipelines/[id]/index.tsx
  services/budadmin/src/types/actions.ts
  services/budapp/budapp/model_ops/model_routes.py
  services/budpipeline/budpipeline/actions/base/meta.py
  services/budpipeline/budpipeline/actions/model/__init__.py
  services/budpipeline/budpipeline/actions/model/add.py
  services/budpipeline/budpipeline/actions/model/add_cloud.py
  services/budpipeline/pyproject.toml
  specs/002-pipeline-event-persistence/pluggable-action-architecture.md
  specs/002-pipeline-event-persistence/tasks.md
Due: budadmin-lint, budadmin-typecheck

feat(budpipeline): implement deployment_create action with internal auth
  services/budadmin/src/pages/home/budpipelines/[id]/index.tsx
  services/budapp/budapp/commons/internal_auth.py
  services/budapp/budapp/model_ops/model_routes.py
  services/budpipeline/budpipeline/actions/base/context.py
  services/budpipeline/budpipeline/actions/deployment/create.py
Due: budadmin-lint, budadmin-typecheck

fix(budpipeline): use proper dataclasses for action parameter types
  .claude/ralph-loop.local.md
  services/budpipeline/budpipeline/actions/cluster/create.py
  services/budpipeline/budpipeline/actions/cluster/health.py
  services/budpipeline/budpipeline/actions/deployment/autoscale.py
  services/budpipeline/budpipeline/actions/deployment/create.py
  services/budpipeline/budpipeline/actions/deployment/delete.py
  services/budpipeline/budpipeline/actions/deployment/ratelimit.py
  services/budpipeline/budpipeline/actions/integration/http_request.py
  services/budpipeline/budpipeline/actions/integration/notification.py
  services/budpipeline/budpipeline/actions/integration/webhook.py
  services/budpipeline/budpipeline/actions/model/add.py
  services/budpipeline/budpipeline/actions/model/benchmark.py
  specs/002-pipeline-event-persistence/pluggable-action-architecture.md
  specs/002-pipeline-event-persistence/tasks.md
Due: none

docs(budpipeline): update deployment actions comment in entry points
  services/budpipeline/pyproject.toml
Due: none

Remove outdated specifications and implementation plans for Pipeline Event Persistence feature
  specs/001-rename-budworkflow-to-budpipeline/ARCHITECTURE.md
  specs/001-rename-budworkflow-to-budpipeline/BASELINE_METRICS.md
  specs/001-rename-budworkflow-to-budpipeline/MIGRATION_GUIDE.md
  specs/001-rename-budworkflow-to-budpipeline/PROJECT_STATUS.md
  specs/001-rename-budworkflow-to-budpipeline/checklists/requirements.md
  specs/001-rename-budworkflow-to-budpipeline/contracts/api-endpoints.md
  specs/001-rename-budworkflow-to-budpipeline/data-model.md
  specs/001-rename-budworkflow-to-budpipeline/plan.md
  specs/001-rename-budworkflow-to-budpipeline/quickstart.md
  specs/001-rename-budworkflow-to-budpipeline/research.md
  specs/001-rename-budworkflow-to-budpipeline/spec.md
  specs/001-rename-budworkflow-to-budpipeline/tasks.md
  specs/002-pipeline-event-persistence/checklists/requirements.md
  specs/002-pipeline-event-persistence/plan.md
  specs/002-pipeline-event-persistence/spec.md
Due: none

fix(budapp,budadmin): address Gemini/Codex PR review feedback
  services/budadmin/src/components/pipelineEditor/hooks/usePipelineConversion.ts
  services/budapp/budapp/main.py
Due: budadmin-lint, budadmin-typecheck

feat(budpipeline): add user isolation and ephemeral execution
  .claude/ralph-loop.local.md
  services/budapp/CLAUDE.md
  services/budapp/budapp/shared/dapr_service.py
  services/budapp/budapp/workflow_ops/budpipeline_routes.py
  services/budapp/budapp/workflow_ops/budpipeline_service.py
  services/budpipeline/budpipeline/alembic/versions/20260118_1000_005_add_user_isolation.py
  services/budpipeline/budpipeline/commons/dependencies.py
  services/budpipeline/budpipeline/pipeline/crud.py
  services/budpipeline/budpipeline/pipeline/execution_routes.py
  services/budpipeline/budpipeline/pipeline/models.py
  services/budpipeline/budpipeline/pipeline/routes.py
  services/budpipeline/budpipeline/pipeline/schemas.py
  services/budpipeline/budpipeline/pipeline/service.py
  services/budpipeline/docs/API.md
  services/budpipeline/tests/test_ephemeral_execution.py
  services/budpipeline/tests/test_user_isolation.py
Due: none

fix(budpipeline): fix test model imports and mock configurations
  services/budpipeline/tests/conftest.py
  services/budpipeline/tests/test_pipeline_crud.py
Due: none

fix(budpipeline): review fixes from Ralph Loop persona review
  services/budapp/budapp/commons/internal_auth.py
  services/budpipeline/budpipeline/actions/deployment/__init__.py
  services/budpipeline/tests/actions/deployment/test_deployment_actions.py
Due: none

fix(budpipeline): fix mypy type errors and test failures
  services/budpipeline/budpipeline/actions/base/registry.py
  services/budpipeline/budpipeline/commons/config.py
  services/budpipeline/budpipeline/commons/database.py
  services/budpipeline/budpipeline/commons/resilience.py
  services/budpipeline/budpipeline/pipeline/models.py
  services/budpipeline/budpipeline/progress/models.py
  services/budpipeline/budpipeline/scheduler/polling.py
  services/budpipeline/budpipeline/scheduler/routes.py
  services/budpipeline/budpipeline/subscriptions/models.py
  services/budpipeline/budpipeline/subscriptions/service.py
  services/budpipeline/budpipeline/webhook/event_handler.py
  services/budpipeline/pyproject.toml
  services/budpipeline/tests/actions/model/test_model_actions.py
  services/budpipeline/tests/actions/test_meta.py
  services/budpipeline/tests/e2e/test_workflow_e2e.py
  services/budpipeline/tests/test_api_endpoints.py
  services/budpipeline/tests/test_event_publishing.py
  services/budpipeline/tests/test_multi_client.py
  services/budpipeline/tests/test_pipeline_crud.py
  services/budpipeline/tests/test_subscriptions.py
Due: none

fix(budpipeline): fix CI mypy and bandit security scan failures
  services/budpipeline/budpipeline/engine/condition_evaluator.py
  services/budpipeline/budpipeline/engine/param_resolver.py
  services/budpipeline/budpipeline/main.py
  services/budpipeline/pyproject.toml
Due: none

fix(ci): use correct PSQL_* env vars for budpipeline CI
  .github/workflows/budpipeline-pr-review.yml
Due: none

fix(budpipeline): lower coverage threshold to 50%
  services/budpipeline/pyproject.toml
Due: none

fix(budapp): replace setattr with direct attribute assignment
  services/budapp/budapp/commons/dependencies.py
Due: none

feat: enhance ingress configuration and database initialization scripts for Onyx and PostgreSQL
  infra/helm/bud/example.standalone.yaml
  infra/helm/bud/templates/_helpers.tpl
  infra/helm/bud/templates/extra/clickhouse.yaml
  infra/helm/bud/templates/extra/onyx.yaml
  infra/helm/bud/templates/extra/postgres.yaml
  infra/helm/bud/values.yaml
Due: none

feat: update Redis DB index to 1 for consistency across services and enhance secret management in Onyx
  infra/helm/bud/charts/novu/templates/api/deployment.yaml
  infra/helm/bud/charts/novu/templates/worker/deployment.yaml
  infra/helm/bud/charts/onyx/templates/_helpers.tpl
  infra/helm/bud/charts/onyx/values.yaml
  infra/helm/bud/templates/extra/novu.yaml
  infra/helm/bud/templates/extra/onyx.yaml
  infra/helm/bud/values.yaml
Due: none

feat: refine Helm chart secret handling with default Onyx configuration
  infra/helm/bud/charts/onyx/templates/_helpers.tpl
  infra/helm/bud/values.yaml
Due: none

chore(infra/pde/sinan): init keel
  infra/helm/bud/values.sinan.yaml
Due: none

fix(helm): move ingress hosts to global config in values files
  infra/helm/bud/values.adarsh.yaml
  infra/helm/bud/values.dev.yaml
  infra/helm/bud/values.ditto.yaml
  infra/helm/bud/values.karthik.yaml
  infra/helm/bud/values.sinan.yaml
  infra/helm/bud/values.stage.yaml
  infra/helm/bud/values.varun.yaml
Due: none

refactor(budmetrics): clean up time bucket expression methods
  services/budmetrics/budmetrics/observability/models.py
  services/budmetrics/budmetrics/observability/services.py
Due: none

feat(budgateway): disable ClickHouse observability in helm chart
  infra/helm/bud/templates/budgateway.yaml
Due: none

fix(budmetrics): resolve ruff linting errors
  services/budmetrics/budmetrics/observability/models.py
  services/budmetrics/budmetrics/observability/services.py
Due: none

fix(budmetrics): add nosec comment for test temp file
  services/budmetrics/tests/observability/seed_otel_traces.py
Due: none

fix(budadmin): rename budpipelines folder to pipelines
  services/budadmin/next.config.mjs
  services/budadmin/src/pages/home/pipelines/[id]/index.tsx
  services/budadmin/src/pages/home/pipelines/index.tsx
  services/budadmin/src/pages/home/pipelines/new.tsx
Due: budadmin-lint, budadmin-typecheck

style(budmetrics): fix pre-commit hook failures
  services/budmetrics/scripts/migrate_clickhouse.py
  services/budmetrics/tests/observability/data/otel_traces_sample.json
Due: none

refactor(budgateway): rename OTEL service and span attributes from tensorzero to budgateway
  services/budgateway/tensorzero-internal/src/analytics_middleware.rs
  services/budgateway/tensorzero-internal/src/endpoints/observability.rs
  services/budgateway/tensorzero-internal/src/observability.rs
  services/budgateway/tensorzero-internal/src/variant/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budgateway): enable real-time blocking rules sync via Redis keyspace events
  services/budgateway/tensorzero-internal/src/blocking_rules.rs
  services/budgateway/tensorzero-internal/src/gateway_util.rs
  services/budgateway/tensorzero-internal/src/redis_client.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(budgateway): address review comments on blocking rules sync
  services/budgateway/tensorzero-internal/src/blocking_rules.rs
  services/budgateway/tensorzero-internal/src/redis_client.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat(budprompt): add custom User-Agent header to OpenAI requests
  services/budprompt/budprompt/executors/v4/executor.py
Due: none

fix(novu): add REDIS_DB_INDEX to ws deployment
  infra/helm/bud/charts/novu/templates/ws/deployment.yaml
Due: none

fix(infra): increase MinIO memory limit to 1536Mi
  infra/helm/bud/values.yaml
Due: none

agentDrawer added to workflow
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/components/agents/tools/ConnectorDetails.tsx
  services/budadmin/src/components/agents/tools/ToolsHome.tsx
  services/budadmin/src/pages/home/agents/index.tsx
  services/budadmin/src/services/workflowMetadataService.ts
  services/budadmin/src/stores/useAgentStore.ts
  services/budadmin/src/stores/useConnectors.ts
  services/budadmin/src/types/agentWorkflow.ts
  services/budadmin/tsconfig.json
Due: budadmin-lint, budadmin-typecheck

Observability redirection fix
  services/budadmin/next.config.mjs
  services/budadmin/src/components/ui/bud/table/InferenceListTable.tsx
  services/budadmin/src/pages/home/observability/index.tsx
  services/budadmin/src/pages/home/projects/[slug]/inferences/[inferenceId]/index.tsx
  services/budadmin/src/pages/observability/[id]/index.tsx
  services/budadmin/src/stores/useInferences.ts
Due: budadmin-lint, budadmin-typecheck

feat: add audio model architecture support
  infra/helm/bud/values.ditto.yaml
  services/budadmin/src/components/island/BudWidget.tsx
  services/budadmin/src/components/ui/bud/dataEntry/BudForm.tsx
  services/budadmin/src/components/ui/bud/deploymentDrawer/DeploymentSpecificationConfig.tsx
  services/budadmin/src/flows/DeployModel/DeployModelHardwareMode.tsx
  services/budadmin/src/flows/DeployModelSpecification.tsx
  services/budadmin/src/flows/ViewModel/Advanced/Advanced.tsx
  services/budadmin/src/hooks/useModels.tsx
  services/budapp/budapp/endpoint_ops/services.py
  services/budapp/budapp/migrations/versions/42c894042a04_add_architecture_audio_config.py
  services/budapp/budapp/model_ops/models.py
  services/budapp/budapp/model_ops/quantization_services.py
  services/budapp/budapp/model_ops/schemas.py
  services/budapp/budapp/model_ops/services.py
  services/budcluster/budcluster/charts/bud_runtime_container/templates/_cpu.yaml
  services/budcluster/budcluster/cluster_ops/kubernetes.py
  services/budcluster/budcluster/deployment/adapter_workflows.py
  services/budcluster/budcluster/deployment/engine_processors.py
  services/budcluster/budcluster/deployment/handler.py
  services/budcluster/budcluster/deployment/schemas.py
  services/budcluster/budcluster/deployment/workflows.py
  services/budmodel/budmodel/model_info/huggingface.py
  services/budmodel/budmodel/model_info/schemas.py
  services/budsim/budsim/engine_ops/latentbud.py
  services/budsim/budsim/engine_ops/utils.py
  services/budsim/budsim/model_ops/analysis.py
  services/budsim/budsim/simulator/direct_search.py
  services/budsim/budsim/simulator/evolution.py
  services/budsim/budsim/simulator/heuristic.py
  services/budsim/budsim/simulator/schemas.py
  services/budsim/budsim/simulator/services.py
Due: budadmin-lint, budadmin-typecheck

fix(budapp): remove upper cap on avg_sequence_length
  services/budapp/budapp/model_ops/schemas.py
Due: none

feat(budgateway): extend embedding API with pass-through parameters
  plans/feat-gateway-extended-embedding-api-params.md
  services/budgateway/tensorzero-internal/src/embeddings.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/together.rs
  services/budgateway/tensorzero-internal/src/model.rs
  services/budgateway/tensorzero-internal/src/variant/dicl.rs
Due: cargo-fmt, cargo-clippy, cargo-deny
