Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$

fix(infra/nixos/master): init
  infra/nixos/budk8s/modules/k3s/default.nix
  infra/nixos/ingress/configuration.nix
  infra/nixos/master/configuration.nix
  infra/nixos/primary/configuration.nix
Due: none

chore(infra/nixos/master): clean up
  infra/nixos/budk8s/modules/k3s/default.nix
  infra/nixos/master/configuration.nix
Due: none

feat: added streaming delta and final event
  services/budprompt/budprompt/prompt/streaming_validation_executor.py
Due: none

fix: add optional chaining to SelectProject component for safer property access
  services/budadmin/src/flows/GuardRails/SelectProject.tsx
Due: budadmin-lint, budadmin-typecheck

fix(budgateway): improve usage statistics handling for vLLM completions
  services/budgateway/tensorzero-internal/src/completions.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/vllm.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix(infra/k8s_deploy): from testing phase
  nix/packages/k8s_deploy/script.sh
Due: none

feat: added gateway base url in bud dev env
  infra/helm/bud/values.yaml
Due: none

fix: change model name typing as optional
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

delete in node
  services/budadmin/public/icons/deleteWhite.svg
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/multi-input-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/contexts/SessionContext.tsx
Due: budadmin-lint, budadmin-typecheck

delete in node
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/settings/PromptMessageSettings.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/output-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/prompt-messages-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/system-prompt-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/contexts/SessionContext.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budadmin): add ENABLE_DEV_MODE environment variable to control experimental features
  infra/helm/bud/values.dev.yaml
  services/budadmin/.env.sample
  services/budadmin/package.json
  services/budadmin/src/components/environment.ts
  services/budadmin/src/flows/Cluster/ChooseCloudSource.tsx
  services/budadmin/src/flows/ViewModel/Evaluations/Evaluations.tsx
  services/budadmin/src/flows/ViewModel/General/General.tsx
  services/budadmin/src/flows/ViewModel/ViewModelDetails.tsx
  services/budadmin/src/pages/home/apiKeys/index.tsx
  services/budadmin/src/pages/home/clusters/[slug]/index.tsx
  services/budadmin/src/pages/home/layout.tsx
  services/budadmin/src/pages/home/modelRepo/index.tsx
Due: budadmin-lint, budadmin-typecheck

fix: updated gateway url
  infra/helm/bud/values.yaml
Due: none

feature/agentsAndPrompts
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/flows/AddAgent/SelectAgentType.tsx
  services/budadmin/src/flows/components/ProviderCardWithCheckBox.tsx
Due: budadmin-lint, budadmin-typecheck

feat(budadmin): add ENABLE_DEV_MODE to Dockerfile environment variables
  services/budadmin/Dockerfile
Due: none

feat: added connector list retrieval integration
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

perf: updated connector apis with name filter, remove loop from retrival
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

fix: fixed incorrect auth input schema
  services/budapp/budapp/commons/constants.py
Due: none

feat: eval update for new architecture
  services/budapp/budapp/eval_ops/services.py
Due: none

feat: eval update for new architecture
  services/budeval/budeval/evals/workflows.py
Due: none

feat: added cleanup process for novu notifications
  services/budnotify/example.env
  services/budnotify/notify/commons/config.py
  services/budnotify/notify/core/message_routes.py
  services/budnotify/notify/core/schemas.py
  services/budnotify/notify/core/services.py
  services/budnotify/notify/core/ttl_service.py
  services/budnotify/notify/core/workflows.py
  services/budnotify/notify/main.py
  services/budnotify/notify/shared/novu_service.py
Due: none

fix(eval): testing eval results
  services/budapp/budapp/eval_ops/services.py
  services/budeval/alembic/env.py
Due: none

fix(eval): testing eval results
  services/budeval/budeval/ansible/playbooks/extract_results_k8s.yml
  services/budeval/budeval/evals/ansible_orchestrator.py
Due: none

agent settings
  services/budplayground/app/api/prompts/[prompt_id]/route.ts
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/PromptForm.tsx
  services/budplayground/app/chat/page.tsx
  services/budplayground/app/components/uiComponents/inputs.tsx
  services/budplayground/app/lib/api.ts
  services/budplayground/app/store/chat.ts
Due: budplayground-lint, budplayground-typecheck

fix: resolve React hooks ESLint warnings
  services/budplayground/app/chat/components/ChatWindow.tsx
  services/budplayground/app/chat/components/LoadModel.tsx
  services/budplayground/app/chat/components/Settings.tsx
  services/budplayground/app/context/AuthContext.tsx
Due: budplayground-lint, budplayground-typecheck

agent playground
  services/budadmin/public/icons/send.svg
  services/budadmin/src/components/agents/AgentDrawer.tsx
  services/budadmin/src/components/agents/AgentIframe.tsx
Due: budadmin-lint, budadmin-typecheck

fix: remove duplicate promptIds parameter in AgentIframe URL
  services/budadmin/src/components/agents/AgentIframe.tsx
Due: budadmin-lint, budadmin-typecheck

fix: await params in dynamic route handler for Next.js 15
  services/budplayground/app/api/prompts/[prompt_id]/route.ts
Due: budplayground-lint, budplayground-typecheck

fix: permission issue for extraction
  infra/helm/bud/templates/microservices/budeval.yaml
Due: none

feat: eval update for new architecture
  services/budeval/budeval/ansible/playbooks/extract_results_volume.yml
  services/budeval/budeval/evals/ansible_orchestrator.py
Due: none

feat: eval update for new architecture
  services/budeval/budeval/evals/ansible_orchestrator.py
Due: none

feat: added connector register api
  services/budapp/budapp/prompt_ops/prompt_routes.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
  services/budapp/budapp/shared/mcp_foundry_service.py
Due: none

feat: added tools in save prompt config
  services/budapp/budapp/prompt_ops/schemas.py
Due: none
