Repository BudEcosystem/bud-runtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, budadmin-lint, budplayground-lint, budadmin-typecheck, budplayground-typecheck

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd services/budgateway && cargo +nightly fmt -- --check || cargo fmt -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd services/budgateway && cargo +nightly clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: bash -c 'cd services/budgateway && cargo +nightly deny check || cargo deny check'
  language: system
  pass_filenames: false

budadmin-lint:
  name: budadmin lint
  entry: bash -c 'cd services/budadmin && npm run lint'
  language: system
  pass_filenames: false

budplayground-lint:
  name: budplayground lint
  entry: bash -c 'cd services/budplayground && npm run lint'
  language: system
  pass_filenames: false

budadmin-typecheck:
  name: budadmin typecheck
  entry: bash -c 'cd services/budadmin && npx tsc --noEmit'
  language: system
  pass_filenames: false

budplayground-typecheck:
  name: budplayground typecheck
  entry: bash -c 'cd services/budplayground && npx tsc --noEmit'
  language: system
  pass_filenames: false

fix(eval): testing eval results
  services/budapp/budapp/core/services.py
  services/budapp/budapp/eval_ops/services.py
Due: none

fix(eval): testing eval results
  services/budapp/budapp/eval_ops/services.py
Due: none

fix(eval): testing eval results
  services/budapp/budapp/core/services.py
  services/budapp/budapp/eval_ops/services.py
  services/budeval/budeval/evals/workflows.py
Due: none

fix(eval): testing eval results
  services/budapp/budapp/initializers/data/eval_manifest.json
Due: none

agent
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/settings/InputSettings.tsx
  services/budadmin/src/flows/AddAgent/SelectAgentType.tsx
  services/budadmin/src/stores/useAgentStore.ts
Due: budadmin-lint, budadmin-typecheck

fix(infra): ci
  .pre-commit-config.yaml
Due: none

chore(infra/helm/db): init script
  infra/helm/bud/templates/extra/clickhouse.yaml
  infra/helm/bud/templates/extra/postgres.yaml
Due: none

fix(infra/helm/bud): dev cluster
  infra/helm/bud/templates/microservices/budcluster.yaml
Due: none

feat: added prmopt to response request
  services/budgateway/tensorzero-internal/src/responses.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: Integrate workflow API for Add Agent flow
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/LoadModel.tsx
  services/budadmin/src/flows/AddAgent/AgentConfiguration.tsx
  services/budadmin/src/flows/AddAgent/AgentSuccess.tsx
  services/budadmin/src/flows/AddAgent/DeploymentWarning.tsx
  services/budadmin/src/flows/AddAgent/SelectAgentType.tsx
  services/budadmin/src/flows/AddAgent/SelectModel.tsx
  services/budadmin/src/stores/useAgentStore.ts
  services/budadmin/src/stores/useWorkflow.tsx
  services/budadmin/src/utils/promptSchemaBuilder.ts
Due: budadmin-lint, budadmin-typecheck

chore(infra/helm/bud): expose storage claims
  infra/helm/bud/templates/microservices/budapp.yaml
  infra/helm/bud/templates/microservices/budeval.yaml
  infra/helm/bud/templates/microservices/common.yaml
  infra/helm/bud/values.dev.yaml
  infra/helm/bud/values.yaml
Due: none

fix(infra/helm/bud): dev
  infra/helm/bud/values.dev.yaml
Due: none

fix(infra/helm/bud): dev
  infra/helm/bud/values.yaml
Due: none

fix: Update evaluation filtering to use server-side filtering with comma-separated trait IDs
  services/budadmin/src/hooks/useEvaluations.tsx
  services/budadmin/src/pages/home/evaluations/evalListing/index.tsx
Due: budadmin-lint, budadmin-typecheck

fixed UI issues
  services/budCustomer/src/app/(app)/observability/[id]/page.tsx
  services/budadmin/src/pages/home/layout.tsx
Due: budadmin-lint, budadmin-typecheck

added error handling for missing readme
  services/budmodel/budmodel/model_info/huggingface.py
Due: none

hide sections if no data available
  services/budCustomer/src/app/(app)/observability/[id]/page.tsx
Due: none

Update services/budmodel/budmodel/model_info/huggingface.py
  services/budmodel/budmodel/model_info/huggingface.py
Due: none

bugfix: fixed empty readme issue in model extraction
  services/budmodel/budmodel/model_info/huggingface.py
  services/budmodel/budmodel/model_info/license.py
Due: none

Update services/budapp/budapp/cluster_ops/schemas.py
  services/budapp/budapp/cluster_ops/schemas.py
Due: none

fix(eval): testing eval results
  services/budeval/budeval/evals/workflows.py
Due: none

fix(eval): testing eval results
  services/budeval/budeval/registry/orchestrator/ansible_orchestrator.py
Due: none

feat: added budprompt provider and added prompt parameter support to existing openai schema
  services/budgateway/server.py
  services/budgateway/tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  services/budgateway/tensorzero-internal/src/endpoints/openai_compatible.rs
  services/budgateway/tensorzero-internal/src/inference/providers/budprompt.rs
  services/budgateway/tensorzero-internal/src/inference/providers/dummy.rs
  services/budgateway/tensorzero-internal/src/inference/providers/mod.rs
  services/budgateway/tensorzero-internal/src/model.rs
  services/budgateway/tensorzero-internal/src/responses.rs
  services/budgateway/test_budprompt.py
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: added proxy config when prompt created
  services/budapp/.env.sample
  services/budapp/budapp/commons/config.py
  services/budapp/budapp/commons/constants.py
  services/budapp/budapp/prompt_ops/schemas.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

feat: update promopt proxy cache
  services/budapp/budapp/credential_ops/services.py
  services/budapp/budapp/prompt_ops/crud.py
  services/budapp/budapp/prompt_ops/services.py
Due: none

feat: added openai response structor for non stream
  services/budprompt/budprompt/prompt/executors.py
  services/budprompt/budprompt/prompt/openai_response_formatter.py
  services/budprompt/budprompt/responses/routes.py
  services/budprompt/budprompt/responses/services.py
Due: none

feat: added openai error response structure for non stream
  services/budprompt/budprompt/prompt/openai_response_formatter.py
  services/budprompt/budprompt/responses/routes.py
  services/budprompt/budprompt/responses/schemas.py
  services/budprompt/budprompt/responses/services.py
Due: none

fix: address security concerns and refactor test code duplication
  services/budadmin/src/hooks/useCluster.tsx
  services/budapp/tests/test_cluster_settings.py
  services/budapp/tests/test_cluster_settings_api.py
  services/budapp/tests/test_helpers/__init__.py
  services/budapp/tests/test_helpers/cluster_settings_helpers.py
  services/budcluster/budcluster/deployment/services.py
  services/budcluster/budcluster/deployment/workflows.py
Due: budadmin-lint, budadmin-typecheck

style: fix whitespace issues in kubernetes.py
  services/budcluster/budcluster/cluster_ops/kubernetes.py
Due: none

ageint
  services/budadmin/src/components/agents/AgentBox.tsx
  services/budadmin/src/components/agents/settings/InputSettings.tsx
  services/budadmin/src/components/agents/settings/SettingsSidebar.tsx
  services/budadmin/src/components/flowgramEditorDemo/components/multi-input-card.tsx
  services/budadmin/src/components/flowgramEditorDemo/contexts/SessionContext.tsx
  services/budadmin/src/components/ui/bud/form/Buttons.tsx
  services/budadmin/src/styles/index.css
  services/budadmin/src/utils/promptSchemaBuilder.ts
Due: budadmin-lint, budadmin-typecheck

icon change
  services/budCustomer/src/flows/EditProject.tsx
  services/budCustomer/src/flows/NewProject.tsx
  services/budadmin/src/flows/AddModel/ChooseModality.tsx
  services/budadmin/src/flows/AddModel/Local/AddLocalModel.tsx
  services/budadmin/src/flows/AddModel/Local/AddingModelToRepo.tsx
  services/budadmin/src/flows/AddModel/ModelSource.tsx
  services/budadmin/src/flows/Cluster/AddCluster.tsx
  services/budadmin/src/flows/Cluster/EditCluster.tsx
  services/budadmin/src/flows/Cluster/_cloud/ConfigureClusterDetails.tsx
  services/budadmin/src/flows/EditModel/EditModel.tsx
  services/budadmin/src/flows/LicenseDetails.tsx
  services/budadmin/src/flows/NewProject.tsx
  services/budadmin/src/flows/RunModelEvaluations/EvaluationInformation.tsx
  services/budadmin/src/flows/RunModelEvaluations/EvaluationResults.tsx
  services/budadmin/src/flows/RunModelEvaluations/RunModelSuccess.tsx
  services/budadmin/src/flows/RunModelEvaluations/SelectModelEvaluations.tsx
  services/budadmin/src/flows/RunModelEvaluations/StopWarning.tsx
  services/budadmin/src/stores/useDeployModel.tsx
  services/budapp/budapp/commons/constants.py
  services/budapp/docs/performance_benchmark_workflow.md
Due: budadmin-lint, budadmin-typecheck

feat: added budprmopt service url
  infra/helm/bud/values.yaml
  services/budapp/budapp/commons/config.py
Due: none

Path conditions:
  cargo-fmt: any of: ^services/budgateway/ and \.rs$
  cargo-clippy: any of: ^services/budgateway/ and \.rs$
  cargo-deny: any of: ^services/budgateway/ and \.rs$
  budadmin-lint: any of: ^services/budadmin/(src|pages)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budplayground-lint: any of: ^services/budplayground/(app|components|lib)/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  budadmin-typecheck: any of: ^services/budadmin/(src|pages)/ and \.(ts|mts|cts)$, \.tsx$
  budplayground-typecheck: any of: ^services/budplayground/(app|components|lib)/ and \.(ts|mts|cts)$, \.tsx$
